{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<h2>Subheading Variants</h2>
<h3>Left Aligned</h3>
{% for item in variations %}
  {% set subheading_text = item.subheading_text %}
  {% set size = item.size %}
  {% set alignment_class =  'text-left' %}
  {% include "cms/components/subheading/subheading.html" %}
{% endfor %}

<h3>Center Aligned</h3>
{% for item in variations %}
  {% set subheading_text = item.subheading_text %}
  {% set size = item.size %}
  {% set alignment_class = 'text-center' %}
  {% include "cms/components/subheading/subheading.html" %}
{% endfor %}

<h3>Right Aligned</h3>
{% for item in variations %}
  {% set subheading_text = item.subheading_text %}
  {% set size = item.size %}
  {% set alignment_class = 'text-right' %}
  {% include "cms/components/subheading/subheading.html" %}
{% endfor %}
