// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($image-path: '/media/protocol/img');

@use '~@mozilla-protocol/core/protocol/css/components/logos/logo';
@use '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-developer';
@use '~@mozilla-protocol/core/protocol/css/components/picto';
@use '~@mozilla-protocol/core/protocol/css/components/section-heading';
@use "~@mozilla-protocol/core/protocol/css/templates/multi-column";
@use '../includes/theme';


.t-center {
    text-align: center;
}
