{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <h4>Intro variants</h4>
  {% for item in variants %}
    <div class="pl-row">
      <h5>{{ item.title }}</h5>
      <hr>
      {% set heading = item.heading %}
      {% set subheading = item.subheading %}
      {% set actions = item.actions %}
      {% set fine_print = item.fine_print %}
      {% set image = item.image %}
      {% set media_position = item.media_position %}
      {% include "cms/components/intro/intro.html" %}
      <hr>
    </div>
  {% endfor %}
</div>
