{% extends "wagtailadmin/base.html" %}

{% comment %} SKIP LICENSE INSERTION {% endcomment %}
{% comment %}
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
{% endcomment %}

{% load i18n wagtailadmin_tags %}

{% block titletag %}{% blocktrans trimmed with title=page_to_update.get_admin_display_title %}Update slug for {{ title }}{% endblocktrans %}{% endblock %}

{% block content %}
  {% include "wagtailadmin/shared/header.html" with title=_("Update slug") subtitle=page_to_update.get_admin_display_title icon="link" %}

  <div class="nice-padding">
    <p class="help-block help-info">
      {% trans "Choose the slug this page should move to. You will be shown what the change affects before anything is saved." %}
    </p>

    <form action="{% url 'cms_page_update_slug' page_to_update.id %}" method="POST" novalidate>
      {% csrf_token %}

      <ul class="fields">
        <li>{% formattedfield form.slug %}</li>
      </ul>

      <input type="submit" value="{% trans 'Continue' %}" class="button">
    </form>
  </div>
{% endblock %}
