{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <h4>Sticker Card 2026</h4>

  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 24px;">
    {% for card in cards %}
      <div>
        <include:card
          fill="{{ card.fill }}"
          expand_link="{{ card.expand_link }}"
        >
          {% if card.sticker %}
            <content:pre_heading>
              <img class="fl-card-sticker" src="{{ card.sticker }}" alt="" aria-hidden="true" />
            </content:pre_heading>
          {% elif card.icon_name %}
            <content:pre_heading>
              <div class="fl-card-icon">
                <include:icon icon_name="{{ card.icon_name }}" extra_class="fl-icon-size-4" hidden="true" />
              </div>
            </content:pre_heading>
          {% elif card.tags %}
            <content:pre_heading>
              {% for tag in card.tags %}
                <include:tag
                  text="{{ tag.text }}"
                  color="{{ tag.color }}"
                  corners="{{ tag.corners }}"
                />
              {% endfor %}
            </content:pre_heading>
          {% endif %}
          <content:heading>
            <include:heading
              level="h3"
              heading_size="fl-heading-size-3"
              superheading_text="{{ card.superheading_text }}"
              heading_text="{{ card.heading }}"
            />
          </content:heading>
          <content:body>
            {{ card.body }}
          </content:body>
          {% if card.buttons %}
            <content:buttons>
              {% for button in card.buttons %}
                <include:button
                  label="{{ button.label }}"
                  link="{{ button.link }}"
                  theme_class="{{ button.theme_class }}"
                />
              {% endfor %}
            </content:buttons>
          {% endif %}
        </include:card>
      </div>
    {% endfor %}
  </div>
</div>
