{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<aside class="fl-consent-banner text-center" id="moz-consent-banner" role="region" aria-label="{{ ftl('consent-banner-aria-label') }}" data-nosnippet="true" data-testid="consent-banner">
  <div class="fl-consent-banner-content">
    <h2 class="fl-consent-banner-heading fl-heading fl-heading-size-3">{{ ftl('consent-banner-fx-heading') }}</h2>
    <div class="fl-consent-banner-copy">
      <p>{{ ftl('consent-banner-body-v2') }}</p>
      <div class="fl-buttons">
        <button type="button" id="moz-consent-banner-button-accept" class="fl-button fl-button-small button-ghost" data-testid="consent-banner-accept-button">
          {{ ftl('consent-banner-button-accept') }}
        </button>
        <button type="button" id="moz-consent-banner-button-reject" class="fl-button fl-button-small button-ghost" data-testid="consent-banner-reject-button">
          {{ ftl('consent-banner-button-reject') }}
        </button>
      </div>
      <p><a href="{{ url('privacy.cookie-settings')}}">
          {{ ftl('consent-banner-settings-link') }}
        </a></p>
    </div>
  </div>
</aside>
