{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends 'includes/banners/basic.html' %}

{% block banner_id %}newsletter-banner{% endblock %}

{% block banner_class %}c-banner-fx-newsletter{% endblock %}

{% block banner_content %}
  <div class="c-banner-inner mzp-l-content mzp-t-content-nospace mzp-t-content-xl">
    <div class="c-banner-copy">
      <h3 class="c-banner-title">Stay in control on every device. Enjoy fast, private browsing wherever you browse.</h3>
      <p class="c-banner-cta">
        <a class="c-banner-button mzp-c-button  mzp-t-product mzp-t-lg" href="/browsers/mobile/get-app/" data-cta-text="Get Firefox news" data-cta-position="banner">
          Get Firefox Mobile
        </a>
      </p>
    </div>
  </div>
{% endblock %}
