// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($font-path: '/media/protocol/fonts', $image-path: '/media/protocol/img');
@use '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-firefox';
@use '~@mozilla-protocol/core/protocol/css/components/section-heading';
@use '../../../protocol/components/custom-menu-list';

.mzp-c-section-heading span {
    @include zap('/media/protocol/img/zaps/zap-09.svg');
}

.mzp-c-menu-list-item.t-sumo a:hover::after {
    display: none;
}

.mzp-c-card {
    img {
        margin: 0 auto $spacing-xl;
    }
}

.mzp-c-section-heading + .mzp-c-split {
    padding-top: 0;
}

.mzp-c-split {
    overflow-x: unset;
}
