{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="fl-field-wrap{% if form_errors.get(value.internal_identifier) %} fl-field-error{% endif %}">
  <label class="fl-checkbox-label" for="{{ value.internal_identifier }}">
    <input class="fl-checkbox" id="{{ value.internal_identifier }}" type="checkbox" name="{{ value.internal_identifier }}" value="on"{% if form_data.get(value.internal_identifier) %} checked{% endif %}{% if value.required %} required aria-required="true"{% endif %}>
    {{ value.label }}{% if value.required %} <span aria-hidden="true">*</span>{% endif %}
  </label>
  {% for error in form_errors.get(value.internal_identifier, []) %}
    <p class="fl-field-error-message"><include:icon icon_name="warning" /> {{ error }}</p>
  {% endfor %}
</div>
