{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="fl-field-wrap">
  <label class="fl-label" for="{{ value.internal_identifier }}">
    {{ value.label }}{% if value.required %} <span aria-hidden="true">*</span>{% endif %}
  </label>
  <select class="fl-field" id="{{ value.internal_identifier }}" name="{{ value.internal_identifier }}"{% if value.required %} required aria-required="true"{% endif %}>
    <option value="">Select an option</option>
    {% for option in value.options %}
      <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
  </select>
</div>
