{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="fl-field-wrap{% if form_errors.get(value.internal_identifier) %} fl-field-error{% endif %}">
  <label class="fl-label" for="{{ value.internal_identifier }}">
    {{ value.label }}{% if value.required %} <span aria-hidden="true">*</span>{% endif %}
  </label>
  <textarea class="fl-field" id="{{ value.internal_identifier }}" name="{{ value.internal_identifier }}" rows="{{ value.rows }}"{% if value.required %} required aria-required="true"{% endif %}{% if form_errors.get(value.internal_identifier) %} aria-invalid="true"{% endif %}>{{ form_data.get(value.internal_identifier, '') }}</textarea>
  {% for error in form_errors.get(value.internal_identifier, []) %}
    <p class="fl-field-error-message"><include:icon icon_name="warning" /> {{ error }}</p>
  {% endfor %}
</div>
