{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="fl-field-wrap{% if form_errors.get(value.internal_identifier) %} fl-field-error{% endif %}">
  <label class="fl-label" for="{{ value.internal_identifier }}">
    {{ value.label }}{% if value.required %} <span aria-hidden="true">*</span>{% endif %}
  </label>
  <input class="fl-field" type="text" id="{{ value.internal_identifier }}" name="{{ value.internal_identifier }}" value="{{ form_data.get(value.internal_identifier, '') }}"{% if value.required %} required aria-required="true"{% endif %}>
  {% for error in form_errors.get(value.internal_identifier, []) %}
    <p class="fl-field-error-message">{{ error }}</p>
  {% endfor %}
</div>
