{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div data-testid="cards-list-filled">
  <section class="fl-section">
    <div class="fl-section-container">
      <include:cards-list container_width="wide">
        {% for card in cards %}
          <include:card-2026
            variant="filled"
            expand_link="{{ card.expand_link }}"
            media_type="{{ 'sticker' if card.sticker else '' }}"
          >
            {% if card.sticker %}
              <content:media>
                <img src="{{ card.sticker }}" alt="" />
              </content:media>
            {% endif %}
            <content:heading>
              <include:heading
                level="h3"
                heading_size="fl-heading-xs"
                heading_text="{{ card.headline }}"
              />
            </content:heading>
            <content:body>
              {{ card.content }}
            </content:body>
            {% if card.buttons %}
              <content:buttons>
                {% for button in card.buttons %}
                  <include:button
                    label="{{ button.label }}"
                    link="{{ button.link }}"
                    theme_class="{{ button.theme_class }}"
                  />
                {% endfor %}
              </content:buttons>
            {% endif %}
          </include:card-2026>
        {% endfor %}
      </include:cards-list>
    </div>
  </section>
</div>
