// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

/* Protocol overrides */
.mzp-c-footer-primary {
    font-family: var(--body-font-family);
}

.mzp-c-footer-primary-logo a {
    background-image: url('/media/protocol/img/logos/firefox/browser/logo-word-hor-white.svg');
    background-size: contain;
}

.mzp-c-footer-heading {
    color: $color-light-gray-50;
}

.mzp-c-footer-sections {
    border-color: $color-light-gray-50;
}

.mzp-c-footer-terms a {
    font-size: var(--body-md-size);

    &:link {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
