{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block page_title %}{{ ftl('firefox-enterprise-use-firefox-esr-enterprise-browser') }}{% endblock %}
{% block page_desc %}{{ ftl('firefox-enterprise-open-source-browser-with-enterprise-security') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('protocol-picto') }}
  {{ css_bundle('firefox-enterprise') }}
  {{ css_bundle('flare26-enterprise') }}
{% endblock %}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=enterprise' %}
{% set win_download_lang = LANG %}
{% set mac_download_lang = "ja-JP-mac" if LANG == "ja" else LANG %}

{% block body_id %}firefox{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="fl-main has-gradient-bottom fl-2026-enterprise">
  <div class="fl-section-container">
    <include:intro media_position="right">
      <content:heading>
        <include:heading
          level="h1"
          heading_size="fl-heading-lg"
          heading_text="{{ftl('firefox-enterprise-use-as-your-enterprise-browser')}}"
          subheading_text="{{ ftl('firefox-enterprise-secure-at-scale') }}"
        />
      </content:heading>

      <content:content>
        <div class="fl-intro-actions">
          <include:button
            id="primary-download-button"
            label="{{ ftl('download-button-download') }}"
            link="#download"
            theme_class=""
            external="false"
            icon_name="downloads"
            icon_position="right"
          />
          <a href="https://www.mozilla.org/{{ LANG }}/privacy/firefox/{{ params }}" class="mzp-c-button-download-privacy-link">{{ ftl('download-button-firefox-privacy-notice') }}</a>
        </div>
      </content:content>

      <content:media>
        <include:image url="{{ static('img/firefox/enterprise/fx-browser-img.svg') }}" alt="" />
      </content:media>
    </include:intro>
  </div>


  <include:kit-banner>
    <content:heading>
      <include:heading
        level="h2"
        heading_text="{{ ftl('firefox-enterprise-support-for-organizations') }}"
        heading_size="fl-heading-lg"
        subheading_text="{{ ftl('firefox-enterprise-early-access-is-v2', fallback='firefox-enterprise-early-access-is') }}"
        subheading_size="fl-subheading-4"
      />
    </content:heading>

    <content:content>
      <div class="fl-buttons">
        <include:button
          label="{{ ftl('firefox-enterprise-contact-sales') }}"
          link="https://qsurvey.mozilla.com/s3/firefox-support-plan?src=firefox-enterprise-cta"
          theme_class="button-tertiary"
          external="false"
          alignment_class="fl-2026-enterprise-support"
        />
      </div>
    </content:content>
  </include:kit-banner>
  <include:heading
      level="h2"
      heading_text="{{ ftl('firefox-enterprise-protection-powered-by') }}"
      heading_size="fl-heading-lg"
      superheading_text=""
      alignment_class="text-center fl-2026-enterprise-protection"
  />
  <include:cards-list container_width="wide">
    <include:card
      expand_link="false"
    >
      <content:heading>
        <include:heading
          level="h3"
          heading_size="fl-heading-size-3"
          superheading_text=""
          heading_text="{{ ftl('firefox-enterprise-your-browser-your-business') }}"
        />
      </content:heading>
      <content:sticker>
        <img class="fl-card-sticker" src="{{ static('img/firefox/enterprise/icon-data-privacy.svg') }}" alt="" aria-hidden="true" />
      </content:sticker>
      <content:body>
        {{ ftl('firefox-enterprise-open-source-transparency') }}
      </content:body>
    </include:card>
    <include:card
      expand_link="false"
    >
      <content:heading>
        <include:heading
          level="h3"
          heading_size="fl-heading-size-3"
          superheading_text=""
          heading_text="{{ ftl('firefox-enterprise-deploy-when-and-how-you-want') }}"
        />
      </content:heading>
      <content:sticker>
        <img class="fl-card-sticker" src="{{ static('img/firefox/enterprise/icon-deploy.svg') }}" alt="" aria-hidden="true" />
      </content:sticker>
      <content:body>
        {{ ftl('firefox-enterprise-install-packages-policies') }}
      </content:body>
    </include:card>
    <include:card
      expand_link="false"
    >
      <content:heading>
        <include:heading
          level="h3"
          heading_size="fl-heading-size-3"
          superheading_text=""
          heading_text="{{ ftl('firefox-enterprise-release-cycles') }}"
        />
      </content:heading>
      <content:sticker>
        <img class="fl-card-sticker" src="{{ static('img/firefox/enterprise/icon-release.svg') }}" alt="" aria-hidden="true" />
      </content:sticker>
      <content:body>
        {{ ftl('firefox-enterprise-choose-firefox-for-features-esr-stability') }}
      </content:body>
    </include:card>
  </include:cards-list>
  <include:banner
      theme="dark-purple-gradient-inverted"
    >
      <content:heading>
        <include:heading
          level="h2"
          heading_text="{{ ftl('firefox-enterprise-support-for-organizations-documentation') }}"
          heading_size="fl-heading-lg"
          alignment_class="fl-2026-enterprise-documentation"
          superheading_text=""
          subheading_text="{{ ftl('firefox-enterprise-support-for-organizations-is') }}"
          subheading_size="fl-subheading-4"
        />
      </content:heading>

      <content:content>
        <div class="fl-buttons">
          <include:button
            label="{{ ftl('firefox-enterprise-support-plan') }}"
            link="https://assets.mozilla.net/pdf/Firefox_Enterprise_Support_Plan.pdf"
            theme_class=""
            external="false"
            icon_name="downloads"
            icon_position="right"
          />
        </div>
      </content:content>
    </include:banner>
<div class="mzp-l-content">
    <section id="download" class="fl-section fl-section-download">
      <h2 class="fl-heading">{{ ftl('firefox-enterprise-enterprise-downloads') }}</h2>

      <div class="enterprise-download-lists">

        <section class="enterprise-download-block platform-win64">
          <h3 class="enterprise-download-title">{{ ftl('firefox-enterprise-windows') }}</h3>

          <div class="mzp-c-menu-list mzp-t-cta mzp-t-download" id="win64-download-list">
            <h4 class="mzp-c-menu-list-title" data-testid="firefox-enterprise-win64-menu-button">{{ ftl('firefox-enterprise-select-your-download') }}</h4>
            <ul class="mzp-c-menu-list-list download-platform-list">
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-latest-ssl&os=win64&lang={{ win_download_lang }}" data-download-version="win64" data-cta-text="Win64 - Download - Firefox" data-testid="firefox-enterprise-win64-menu-link">
                  {{ ftl('firefox-enterprise-firefox-latest') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-msi-latest-ssl&os=win64&lang={{ win_download_lang }}" data-download-version="win64-msi" data-cta-text="Win64 - Download - Firefox MSI" data-testid="firefox-enterprise-win64-msi-menu-link">
                  {{ ftl('firefox-enterprise-firefox-latest-msi') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-latest-ssl&os=win64&lang={{ win_download_lang }}" data-download-version="win64" data-cta-text="Win64 - Download - Firefox ESR" data-testid="firefox-enterprise-win64-esr-menu-link">
                  {{ ftl('firefox-enterprise-firefox-extended-support-release') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-msi-latest-ssl&os=win64&lang={{ win_download_lang }}" data-download-version="win64-msi" data-cta-text="Win64 - Download - Firefox ESR MSI" data-testid="firefox-enterprise-win64-esr-msi-menu-link">
                  {{ ftl('firefox-enterprise-firefox-esr-msi') }}
                </a>
              </li>
            </ul>
          </div>

        </section>

        <section class="enterprise-download-block platform-mac">
          <h3 class="enterprise-download-title">{{ ftl('firefox-enterprise-macos') }}</h3>

          <div class="mzp-c-menu-list mzp-t-cta mzp-t-download" id="mac-download-list">
            <h4 class="mzp-c-menu-list-title" data-testid="firefox-enterprise-mac-menu-button">{{ ftl('firefox-enterprise-select-your-download') }}</h4>
            <ul class="mzp-c-menu-list-list download-platform-list">
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-latest-ssl&os=osx&lang={{ mac_download_lang }}" data-download-version="osx" data-cta-text="MacOS - Download - Firefox" data-testid="firefox-enterprise-mac-menu-link">
                  {{ ftl('firefox-enterprise-firefox-latest') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-pkg-latest-ssl&os=osx&lang={{ mac_download_lang }}" data-download-version="osx-pkg" data-cta-text="MacOS - Download - Firefox PKG" data-testid="firefox-enterprise-mac-pkg-menu-link">
                  {{ ftl('firefox-enterprise-firefox-latest-pkg') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-latest-ssl&os=osx&lang={{ mac_download_lang }}" data-download-version="osx" data-cta-text="MacOS - Download - Firefox ESR" data-testid="firefox-enterprise-mac-esr-menu-link">
                  {{ ftl('firefox-enterprise-firefox-extended-support-release') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-pkg-latest-ssl&os=osx&lang={{ mac_download_lang }}" data-download-version="osx-pkg" data-cta-text="MacOS - Download - Firefox ESR PKG" data-testid="firefox-enterprise-mac-esr-pkg-menu-link">
                  {{ ftl('firefox-enterprise-firefox-esr-pkg') }}
                </a>
              </li>
            </ul>
          </div>

        </section>

        <section class="enterprise-download-block platform-linux">
          <h3 class="enterprise-download-title">{{ ftl('firefox-enterprise-linux') }}</h3>

          <div class="mzp-c-menu-list mzp-t-cta mzp-t-download" id="linux-download-list">
            <h4 class="mzp-c-menu-list-title" data-testid="firefox-enterprise-linux-menu-button">{{ ftl('firefox-enterprise-select-your-download') }}</h4>
            <ul class="mzp-c-menu-list-list download-platform-list">
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64&lang={{ LANG }}" data-download-version="linux64" data-cta-text="Linux64 - Download - Firefox" data-testid="firefox-enterprise-linux-menu-link">
                  {{ ftl('firefox-enterprise-firefox-latest-64-bit') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64-aarch64&lang={{ LANG }}" data-download-version="linux64-aarch64" data-cta-text="Linux64 ARM64 - Download - Firefox" data-testid="firefox-enterprise-linux-arm64-menu-link">
                  {{ ftl('firefox-enterprise-firefox-latest-arm64') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-latest-ssl&os=linux64&lang={{ LANG }}" data-download-version="linux64" data-cta-text="Linux64 - Download - Firefox ESR" data-testid="firefox-enterprise-linux-esr-menu-link">
                  {{ ftl('firefox-enterprise-firefox-esr-64-bit') }}
                </a>
              </li>
              <li class="mzp-c-menu-list-item">
                <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-latest-ssl&os=linux64-aarch64&lang={{ LANG }}" data-download-version="linux64-aarch64" data-cta-text="Linux64 ARM64 - Download - Firefox ESR" data-testid="firefox-enterprise-linux-esr-arm64-menu-link">
                  {{ ftl('firefox-enterprise-firefox-esr-arm64') }}
                </a>
              </li>
            </ul>
          </div>

        </section>
      </div>

      <div class="enterprise-download-support enterprise-download-resources">
        <h3 class="enterprise-download-subtitle">{{ ftl('firefox-enterprise-resources') }}</h3>
        <ul class="mzp-u-list-styled">
          <li><a href="https://firefox-admin-docs.mozilla.org/">{{ ftl('firefox-enterprise-documentation') }}</a></li>
          <li><a href="https://github.com/mozilla/policy-templates/releases">{{ ftl('firefox-enterprise-policy-templates') }}</a></li>
          <li><a href="https://support.mozilla.org/products/firefox-enterprise/whats-new-firefox-enterprise{{ params }}">{{ ftl('firefox-enterprise-release-notes-v2', fallback='firefox-enterprise-release-notes') }}</a></li>
        </ul>
      </div>

      <p class="fl-body text-center fl-body-md">
        {{ ftl('firefox-enterprise-download-firefox-or-esr', firefox_all = 'href="' ~ firefox_url('desktop', 'all', 'esr') ~ '"') }}
      </p>
    </section>

  </div>
</div>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-enterprise') }}
{% endblock %}
