{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block page_title %}{{ self.page_title() }}{% endblock %}

{% block content %}
<nav>
  <a href="{{ url('firefox.channel.desktop') }}">{{ ftl('sub-navigation-release-channels') }}</a>
  <ul>
    <li><a href="{{ url('firefox.channel.desktop') }}">{{ ftl('sub-navigation-nightly-and-beta', fallback='firefox-channel-desktop') }}</a></li>
    <li><a href="{{ url('firefox.channel.android') }}">{{ ftl('sub-navigation-android-nightly-and-beta', fallback='firefox-channel-android') }}</a></li>
    <li><a href="{{ url('firefox.channel.ios') }}">{{ ftl('sub-navigation-ios-test-flight', fallback='firefox-channel-ios') }}</a></li>
  </ul>
</nav>
<main class="fl-main">
  <div class="fl-section">
    <div class="fl-section-container">
      <include:intro media_position="before" vertical full_width>
        <content:heading>
          <include:heading
            level="h1"
            heading_text="{{ ftl('firefox-channel-take-a-browse-on-the-wild-side') }}"
            subheading_text="{{ ftl('firefox-channel-be-among-the-first-to-explore') }}"
          />
        </content:heading>

        <content:media>
          <img src="/media/img/logos/firefox/firefox-logo.svg" aria-hidden />
        </content:media>
      </include:intro>
    </div>
  </div>

  {% block channels %}{% endblock %}

  <div class="fl-section">
    <div class="fl-section-container">
      <include:intro media_position="before" vertical full_width>
        <content:heading>
          <include:heading
            level="h2"
            heading_text="{{ ftl('firefox-channel-see-something-that-isnt-working') }}"
            subheading_text="{{ ftl('firefox-channel-be-among-the-first-to-explore') }}"
          />
        </content:heading>

        <content:media>
          <img src="/media/img/icons/warning.svg" aria-hidden />
        </content:media>

        <content:body>
          <ul>
            <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi">{{ ftl('firefox-channel-file-a-bug-now') }}</a></li>
            <li><a href="https://support.mozilla.org/kb/contributors-guide-writing-good-bug">{{ ftl('firefox-channel-tips-for-filing-a-bug') }}</a></li>
          </ul>
        </content:body>
      </include:intro>
    </div>
  </div>

  <div class="fl-section">
    <div class="fl-section-container">
      <include:newsletter-form>
        <include:heading
          level="h2"
          heading_text="{{ ftl('newsletter-form-firefox-and-you') }}"
          subheading_text="{{ ftl('newsletter-form-get-firefox-tips') }}"
        />
      </include:newsletter-form>
    </div>
  </div>
</main>
{% endblock %}
