{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% for variant in variants %}
  <div style="margin-bottom: 2em;">
    <h2>{{ variant.title }}</h2>
    <include:banner
      theme="{{ variant.theme }}"
      media_after="{{ variant.media_after }}"
      qr_code="{{ variant.qr_code }}"
    >

      <content:heading>
        <include:heading
          level="{{ variant.heading.level }}"
          heading_text="{{ variant.heading.heading_text }}"
          heading_size="{{ variant.heading.heading_size }}"
          alignment_class=""
          superheading_text="{{ variant.heading.superheading_text }}"
          subheading_text="{{ variant.heading.subheading_text }}"
          subheading_size="fl-subheading-4"
        />
      </content:heading>

      {% if variant.video %}
        <content:media>
          <include:video
            video_url="{{ variant.video.url }}"
            poster="{{ variant.video.poster }}"
            alt="{{ variant.video.alt }}"
          />
        </content:media>
      {% elif variant.media %}
        <content:media>
          <img src="{{ variant.media.url }}" alt="{{ variant.media.alt }}" />
        </content:media>
      {% endif %}

      {% if variant.buttons %}
        <content:actions>
        {% for button in variant.buttons %}
          <include:button
            label="{{ button.label }}"
            link="{{ button.link }}"
            theme_class="{{ button.theme_class }}"
            external="{{ button.external }}"
            icon_name="{{ button.icon_name }}"
            icon_position="{{ button.icon_position }}"
          />
        {% endfor %}
        </content:actions>
      {% endif %}
    </include:banner>
  </div>
{% endfor %}
