{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% for variant in variants %}
<div style="margin-bottom: 2em;">
  <h2>{{ variant.title }}</h2>
  <include:kit-banner
    brand_image_size="{{ variant.brand_image_size }}"
    centered="{{ variant.centered }}"
  >

    <content:heading>
      <include:heading
        level="{{ variant.heading.level }}"
        heading_text="{{ variant.heading.heading_text }}"
        heading_size="{{ variant.heading.heading_size }}"
        alignment_class=""
        superheading_text="{{ variant.heading.superheading_text }}"
        subheading_text="{{ variant.subheading }}"
        subheading_size="fl-subheading-4"
      />
    </content:heading>

    {% if variant.brand_image %}
      <content:brand>
        <img src="{{ variant.brand_image.url }}" alt="{{ variant.brand_image.alt }}" />
      </content:brand>
    {% endif %}

    {% if variant.buttons %}
      <content:actions>
        <include:buttons buttons="{{ variant.buttons }}" orientation="horizontal" />
      </content:actions>
    {% endif %}
  </include:kit-banner>
  </div>
{% endfor %}
