{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <h4>Step Cards Section Variants</h4>

  <div style="display: flex; flex-direction: column; gap: 48px;">
    <div>
      <h5>3-Step Process</h5>
      <include:step-cards>
        <content:header>
          <include:heading
            heading_text="{{ three_step.heading }}"
            size="1"
            alignment_class="text-center"
          />
        </content:header>
        <content:cards>
          {% for card in three_step.cards %}
            <include:step-card expand_link="false">
              <content:media>
                <img src="{{ card.image }}" alt="" loading="lazy" />
              </content:media>
              <content:heading>
                <include:heading
                  level="h3"
                  heading_size="fl-heading-size-3"
                  heading_text="{{ card.heading }}"
                  superheading_text="{{ card.superheading }}"
                />
              </content:heading>
              <content:body>
                {{ card.body }}
              </content:body>
            </include:step-card>
          {% endfor %}
        </content:cards>
      </include:step-cards>
    </div>

    <div>
      <h5>2-Step Process</h5>
      <include:step-cards>
        <content:header>
          <include:heading
            heading_text="{{ two_step.heading }}"
            size="1"
            alignment_class="text-center"
          />
        </content:header>
        <content:cards>
          {% for card in two_step.cards %}
            <include:step-card expand_link="false">
              <content:media>
                <img src="{{ card.image }}" alt="" loading="lazy" />
              </content:media>
              <content:heading>
                <include:heading
                  level="h3"
                  heading_size="fl-heading-size-3"
                  heading_text="{{ card.heading }}"
                  superheading_text="{{ card.superheading }}"
                />
              </content:heading>
              <content:body>
                {{ card.body }}
              </content:body>
            </include:step-card>
          {% endfor %}
        </content:cards>
      </include:step-cards>
    </div>
  </div>
</div>
