{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:section>
  <content:heading>
    <include:heading
      heading_text="{{ heading }}"
      size="1"
      alignment_class="text-center"
    />
  </content:heading>
  <content:content>
    <include:cards-list>
      <content:cards>
        {% for card in cards %}
          <include:card
            icon_name="{{ card.icon_name }}"
            expand_link="false"
          >
            <content:heading>
              <include:heading
                level="h3"
                heading_size="fl-heading-size-3"
                heading_text="{{ card.heading }}"
              />
            </content:heading>
            <content:body>
              {{ card.body }}
            </content:body>
          </include:card>
        {% endfor %}
      </content:cards>
    </include:cards-list>
  </content:content>
  {% if cta %}
    <content:cta>
      {% for link in cta %}
        <a class="fl-section-cta-link" href="{{ link.url }}">{{ link.label }}</a>
      {% endfor %}
    </content:cta>
  {% endif %}
</include:section>
