{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "base-protocol.html" %}

{% block page_title_full %}{{ ftl('data-page-title') }}{% endblock %}

{% block page_desc %}
  {{ ftl('data-page-desc') }}
{% endblock %}

{% block body_class %}mzp-t-mozilla format-none{% endblock%}

{% block page_css %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('data_protection') }}
{% endblock %}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral' %}

{% block content %}
<main class="mzp-l-content">
  <section class="mzp-c-split intro">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-body ">
        <p class="eyebrow">
          <img src="/media/img/data/shield.svg" width="12" height="12" alt="">
          {{ ftl('data-privacy-and-security') }}
        </p>
        <h1 class="mzp-u-title-md">{{ ftl('data-how-firefox-protects') }}</h1>
        <p>{{ ftl('data-heres-the-big-picture') }}</p>
        <p><strong>{{ ftl('data-interested-in') }}</strong></p>
      </div>
      <div class="mzp-c-split-media ">
        <img class="mzp-c-split-media-asset" src="/media/img/data/settings.svg" width="1440" height="482" alt="">
      </div>
    </div>
  </section>

  <section class="main-content-section mzp-l-content">

    <div class="main-content">
      <div class="sidebar">
        <ul>
          <li>
            <a href="#privacy-online">
              <span class="table-content-icon" aria-hidden="true"></span>
              {{ ftl('data-privacy-online') }}
            </a>
          </li>
          <li>
            <a href="#tracking-protection">
              <span class="table-content-icon" aria-hidden="true"></span>
              {{ ftl('data-tracking-protection') }}
            </a>
          </li>
          <li>
            <a href="#data-control">
              <span class="table-content-icon" aria-hidden="true"></span>
              {{ ftl('data-control-your-data') }}
            </a>
          </li>
          <li>
            <a href="#advertising">
              <span class="table-content-icon" aria-hidden="true"></span>
              {{ ftl('data-advertising') }}
            </a>
          </li>
          <li>
            <a href="#built-different">
              <span class="table-content-icon" aria-hidden="true"></span>
              {{ ftl('data-built-different') }}
            </a>
          </li>
        </ul>
      </div>

      <div class="content-container">

        <section id="privacy-online">
          <img src="/media/img/data/password.svg" alt="">
          <h2>{{ ftl('data-your-privacy-always') }}</h2>
          <p>{{ ftl('data-unlike-other-browsers', attrs='href="https://firefox-source-docs.mozilla.org/contributing/data-collection.html%s#browsing-data" data-link-text="data collection pricile"'|safe|format(params)) }}</p>
          <p>{{ ftl('data-for-example-when-you-sync') }}</p>
          <a href="https://firefox-source-docs.mozilla.org/contributing/data-collection.html{{ params }}"><strong>{{ ftl('data-see-firefoxs-data-collection') }}</strong></a>
        </section>

        <section id="tracking-protection">
          <img src="/media/img/data/shield-and-lock.svg" alt="">
          <h2>{{ ftl('data-youre-automatically') }}</h2>
          <p>{{ ftl('data-firefoxs-enhanced-tracking-protection') }}</p>
          <div class="c-section-link-wrapper">
            <a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop/{{ params }}"><strong>{{ ftl('data-more-about-enhanced' )}}</strong></a>
            <a href="https://support.mozilla.org/en-US/kb/introducing-total-cookie-protection-standard-mode/{{ params }}"><strong>{{ ftl('data-more-about-total') }}</strong></a>
          </div>
        </section>

        <section id="data-control">
          <img src="/media/img/data/tabs.svg" alt="">
          <h2>{{ ftl('data-youre-in-control') }}</h2>
          <p>{{ ftl('data-the-best-way') }}</p>
          <div class="c-section-link-wrapper">
            <a href="https://support.mozilla.org/en-US/kb/on-device-models/{{ params }}"><strong>{{ ftl('data-more-about-on-device') }}</strong></a>
            <a href="https://support.mozilla.org/en-US/kb/ai-chatbot/{{ params }}"><strong>{{ ftl('data-more-about-ai-chatbots') }}</strong></a>
          </div>
        </section>

        <section id="advertising">
          <img src="/media/img/data/no-ads.svg" alt="">
          <h2>{{ ftl('data-ads-totally-up-to-you') }}</h2>
          <p>{{ ftl('data-firefox-has-optional') }}</p>
          <p>{{ ftl('data-and-its-worth') }}</p>
          <a href="https://support.mozilla.org/en-US/kb/sponsor-privacy/{{ params }}"><strong>{{ ftl('data-more-about-ads') }}</strong></a>
        </section>

        <section id="built-different">
          <img src="/media/img/data/chat.svg" alt="">
          <h2>{{ ftl('data-privacy-is') }}.</h2>
          <p>{{ ftl('data-we-build-firefox-together') }}</p>
          <a href="https://firefox-source-docs.mozilla.org/overview/gecko.html{{ params }}"><strong>{{ ftl('data-get-to-know') }}</strong></a>
        </section>

      </div>
    </div>
  </section>

  <section class="mzp-c-split mzp-l-split-reversed">
    <div class="mzp-c-split-container">
      <div class="mzp-c-split-body ">
        <h2 class="mzp-u-title-md">{{ ftl('data-private-browsing')}}</h2>
        <p>{{ ftl('data-and-when-it') }}</p>
      </div>
      <div class="mzp-c-split-media ">
        <img class="mzp-c-split-media-asset" src="/media/img/data/private-browsing.svg" width="1440" height="482" alt="">
      </div>
    </div>
  </section>

  <section class="mzp-c-callout cta-section">
    <div class="mzp-l-content">
      <div class="mzp-c-callout-content">
        <h2 class="mzp-c-callout-title">{{ ftl('data-firefox-is-built') }}</h2>
        <div class="mzp-c-callout-desc">
          <p>{{ ftl('data-take-control')}}</p>
        </div>
        <div class="cta-container">
          {{ download_firefox_thanks(dom_id='data-protection-download-firefox', button_class='download-cta', download_location='data-protection') }}
          <button id="privacy-settings" class="button-outline">
            <span class="button-icon button-icon-gear" aria-hidden="true"></span>
            {{ ftl('data-manage-your') }}
          </button>
          <a class="button-outline" href="https://www.mozilla.org/{{ LANG }}/privacy/firefox/{{ params }}">
            {{ ftl('data-read-the') }}
            <span class="button-icon button-icon-arrow" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('data_protection') }}
  {{ js_bundle('data_uitour') }}
{% endblock %}
