{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=testflight' %}

{% block page_title_full %}Firefox for iOS Beta — TestFlight{% endblock %}

{% block page_desc %}
Sign up to test pre-release beta versions of Firefox for iOS via Apple's TestFlight program and help make our mobile browser for iPhone, iPad and iPod touch even better.
{% endblock %}

{% block page_css %}{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
  {% include "firefox/testflight/testflight-flare26.html" %}
{% endblock %}
