.fl-split-page-upper:has(.fl-featured-image-section:last-child),
.fl-split-page-lower:has(.fl-featured-image-section:last-child) {
    padding-block-end: 0;
}

.fl-featured-image-section {
    background-color: var(--token-color-dark-purple);
    border-end-end-radius: var(--fl-theme-main-border-radius);
    border-end-start-radius: var(--fl-theme-main-border-radius);
    margin-block: 0;
    position: relative;
}

.fl-featured-image-section .fl-section {
    padding-block-start: calc(var(--fl-section-v-padding) * 2);
}

/* build scalloped top to fake the border radius of the previous element */
.fl-scallop-decoration {
    background-color: var(--token-color-dark-purple);
}

.fl-scallop-decoration-inner {
    background-color: var(--fl-theme-background);
    block-size: var(--fl-theme-main-border-radius);
    border-end-end-radius: var(--fl-theme-main-border-radius);
    border-end-start-radius: var(--fl-theme-main-border-radius);
    display: block;
    inline-size: 100vw;
}

/* in the event this is the last child, use the parent's radius
   to avoid weird pixel problems */
.fl-featured-image-section:last-child {
    border-end-end-radius: 0;
    border-end-start-radius: 0;
}

.fl-featured-image-section-heading {
    text-align: center;
}

.fl-featured-image-section-media {
    margin-inline: auto;
    max-inline-size: var(--token-width-desktop-content-lg);
}

.fl-featured-image-section-media img,
.fl-featured-image-section-media video {
    margin-block-end: 0;
    margin-inline: auto;
}
