/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-two-column-cards {
    display: grid;
    gap: var(--token-spacing-xl);
    grid-template-columns: 1fr;
    margin-inline: auto;
    max-inline-size: var(--token-width-desktop-wide-banner);
    padding: var(--fl-section-h-padding);
}

@media (min-width: 768px) {
    .fl-two-column-cards {
        grid-template-columns: 1fr 1fr;
    }
}

.fl-two-column-card {
    border: 1px solid transparent;
    border-radius: var(--token-border-radius-xl);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--token-spacing-md);
    padding: var(--token-layout-sm) var(--token-layout-xs);
    position: relative;
}

.fl-two-column-cards-light-dark .fl-two-column-card:first-child {
    --current-card-bg-color: var(--theme-purple-card-bg-color);
    background-color: var(--theme-purple-card-bg-color);
}

.fl-two-column-cards-light-dark .fl-two-column-card:last-child {
    --current-card-bg-color: var(--two-column-light-dark-second-card-bg);
    background-color: var(--two-column-light-dark-second-card-bg);
    border-color: var(--two-column-light-dark-second-card-border-color);
}

.fl-two-column-cards-light-light .fl-two-column-card:first-child {
    --current-card-bg-color: var(--two-column-light-light-first-card-bg);
    background-color: var(--two-column-light-light-first-card-bg);
}

.fl-two-column-cards-light-light .fl-two-column-card:last-child {
    --current-card-bg-color: var(--two-column-light-light-second-card-bg);
    background-color: var(--two-column-light-light-second-card-bg);
}

.fl-two-column-card .fl-superheading {
    color: var(--two-column-accent-color);
    font-size: var(--token-font-size-xs);
}

.fl-two-column-card .fl-button {
    display: block;
}

.fl-two-column-card-content {
    color: var(--fl-theme-color-text);
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-md);
}

.fl-card-tag {
    --notification-bg: var(--token-color-light-purple);
    --notification-stacked-color: var(--token-color-white);
    inset-block-start: calc(var(--token-spacing-md) * -1);
    inset-inline-start: 50%;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-50%);
}
