/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Button - Flare 2026 Design System Buttons
===================================================================== */

:root {
    /* default purple/primary button styles */
    --button-bg-color: var(--token-color-light-purple);
    --button-border-color: transparent;
    --button-text-color: var(--token-color-white);
    --button-text-color-hover: var(--button-text-color);
    --button-bg-color-hover: var(--token-color-link-purple);
    --button-bg-color-active: var(--token-color-purple);
    --button-bg-color-disabled: var(--token-color-soft-purple-2);
    --button-border-color-disabled: var(--button-bg-color-disabled);
    --button-text-color-disabled: var(--token-color-link-purple);
    --button-color-focus-outline: var(--token-color-light-purple);
}

/* Base button styles */
.fl-button {
    align-items: center;
    background-color: var(--button-bg-color);
    border: 2px solid var(--button-border-color);
    border-radius: var(--token-border-radius-xl);
    color: var(--button-text-color);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--fl-theme-font-family-body);
    font-size: var(--fl-theme-font-size-body-sm);
    font-weight: 600;
    gap: var(--token-spacing-md);
    justify-content: center;
    line-height: 1;
    min-inline-size: fit-content;
    padding: var(--token-spacing-md) var(--token-spacing-xl);
    text-align: center;
    text-decoration: none;
    transition:
        background-color var(--token-transition-fast),
        color var(--token-transition-fast),
        border-color var(--token-transition-fast);
}

/* Disabled state */
.fl-button:disabled,
.fl-button[disabled] {
    background-color: var(--button-bg-color-disabled);
    border-color: var(--button-border-color-disabled);
    color: var(--button-text-color-disabled);
    cursor: not-allowed;
    opacity: 1;
}

/* stylelint-disable-next-line selector-not-notation */
.fl-button:not(:disabled, [disabled]):hover {
    background-color: var(--button-bg-color-hover);
    color: var(--button-text-color-hover);
}

/* stylelint-disable-next-line selector-not-notation */
.fl-button:not(:disabled, [disabled]):active {
    background-color: var(--button-bg-color-active);
    border-color: var(--button-bg-color-active);
    outline: none;
}

.fl-button:focus {
    outline: 2px solid var(--button-color-focus-outline);
    outline-offset: 2px;
}

/* TODO:
Modifier names were an artifact of the previous system.
I propose we move to "Filled (Primary)", "Outline (Secondary)", and
"Outline (Neutral)" */
.fl-button.button-secondary {
    --button-bg-color: transparent;
    --button-border-color: var(--token-color-light-purple);
    --button-text-color: var(--fl-theme-color-text);
    --button-bg-color-hover: var(--token-color-light-purple);
    --button-text-color-hover: var(--token-color-white);
    --button-bg-color-active: var(--token-color-link-purple);
    --button-bg-color-disabled: transparent;
    --button-border-color-disabled: var(--token-color-soft-purple);
    --button-text-color-disabled: var(--fl-theme-color-text);
}

.fl-button.button-ghost {
    --button-bg-color: transparent;
    --button-text-color: var(--token-color-black-4);
    --button-border-color: var(--button-text-color);
    --button-bg-color-hover: var(--button-text-color);
    --button-text-color-hover: var(--token-color-white);
    --button-bg-color-active: var(--token-color-black-2);
    --button-bg-color-disabled: var(--token-color-grey-3);
    --button-border-color-disabled: var(--button-bg-color-disabled);
    --button-text-color-disabled: var(--token-color-white);
}

.fl-button.button-link {
    --button-bg-color: transparent;
    --button-text-color: var(--fl-theme-color-link);
    --button-border-color: transparent;
    --button-bg-color-hover: transparent;
    --button-text-color-hover: var(--fl-theme-color-link-hover);
    --button-bg-color-active: transparent;
    --button-bg-color-disabled: transparent;
    --button-border-color-disabled: transparent;
    --button-text-color-disabled: var(--fl-theme-color-link);
    font-weight: var(--token-font-weight-regular);
    padding-block: var(--token-spacing-xs);
    padding-inline: 0;
    text-decoration: underline;
}

.fl-button.button-link:hover {
    text-decoration: none;
}

.fl-button.button-link:focus,
.fl-button.button-link:focus-visible {
    outline: none;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --button-bg-color-disabled: var(--token-color-purple);
        --button-border-color-disabled: var(--button-bg-color-disabled);
        --button-text-color-disabled: var(--token-color-soft-purple-4);
    }

    /* Respect the force light theme and reset colors to the original :root values  */
    .fl-force-light-theme {
        --button-bg-color-disabled: var(--token-color-soft-purple-2);
        --button-border-color-disabled: var(--button-bg-color-disabled);
        --button-text-color-disabled: var(--token-color-link-purple);
    }

    .fl-button.button-secondary {
        --button-border-color-disabled: var(--token-color-light-purple);
        --button-text-color-disabled: var(--token-color-soft-purple-5);
    }

    .fl-force-light-theme .fl-button.button-secondary {
        --button-border-color-disabled: var(--token-color-soft-purple);
        --button-text-color-disabled: var(--fl-theme-color-text);
    }

    .fl-button.button-ghost {
        --button-text-color: var(--token-color-white);
        --button-text-color-hover: var(--token-color-dark-purple);
        --button-bg-color-active: var(--token-color-grey-2);
        --button-bg-color-disabled: transparent;
        --button-border-color-disabled: var(--token-color-light-purple);
        --button-text-color-disabled: var(--token-color-soft-purple-5);
    }

    .fl-force-light-theme .fl-button.button-ghost {
        --button-text-color: var(--token-color-black-4);
        --button-text-color-hover: var(--token-color-white);
        --button-bg-color-active: var(--token-color-black-2);
        --button-bg-color-disabled: var(--token-color-grey-3);
        --button-border-color-disabled: var(--button-bg-color-disabled);
        --button-text-color-disabled: var(--token-color-white);
    }
}

/* copy of the dark query above for theme classes. */

/* copy of dark mode :root */
.fl-split-page-upper,
.fl-force-dark-theme {
    --button-bg-color-disabled: var(--token-color-purple);
    --button-border-color-disabled: var(--button-bg-color-disabled);
    --button-text-color-disabled: var(--token-color-soft-purple-4);
}

/* Respect the force light theme and reset colors to the original :root values  */
.fl-split-page-upper .fl-force-light-theme {
    --button-bg-color-disabled: var(--token-color-soft-purple-2);
    --button-border-color-disabled: var(--button-bg-color-disabled);
    --button-text-color-disabled: var(--token-color-link-purple);
}

.fl-split-page-upper .fl-button.button-secondary,
.fl-force-dark-theme .fl-button.button-secondary {
    --button-border-color-disabled: var(--token-color-light-purple);
    --button-text-color-disabled: var(--token-color-soft-purple-5);
}

.fl-split-page-upper .fl-force-light-theme .fl-button.button-secondary {
    --button-border-color-disabled: var(--token-color-soft-purple);
    --button-text-color-disabled: var(--fl-theme-color-text);
}

.fl-split-page-upper .fl-button.button-ghost,
.fl-force-dark-theme .fl-button.button-ghost {
    --button-text-color: var(--token-color-white);
    --button-text-color-hover: var(--token-color-dark-purple);
    --button-bg-color-active: var(--token-color-grey-2);
    --button-bg-color-disabled: transparent;
    --button-border-color-disabled: var(--token-color-light-purple);
    --button-text-color-disabled: var(--token-color-soft-purple-5);
}

.fl-split-page-upper .fl-force-light-theme .fl-button.button-ghost {
    --button-text-color: var(--token-color-black-4);
    --button-text-color-hover: var(--token-color-white);
    --button-bg-color-active: var(--token-color-black-2);
    --button-bg-color-disabled: var(--token-color-grey-3);
    --button-border-color-disabled: var(--button-bg-color-disabled);
    --button-text-color-disabled: var(--token-color-white);
}

/* Button sizes */
.fl-button-small {
    padding: var(--token-spacing-sm) var(--token-spacing-xl);
}

.fl-button-medium {
    padding: var(--token-spacing-md) var(--token-spacing-xl);
}

.fl-button-large {
    padding: var(--token-spacing-lg) var(--token-spacing-xl);
}

.fl-button-square {
    border-radius: var(--token-border-radius-2xs);
}

/* Button icons */
.fl-button .fl-icon {
    block-size: var(--token-spacing-lg);
    inline-size: var(--token-spacing-lg);
}

.fl-buttons {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--token-spacing-md);
}

.fl-buttons.extra-padding {
    padding-block: var(--token-spacing-lg);
}

.fl-buttons.is-horizontal {
    flex-direction: row;
}

.fl-buttons.is-horizontal.is-center {
    inline-size: 100%;
    justify-content: center;
}

.fl-buttons.is-stacked {
    flex-direction: column;
    gap: var(--token-spacing-sm);
}

.fl-buttons.is-stacked .fl-button {
    inline-size: 100%;
}

.fl-buttons.is-stacked.auto-width-buttons .fl-button {
    inline-size: auto;
    margin-inline-end: auto;
}

.fl-buttons > *:not(.fl-set-as-default-dialog) {
    display: inline-flex;
}

.fl-buttons.is-stacked:not(.auto-width-buttons) > * {
    inline-size: 100%;
}

.fl-buttons .fl-button {
    margin-block-end: 0;
}

.fl-tiny-icon-button {
    background: transparent;
    color: var(--fl-theme-color-link);
    margin: 0;
    padding: 0;
}

.fl-tiny-icon-button:hover,
.fl-tiny-icon-button:active,
.fl-tiny-icon-button:focus {
    color: var(--fl-theme-color-link-hover);
}

/* UI Tour buttons are hidden by default and revealed via JS
   after confirming UITour is responding (see ui-tour-buttons.js). */
.ui-tour.is-hidden {
    display: none;
}

/* =====================================================================
Copy-to-Clipboard Button
===================================================================== */

.fl-copy-to-clipboard-button:disabled {
    cursor: default;
}

.fl-copy-to-clipboard-label-success {
    position: absolute;
}

/* Used to avoid layout shift when swapping text.
   Not good for accessibility, so it's used in
   conjunction with aria-hidden in the JS */
.opacity-0 {
    opacity: 0;
}
