.fl-pricing-heading {
    border-block-end: 2px solid var(--token-color-soft-purple-4);
    padding-block-end: var(--token-spacing-2xl);
}

.fl-pricing-heading .fl-heading-group {
    margin-block-end: 0;
}

.fl-pricing-heading .fl-superheading {
    color: var(--fl-theme-accent-color);
    text-transform: uppercase;
}
