/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-timeline {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.fl-timeline::before {
    background-color: var(--theme-numbered-list-border-color);
    content: '';
    inline-size: 2px;
    inset-block: 0;
    inset-block-start: var(--token-spacing-lg);
    inset-inline-start: var(--token-spacing-sm);
    position: absolute;
}

.fl-timeline-item {
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-2xs);
    padding-block: var(--token-spacing-md);
    padding-inline-start: calc(
        var(--token-spacing-sm) * 2 + var(--token-spacing-md)
    );
    position: relative;
}

.fl-timeline-item::before {
    background-color: var(--theme-numbered-list-counter-color);
    block-size: var(--token-spacing-sm);
    border-radius: 50%;
    content: '';
    inline-size: var(--token-spacing-sm);
    inset-block-start: calc(var(--token-spacing-md) + var(--token-spacing-2xs));
    inset-inline-start: calc(
        var(--token-spacing-sm) - var(--token-spacing-2xs)
    );
    position: absolute;
}

.fl-timeline-item .fl-superheading {
    color: var(--theme-numbered-list-counter-color);
    font-size: var(--fl-theme-font-size-subheading-xs);
    margin-block-end: var(--token-spacing-lg);
    text-transform: uppercase;
}

.fl-timeline-item-heading {
    font-size: var(--fl-theme-font-size-heading-sm);
    font-weight: var(--token-font-weight-bold);
    margin-block-end: 0;
    margin-block-end: var(--token-spacing-lg);
}
