// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

.ios-summarizer-hero {
    min-height: 100vh;
    position: relative;
}

.ios-summarizer-hero-background {
    position: absolute;
    inset: 0;
    background: url('/media/img/firefox/browsers/mobile/ios/shake-to-summarize-gradient-bg.svg') no-repeat center bottom;
    background-size: cover;
    z-index: 0;
    pointer-events: none;
}

.ios-phone-shell {
  will-change: transform;
  position: relative;
  display: inline-block;
  z-index: 1;
  pointer-events: none;
}

.phone-masked {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    transform-origin: 50% 50%;
    // NOTE: scale(0.96) and border-radius 10% are computed and rounded from aspect-ration of the phone frame to content in figma
    // In theory, we could use a mask into the inside of the phone shell here to clip the video content but it would introduce a bit more complexity.
    // This works great for now since we don't intend to change the phone shell anytime soon.
    transform: scale(0.96);
    border-radius: 10%;
    will-change: transform;
}

.ios-phone-shell.shake {
    animation: phone-shake 1s ease-in-out both;
    animation-delay: 1.5s;
}

@keyframes phone-shake {
  0%   { transform: translateX(0); }
  10%  { transform: translateX(-40px); }
  20%  { transform: translateX(40px); }
  30%  { transform: translateX(-35px); }
  40%  { transform: translateX(35px); }
  50%  { transform: translateX(-20px); }
  60%  { transform: translateX(20px); }
  70%  { transform: translateX(-10px); }
  80%  { transform: translateX(10px); }
  90%  { transform: translateX(0); }
  100% { transform: translateX(0); }
}

@media (prefers-reduced-motion: reduce) {
  .ios-phone-shell.shake { animation: none; }
}

.ios-summarizer-use-steps ol {
    @include bidi(((margin-left, $layout-sm, margin-right, 0), ));
    list-style-type: decimal;
    list-style-position: inside;
    line-height: 1.5;
}
