{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{#  TODO: attrs not passed down #}

<div class="pl-frame pl-frame--white">
  <h4>Button variants</h4>
  <div class="pl-row">
    <h5>Horizontal</h5>
    {% set orientation = horizontal.orientation %}
    {% set buttons = horizontal.buttons %}
    <include:buttons buttons="{{ horizontal.buttons }}" orientation="{{ orientation }}"/>
  </div>
  <div class="pl-row">
    <h5>Stacked</h5>
    {% set orientation = stacked.orientation %}
    {% set buttons = stacked.buttons %}
    <include:buttons buttons="{{ stacked.buttons }}" orientation="{{ orientation }}"/>
  </div>
</div>
