{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros.html" import google_play_button, apple_app_store_button with context %}

{% extends "cms/base-flare26.html" %}

{% block page_image %}{{ static('img/firefox/browsers/mobile/focus/page-image.png') }}{% endblock %}
{% block page_favicon %}{{ static('img/favicons/firefox/browser/focus/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/favicons/firefox/browser/focus/favicon-196x196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/favicons/firefox/browser/focus/apple-touch-icon.png') }}{% endblock %}

{% set show_send_to_device = LANG in settings.SEND_TO_DEVICE_LOCALES %}
{% set android_url = play_store_url('focus', 'firefox-browsers-mobile-focus') %}
{% set ios_url = app_store_url('focus', 'firefox-browsers-mobile-focus') %}

{% block page_css %}
  {{ css_bundle('flare26-mobile-pages') }}
{% endblock %}

{% block page_title %}{{ ftl('mobile-focus-firefox-focus-the-privacy') }}{% endblock %}
{% block page_desc %}{{ ftl('mobile-focus-firefox-focus-is-your-dedicated-v2') }}{% endblock %}

{% block body_class %}{{ super() }} mobile-focus{% endblock %}

{% block flare_header %}
  {% set hide_nav_cta = true %}
  <include:flare26-header theme="dark" />
{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
  {% include "firefox/browsers/mobile/focus-flare26.html" %}
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-browsers-mobile') }}
{% endblock %}
