{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros.html" import google_play_button, fxa_email_form with context %}
{% from "macros-protocol.html" import split with context %}

{% set base_template = "cms/base-flare26.html" if switch("flare26_enabled") else "cms/base-protocol.html" %}
{% extends base_template %}

{% set show_firefox_app_store_banner = switch('firefox-app-store-banner') %}
{% set android_url = play_store_url('firefox', 'firefox-browsers-mobile') %}
{% set ios_url = app_store_url('firefox', 'firefox-browsers-mobile') %}
{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=firefox-mobile' %}
{% set _entrypoint = 'www.firefox.com-firefox-mobile' %}

{% block page_title %}{{ ftl('browsers-mobile-firefox-mobile-browsers-put') }}{% endblock %}
{% block page_desc %}{{ ftl('browsers-mobile-overview-of-all-mobile') }}{% endblock %}

{% block body_class %}{{ super() }} mobile-overview{% endblock %}

{% block page_css %}
{% if not switch("flare26_enabled") %}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('protocol-emphasis-box')}}
  {{ css_bundle('firefox-mobile-index') }}

  {% if show_firefox_app_store_banner %}
    {{ css_bundle('firefox-app-store-banner') }}
  {% endif %}

{% endif %}
{% endblock %}

{% block page_banner %}
  {% if show_firefox_app_store_banner %}
    {% if switch("flare26_enabled") %}
      {% include 'includes/banners/mobile/firefox-app-store.html' %}
    {% else %}
      {% include 'includes/banners/mobile/firefox-app-store.html' %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
{% if switch("flare26_enabled") %}
{# this will use freeform2026 template once it heads to the CMS. #}
<div class="fl-page fl-freeform-2026-page">
  <main class="fl-main">
    <div class="fl-split-page-upper has-gradient-bottom">
      {# new 'mobile store qr code' section #}
      {% from "macros.html" import google_play_button, apple_app_store_button with context %}
      <section class="fl-section fl-mobile-store-qr-section" data-block-position="mobile-store-qr">
        <div class="fl-container">
            <div class="fl-mobile-store-qr-heading">
              <include:heading
                level="h1"
                heading_size="fl-heading-size-2"
                alignment_class="fl-text-align-center"
                heading_text="{% if LANG == 'en-US' %}Firefox on your phone{% else %}{{ ftl('browsers-mobile-go-your-own-way') }}{% endif %}"
                subheading_text="{% if LANG == 'en-US' %}The browser you trust, built for life on the go. {% else %}{{ ftl('browsers-mobile-firefox-mobile-adapts-to-you') }}{% endif %}"
              />
            </div>

          <div class="fl-mobile-store-qr-content">
            <div class="fl-mobile-store-qr-code" role="img" aria-label="QR Code">
              {{ qrcode('https://www.mozilla.org/firefox/browsers/mobile/app/?product=firefox&campaign=whatsnew-143', 12) }}
            </div>
            <div class="fl-mobile-store-buttons">
              {% set campaign = (utm_parameters or {}).get("utm_campaign", "firefox-mobile") %}
              {% set android_url = play_store_url('firefox', campaign) %}
              {% set ios_url = app_store_url('firefox', campaign) %}

              {{ google_play_button(href=android_url, class_name="fl-store-button android-download") }}
              {{ apple_app_store_button(href=ios_url, class_name="fl-store-button ios-download") }}
            </div>


            <img class="display-xs-and-sm fl-mobile-store-mobile-img" src="{{ static('img/firefox/flare/firefox-for-mobile_hero.png') }}" alt="Firefox for Mobile" />


          </div>
        </div>
      </section>
    </div>
    <div class="fl-split-page-lower">
      <section class="fl-section">
        <div class="fl-container">
          <include:cards-list>
            <include:card>
              <content:heading>
                <include:heading
                  level="h3"
                  heading_size="fl-heading-xs"
                  heading_text="{{ ftl('browsers-mobile-firefox-for-android') }}"
                />
              </content:heading>
              <content:body>
                <p>{{ ftl('browsers-mobile-infinitely-customizable-private') }}</p>

              </content:body>
              <content:buttons>
                {{ google_play_button(href=android_url, class_name="fl-store-button android-download") }}
                <p><a class="learn-more-link" href="{{ url('firefox.browsers.mobile.android') }}" data-cta-text="Android Learn More">{{ ftl('ui-learn-more') }}</a></p>
              </content:buttons>
            </include:card>

            <include:card>
              <content:heading>
                <include:heading
                  level="h3"
                  heading_size="fl-heading-xs"
                  heading_text="{{ ftl('browsers-mobile-firefox-for-ios') }}"
                />
              </content:heading>
              <content:body>
                <p>{{ ftl('browsers-mobile-get-enhanced-tracking-protection') }}</p>
              </content:body>

                <content:buttons>
                  <div id="ios-download">
                    {{ apple_app_store_button(href=ios_url, class_name="fl-store-button ios-download") }}
                  </div>
                <a class="learn-more-link" href="{{ url('firefox.browsers.mobile.ios') }}" data-cta-text="iOS Learn More">{{ ftl('ui-learn-more') }}</a>
                </content:buttons>
            </include:card>

            <include:card>
              <content:heading>
                <include:heading
                  level="h3"
                  heading_size="fl-heading-xs"
                  heading_text="{{ ftl('browsers-mobile-firefox-focus') }}"
                />
              </content:heading>
              <content:body>
                <p>{{ ftl('browsers-mobile-looking-for-a-streamlined') }}</p>

                <div class="fl-buttons is-stacked auto-width-buttons" id="ios-download">
                  <include:button
                    label="{% if LANG == 'en-US' %}Download Android{% else %}{{ ftl('browsers-mobile-android') }}{% endif %}"
                    link="{{ play_store_url('focus', 'firefox-browsers-mobile') }}"
                    data-cta-text="Download - Android (Focus)"
                    data-cta-type="firefox_focus"
                    rel="external noopener"
                    classes="ga-product-download"
                    icon_name="downloads"
                    icon_position="right"

                  />
                  <include:button
                    label="{% if LANG == 'en-US' %}Download iOS{% else %}{{ ftl('browsers-mobile-ios') }}{% endif %}"
                    link="{{ app_store_url('focus', 'firefox-browsers-mobile') }}"

                    rel="external noopener"
                    class="ga-product-download"
                    data-cta-text="Download - iOS (Focus)"
                    data-cta-type="firefox_focus"
                    icon_name="downloads"
                    icon_position="right"
                  />
                </div>
                <a class="learn-more-link" href="{{ url('firefox.browsers.mobile.focus') }}" data-cta-text="Focus Learn More">{{ ftl('ui-learn-more') }}</a>
              </content:body>
            </include:card>

          </include:cards-list>
        </div>
      </section>


    </div>
  </main>
</div>

















{% else %}
{# legacy design elements #}
<main>
  {% call split(
    image=resp_img('img/firefox/browsers/mobile/hero-500.jpg',
      srcset={
        'img/firefox/browsers/mobile/hero-500.jpg': '500w',
        'img/firefox/browsers/mobile/hero-700.jpg': '700w',
        'img/firefox/browsers/mobile/hero-900.jpg': '900w',
        'img/firefox/browsers/mobile/hero-1100.jpg': '1100w',
        'img/firefox/browsers/mobile/hero-1300.jpg': '1300w',
      },
      sizes={
        '(min-width: 768px)': 'calc(50vw - 192px)',
        'default': 'calc(100vw - 48px)'
      },
      optional_attributes={
        'class': 'mzp-c-split-media-asset',
        'height': '420',
        'width': '680'
      }
    ),
    block_class='mzp-has-media-hide mzp-l-split-center-on-sm-md',
    body_class='mzp-l-v-center',
    media_class='mzp-l-fit-flush mzp-l-constrain-height'
  ) %}
    <div class="mzp-c-logo mzp-t-logo-lg mzp-t-product-firefox"></div>
    <h1>{{ ftl('browsers-mobile-go-your-own-way') }}</h1>
    <p>{{ ftl('browsers-mobile-firefox-mobile-adapts-to-you') }}</p>
  {% endcall %}

  <section class="mzp-l-content c-landing-grid">
    <div class="c-landing-grid-item">
      {{ resp_img(
        url='img/firefox/browsers/mobile/index/firefox-android.png',
        srcset={
          'img/firefox/browsers/mobile/index/firefox-android-high-res.png': '2x'
        },
        optional_attributes={
          'class': 'c-landing-grid-img',
          'width': '350',
          'height': '263'
        }
      ) }}
      <h2 class="c-landing-grid-title"><a href="{{ url('firefox.browsers.mobile.android') }}" data-cta-text="Firefox for Android">{{ ftl('browsers-mobile-firefox-for-android') }}</a></h2>
      <p>{{ ftl('browsers-mobile-infinitely-customizable-private') }}</p>

      <p id="android-download">
        <a class="mzp-c-cta-link ga-product-download" href="{{ android_url }}" rel="external noopener" data-cta-text="Download (Android)" data-cta-type="firefox_mobile">{{ ftl('browsers-mobile-download') }}</a>
      </p>

      <p><a class="mzp-c-cta-link ga-product-download" href="{{ url('firefox.browsers.mobile.android') }}" data-cta-text="Android Learn More">{{ ftl('ui-learn-more') }}</a></p>
    </div>

    <div class="c-landing-grid-item">
      {{ resp_img(
        url='img/firefox/browsers/mobile/index/firefox-ios-v2.jpg',
        srcset={
          'img/firefox/browsers/mobile/index/firefox-ios-high-res-v2.jpg': '2x'
        },
        optional_attributes={
          'class': 'c-landing-grid-img',
          'width': '352',
          'height': '265'
        }
      ) }}
      <h2 class="c-landing-grid-title"><a href="{{ url('firefox.browsers.mobile.ios') }}" data-cta-text="Firefox for iOS">{{ ftl('browsers-mobile-firefox-for-ios') }}</a></h2>
      <p>{{ ftl('browsers-mobile-get-enhanced-tracking-protection') }}</p>

      <p id="ios-download">
        <a class="mzp-c-cta-link ga-product-download" href="{{ ios_url }}" rel="external noopener" data-cta-text="Download (iOS)" data-cta-type="firefox_mobile">{{ ftl('browsers-mobile-download') }}</a>
      </p>

      <p><a class="mzp-c-cta-link ga-product-download" href="{{ url('firefox.browsers.mobile.ios') }}" data-cta-text="iOS Learn More">{{ ftl('ui-learn-more') }}</a></p>
    </div>

    <div class="c-landing-grid-item">
      {{ resp_img(
        url='img/firefox/mobile/firefox-focus.jpg',
        srcset={
          'img/firefox/mobile/firefox-focus-high-res.jpg': '2x'
        },
        optional_attributes={
          'l10n': True,
          'class': 'c-landing-grid-img',
          'width': '350',
          'height': '218'
        }
      ) }}
      <h2 class="c-landing-grid-title"><a href="{{ url('firefox.browsers.mobile.focus') }}" data-cta-text="Firefox Focus">{{ ftl('browsers-mobile-firefox-focus') }}</a></h2>
      <p>{{ ftl('browsers-mobile-looking-for-a-streamlined') }}</p>

      <div id="menu-focus-wrapper"  class="mzp-c-menu-list mzp-t-cta mzp-t-download">
        <h3 class="mzp-c-menu-list-title">{{ ftl('browsers-mobile-download') }}</h3>
        <ul class="mzp-c-menu-list-list" id="menu-mobile">
          <li class="mzp-c-menu-list-item"><a href="{{ play_store_url('focus', 'firefox-browsers-mobile') }}" rel="external noopener" class="ga-product-download" data-cta-text="Download - Android (Focus)" data-cta-type="firefox_focus">{{ ftl('browsers-mobile-android') }}</a></li>
          <li class="mzp-c-menu-list-item"><a href="{{ app_store_url('focus', 'firefox-browsers-mobile') }}" rel="external noopener" class="ga-product-download" data-cta-text="Download - iOS (Focus)" data-cta-type="firefox_focus">{{ ftl('browsers-mobile-ios') }}</a></li>
        </ul>
      </div>

      <p><a class="mzp-c-cta-link" href="{{ url('firefox.browsers.mobile.focus') }}" data-cta-text="Focus Learn More">{{ ftl('ui-learn-more') }}</a></p>
    </div>

  </section>

  {% include 'firefox/includes/mozilla-account-promo.html' %}
  </main>
  {% endif %}
{% endblock %}




{% block js %}
  {# todo: test if this stuff is necessary for the flare page #}
  {{ js_bundle('fxa_form') }}
  {{ js_bundle('firefox-mobile-index') }}

  {% if show_firefox_app_store_banner %}
    {{ js_bundle('firefox-app-store-banner') }}
  {% endif %}
{% endblock %}
