{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{#
  Renders a paginated list of blog articles.
  Requires: list_articles, pagination_prev_url, pagination_next_url.
#}

{% from "cms/includes/blog/blog-card-media.html" import list_item_media with context %}

{% if list_articles %}
  <div class="fl-blog-article-list">
    {% for article in list_articles %}
      {% set listing_image = article.get_listing_image() %}
      <include:blog-article-list-item with_image="{{ listing_image }}">
        <content:heading>
          <hgroup class="fl-heading-group">
            <p class="fl-superheading">{{ article.topic.name }}</p>
            <h2 class="fl-heading">
              <a href="{{ article.url }}" class="fl-link">{{ article.title }}</a>
            </h2>
          </hgroup>
        </content:heading>
        <content:body>{{ article.description|richtext }}</content:body>
        {% if listing_image %}
          <content:image>{{ list_item_media(article) }}</content:image>
        {% endif %}
      </include:blog-article-list-item>
    {% endfor %}
  </div>

  {% if list_articles.paginator.num_pages > 1 %}
    <include:pagination
      page_number="{{ list_articles.number }}"
      total_pages="{{ list_articles.paginator.num_pages }}"
      prev_url="{{ pagination_prev_url }}"
      next_url="{{ pagination_next_url }}"
      aria_label="{{ ftl('blog-pagination-label') }}"
      prev_label="{{ ftl('ui-previous') }}"
      next_label="{{ ftl('ui-next') }}"
    />
  {% endif %}
{% endif %}
