{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{#
  Renders a list of all blog topics.
  Requires: all_topics, index_page, topic (optional).
#}

<div class="fl-blog-topics-filter">
  <button class="fl-blog-topics-scroll-btn fl-blog-topics-scroll-prev" aria-label="{{ ftl('ui-previous') }}" hidden>
    <span class="fl-icon fl-icon-chevron-left" aria-hidden="true"></span>
  </button>

  <div class="fl-blog-topics-list is-carousel">
    {% for topic_item in all_topics %}
      {% set selected_topic = topic and topic.slug == topic_item.slug %}
      {% set all_route_url = index_page.url ~ index_page.reverse_subpage('all_route') %}
      {% if selected_topic %}
        <span class="fl-tag fl-blog-selected-topic">
          {{ topic_item.name }}

          <a href="{{ all_route_url }}" class="close-button">
            <include:icon icon_name="close" aria_hidden="true" />
            <span class="visually-hidden">{{ ftl('blog-clear-topic-filter') }}</span>
          </a>
        </span>
      {% else %}
        <a href="{{ index_page.url }}{{ index_page.reverse_subpage('topic_route', args=[topic_item.slug]) }}" class="fl-blog-topic-link fl-tag">
          {{ topic_item.name }}
        </a>
      {% endif %}
    {% endfor %}
    <div class="fl-blog-topics-all">
      <a href="{{ index_page.url }}{{ index_page.reverse_subpage('topics_route') }}" class="fl-link">{{ ftl('blog-view-all-topics') }}</a>
    </div>
  </div>

  <button class="fl-blog-topics-scroll-btn fl-blog-topics-scroll-next" aria-label="{{ ftl('ui-next') }}" hidden>
    <span class="fl-icon fl-icon-chevron-right" aria-hidden="true"></span>
  </button>
</div>
