{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
 #}

{% from 'macros-protocol.html' import card, callout %}
{% from 'firefox/features/cms/includes/macros.html' import article_thumbnail_image, article_list_item with context %}

{% extends "base-protocol.html" %}

{% if page.seo_title %}
  {% set meta_title = page.seo_title %}
{% else %}
  {% set meta_title = page.title %}
{% endif %}

{% block page_title_full %}{{ meta_title }}{% endblock %}
{% block page_desc %}{{ page.search_description }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-features-index')}}
{% endblock %}

{% block content %}
  {{ callout (
    title=page.title,
    desc=page.sub_title,
    class='c-feature-header mzp-t-content-md'
  )}}

  <div class="mzp-l-content">
    {% if featured_articles %}
      <div class="mzp-l-card-half">
      {% for article in featured_articles %}
        {{ card (
          title=article.title,
          ga_title=article.title,
          aspect_ratio="mzp-has-aspect-16-9",
          desc=article.desc,
          image=article_thumbnail_image(article.image),
          link_url=article.url
        )}}
      {% endfor %}
      </div>
    {% endif %}

    {% if list_articles %}
      <ul class="mzp-l-columns mzp-t-columns-three">
      {% for article in list_articles %}
        {{ article_list_item(
          link=article.url,
          title=article.title,
          ga_title=article.title,
          desc=article.desc,
        ) }}
      {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock content %}
