{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <div class="pl-row">
    <h4>Intro variants</h4>
    <hr/>
  </div>
  {% for item in variants %}
    <div class="pl-row">
      <h5>{{ item.title }}</h5>
      <hr/>
      {% set media_position = item.media_position %}
      <include:intro media_position="{{ media_position }}">
        <content:heading>
          <include:heading
            superheading_text="{{ item.heading.superheading_text }}"
            heading_text="{{ item.heading.heading_text }}"
            subheading_text="{{ item.heading.subheading_text }}"
            alignment="{{ item.heading.alignment }}"
            subheading_size="{{ item.heading.subheading_size }}"
          />
        </content:media>
      {% elif item.image %}
        <content:media>
          <include:image url="{{ item.image.url }}" alt="{{ item.image.alt }}" />
        </content:media>
      {% endif %}
    </include:intro>
  </div>
{% endfor %}
