{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <h4>Section Variants</h4>

  <div style="display: flex; flex-direction: column; gap: 48px;">
    <div>
      <h5>With CTA Links</h5>
      <include:section>
        <content:heading>
          <include:heading
            heading_text="{{ with_cta.heading }}"
            size="1"
            alignment_class="text-center"
          />
        </content:heading>
        <content:content>
          <include:cards-list grid_four="false">
            <content:cards>
              {% for card in with_cta.cards %}
                <include:card
                  icon_name="{{ card.icon_name }}"
                  expand_link="false"
                >
                  <content:heading>
                    <include:heading
                      level="h3"
                      heading_size="fl-heading-size-3"
                      heading_text="{{ card.heading }}"
                    />
                  </content:heading>
                  <content:body>
                    {{ card.body }}
                  </content:body>
                </include:card>
              {% endfor %}
            </content:cards>
          </include:cards-list>
        </content:content>
        <content:cta>
          {% for link in with_cta.cta %}
            <a class="fl-section-cta-link" href="{{ link.url }}">{{ link.label }}</a>
          {% endfor %}
        </content:cta>
      </include:section>
    </div>

    <div>
      <h5>Without CTA Links</h5>
      <include:section>
        <content:heading>
          <include:heading
            heading_text="{{ without_cta.heading }}"
            size="1"
            alignment_class="text-center"
          />
        </content:heading>
        <content:content>
          <include:cards-list grid_four="false">
            <content:cards>
              {% for card in without_cta.cards %}
                <include:card
                  icon_name="{{ card.icon_name }}"
                  expand_link="false"
                >
                  <content:heading>
                    <include:heading
                      level="h3"
                      heading_size="fl-heading-size-3"
                      heading_text="{{ card.heading }}"
                    />
                  </content:heading>
                  <content:body>
                    {{ card.body }}
                  </content:body>
                </include:card>
              {% endfor %}
            </content:cards>
          </include:cards-list>
        </content:content>
      </include:section>
    </div>
  </div>
</div>
