{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{#
  If you need specific files or markup, you can use the following check
  to see if the switch for flare26 is set to True
#}

{% block page_css %}
  {% if not switch('flare26_enabled' %}
    {{ css_bundle('flare26_download_all') }}
  {% endif %}
{% endblock %}

{% block page_title %}
  {{ ftl('firefox-all-download-the-firefox-v2') }}
{% endblock %}

{% block canonical_urls %}
  {% if product %}
    {# do not index or follow child pages, we prefer people visit more user friendly pages from search results bedrock/16104 #}
    <meta name="robots" content="none">
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block site_header %}
  {% with hide_nav_cta=True %}
    {% include 'includes/navigation/navigation.html' %}
  {% endwith %}
{% endblock %}

{% set campaign = "firefox-all" %}
{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=' + campaign %}


{% if product and platform %}
  {% set current_step = ftl('firefox-all-choose-language') %}
{% elif product %}
  {% set current_step = ftl('firefox-all-choose-platform') %}
{% else %}
  {% set current_step = ftl('firefox-all-choose-browser') %}
{% endif %}

{% block content %}
  {% include 'firefox/all/includes/main-flare26.html' %}
{% endblock %}

{% block js %}
  {% if not switch('flare26_enabled' %}
    {{ js_bundle('firefox_all') }}
  {% endif %}
{% endblock %}
