{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# Choose language #}

<section tabindex="-1" {% if not (product and platform) %} class="fl-t-step-disabled" aria-disabled="true" {% endif %} aria-labelledby="all-lang" class="fl-c-flow-section">
<h2 id="all-lang" class="fl-c-flow-section-heading">
  <span class="fl-c-flow-step">
    <span>
      <span>{% if product and platform and locale %}<include:icon icon_name="checkmark" />{% endif %}</span>
      <!-- TODO: FTL fallback -->
      03. {{ ftl('firefox-all-language-v3') }}
    </span>
  </span>
  {% if locale %}
    <span class="fl-c-flow-selection">{{ locale_name }}
      {% if product.slug.startswith('desktop') and platform != "win-store" %}
      <!-- TODO reapply edit functionality -->
      <include:button
        theme_class="button-secondary"
        label="EDIT" # TODO: l10n
        icon_name="edit"
        icon_position="left"
      />
      {% endif %}
    </span>
  {% endif %}
</h2>

{% if product and platform and not locale %}
<div class="c-step-contents">
  <ul class="c-lang-list">
    {% for locale, name in locales %}
      <li><a href="{{ url('firefox.all.download', product_slug=product.slug, platform=platform, locale=locale) }}" class="load-content-partial">{{ name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
</section>
