{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# Choose language #}

<div tabindex="-1" aria-labelledby="all-lang" class="fl-c-flow-section c-step-name {% if not (product and platform) %}t-step-disabled{% endif %}">
  <div class="fl-c-flow-step">
    <span class="fl-c-flow-step-checkbox">{% if product and platform and locale %}<include:icon icon_name="checkmark" />{% endif %}</span>
    <h2 id="all-lang" class="fl-c-flow-step-title {% if ftl_has_messages('firefox-all-language-v3') %}fl-t-flow-step-title-counter{% endif %} fl-body fl-body-2xs fl-u-text-uppercase fl-u-font-medium">
      {% if ftl_has_messages('firefox-all-language-v3') %}
        {{ ftl('firefox-all-language-v3') }}
      {% else %}
        {{ ftl('firefox-all-language-v2') }}
      {% endif %}
    </h2>
  </div>

  {% if locale %}
    <h3 id="all-lang-selection" class="fl-c-flow-selection fl-heading fl-heading-xs">{{ locale_name }}
      {% if product.slug.startswith('desktop') and platform != "win-store" %}
      <include:button
        theme_class="button-secondary fl-button-small fl-u-text-uppercase load-content-partial"
        label="{{ ftl('ui-edit') }}"
        icon_name="edit"
        icon_position="left"
        link="{{ url('firefox.all.locales', product_slug=product.slug, platform=platform) }}"
        aria_labelledby="all-lang all-lang-selection"
      />
      {% endif %}
    </h3>
  {% endif %}

{% if product and platform and not locale %}
<div class="fl-c-flow-options">
  <ul class="c-lang-list fl-c-unstyled-list">
    {% for locale, name in locales %}
      <li><a href="{{ url('firefox.all.download', product_slug=product.slug, platform=platform, locale=locale) }}" class="load-content-partial">{{ name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
</div>
