{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <div style="margin-bottom: 24px;">
    <h4>Icon size and color</h4>
    <div style="color: var(--blue-medium-blue); display: grid; grid-template-columns: repeat(4, minmax(72px, 1fr)); gap: 16px; align-items: start;">
      <div style="text-align: center; font-size: 16px;">
        {% set icon_name = 'globe' %}
        <include:icon icon_name=icon_name />
        <div style="margin-top: 8px; font-size: 12px; line-height: 1.2;">16 px</div>
      </div>
      <div style="text-align: center; font-size: 20px;">
        {% set icon_name = 'globe' %}
        <include:icon icon_name=icon_name />
        <div style="margin-top: 8px; font-size: 12px; line-height: 1.2;">20 px</div>
      </div>
      <div style="text-align: center; font-size: 24px;">
        {% set icon_name = 'globe' %}
        <include:icon icon_name=icon_name />
        <div style="margin-top: 8px; font-size: 12px; line-height: 1.2;">24 px</div>
      </div>
      <div style="text-align: center; font-size: 32px;">
        {% set icon_name = 'globe' %}
        <include:icon icon_name=icon_name />
        <div style="margin-top: 8px; font-size: 12px; line-height: 1.2;">32 px</div>
      </div>
    </div>
  </div>

  <h4>Icons</h4>
  <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(96px, 1fr)); gap: 16px; align-items: start;">
    {% for icon in icons %}
    <div style="text-align: center;">
      {% set icon_name = icon.icon_name %}
      <include:icon icon_name=icon_name />
      <div style="margin-top: 8px; font-size: 12px; line-height: 1.2;">{{ icon.name }}</div>
    </div>
    {% endfor %}
  </div>

</div>
