{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% if value.settings.card_type == "sticker_row" %}
  <div class="fl-stacked-article-list">
    {% for card in value.cards %}
      <include:stacked-article-list-item
        title={{ card.get_title() }}
        description={{ card.get_description()|safe }}
        link_text={{ card.get_link_label() }}
        url={{ card.article.url }}
      >
        {% set img = card.overrides.image or card.article.sticker %}
        <content:icon>
          {% if img %}
            {{ image(img, "width-400") }}
          {% else %}
            <img src="/media/img/logos/firefox/firefox-logo.svg" alt="" aria-hidden />
          {% endif %}
        </content:icon>
      </include:stacked-article-list-item>
    {% endfor %}
  </div>
{% elif value.settings.card_type == "sticker_card" %}
  <include:cards-list>
    {% for card in value.cards %}
        <include:illustration-card-2026  variant="sticker">
          <content:media>
            {% set img = card.overrides.image or card.article.sticker %}
            {% if img %}
              {{ image(img, "width-400") }}
            {% else %}
              <img src="/media/img/logos/firefox/firefox-logo.svg" alt="" aria-hidden />
            {% endif %}
          </content:media>
          <content:heading>
            {% set superheading = card.get_superheading() %}
            <include:heading
              level="h3"
              heading_text="{{ card.get_title()|safe }}"
              superheading_text="{{ superheading }}"
            />
          </content:heading>
          <content:body>
            {{ card.get_description()|safe }}
          </content:body>
          <content:buttons>
            <a href="{{ card.article.url }}">
              {{ card.get_link_label() }}
            </a>
          </content:buttons>
        </include:illustration-card-2026>
    {% endfor %}

  </include:cards-list>
{% elif value.settings.card_type == "icon_card" %}
  <include:cards-list>
    {% for card in value.cards %}
        <include:illustration-card-2026 variant="icon">
          <content:media>
            {% set icon_name = card.overrides.icon or (card.article.icon and card.article.icon.name) or "globe" %}
            <include:icon
              icon_name="{{ icon_name }}"
              hidden="true"
            />
          </content:media>
          <content:heading>
            <include:heading
              level="h3"
              heading_text="{{ card.get_title()|safe }}"
            />
          </content:heading>
          <content:body>
            {{ card.get_description()|safe }}
          </content:body>
          <content:buttons>
            <a href="{{ card.article.url }}">
              {{ card.get_link_label() }}
            </a>
          </content:buttons>
        </include:illustration-card-2026>
    {% endfor %}
  </include:cards-list>
{% elif value.settings.card_type == "illustration_card" %}
  <include:cards-list>
    {% for card in value.cards %}
        <include:illustration-card-2026>
          <content:media>
            {% set img = card.overrides.image or card.article.featured_image %}
            {% if img %}
              {{ srcset_image(
                img,
                "width-{200,400,600,800,1000,1200,1400}",
                sizes="
                  (min-width: 768px) 50vw,
                  (min-width: 1440px) 680px,
                  100vw
                ",
                width=img.width,
                height=img.height,
                loading="lazy",
              ) }}
            {% else %}
              <img src="/media/img/firefox/flare/card-placeholder.png" alt="" aria-hidden />
            {% endif %}
          </content:media>
          <content:heading>
            {% set superheading = card.get_superheading() %}
            <include:heading
              level="h3"
              heading_text="{{ card.get_title()|safe }}"
              superheading_text="{{ superheading }}"
            />
          </content:heading>
          <content:body>
            {{ card.get_description()|safe }}
          </content:body>
          <content:buttons>
            <a href="{{ card.article.url }}">
              {{ card.get_link_label() }}
            </a>
          </content:buttons>
        </include:illustration-card-2026>
    {% endfor %}
  </include:cards-list>
{% endif %}
