{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:stacked-article-list-item
  title={{ value.article.title }}
  description={{ value.article.description }}
  link_text={{ value.article.link_text }}
  url={{ value.article.url }}
>
  <content:icon>
    {{ image(value.article.icon, "width-400") }}
  </content:icon>
</include:stacked-article-list-item>
