{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:conditional-display condition="{{ value.settings.show_to }}">
  <include:banner
    theme="{{ value.settings.theme }}"
    media_after="{{ value.settings.media_after }}"
    full_width="{{ value.settings.full_width }}"
    brand_image_position="{{ value.settings.brand_image_position}}"
    brand_image_size="{{ value.settings.brand_image_size }}"
    qr_code="{{ value.qr_code }}"
    media_url="{% if value.image %}{{ image(value.image, 'width-800').url }}{% endif %}">

    <content:heading>
      {% set heading_level = 'h' ~ block_level if block_level else 'h2' %}
      <include:heading
        level="{{ heading_level }}"
        heading_text="{{ value.heading.heading_text|richtext|remove_p_tag }}"
        heading_size="heading-size-2"
        alignment_class=""
        superheading_text="{{ value.heading.superheading_text|richtext|remove_p_tag }}"
      />
    </content:heading>

    <content:subheading>
      <include:subheading
        subheading_text="{{ value.heading.subheading_text|richtext|remove_p_tag }}"
        size="subheading-4"
        alignment_class=""
      />
    </content:subheading>

    {% if value.image %}
      <content:media>
        <include:image url="{{ image(value.image, 'width-800').url }}" alt="{{ value.image.alt }}" />
      </content:media>
    {% endif %}

    {% if value.qr_code %}
      <content:qr>
        {{ qrcode(value.qr_code, 12) }}
      </content:qr>
    {% endif %}

    {% if value.brand_image %}
      <content:brand>
        <include:image url="{{ image(value.brand_image, 'width-800').url }}" alt="{{ value.brand_image.alt }}" />
      </content:brand>
    {% endif %}

    {% if value.buttons %}
      <content:actions>
        <div class="buttons">
          {% set data = namespace(buttons=[]) %}
          {% for button in value.buttons %}
            {% set _ = data.buttons.append({
              "label": button.label,
              "link": button.link,
              "external": button.settings.external,
              "theme_class": button.theme_class(),
              "icon_name": button.settings.icon_name,
              "icon_position": button.settings.icon_position,
            }) %}
          {% endfor %}
          <include:buttons
            buttons="{{ data.buttons }}"
            center="{% if not value.image and not value.qr_code and value.settings.brand_image_size != 'large'%}true{% endif %}"
            orientation="horizontal"
          />
        </div>
      </content:actions>
    {% endif %}
  </include:banner>
</include:conditional-display>
