{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:button
  center_class="{{ value.center_class() }}"
  theme_class="{{ value.theme_class() }}"
  link="{{ value.link }}"
  external="{{ value.external }}"
  disabled="{{ value.disabled }}"
  icon_name="{{ value.icon }}"
  icon_position="{{ value.icon_position }}"
  label="{{ value.label }}"
/>
