{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_level = block_level or 1 %}
{% set is_scroll = value.settings.scroll if value.settings is defined else False %}

<include:cards-list
  container_width="{{ container_width }}"
  cards_per_row="{{ cards_per_row }}"
  two_wide_xs="{{ two_wide_xs }}"
  scroll="{{ is_scroll }}">
  {% for card in value.cards %}
    {% set card_index = loop.index %}
    {% set block_position = block_position ~ ".card-" ~ card_index %}
    {% if is_scroll %}<div class="fl-card-grid-scroll-item">{% endif %}
    {% include_block card %}
    {% if is_scroll %}</div>{% endif %}
  {% endfor %}
</include:cards-list>
