{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_text =  value.headline|richtext|remove_tags %}
{% set heading_level = 'h' ~ block_level if block_level else 'h3' %}

<include:conditional-display
  platform_conditions="{{ value.settings.show_to.platforms }}"
  firefox_condition="{{ value.settings.show_to.firefox }}"
  auth_state_condition="{{ value.settings.show_to.auth_state }}"
  default_browser_condition="{{ value.settings.show_to.default_browser }}"
  min_version="{{ value.settings.show_to.min_version }}"
  max_version="{{ value.settings.show_to.max_version }}">
  <include:card-2026
    expand_link="{{ value.settings.expand_link }}"
    variant="{{ value.settings.variant }}"
    media_type="{{
      'sticker' if value.sticker and value.sticker.image
      else 'icon' if value.icon
      else 'media' if value.media
      else None
    }}"
  >
    {% if (value.sticker and value.sticker.image) or value.media %}
    <content:media>
      {% if value.sticker %}
        {% include_block value.sticker %}
      {% endif %}
      {% for block in value.media %}
        {% include_block block %}
      {% endfor %}
    </content:media>
    {% endif %}
    <content:sticker>
      {% if value.sticker and value.sticker.image %}
        {% include_block value.sticker %}
      {% endif %}
    </content:sticker>
    <content:heading>
      <include:heading
        level="{{ heading_level }}"
        heading_text="{{ value.headline|richtext|remove_p_tag }}"
        superheading_text="{{ value.eyebrow|richtext|remove_p_tag if value.eyebrow else None }}"
      />
    </content:heading>
    <content:body>
      {{ value.content|richtext }}
    </content:body>
      {% if value.buttons %}
      <content:buttons>
        {% for button in value.buttons %}
          {% set block_position = block_position ~ ".button-" ~ loop.index %}
          {% include_block button %}
        {% endfor %}
      </content:buttons>
      {% endif %}
  </include:card-2026>
</include:conditional-display>
