{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:comparison-table mobile_behavior="{{ value.mobile_behavior }}">
  <content:header>
    {% for header_row in value.header_row %}
      <tr>
        {% for cell in header_row.cells %}
          {% set cell_tag = 'th' if cell.content else 'td' %}
          <{{ cell_tag }}
            {% if cell.content %}
              scope="col"
            {% endif %}

            {% if cell.column_span|int > 1 %}
              colspan="{{ cell.column_span }}"
            {% endif %}

            {% if value.highlighted_column and value.highlighted_column|int == loop.index %}
              class="highlighted"
            {% endif %}
          >
            {{ cell.content }}
          </{{ cell_tag }}>
        {% endfor %}
      </tr>
    {% endfor %}
  </content:header>

  <content:body>
    {% for row in value.content_rows %}
      <tr>
        {% for cell in row.cells %}
          {% set cell_tag = 'th' if loop.first and cell.content else 'td' %}
          <{{ cell_tag }}
            {% if cell_tag == 'th' %}
              scope="row"
            {% endif %}

            {% if cell.column_span|int > 1 %}
              colspan="{{ cell.column_span }}"
            {% endif %}

            {% if value.highlighted_column and value.highlighted_column|int == loop.index %}
              class="highlighted"
            {% endif %}
          >
            {{ cell.content }}
          </{{ cell_tag }}>
        {% endfor %}
      </tr>
    {% endfor %}
  </content:body>
</include:comparison-table>
