{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set cta_text = block_text ~ " - " ~ value.label %}
{% set icon_name = value.settings.icon %}

<include:download-firefox-button
  analytics_id="{{ value.settings.analytics_id }}"
  theme_class="{{ value.theme_class() }}"
  label="{{ value.label }}"
  cta_text="{{ cta_text }}"
  block_position="{{ block_position }}"
  icon_position="{{ value.settings.icon_position }}"
  icon_name="{{ value.settings.icon }}"
  show_default_browser_checkbox="{{ value.settings.show_default_browser_checkbox }}"
  enable_marketing_attribution="{{ 'true' if page is defined and page.enable_marketing_attribution else '' }}"
  show_store_button=true
  exclude_unsupported_content="{{ not value.settings.show_extra_links }}"
/>
