
{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set img = value.overrides.image or value.article.featured_image %}
{% set article_tag = value.article.tag.name if value.article.tag else "" %}
{% set tag = value.overrides.superheading or article_tag %}
{% set heading = value.overrides.title|richtext|remove_p_tag if value.overrides.title else value.article.title %}
{% set description = value.overrides.description if value.overrides.description else value.article.description %}

<include:illustration-card-2026 expand_link="true">
  <content:media>
    {% if img %}
      {{ srcset_image(
          img,
          "width-{200,400,600,800,1000,1200,1400}",
          sizes="
            (min-width: 768px) 50vw,
            (min-width: 1440px) 680px,
            100vw
          ",
          width=img.width,
          height=img.height,
          loading="lazy",
        ) }}
      {% else %}
        <img src="/media/img/firefox/flare/placeholder.png" alt="" />
      {% endif %}
  </content:media>
  <content:heading>

    {% if tag %}
      <p class="fl-superheading">
        {{ tag }}
      </p>
    {% endif %}
    <h3 class="fl-heading fl-heading-size-3">
      <a href="{{ value.article.url }}" class="fl-card-heading-link fl-link-expand">
      {{ heading }}
      </a>
    </h3>
  </content:heading>
  <content:body>
    {{ description|richtext }}
  </content:body>
</include:illustration-card-2026>
