{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set campaign = (utm_parameters or {}).get("utm_campaign", "firefox-browsers-mobile") %}
{% set link = play_store_url('focus', campaign) if value.store == "android" else app_store_url('focus', campaign) %}

<include:button
  theme_class="{{ value.theme_class() }}"
  label="{{ button_label or '' }}"
  size_class="{{ value.size_class() }}"
  link="{{ link }}"
  external="{{ True }}"
  icon_name="{{ value.settings.icon_name }}"
  icon_position="{{ value.settings.icon_position }}"
  analytics_text="{{ block_text or '' }}"
  analytics_position="{{ block_position }}"
  analytics_id="{{ value.settings.analytics_id }}"
/>
