{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# analytics_text / utm_campaign use the stable English label so analytics aggregate across locales #}
{% set block_text = block_text ~ " - " ~ (button_label_en_us or "") %}

{% set utm_parameters = utm_parameters or {
  "utm_source": "www.firefox.com",
  "utm_medium": "referral",
  "utm_campaign": (button_label_en_us or "").lower().replace(" ", "_"),
} %}

<include:fxa_button
  theme_class="{{ value.theme_class() }}"
  label="{{ button_label or '' }}"
  size_class="{{ value.size_class() }}"
  icon_name="{{ value.settings.icon }}"
  icon_position="{{ value.settings.icon_position }}"
  analytics_text="{{ block_text }}"
  analytics_position="{{ block_position }}"
  analytics_id="{{ value.settings.analytics_id }}"
  utm_parameters="{{ utm_parameters }}"
/>
