{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_position = block_position or "home_intro" %}
{% set block_text = value.heading.heading_text|richtext|remove_tags %}

<section class="fl-section">
  <div class="fl-section-container">
<div class="fl-home-intro">
  <include:intro>
    <content:heading>
      {% include_block value.heading %}
    </content:heading>
    <content:actions>
      {% if value.buttons %}
        <div class="fl-buttons">
          {% for button in value.buttons %}
            {% set block_position = block_position + "." + "button-" ~ loop.index %}
            {% include_block button %}
          {% endfor %}
        </div>
      {% endif %}
    </content:actions>
  </include:intro>
</div>
</div>
</section>
