{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<article class="fl-card fl-card-fill fl-illustration-card {% if value.settings.image_after %}fl-illustration-card-reverse{% endif %} {% if value.settings.expand_link %}expand-link{% endif %}">

  <div class="media">
    {{ srcset_image(
        value.image,
        "width-{200,400,600,800,1000,1200,1400}",
        sizes="
          (min-width: 768px) 50vw,
          (min-width: 1024px) 30vw,
          (min-width: 1440px) 500px,
          100vw
        ",
        width=(value.image.width / 2)|round|int,
        loading="lazy"
      ) }}
  </div>

  <div class="card-content">
    {% set heading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}
    <{{ heading_level }} class="heading heading-size-3">{{ value.headline|richtext|remove_p_tag }}</{{ heading_level }}>
    <div class="body">{{ value.content }}</div>
    {% if value.buttons %}
      <div class="buttons">
        {% for button in value.buttons %}
          {% include_block button %}
        {% endfor %}
      </div>
    {% endif %}
    {% if value.uitour_buttons %}
      {% for button in value.uitour_buttons %}
        {% include_block button %}
      {% endfor %}
    {% endif %}
  </div>
</article>
