{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_text =  value.headline|richtext|remove_tags %}
{% set heading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}

<include:illustration-card
  image_after="{{ value.settings.image_after }}"
  expand_link="{{ value.settings.expand_link }}"
>
  <content:media>
    <div class="light-dark-display">
      {% if value.dark_image %}
        {{ srcset_image(
            value.dark_image,
            "width-{200,400,600,800,1000,1200,1400}",
            sizes="
              (min-width: 768px) 50vw,
              (min-width: 1024px) 30vw,
              (min-width: 1440px) 500px,
              100vw
            ",
            width=value.dark_image.width,
            loading="lazy",
            class="display-dark",
          ) }}
      {% endif %}
      {{ srcset_image(
          value.image,
          "width-{200,400,600,800,1000,1200,1400}",
          sizes="
            (min-width: 768px) 50vw,
            (min-width: 1024px) 30vw,
            (min-width: 1440px) 500px,
            100vw
          ",
          width=value.image.width,
          loading="lazy",
          class="display-light",
        ) }}
      </div>
  </content:media>
  <content:heading>
    {% if value.tags %}
      <div>
        {% for tag in value.tags %}
          {% include_block tag %}
        {% endfor %}
      </div>
    {% endif %}
    <include:heading
      level="{{ heading_level }}"
      heading_size="fl-heading-size-3"
      heading_text="{{ value.headline|richtext|remove_p_tag }}"
    />
  </content:heading>
  <content:body>
    {{ value.content }}
  </content:body>
    {% if value.buttons %}
    <content:buttons>
      {% for button in value.buttons %}
        {% set block_position = block_position ~ ".button-" ~ loop.index %}
        {% include_block button %}
      {% endfor %}
    </content:buttons>
    {% endif %}
</include:illustration-card>
