{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set sizes = sizes or "(min-width: 1200px) 680px, (min-width: 600px) 50vw, 100vw" %}
{% set widths = widths or "width-{200,400,600,800,1000,1200,1400,2000}" %}
{% set break_at = break_at or "sm" %}

<div class="image-variants-display">
{# Default/desktop light mode image #}
  {%- set default_display_classes -%}
    {% if value.settings.dark_mode_image %}display-light {% endif %}
    {% if value.settings.mobile_image or value.settings.dark_mode_mobile_image %}
    {% if break_at == "md" %}display-md-up{% else %}display-sm-up{% endif %}
    {% endif %}
  {%- endset -%}

{{ srcset_image(
    value.image,
    widths,
    sizes=sizes,
    width=value.image.width,
    height=value.image.height,
    loading="lazy",
    class=default_display_classes,
) }}

{# Light mode mobile image #}
{% if value.settings.mobile_image %}
  {%- set mobile_classes -%}
    {% if value.settings.dark_mode_mobile_image %}display-light {% endif %}
    {% if break_at == "md" %}display-xs-and-sm{% else %}display-xs{% endif %}
  {%- endset -%}
  {{ srcset_image(
      value.settings.mobile_image,
      widths,
      sizes=sizes,
      width=value.settings.mobile_image.width,
      height=value.settings.mobile_image.height,
      loading="lazy",
      class=mobile_classes,
  ) }}
{% endif %}

{# Dark mode mobile image #}
{% if value.settings.dark_mode_mobile_image %}
  {%- set dark_mobile_classes -%}
    display-dark {% if break_at == "md" %}display-xs-and-sm{% else %}display-xs{% endif %}
  {%- endset -%}

  {{ srcset_image(
      value.settings.dark_mode_mobile_image,
      widths,
      sizes=sizes,
      width=value.settings.dark_mode_mobile_image.width,
      height=value.settings.dark_mode_mobile_image.height,
      loading="lazy",
      class=dark_mobile_classes,
  ) }}
{% endif %}

{# Dark mode desktop image #}
{% if value.settings.dark_mode_image %}
{%- set dark_desktop_classes -%}
  display-dark
  {% if value.settings.dark_mode_mobile_image %}
    {% if break_at == "md" %}display-md-up{% else %}display-sm-up{% endif %}
  {% endif %}
{%- endset -%}

  {{ srcset_image(
      value.settings.dark_mode_image,
      widths,
      sizes=sizes,
      width=value.settings.dark_mode_image.width,
      height=value.settings.dark_mode_image.height,
      loading="lazy",
      class=dark_desktop_classes,
  ) }}
{% endif %}
</div>
