
{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set sizes = sizes or "(min-width: 1200px) 680px, (min-width: 600px) 50vw, 100vw" %}

<div class="light-dark-display">
  {% if value.dark_image %}
    {{ srcset_image(
        value.dark_image,
        "width-{200,400,600,800,1000,1200,1400}",
        sizes=sizes,
        width=value.dark_image.width,
        height=value.dark_image.height,
        loading="lazy",
        class="display-dark",
    ) }}
  {% endif %}
  {{ srcset_image(
      value.image,
      "width-{200,400,600,800,1000,1200,1400}",
      sizes=sizes,
      width=value.image.width,
      height=value.image.height,
      loading="lazy",
      class="display-light",
  ) }}
</div>
