
{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set row_heading_level = 'h' ~ block_level if block_level else 'h2' %}
{% set block_text =  value.headline|richtext|remove_tags %}

<include:media-content media_after="{{ value.settings.media_after }}" narrow="{{ value.settings.narrow }}">
  {% if value.eyebrow %}
    <content:eyebrow>
      {{ value.eyebrow|richtext|remove_p_tag }}
    </content:eyebrow>
  {% endif %}

  <content:heading>
    <{{ row_heading_level }} class="fl-heading fl-heading-size-3">{{ value.headline|richtext|remove_p_tag }}</{{ row_heading_level }}>
  </content:heading>

  {% if value.tags %}
    <content:tags>
      {% for tag in value.tags %}
        {% include_block tag %}
      {% endfor %}
    </content:tags>
  {% endif %}

  <content:body>
    {% for block in value.content %}
      {# In case a block with a heading is included, increment the block level #}
      {# Add 1 because this block already has a heading #}
      {% with block_level = block_level + 1 if block_level else 3 %}
        {% if block.block_type == "rich_text" %}
          {# Make sure to use our custom richtext filter to add UTM parameters and other attributes #}
          {{ block.value|richtext }}
        {% else %}
          {% include_block block %}
        {% endif %}
      {% endwith %}
    {% endfor %}
  </content:body>

  {% if value.buttons %}
    <content:buttons>
      {% if value.buttons %}
          {% for button in value.buttons %}
            {% set block_position = block_position ~ ".button-" ~ loop.index %}
            {% include_block button %}
          {% endfor %}
      {% endif %}
    </content:buttons>
  {% endif %}

  {% if value.media %}
    <content:media>
      {% for block in value.media %}
        {% include_block block %}
      {% endfor %}
    </content:media>
  {% endif %}
</include:media-content>
