
{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set row_heading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}
<div class="fl-mediacontent fl-mediacontent-feature {% if value.settings.media_after %}fl-mediacontent-reverse{% endif %}">
  <div class="fl-mediacontent-media" aria-hidden="true">
    {% if value.embed %}
      {# Jinja interprets the HTML from the embed block as a string #}
      {% autoescape false %}
        {% include_block value.embed %}
      {% endautoescape %}
    {% elif value.image %}
      {{ image(value.image, "width-800") }}
    {% endif %}
  </div>
  <div class="fl-mediacontent-content">
    <p class="fl-mediacontent-eyebrow">{{ value.eyebrow|richtext|remove_p_tag }}</p>
    <{{ row_heading_level }} class="heading heading-size-4">{{ value.headline|richtext|remove_p_tag }}</{{ row_heading_level }}>
    <div class="body">
      {{ value.content }}
    </div>
    {% if value.buttons %}
      <div class="buttons">
        {% for button in value.buttons %}
          {% include_block button %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
