{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:conditional-display
  platform_conditions="{{ value.settings.show_to.platforms }}"
  firefox_condition="{{ value.settings.show_to.firefox }}"
  auth_state_condition="{{ value.settings.show_to.auth_state }}"
  default_browser_condition="{{ value.settings.show_to.default_browser }}"
  min_version="{{ value.settings.show_to.min_version }}"
  max_version="{{ value.settings.show_to.max_version }}">
  <include:pencil-banner
    dismissable="{{ value.settings.dismissable }}"
    link="{{ value.link }}"
    title="{{ value.title|richtext|remove_p_tag }}"
    description="{{ value.description|richtext|remove_p_tag }}"
  />
</include:conditional-display>
