{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<figure class="fl-quote">
  <blockquote class="fl-body">
    {{ value.quote|richtext }}
  </blockquote>
  {% if value.author %}
    <figcaption class="fl-quote-author fl-body fl-body-small">
      <span>{{ value.author }}</span>
      {% if value.authors_title %}
        <span class="fl-quote-authors-title">{{ value.authors_title }}</span>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>
