{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set heading_level = 'h' ~ block_level if block_level else 'h2' %}
{% set subheading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}

<include:resources>
  {% for column in value.columns %}
    {% set block_text = column.headline|richtext|remove_tags %}
    {% set block_position = block_position ~ ".column-" ~ loop.index %}
    <include:resources-column>
      <content:heading>
        <include:heading
          level="{{ heading_level }}"
          heading_size="fl-heading-size-3"
          heading_text="{{ column.headline|richtext|remove_p_tag }}"
        />
      </content:heading>
      {% set links = namespace(list_open=false, count=0) %}
      {% for item in column.list_items %}
        {% if item.block_type == "subheading" %}
          {% if links.list_open %}</ul>{% set links.list_open = false %}{% endif %}
          <include:heading
            level="{{ subheading_level }}"
            heading_size="fl-heading-size-4"
            heading_text="{{ item.value|richtext|remove_p_tag }}"
          />
        {% else %}
          {% if not links.list_open %}<ul class="fl-resources-list">{% set links.list_open = true %}{% endif %}
          {% set links.count = links.count + 1 %}
          {% set block_position = block_position ~ ".link-" ~ links.count %}
          {% include_block item %}
        {% endif %}
      {% endfor %}
      {% if links.list_open %}</ul>{% endif %}
    </include:resources-column>
  {% endfor %}
</include:resources>
