{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set heading_level = 'h' ~ block_level if block_level else 'h2' %}

{% if roadmap_sections == 1 %}
  <include:roadmap-list-filter
    tags="{{ value.get_tag_settings() }}"
    last_updated="{{ ftl('roadmap-last-updated', date=page.last_published_at|date('DATE_FORMAT')) if page and page.last_published_at else '' }}"
  />
{% endif %}

<include:roadmap-list-section>
  <content:heading>
    <button
      type="button"
      class="fl-roadmap-section-toggle"
      aria-expanded="true"
    >
      <{{ heading_level }} class="fl-heading">
        {{ value.headline }}
        <span class="fl-icon fl-icon-add"></span>
        <span class="fl-icon fl-icon-subtract"></span>
      </{{ heading_level }}>
      {% if value.subheadline %}
        <p class="fl-subheading">{{ value.subheadline }}</p>
      {% endif %}
    </button>
  </content:heading>

  <content:list_items>
    {% for item in value.list_items %}
      {% set item_block_position = block_position ~ ".item-" ~ loop.index %}

      <include:roadmap-item data_tags="{{ ','.join(item.tags) }}">
        {% if item.icon %}
          <content:icon>
            <include:icon icon_name="{{ item.icon }}" hidden="true" />
          </content:icon>
        {% endif %}

        <content:header>
          {% set item_heading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}
          <{{ item_heading_level }} class="fl-heading">
            {{ item.title }}
            {% if item.status %}
              <span class="fl-roadmap-status fl-roadmap-status-{{ item.status }}">{{ item.get_status_label() }}</span>
            {% endif %}
          </{{ item_heading_level }}>
        </content:header>

        {% if item.get_tags() %}
          <content:tags>
            {% for tag in item.get_tags() %}
              <span data-tag="{{ tag.value }}">
                <include:tag
                  text="{{ tag.label }}"
                  before_icon="{{ tag.icon }}"
                />
              </span>
            {% endfor %}
          </content:tags>
        {% endif %}

        <content:body>
          {{ item.description|richtext }}
        </content:body>

        {% if item.buttons %}
          <content:buttons>
            {% for button in item.buttons %}
              {% set block_position = item_block_position ~ ".button-" ~ loop.index %}
              {% set block_text = item.title %}
              {% include_block button %}
            {% endfor %}
          </content:buttons>
        {% endif %}

      </include:roadmap-item>
    {% endfor %}
  </content:list_items>
</include:roadmap-list-section>
