{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set heading_text = value.heading_text|richtext|remove_p_tag if value.heading_text else '' %}
{% set superheading_text = value.superheading_text|richtext|remove_p_tag if value.superheading_text else '' %}
{% set subheading_text = value.subheading_text|richtext|remove_p_tag if value.subheading_text else '' %}
{% set level = 'h' ~ block_index if block_index else 'h2' %}

<include:heading
  level="{{ level }}"
  heading_text="{{ heading_text }}"
  superheading_text="{{ superheading_text }}"
  subheading_text="{{ subheading_text }}"
  subheading_size=""
  alignment_class=""
/>
