{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:section>
  <content:heading>
    {% with alignment_class="text-center" %}
      {% include_block value.heading %}
    {% endwith %}
  </content:heading>
  <content:content>
    <include:cards-list length="{{ value.cards|length }}">
      <content:cards>
        {% for card in value.cards %}
          {% set card_index = loop.index0 %}
          {% include_block card %}
        {% endfor %}
      </content:cards>
    </include:cards-list>
  </content:content>
</include:section>
