{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_text =  value.headline|richtext|remove_tags %}

<article class="fl-card fl-card-fill fl-illustration-card {% if card.settings.expand_link %}expand-link{% endif %}">

  <div class="media">
    <div class="light-dark-display">
      {% if value.dark_image %}
        {{ srcset_image(
            value.dark_image,
            "width-{200,400,600,800,1000,1200,1400}",
            sizes="
              (min-width: 768px) 50vw,
              (min-width: 1024px) 30vw,
              (min-width: 1440px) 500px,
              100vw
            ",
            width=(value.dark_image.width / 2)|round|int,
            loading="lazy",
            class="display-dark",
          ) }}
      {% endif %}
      {{ srcset_image(
          value.image,
          "width-{200,400,600,800,1000,1200,1400}",
          sizes="
            (min-width: 768px) 50vw,
            (min-width: 1024px) 30vw,
            (min-width: 1440px) 500px,
            100vw
          ",
          width=(value.image.width / 2)|round|int,
          loading="lazy",
          class="display-light",
        ) }}
    </div>
  </div>

  <div class="card-content">
    <hgroup>
      {% set heading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}
      {% set superheading_level = 'h' ~ (block_level + 2) if block_level else 'h4' %}
      <{{ superheading_level }} class="fl-superheading">{{ ftl('block-step-card-step', number="{:02d}".format(card_index)) }}</{{ superheading_level }}>
      <{{ heading_level }} class="heading heading-size-3">{{ value.headline|richtext|remove_p_tag }}</{{ heading_level }}>
    </hgroup>
    <div class="body">{{ value.content }}</div>
    {% if value.buttons %}
      <div class="buttons">
        {% for button in value.buttons %}
          {% set block_position = block_position ~ ".button-" ~ loop.index %}
          {% include_block button %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</article>
