{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_text =  value.headline|richtext|remove_tags %}
{% set heading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}

<include:conditional-display condition="{{ value.settings.show_to }}">
  <include:illustration-card
    expand_link="{{ card.settings.expand_link }}"
  >
    <content:media>
      {% set sizes = "(min-width: 768px) 50vw, (min-width: 1024px) 30vw, (min-width: 1440px) 500px, 100vw" %}
      <div class="image-variants-display">
        {% set light_class = "display-light" if value.dark_image else "" %}
        {{ srcset_image(
            value.image,
            "width-{200,400,600,800,1000,1200,1400}",
            sizes=sizes,
            width=value.image.width,
            height=value.image.height,
            loading="lazy",
            class=light_class,
        ) }}
        {% if value.dark_image %}
          {{ srcset_image(
              value.dark_image,
              "width-{200,400,600,800,1000,1200,1400}",
              sizes=sizes,
              width=value.dark_image.width,
              height=value.dark_image.height,
              loading="lazy",
              class="display-dark",
          ) }}
        {% endif %}
      </div>
    </content:media>
    <content:heading>
      {% if value.tags %}
        <div>
          {% for tag in value.tags %}
            {% include_block tag %}
          {% endfor %}
        </div>
      {% endif %}
      <include:heading
        level="{{ heading_level }}"
        heading_size="fl-heading-size-3"
        heading_text="{{ value.headline|richtext|remove_p_tag }}"
        superheading_text="{{ ftl('block-step-card-step', number='{:02d}'.format(card_index)) }}"
      />
    </content:heading>
    <content:body>
      {{ value.content }}
    </content:body>
      {% if value.buttons %}
      <content:buttons>
        {% for button in value.buttons %}
          {% set block_position = block_position ~ ".button-" ~ loop.index %}
          {% include_block button %}
        {% endfor %}
      </content:buttons>
      {% endif %}
  </include:illustration-card>
</include:conditional-display>
