{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<article class="wnp-card">
  <div>
    {% for tag in value.tags %}
      {% include_block tag %}
    {% endfor %}
  </div>
  {% set heading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}
  <{{ heading_level }} class="wnp-subtitle">{{ value.headline|richtext|remove_p_tag }}</{{ heading_level }}>
  <div class="wnp-text">{{ value.content }}</div>
  {% if value.button %}
    {% for button in value.button %}
      {% include_block button %}
    {% endfor %}
  {% endif %}
</article>
