{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_text = block_text ~ " - " ~ value.label %}

<include:tag-button
  theme_class="{{ value.theme_class() }}"
  label="{{ value.label }}"
  link="{{ value.link.get_url()|add_utm_parameters }}"
  tag="{{ value.tag }}"
  external="{{ value.link.new_window }}"
  icon_name="{{ value.settings.icon }}"
  icon_position="{{ value.settings.icon_position }}"
  analytics_text="{{ block_text }}"
  analytics_position="{{ block_position }}"
  analytics_id="{{ value.settings.analytics_id }}"
/>
