{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:tag
  text="{{ value.title }}"
  color="{{ value.color }}"
  corners="{{ value.corners }}"
>
  {% if value.icon and value.icon_position == 'before' %}
    <content:before_icon>
      <include:icon icon_name="{{ value.icon }}" hidden=true extra_class="icon-left" />
    </content:before_icon>
  {% endif %}
  {% if value.icon and value.icon_position == 'after' %}
    <content:after_icon>
      <include:icon icon_name="{{ value.icon }}" hidden=true extra_class="icon-right" />
    </content:after_icon>
  {% endif %}
</include:tag>
