{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# analytics_text uses the stable English label so analytics aggregate across locales #}
{% set cta_text = (block_text ~ " - " if block_text else "") ~ (button_label_en_us or "") %}

<include:uitour_button
  theme_class="{{ value.theme_class() }}"
  label="{{ button_label or '' }}"
  size_class="{{ value.size_class() }}"
  icon_name="{{ value.settings.icon }}"
  icon_position="{{ value.settings.icon_position }}"
  analytics_text="{{ cta_text }}"
  analytics_position="{{ block_position }}"
  analytics_id="{{ value.settings.analytics_id }}"
/>
