// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'sass:math';

$image-path: '/media/protocol/img';

@import '~@mozilla-protocol/core/protocol/css/includes/lib';

@import '~@mozilla-protocol/core/protocol/css/templates/multi-column';

@import '~@mozilla-protocol/core/protocol/css/components/logos/logo';
@import '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-firefox';
@import '~@mozilla-protocol/core/protocol/css/components/picto';
@import '~@mozilla-protocol/core/protocol/css/components/callout';
@import '~@mozilla-protocol/core/protocol/css/components/section-heading';


.mzp-c-callout .mzp-l-content .mzp-t-callout-brand {
  margin: 16px auto;
}

.c-protect {
    @supports (--css: variable) {
        padding-bottom: calc(var(--v-grid-xs) * 2 );

        @media #{$mq-md} {
            padding-bottom: calc(var(--v-grid-md) * 2 );
        }

        @media #{$mq-xl} {
            padding-bottom: calc(var(--v-grid-xl) * 2 );
        }
    }
}
