// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use 'sass:math';

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($image-path: '/media/protocol/img');

@use '~@mozilla-protocol/core/protocol/css/templates/multi-column';

@use '~@mozilla-protocol/core/protocol/css/components/logos/logo';
@use '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-firefox';
@use '~@mozilla-protocol/core/protocol/css/components/picto';
@use '~@mozilla-protocol/core/protocol/css/components/callout';
@use '~@mozilla-protocol/core/protocol/css/components/section-heading';


.mzp-c-callout .mzp-l-content .mzp-t-callout-brand {
  margin: 16px auto;
}

.c-protect {
    @supports (--css: variable) {
        padding-bottom: calc(var(--v-grid-xs) * 2 );

        @media #{$mq-md} {
            padding-bottom: calc(var(--v-grid-md) * 2 );
        }

        @media #{$mq-xl} {
            padding-bottom: calc(var(--v-grid-xl) * 2 );
        }
    }
}

.not-firefox .is-not-firefox-show {
    display: block;
}

.not-firefox .is-firefox-show {
    display: none;
}

.is-firefox .is-not-firefox-show {
    display: none;
}

.is-firefox .is-firefox-show {
    visibility: hidden;
}

.is-firefox .c-intro .is-firefox-show {
    margin-bottom: -55px;
}

.is-firefox .check-finished .is-firefox-show {
    visibility: visible;
}

.is-firefox .check-finished.is-firefox-default .is-firefox-show {
    visibility: hidden;
}

.is-firefox .is-firefox-default .is-firefox-default-hide {
    display: none;
}
