{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set base_template = "cms/base-flare26.html" if switch("flare26_enabled") else "base-protocol.html" %}
{% extends base_template %}

{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block page_title %}Firefox 2025 Year in Review{% endblock %}
{% block page_desc %}A look back at what your Firefox did this year.{% endblock %}

{% block page_css %}
  {{ css_bundle('eoy_2025') }}
{% endblock %}

{% block body_class %}yir-2025{% endblock %}

{% block content %}
  {% if switch("flare26_enabled") %}
    {% include "firefox/landing/year-in-review-2025-flare26.html" %}
  {% else %}
    {% include "firefox/landing/year-in-review-2025-protocol.html" %}
  {% endif %}
{% endblock %}

{% block js %}
  {{ js_bundle('year_in_review') }}
{% endblock %}
