{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_position = block_position or "banner" %}
{% set block_text = value.heading.heading_text|richtext|remove_tags %}

{% set qr_code = null %}
{% if value.media and value.media[0].block_type == "qr_code" %}
  {% set qr_code = value.media[0].value.data %}
{% endif %}

<include:conditional-display condition="{{ value.settings.show_to }}">

  <include:banner
    theme="{{ value.settings.theme }}"
    media_after="{{ value.settings.media_after }}"
    qr_code="{{ qr_code }}"
  >

    <content:heading>
      {% set heading_level = 'h' ~ block_level if block_level else 'h2' %}
      <include:heading
        level="{{ heading_level }}"
        heading_size="fl-heading-size-2"
        alignment_class=""
        superheading_text="{{ value.heading.superheading_text|richtext|remove_p_tag }}"
        heading_text="{{ value.heading.heading_text|richtext|remove_p_tag }}"
        subheading_text="{{ value.heading.subheading_text|richtext|remove_p_tag }}"
        subheading_size="fl-subheading-4"
      />
    </content:heading>

    {% if value.media %}
      <content:media>
        {% for block in value.media %}
          {% if block.block_type in ["video", "image", "animation"] %}
            {% include_block block %}
          {% elif block.block_type == "qr_code" and block.value.background %}
            {{ srcset_image(
                block.value.background,
                "width-{200,400,600,800,1000,1200,1400}",
                sizes="
                  (min-width: 768px) 50vw,
                  (min-width: 1440px) 680px,
                  100vw
                ",
                width=block.value.background.width,
                height=block.value.background.height,
                loading="lazy"
              ) }}
          {% endif %}
        {% endfor %}
      </content:media>
    {% endif %}

    {% if value.buttons %}
      <content:actions>
        {% for button in value.buttons %}
          {% set block_position = block_position ~ ".button-" ~ loop.index %}
          {% include_block button %}
        {% endfor %}
      </content:actions>
    {% endif %}
  </include:banner>

</include:conditional-display>
