{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_text = value.heading.heading_text|richtext|remove_tags %}
{% set heading_level = 'h' ~ block_level if block_level else 'h2' %}
{% set card_heading_level = 'h' ~ (block_level + 1) if block_level else 'h3' %}

<include:card-gallery>
  <content:heading>
    {% with alignment_class="text-center" %}
      {% include_block value.heading %}
    {% endwith %}
  </content:heading>

  <content:main_card>
    <{{ card_heading_level }} class="fl-heading">
      <span class="fl-card-gallery-icon"><include:icon icon_name="{{ value.main_card.icon }}" /></span>
      {{ value.main_card.headline|richtext|remove_p_tag }}
    </{{ card_heading_level }}>
    <div class="fl-body">
      {{ value.main_card.description }}
    </div>
    {% if value.main_card.buttons %}
      <div class="fl-buttons">
        {% for button in value.main_card.buttons %}
          {% set block_position = block_position ~ ".main-card.button-" ~ loop.index %}
          {% include_block button %}
        {% endfor %}
      </div>
    {% endif %}
  </content:main_card>

  <content:main_card_image>
    {{ srcset_image(
        value.main_card.image,
        "width-{400,600,800,1000,1200}",
        sizes="
          (min-width: 900px) 70vw,
          100vw
        ",
        width=value.main_card.image.width,
        loading="lazy"
      ) }}
  </content:main_card_image>

  <content:secondary_card>
    <{{ card_heading_level }} class="fl-heading">
      <span class="fl-card-gallery-icon"><include:icon icon_name="{{ value.secondary_card.icon }}" /></span>
      {{ value.secondary_card.headline|richtext|remove_p_tag }}
    </{{ card_heading_level }}>
    <div class="fl-body">
      {{ value.secondary_card.description }}
    </div>
    {% if value.secondary_card.buttons %}
      <div class="fl-buttons">
        {% for button in value.secondary_card.buttons %}
          {% set block_position = block_position ~ ".secondary-card.button-" ~ loop.index %}
          {% include_block button %}
        {% endfor %}
      </div>
    {% endif %}
  </content:secondary_card>

  <content:secondary_card_image>
    {{ srcset_image(
        value.secondary_card.image,
        "width-{400,600,800,1000}",
        sizes="
          (min-width: 768px) 40vw,
          (min-width: 1024px) 30vw,
          100vw
        ",
        width=value.secondary_card.image.width,
        loading="lazy"
      ) }}
  </content:secondary_card_image>

  <content:callout_card>
    <{{ card_heading_level }} class="fl-heading">
      {{ value.callout_card.headline|richtext|remove_p_tag }}
    </{{ card_heading_level }}>
    <div class="fl-body">
      {{ value.callout_card.description }}
    </div>
    {% if value.callout_card.buttons %}
      <div class="fl-buttons">
        {% for button in value.callout_card.buttons %}
          {% set block_position = block_position ~ ".callout-card.button-" ~ loop.index %}
          {% include_block button %}
        {% endfor %}
      </div>
    {% endif %}
  </content:callout_card>

  {% if value.cta %}
    <content:cta>
      {% for cta in value.cta %}
        <a class="fl-section-cta-link"
          href="{{ cta.link.get_url()|add_utm_parameters }}"
          {% if cta.link.new_window %}target="_blank" rel="external noopener"{% endif %}
          data-cta-position="{{ block_position + ".cta" }}"
          data-cta-text="{{ block_text + " - " + cta.label }}"
          data-cta-uid="{{ cta.settings.analytics_id }}"
        >{{ cta.label }}</a>
      {% endfor %}
    </content:cta>
  {% endif %}
</include:card-gallery>
