{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros.html" import apple_app_store_button with context %}

{% set block_position = block_position or "get-mobile-ios-hero" %}
{% set heading_level = "h" ~ block_level if block_level else "h2" %}
{% set ios_url = app_store_url('firefox', 'firefox-browsers-mobile-ios') %}

<div class="fl-section" data-block-position="{{ block_position }}">
  <div class="fl-section-container">
    {% if value.show_s2d_form %}
      <include:intro slim vertical media_position="right">
        <content:heading>
          <img class="heading-logo" src="/media/protocol/img/logos/firefox/browser/logo-word-hor-white.svg" aria-hidden />
          {% if value.heading and value.heading.heading_text %}
            <include:heading
              level="{{ heading_level }}"
              heading_size="fl-heading-size-1"
              heading_text="{{ value.heading.heading_text|richtext|remove_p_tag }}"
              subheading_text="{{ value.heading.subheading_text|richtext|remove_p_tag if value.heading.subheading_text else '' }}"
            />
          {% endif %}
        </content:heading>

        <content:actions>
          <div class="fl-mobile-download-buttons">
            {{ apple_app_store_button(href=ios_url) }}
          </div>
        </content:actions>

        <content:media>
          <div class="fl-card fl-mobile-download-form">
            <div class="fl-newsletterform c-inline-form">
              {% if value.s2d_heading %}
                <h2 class="fl-heading fl-heading-sm c-inline-form-title">{{ value.s2d_heading }}</h2>
              {% endif %}
              {% set qr_url = "https://apps.apple.com/app/apple-store/id989804926?pt=373246&ct=firefox-browsers-mobile-ios&mt=8&mz_pr=firefox_mobile" %}
              {% if LANG in settings.SEND_TO_DEVICE_LOCALES %}
                {% if value.s2d_subheading %}
                  <p class="c-inline-form-body">{{ value.s2d_subheading }}</p>
                {% endif %}
                {{ send_to_device(include_title=False, message_set='fx-mobile-download-desktop', dom_id='s2d-hero') }}
              {% else %}
                <div class="qr-code-wrapper" id="firefox-qr">
                  {{ qrcode(qr_url) }}
                </div>
              {% endif %}
            </div>
          </div>
        </content:media>
      </include:intro>
    {% else %}
      <include:intro slim vertical full_width>
        <content:heading>
          {% if value.heading and value.heading.heading_text %}
            <include:heading
              level="{{ heading_level }}"
              heading_text="{{ value.heading.heading_text|richtext|remove_p_tag }}"
              subheading_text="{{ value.heading.subheading_text|richtext|remove_p_tag if value.heading.subheading_text else '' }}"
            />
          {% endif %}
        </content:heading>

        <content:actions>
          <div class="fl-mobile-download-buttons">
            {{ apple_app_store_button(href=ios_url) }}
          </div>
        </content:actions>
      </include:intro>
    {% endif %}
  </div>
</div>
