{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:intro media_position="{{ value.settings.media_position }}">
  <content:heading>
    {% include_block value.heading %}
  </content:heading>
  <content:actions>
    {% set block_position = block_position or "intro" %}
    {% set block_text = value.heading.heading_text|richtext|remove_tags %}
    {% if value.buttons %}
      <div class="buttons">
        {% for button in value.buttons %}
          {% set block_position = block_position + "." + "button-" ~ loop.index %}
          {% include_block button %}
        {% endfor %}
      </div>
    {% endif %}
  </content:actions>
  {% if value.fine_print %}
    <content:fine_print>
      {{ value.fine_print|richtext|remove_p_tag }}
    </content:fine_print>
  {% endif %}
  {% if value.image %}
    <content:media>
      <div class="light-dark-display">
        {% if value.dark_image %}
          {{ srcset_image(
              value.dark_image,
              "width-{200,400,600,800,1000,1200,1400}",
              sizes="
                (min-width: 768px) 50vw,
                (min-width: 1440px) 680px,
                100vw
              ",
              width=value.dark_image.width,
              loading="lazy",
              class="display-dark",
            ) }}
        {% endif %}
        {{ srcset_image(
            value.image,
            "width-{200,400,600,800,1000,1200,1400}",
            sizes="
              (min-width: 768px) 50vw,
              (min-width: 1440px) 680px,
              100vw
            ",
            width=value.image.width,
            loading="lazy",
            class="display-light",
          ) }}
      </div>
    </content:media>
  {% elif value.embed %}
    <content:media>
      {# Jinja interprets the HTML from the embed block as a string #}
      {% autoescape false %}
        {% include_block value.embed %}
      {% endautoescape %}
    </content:media>
  {% endif %}
</include:intro>
