{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:intro
  {% if value.settings.layout != "vertical" %}media_position="{{ value.settings.layout }}"{% endif %}
  anchor_id="{{ value.settings.anchor_id }}"
  vertical="{{ value.settings.layout == 'vertical' }}"
  slim="{{ value.settings.slim }}"
  remove_border_radius="{{ value.settings.remove_border_radius }}"
  full_width="{{ value.settings.full_width }}"
>
  <content:heading>
    {% if value.tags %}
      <div>
        {% set heading_level = 'h' ~ block_level if block_level else 'h2' %}
        <include:heading
          level="{{ heading_level }}"
          heading_size="fl-heading-size-{{ block_level }}"
          superheading_text="{{ value.heading.superheading_text|richtext|remove_p_tag }}"
          heading_text="{{ value.heading.heading_text|richtext|remove_p_tag }}"
        />
        <div class="fl-tags{% if not value.media %} center{% endif %}">
          {% for tag in value.tags %}
            {% include_block tag %}
          {% endfor %}
        </div>
        {% if value.heading.subheading_text %}
          <p class="fl-subheading">{{ value.heading.subheading_text|richtext|remove_p_tag }}</p>
        {% endif %}
      </div>
    {% else %}
      {% include_block value.heading %}
    {% endif %}
  </content:heading>
  {% if value.buttons %}
    <content:actions>
      {% set block_position = block_position or "intro" %}
      {% set block_text = value.heading.heading_text|richtext|remove_tags %}
        <div class="fl-buttons">
          {% for button in value.buttons %}
            {% set block_position = block_position + "." + "button-" ~ loop.index %}
            {% include_block button %}
          {% endfor %}
        </div>
    </content:actions>
  {% endif %}
  {% if value.media %}
    <content:media>
      {% set sizes = "(min-width: 1200px) 934px, (min-width: 600px) 50vw, 100vw" %}
      {% set widths = "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}" %}
      {% include_block value.media %}
    </content:media>
  {% endif %}
</include:intro>
