
{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set block_text = value.heading.heading_text|richtext|remove_tags %}

<include:conditional-display condition="{{ value.settings.show_to }}">
  <include:section anchor_id="{{ value.settings.anchor_id }}">
    <content:heading>
      {% with alignment_class="text-center" %}
        {% include_block value.heading %}
      {% endwith %}
    </content:heading>
    <content:content>
      {% for block in value.content %}
        {% set block_position = block_position ~ ".item-" ~ loop.index ~ "-" ~ block.block_type %}
        {% include_block block %}
      {% endfor %}
    </content:content>
    {% if value.cta %}
      <content:cta>
        {% for cta in value.cta %}
          {% set block_position = block_position ~ ".cta" %}
          {% include_block cta %}
        {% endfor %}
      </content:cta>
    {% endif %}
  </include:section>
</include:conditional-display>
