{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=download-button-thanks' %}

<div id="{{ id }}" class="{% if flare_styles %}fl-fx-download-container{% else %}mzp-c-button-download-container{% endif %} c-button-download-thanks">

  <a href="{{ transition_url }}"
     class="download-link c-button-download-thanks-link {% if flare_styles %}fl-button button-secondary{% else %}mzp-c-button mzp-t-product{% endif %} {% if button_class %}{{ button_class }}{% else %}mzp-t-xl{% endif %}"
     data-direct-link="{{ download_link_direct }}"
     data-testid="{{ id }}"
     data-cta-text="Download Firefox"
     {% if download_location %}data-cta-position="{{ download_location }}"{% endif %}>
    {% if alt_copy %}
      {{ alt_copy }}
    {% else %}
      {{ ftl('download-button-download-firefox') }}
    {% endif %}
    {% if flare_styles %}
      <include:icon
        icon_name="download"
        hidden=true
        extra_class="fl-icon-right" />
    {% else %}
      <span class="mzp-c-button-icon-end">
        <!-- TODO: replace with new protocol-assets version -->
        <img src="{{ static('img/icons/m24-small/download-white.svg') }}" alt="" />
      </span>
    {% endif %}
  </a>

  {# ESR download buttons to display on unsupported systems: issue 13317 #}
  {% include 'firefox/includes/download-unsupported.html' %}

  <small class="{% if flare_styles %}fl-privacy-link{% else %}mzp-c-button-download-privacy-link{% endif %}">
    <a href="https://www.mozilla.org/{{ LANG }}/privacy/firefox/{{ params }}">
      {{ ftl('download-button-firefox-privacy-notice') }}
    </a>
  </small>
</div>
