{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div style="max-width: 400px;">
  <include:tag-card>
    {% if tags %}
      <content:tags>
        {% for tag in tags %}
          <include:tag
            text="{{ tag.text }}"
            color="{{ tag.color }}"
            corners="{{ tag.corners }}"
          />
        {% endfor %}
      </content:tags>
    {% endif %}
    <content:heading>
      <include:heading
        level="h3"
        heading_size="fl-heading-size-3"
        heading_text="{{ heading }}"
      />
    </content:heading>
    <content:body>
      {{ body }}
    </content:body>
    {% if buttons %}
      <content:buttons>
        {% for button in buttons %}
          <include:button
            label="{{ button.label }}"
            link="{{ button.link }}"
            theme_class="{{ button.theme_class }}"
          />
        {% endfor %}
      </content:buttons>
    {% endif %}
  </include:tag-card>
</div>
