.fl-smart-window-explainer-page .fl-header,
.fl-smart-window-explainer-page .fl-header .fl-nav,
.fl-smart-window-explainer-page .fl-split-page-upper {
    background:
        radial-gradient(
            29.9% 38.82% at 50% 44.86%,
            rgba(216, 202, 247, 0.2) 0%,
            rgba(255, 255, 255, 0.16) 100%
        ),
        linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 65.89%
        ),
        radial-gradient(165.25% 100% at 50% 0%, #d7c4f6 0%, #fdf4f3 86.06%);
}

.fl-smart-window-explainer-page .fl-menu-panel,
.fl-smart-window-explainer-page .fl-nav-mobile-download-link {
    background: transparent;
}

@media (--viewport-md-up) {
    .fl-smart-window-explainer-page .fl-header .fl-nav {
        background: transparent;
    }

    .fl-smart-window-page
        .fl-card-grid:has(
            .fl-illustration-card-default:nth-child(3):last-child
        ),
    .fl-smart-window-page
        .fl-card-grid:has(
            > *:nth-child(3):last-child .fl-illustration-card-default
        ) {
        max-inline-size: var(--token-width-desktop-wide-banner);
    }
}

.fl-smart-window-explainer-page .fl-split-page-upper {
    --fl-theme-color-text: var(--token-color-black-4);
}

.fl-smart-window-explainer-page .fl-header {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 600px;
}

.fl-smart-window-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--token-layout-sm);
    padding: var(--token-layout-lg) var(--fl-section-h-padding) 0;
    text-align: center;
}

.fl-smart-window-intro .fl-heading-group {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fl-smart-window-intro .fl-subheading {
    max-inline-size: 800px;
    text-wrap: balance;
}

.fl-smart-window-intro-featured-image {
    max-inline-size: 100%;
    padding-block-start: var(--token-spacing-md);
    padding-inline: var(--fl-section-h-padding);
}

.fl-smart-window-intro-featured-image img,
.fl-smart-window-intro-featured-image .fl-video {
    border-start-end-radius: var(--token-border-radius-xs);
    border-start-start-radius: var(--token-border-radius-xs);
    inline-size: var(--token-width-desktop-content-lg);
    margin-block-end: -4px;
    margin-inline: auto;
    max-inline-size: 100%;
}
