/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* Required for postcss-custom-media to resolve @custom-media variables in standalone bundles */
@import 'variables/flare26-media-query-tokens.css';

.flare26-kick-page .fl-logo-fx:has(.fl-video) {
    background-image: none;
}

.flare26-kick-page .fl-logo-fx .fl-video {
    max-block-size: 56px;
}

.flare26-kick-page .fl-logo-fx .fl-video-poster {
    cursor: pointer;
    object-fit: contain;
}

.flare26-kick-page .fl-pre-footer-cta {
    --kit-size: 0px;
}

.flare26-kick-page .fl-pre-footer-cta .fl-pre-footer-cta-button::before {
    content: unset;
}

.flare26-kick-page .fl-featured-image-section-media .fl-video {
    aspect-ratio: 70 / 27; /* from the aspect ratio of the background image */
    background-image: url('/media/img/firefox/world-cup/world-cup-hero-bg.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: visible;
    position: relative;
}

.flare26-kick-page .fl-featured-image-section-media .fl-video video,
.flare26-kick-page .fl-featured-image-section-media .fl-video .fl-video-poster {
    block-size: 228%;
    inline-size: auto;
    inset: auto -27% -47% auto;
    margin: 0;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}

.flare26-kick-page .fl-featured-image-section .fl-section {
    position: relative;
    z-index: 2;
}

/* last banner gets a special background image. */
.flare26-kick-page
    .fl-banner-container.is-last-visible
    .fl-banner-dark-purple-gradient {
    background-image:
        var(--token-noise-gradient),
        url('/media/img/firefox/world-cup/soccer-field-lines-bg.png');
    background-position:
        center bottom,
        center top;
    background-repeat: no-repeat, no-repeat;
    background-size:
        cover,
        80% auto;
}

/* kit is too big */
.flare26-kick-page .fl-banner-container.is-last-visible .fl-banner-media img {
    max-inline-size: 320px;
}

.flare26-kick-page .fl-banner-container.is-last-visible .fl-banner-layout {
    max-inline-size: var(--token-width-desktop-content-lg);
}

.fl-newsletterform-illustration {
    background-image: url('/media/img/firefox/world-cup/globe.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.fl-newsletterform-illustration img {
    opacity: 0;
}
