.fl-page-developer .fl-section:last-child {
    padding-block-end: 0;
}

.fl-main.fl-page-developer {
    padding-block-end: 0;
}

.fl-main.fl-page-developer .fl-section:last-child {
    border-end-end-radius: var(--fl-theme-main-border-radius);
    border-end-start-radius: var(--fl-theme-main-border-radius);
    overflow: hidden;
    padding-block-end: var(--fl-theme-main-border-radius);
}

.fl-page-developer .fl-intro .fl-buttons {
    margin-block-end: var(--token-spacing-lg);
}

.fl-page-developer .fl-developer-feedback-note {
    font-size: var(--fl-theme-font-size-body-2xs);
}

.fl-page-developer .fl-engage-grid {
    display: grid;
    gap: var(--token-spacing-lg);
    grid-template-columns: 1fr;
    padding: 0 var(--token-layout-2xs);
}

.fl-page-developer .fl-highlights .fl-card-grid,
.fl-page-developer .fl-developer-features .fl-card-grid {
    grid-template-columns: 1fr;
}

/* todo: This should be a new card type. Seems like a "video card" */
.fl-page-developer .fl-card-grid:has(.fl-illustration-card-default) {
    gap: var(--token-layout-xs);
    grid-template-columns: 1fr;
    max-inline-size: var(--token-width-desktop-content-lg);
}

.fl-page-developer .fl-intro .fl-subheading {
    margin-inline: auto;
    max-inline-size: 40ch;
    text-wrap: balance;
}

/* todo: This should be the default, and we'll need to build this CMS component. */
.fl-page-developer .fl-card {
    display: flex;
    flex-direction: column;
}

.fl-page-developer .fl-card .fl-card-sticker {
    margin: 0 auto var(--token-spacing-lg) 0;
    order: 1;
}

.fl-page-developer .fl-card .fl-card-heading-group {
    order: 2;
}

.fl-page-developer .fl-card .fl-body {
    order: 3;
}

.fl-page-developer .fl-card .fl-buttons {
    order: 4;
}

.fl-page-developer .fl-illustration-card .fl-card-content {
    gap: 0;
}

@media (--viewport-sm-up) {
    .fl-page-developer .fl-card-grid:has(.fl-illustration-card-default) {
        gap: var(--token-layout-xs);
        grid-template-columns: 1fr 1fr;
        margin-inline: auto;
        max-inline-size: var(--token-width-desktop-content-lg);
    }

    .fl-page-developer .fl-highlights .fl-card-grid,
    .fl-page-developer .fl-engage-grid {
        grid-template-columns: 1fr 1fr;
    }

    .fl-page-developer .fl-developer-features .fl-card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
