/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

main.fl-2026-enterprise {
    background-color: var(--fl-theme-background);
}

.fl-2026-enterprise .fl-superheading {
    display: flex;
    justify-content: start;
}

.fl-2026-enterprise .heading-logo {
    display: block;
    inline-size: auto;
    margin-block-end: var(--token-spacing-xl);
    margin-inline: auto;
    max-block-size: 60px;
    max-inline-size: 100%;
}

.fl-2026-enterprise-support h2 {
    margin: 0 auto;
}

.fl-2026-enterprise-protection {
    margin: 60px auto;
    max-inline-size: 60%;
    text-align: center;
}

.fl-2026-enterprise-documentation {
    color: var(--fl-theme-color-brand-text);
}

/*  reordering where the sticker lives on this card,
    to avoid gremlins elsewhere by revising the dom.
*/
.fl-2026-enterprise .fl-card {
    display: flex;
    flex-direction: column;
}

.fl-2026-enterprise .fl-card .fl-card-sticker {
    --fl-card-sticker-size: 80px;
    margin: 0;
    order: 1;
    padding-block-end: var(--token-spacing-xl);
}

.fl-2026-enterprise .fl-card .fl-card-heading-group {
    order: 2;
}

.fl-2026-enterprise .fl-card .fl-body {
    order: 3;
}

.fl-2026-enterprise .fl-banner {
    border-radius: var(--token-border-radius-lg);
    margin-block: var(--fl-section-v-padding);
    padding-block: var(--fl-section-v-padding);
}

.fl-2026-enterprise .fl-banner .fl-heading {
    font-size: var(--fl-theme-font-size-heading-lg);
}

.fl-2026-enterprise .mzp-u-list-styled {
    list-style: none;
    margin-inline: 0;
    padding-inline: 0;
}

.fl-card-grid {
    margin: auto;
    max-inline-size: var(--token-width-desktop-wide-banner);
    padding: 0 var(--token-layout-sm);
}

.fl-section-download {
    margin: auto;
    max-inline-size: var(--token-width-desktop-wide-banner);
    padding: 0 var(--token-layout-xs);
}

.fl-section-download h2.fl-heading {
    margin: 60px auto;
    text-align: center;
}

.fl-section-download .fl-body {
    padding-block-end: 60px;
}

.mzp-c-menu-list-item,
.mzp-c-menu-list-item button {
    margin-block-end: 0;
}

.mzp-c-menu-list-title > button {
    margin-block-end: 0;
    margin: 0;
}

.is-details .mzp-c-menu-list-list {
    margin: 0;
}

.is-details .mzp-c-menu-list-list.is-closed {
    display: none;
}

@media (--viewport-sm-up) {
    .fl-2026-enterprise .heading-logo {
        margin-inline: 0;
        max-block-size: 80px;
    }
}
