{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<main id="partial-target" class="fl-main" {% if product %} data-current="{{ product.slug }}"{% endif %}>
  <!-- LOGO changes with product: needs v2 FTL string that accepts icon variable -->

  <!--
    You can use the following syntax to use any of the components in the
    springfield/cms/templates/components/ folder.
    Some of them are even shared between 2025 and 2026 versions,
    with only CSS differences.
  -->
  <include:intro>
    <content:heading>
    <include:heading
          level="h1"
          heading_size="fl-heading-md"
          heading_text="{{ ftl('firefox-all-choose-which-firefox') }}"
          alignment_class="fl-new-class-example"
          subheading_text="{{ ftl('firefox-all-everyone-deserves-access-v2') }}"
        />
      </content:heading>
  </include:intro>

  <!-- TODO: desktop column layout, add section names -->
  <div class="fl-c-flow-wrapper">
    <section class="fl-c-flow-links">
      {% if product %}
        {% if product.slug == "desktop-release" %}
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'release') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'release') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://firefox-source-docs.mozilla.org/{{ params }}">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        {% elif product.slug == "desktop-beta" %}
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'beta') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'beta') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://firefox-source-docs.mozilla.org/{{ params }}">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        {% elif product.slug == "desktop-developer" %}
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'alpha') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'alpha') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://firefox-source-docs.mozilla.org/{{ params }}">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        {% elif product.slug == "desktop-nightly" %}
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'nightly') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'nightly') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://firefox-source-docs.mozilla.org/{{ params }}">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        {% elif product.slug == "desktop-esr" %}
          <ul>
            <li><a href="{{ firefox_url('desktop', 'sysreq', 'organizations') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('desktop', 'notes', 'organizations') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            <li><a href="https://firefox-source-docs.mozilla.org/{{ params }}">{{ ftl('firefox-all-source-code') }}</a></li>
          </ul>
        {% elif product.slug == "android-beta" %}
          <ul>
            <li><a href="{{ firefox_url('android', 'sysreq', 'beta') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
            <li><a href="{{ firefox_url('android', 'notes', 'beta') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
          </ul>
        {% elif product.slug in ["mobile-release", "android-release", "ios-release"] %}
          <div>
            {% if product.slug in ["android-release", "mobile-release"] %}
            Android:
            <ul>
              <li><a href="{{ firefox_url('android', 'sysreq', 'release') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
              <li><a href="{{ firefox_url('android', 'notes', 'release') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            </ul>
            {% endif %}
            {% if product.slug in ["ios-release", "mobile-release"] %}
            iOS:
            <ul>
              <li><a href="{{ firefox_url('ios', 'sysreq', 'release') }}">{{ ftl('firefox-all-check-the-system-requirements') }}</a></li>
              <li><a href="{{ firefox_url('ios', 'notes', 'release') }}">{{ ftl('firefox-all-release-notes') }}</a></li>
            </ul>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
      <ul>
        <li><a href="https://www.mozilla.org/{{ LANG }}/privacy/firefox/{{ params }}">{{ ftl('firefox-all-firefox-privacy-notice') }}</a></li>
        <li><a href="https://support.mozilla.org/products/{{ params }}&utm_content=need-help-link">{{ ftl('firefox-all-need-help') }}</a></li>
      </ul>
    </section>
    <section class="fl-c-flow-steps">
      <!-- TODO: checkboxes/steps inside each section -->
      {% include 'firefox/all/product-flare26.html' %}
      {% include 'firefox/all/platform-flare26.html' %}
      {% include 'firefox/all/lang-flare26.html' %}
      {% include 'firefox/all/download-flare26.html' %}
    </section>
  </div>
</main>
