{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="{{ value.center_class }}">
  <a role="button" class="button {{ value.theme_class }}" href="{{ value.link }}" {% if value.external %}target="_blank" {% endif %} {% if value.disabled %}disabled{% endif %}>
    {% if value.left_icon_name %}
    {% set icon_name = value.left_icon_name %}
    {% set extra_class = "icon-left" %}
    {% set hidden = true %}
    {% include "cms/blocks/icon/icon.html" %}
    {% endif %}
    {{ value.label }}
    {% if value.right_icon_name %}
    {% set icon_name = value.right_icon_name %}
    {% set extra_class = "icon-right" %}
    {% set hidden = true %}
    {% include "cms/blocks/icon/icon.html" %}
    {% endif %}
  </a>
</div>
