{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% from "macros.html" import google_play_button with context %}
{% from "macros-protocol.html" import picto, split with context %}

{% extends "base-protocol.html" %}

{# This template can render with EITHER 'firefox/new/download.ftl' OR 'firefox/new/platform.ftl' active
 # download.ftl contains strings for the hero and small-links for the platform pages
 # platform.ftl contains strings for the hero, small-links, and features sections for the platform pages
 # the view for the platform pages will activate the locale if either language file is active  #}

{% block body_class %}mzp-t-firefox{% endblock %}

{% block experiments %}{% endblock %}

{% set show_firefox_app_store_banner = switch('firefox-app-store-banner') %}

{% set referrals = link_referrals or '?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=firefox-desktop' %}

{# meta #}
{% set meta_title_prefix = meta_title_prefix or ftl('firefox-new-download-browser', fallback='firefox-new-download-firefox') %}
{% set meta_title = ftl('firefox-new-fast') if ftl_has_messages('firefox-new-fast') else meta_title or ftl('firefox-new-free-web-browser') %}
{% set meta_desc = meta_desc or ftl('firefox-new-desc', fallback='firefox-new-faster-page-loading-less-memory') %}
{% set og_title = og_title or ftl('firefox-new-download-browser', fallback='firefox-new-download-the-fastest-firefox') %}
{% set og_desc = og_desc or ftl('firefox-new-desc', fallback='firefox-new-faster-page-loading-less-memory') %}

{# page title #}
{%- block page_title_prefix -%}{{ meta_title_prefix }}{%- endblock -%}
{% block page_title %} — {{ meta_title }} {% endblock %}
{% block page_desc %}{{ meta_desc }}{% endblock %}
{% block page_og_title %}{{ og_title }}{% endblock %}
{% block page_og_desc %}{{ og_desc }}{% endblock %}

{# hero #}
{% set hero_title = hero_title or ftl('firefox-new-get-the-latest-firefox') %}
{% set hero_img = hero_img or 'img/firefox/browsers/desktop/platform/browser-window.svg' %}

{# small links #}
{% set small_advanced = small_advanced or ftl('firefox-new-advanced-install-options') %}
{% set small_lang = small_lang or ftl('firefox-new-download-in-another-language') %}
{% set small_help = small_help or ftl('firefox-new-need-help') %}

{# blocks #}

{% block extrahead %}
  {{ super() }}
  {{ css_bundle('firefox_download') }}
  {{ css_bundle('protocol-split') }}
  {{ css_bundle('protocol-picto') }}
  {{ css_bundle('firefox_desktop_platform') }}

  {% if show_firefox_app_store_banner %}
    {{ css_bundle('firefox-app-store-banner') }}
  {% endif %}
{% endblock %}

{% if ftl_file_is_active('firefox/new/platform') %}
  {% set small_advanced = ftl('new-platform-advanced-install-options') %}
  {% set small_lang = ftl('new-platform-download-in-another') %}
  {% set small_help = ftl('new-platform-need-help') %}
{# else it will fall back to the strings from new/download.ftl specified in base_download #}
{% endif %}

{% block site_header %}
  {% with hide_nav_cta=True %}
    {% include 'includes/protocol/navigation/navigation.html' %}
  {% endwith %}
{% endblock %}

{% block sub_navigation %}
 {% include '/firefox/includes/desktop-platform-sub-nav.html' %}
{% endblock %}

{% block content %}
<main class="main-download" {% if v %}data-variant="{{ v }}"{% endif %}>
  {% call split(
    block_class='mzp-l-split-center-on-sm-md t-split-hero',
    media_class='mzp-l-split-media-overflow',
    media_after=True,
    image=resp_img(url=hero_img, optional_attributes={ 'class': 'mzp-c-split-media-asset' })

  ) %}
    <div class="mzp-c-wordmark mzp-t-wordmark-md mzp-t-product-firefox"></div>
    <h1 class="c-download-split-title">{{ hero_title }}</h1>
    <div class="c-intro-download">
      {% block intro_download_button %}
        {{ download_firefox_thanks(alt_copy=ftl('download-button-download-now'), locale_in_transition=True, download_location='primary cta') }}
      {% endblock %}

      {% block small_links %}
      <ul class="small-links">
        {% if ftl_has_messages('firefox-new-download-a-different') %}
        <li><a href="{{ firefox_url('desktop', 'all') }}">{{ ftl('firefox-new-download-a-different') }}</a></li>
        {% else %}
        <li><a href="{{ firefox_url('desktop', 'all') }}">{{ small_advanced }}</a></li>
        <li><a href="{{ firefox_url('desktop', 'all') }}">{{ small_lang }}</a></li>
        {% endif %}
        <li><a href="https://support.mozilla.org/products/firefox{{ referrals }}&utm_content=need-help-link">{{ small_help }}</a></li>
      </ul>
    </div>
    {% endblock %}
  {% endcall %}

  {% block features %}
    {% if ftl_file_is_active('firefox/new/platform') %}
      <section class="features">
        <ul class="mzp-l-content mzp-l-columns mzp-t-columns-three mzp-t-picto-center">
          {% call picto(
            title=card1_title,
            image=resp_img(
              url=card1_image_url,
              optional_attributes={
                'class': 'mzp-c-picto-image',
                'width': '96'
              }
            ),
            body=True,
            base_el='li'
          ) %}
            {{ card1_desc }}
          {% endcall %}
          {% call picto(
            title=card2_title,
            image=resp_img(
              url=card2_image_url,
              optional_attributes={
                'class': 'mzp-c-picto-image',
                'width': '96'
              }
            ),
            body=True,
            base_el='li'
          ) %}
            {{ card2_desc }}
          {% endcall %}
          {% call picto(
            title=card3_title,
            image=resp_img(
              url=card3_image_url,
              optional_attributes={
                'class': 'mzp-c-picto-image',
                'width': '96'
              }
            ),
            body=True,
            base_el='li'
          ) %}
            {{ card3_desc }}
          {% endcall %}
        </ul>
      </section>
    {% endif %}
  {% endblock %}
</main>
{% endblock %}

{% block page_banner %}
  {% if show_firefox_app_store_banner %}
    {% include 'includes/banners/mobile/firefox-app-store.html' %}
  {% endif %}
{% endblock %}

{% block js %}
  {% if show_firefox_app_store_banner %}
    {{ js_bundle('firefox-app-store-banner') }}
  {% endif %}
{% endblock %}
