{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{# This template can render with EITHER 'firefox/download/download.ftl' OR 'firefox/download/platform.ftl' active
 # download.ftl contains strings for the hero and small-links for the platform pages
 # platform.ftl contains strings for the hero, small-links, and features sections for the platform pages
 # the view for the platform pages will activate the locale if either language file is active  #}

{% block page_css %}{{ css_bundle('flare26-download') }}{% endblock %}

{% block body_class %}fl-download-page{% endblock %}

{% set params = link_params or '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=firefox-desktop' %}

{# meta #}
{% set meta_title_prefix = meta_title_prefix or ftl('firefox-new-download-browser', fallback='firefox-new-download-firefox') %}
{% set meta_title = ftl('firefox-new-fast') if ftl_has_messages('firefox-new-fast') else meta_title or ftl('firefox-new-free-web-browser') %}
{% set meta_desc = meta_desc or ftl('firefox-new-desc', fallback='firefox-new-faster-page-loading-less-memory') %}
{% set og_title = og_title or ftl('firefox-new-download-browser', fallback='firefox-new-download-the-fastest-firefox') %}
{% set og_desc = og_desc or ftl('firefox-new-desc', fallback='firefox-new-faster-page-loading-less-memory') %}

{# page title #}
{%- block page_title_prefix -%}{{ meta_title_prefix }}{%- endblock -%}
{% block page_title %} — {{ meta_title }} {% endblock %}
{% block page_desc %}{{ meta_desc }}{% endblock %}
{% block page_og_title %}{{ og_title }}{% endblock %}
{% block page_og_desc %}{{ og_desc }}{% endblock %}

{# hero #}
{% set hero_title = hero_title or ftl('firefox-new-get-the-latest-firefox') %}
{% set hero_img = hero_img or 'img/firefox/browsers/desktop/platform/browser-window.svg' %}

{# small links #}
{% set small_advanced = small_advanced or ftl('firefox-new-advanced-install-options') %}
{% set small_lang = small_lang or ftl('firefox-new-download-in-another-language') %}
{% set small_help = small_help or ftl('firefox-new-need-help') %}

{# blocks #}

{% if ftl_file_is_active('firefox/download/platform') %}
  {% set small_advanced = ftl('new-platform-advanced-install-options') %}
  {% set small_lang = ftl('new-platform-download-in-another') %}
  {% set small_help = ftl('new-platform-need-help') %}
{# else it will fall back to the strings from new/download.ftl specified in base_download #}
{% endif %}

{% block flare_header %}
  {% set hide_nav_cta = true %}
  <include:flare26-header theme="dark" />
{% endblock %}

{% block content %}
  <div class="fl-main fl-desktop-download fl-force-light-theme" {% if v %}data-variant="{{ v }}"{% endif %}>
    <div class="{% if ftl_file_is_active('firefox/download/platform') %}fl-split-page-upper{% endif %}">
      <div class="fl-section">
        <div class="fl-section-container">
          <include:intro slim media_position="right">
            <content:heading>
              <h1 class="fl-heading fl-heading-size-1">{{ hero_title }}</h1>
            </content:heading>
            <content:content>
              {% block intro_download_button_26 %}
                {{ download_firefox_thanks(
                  alt_copy=ftl('download-button-download-now'),
                  locale_in_transition=True,
                  download_location='primary cta',
                  flare_styles=True,
                ) }}
              {% endblock %}
              <ul class="fl-small-links">
                {% if ftl_has_messages('firefox-new-download-a-different') %}
                <li><a href="{{ firefox_url('desktop', 'all') }}">{{ ftl('firefox-new-download-a-different') }}</a></li>
                {% else %}
                <li><a href="{{ firefox_url('desktop', 'all') }}">{{ small_advanced }}</a></li>
                <li><a href="{{ firefox_url('desktop', 'all') }}">{{ small_lang }}</a></li>
                {% endif %}
                <li><a href="https://support.mozilla.org/products/firefox{{ params }}&utm_content=need-help-link">{{ small_help }}</a></li>
              </ul>
            </content:content>
            <content:media>
              <img src="/media/{{ hero_img }}" class="fl-mediacontent-asset" aria-hidden="true" />
            </content:media>
          </include:intro>
        </div>
      </div>
    </div>

    {% if ftl_file_is_active('firefox/download/platform') %}
      <div class="fl-split-page-lower">
        <div class="fl-section">
          <div class="fl-section-container">
            <include:cards-list>
              <include:illustration-card variant="sticker">
                <content:media>
                  <img src="/media/{{ card1_image_url }}" aria-hidden="true" />
                </content:media>
                <content:heading>
                  <include:heading level="h2" heading_text="{{ card1_title }}" />
                </content:heading>
                <content:body>
                  <p>{{ card1_desc }}</p>
                </content:body>
              </include:illustration-card>
              <include:illustration-card variant="sticker">
                <content:media>
                  <img src="/media/{{ card2_image_url }}" aria-hidden="true" />
                </content:media>
                <content:heading>
                  <include:heading level="h2" heading_text="{{ card2_title }}" />
                </content:heading>
                <content:body>
                  <p>{{ card2_desc }}</p>
                </content:body>
              </include:illustration-card>
              <include:illustration-card variant="sticker">
                <content:media>
                  <img src="/media/{{ card3_image_url }}" aria-hidden="true" />
                </content:media>
                <content:heading>
                  <include:heading level="h2" heading_text="{{ card3_title }}" />
                </content:heading>
                <content:body>
                  <p>{{ card3_desc }}</p>
                </content:body>
              </include:illustration-card>
            </include:cards-list>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
