{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block flare_header %}
  {% set hide_nav_cta = true %}
  <include:flare26-header />
{% endblock %}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=cookie-settings' %}

{% block page_title %}{{ ftl('cookie-settings-page-title') }}{% endblock %}
{% block page_desc %}{{ ftl('cookie-settings-page-desc') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('flare26-cookie-settings') }}
{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
  {% include "privacy/cookie-settings-flare26.html" %}
{% endblock %}

{% block consent_banner_js %}
  {{ super() }}
  <!--[if IE 9]> -->
    {# Cookie settings page is supported on all evergreen browsers plus IE9 and above #}
    {{ js_bundle('cookie-settings-form') }}
  <!--<![endif]-->
{% endblock %}

{% block js %}
  {{ js_bundle('cookie-settings-form') }}
{% endblock %}
