{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set base_template = "cms/base-flare26.html" if switch("flare26_enabled") else "base-protocol.html" %}
{% extends base_template %}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=cookie-settings' %}

{% block page_title %}{{ ftl('cookie-settings-page-title') }}{% endblock %}
{% block page_desc %}{{ ftl('cookie-settings-page-desc') }}{% endblock %}

{% block page_css %}
  {% if not switch("flare26_enabled") %}
    {{ css_bundle('cookie-settings-form') }}
  {% endif %}
{% endblock %}

{% block site_header %}
  {% with hide_nav_cta=True %}
      <include:flare26-header />
  {% endwith %}
{% endblock %}

{% block content %}
  {% if switch("flare26_enabled") %}
    {% include "privacy/cookie-settings-flare26.html" %}
  {% else %}
    {% include "privacy/cookie-settings-protocol.html" %}
  {% endif %}
{% endblock %}

{% block consent_banner_js %}
  {{ super() }}
  <!--[if IE 9]> -->
    {# Cookie settings page is supported on all evergreen browsers plus IE9 and above #}
    {{ js_bundle('cookie-settings-form') }}
  <!--<![endif]-->
{% endblock %}

{% block js %}
  {% if switch("flare26_enabled") %}
    {{ js_bundle('cookie-settings-form') }}
  {% endif %}
{% endblock %}
