// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($font-path: '/media/protocol/fonts', $image-path: '/media/protocol/img');

@use '~@mozilla-protocol/core/protocol/css/components/logos/logo';
@use '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-firefox';

.mzp-c-article {
    margin: 0 auto $layout-lg;

    .mzp-c-article-title {
        @include text-title-lg;
    }

    .c-section-title-large {
        @include text-title-md;
        margin-top: $layout-md;
    }

    .c-section-title {
        @include text-title-sm;
        margin-top: $layout-md;
    }

    .c-article-image {
        display: block;
        margin: $layout-md auto;
    }

    .mzp-c-button-download-container {
        display: block;
        margin: $layout-md auto;

        .is-firefox & {
            display: none;
        }
    }
}
