{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame fl-force-light-theme fl-main">
  {% set colors = ['purple', 'red', 'orange', 'green'] %}

  <div class="fl-split-page-upper">
    {% for color in colors %}
      {% set color_label = color | capitalize %}
      {% set dark_label = "Dark – " ~ color_label %}
      <div data-testid="notification-dark-{{ color }}">
        <include:heading level="h4" heading_text="{{ dark_label }}" alignment_class="text-center" />
        <div class="pl-row" style="display: flex; flex-direction: column; gap: 8px;">
          {% for notification in notifications %}
            <div>
              <include:notification
                color="{{ color }}"
                icon="{{ notification.icon }}"
                closable="{{ notification.closable }}"
              >
                <content:heading>
                  {{ notification.heading }}
                </content:heading>
                {{ notification.message }}
              </include:notification>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="fl-split-page-lower">
    {% for color in colors %}
      {% set color_label = color | capitalize %}
      {% set light_label = "Light – " ~ (color | capitalize) %}
      <div data-testid="notification-light-{{ color }}">
        <include:heading level="h4" heading_text="{{ light_label }}" alignment_class="text-center" />
        <div class="pl-row" style="display: flex; flex-direction: column; gap: 8px;">
          {% for notification in notifications %}
            <div>
              <include:notification
                color="{{ color }}"
                icon="{{ notification.icon }}"
                closable="{{ notification.closable }}"
              >
                <content:heading>
                  {{ notification.heading }}
                </content:heading>
                {{ notification.message }}
              </include:notification>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
