{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/features/base-article.html" %}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=firefox-features' %}

{% block article_title_short %}{{ ftl('features-add-ons-firefox-add-ons') }}{% endblock %}
{% block article_title %}{{ ftl('features-add-ons-firefox-add-ons-and-browser-extensions') }}{% endblock %}

{% block article_content %}
<p>{{ ftl('features-add-ons-extensions-also-known-as-add-ons') }}</p>

<figure class="c-article-figure">
  {{ resp_img(
    url="img/firefox/features/addons.png",
    srcset={
        "img/firefox/features/addons-high-res.png": "1.5x"
    },
    optional_attributes={
      "alt": "",
      "width": "600"
    }
  ) }}
</figure>

<p>
  {{ ftl('features-add-ons-there-are-firefox-add-ons-that',
    fbcontainer='href="%s"'|safe|format('https://addons.mozilla.org/firefox/addon/facebook-container/ ' + params),
    translate='href="%s" rel="external noopener"'|safe|format('https://addons.mozilla.org/firefox/addon/simple-translate/' + params),
    language='href="%s"'|safe|format('https://addons.mozilla.org/firefox/addon/languagetool/' + params),
    customize='href="%s" rel="external noopener"'|safe|format(url('firefox.features.customize')),
    amo='href="%s" rel="external noopener"'|safe|format('https://addons.mozilla.org/firefox/' + params),
  ) }}
</p>
{% endblock article_content %}
