{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/features/base-article.html" %}

{% block page_desc %}{{ ftl('features-translate-firefox-translations-is-a-built-in-v2') }}{% endblock %}

{% block article_title_short %}{{ ftl('features-translate-translate-the-web') }}{% endblock %}
{% block article_title %}{{ ftl('features-translate-translate-a-webpage-with-firefox') }}{% endblock %}

{% block article_content %}
<p>{{ ftl('features-translate-one-of-the-best-things-about') }}</p>
<p>{{ ftl('features-translate-while-other-browsers-rely-on-v2') }}</p>

<h2>{{ ftl('features-translate-when-you-translate-a-webpage') }}</h2>
<p>{{ ftl('features-translate-when-your-translations-are') }}</p>

<h2>{{ ftl('features-translate-what-languages-are-currently') }}</h2>
<p>{{ ftl('features-translate-the-languages-below-are-what-v2') }}</p>

<ul class="c-lang-list c-translate-lang-list mzp-u-list-styled">
{%- set display = 'English' if LANG.startswith('en-') else 'native' -%}
{%- for lang in translate_langs -%}
  {# Remove regional variants for the listing #}
  {%- set name = (lang_names[lang][display] if lang_names[lang] else lang).split(' (')[0] %}
  <li data-lang="{{ lang }}"{% if display == 'native' %} lang="{{ lang }}"{% endif %}>{{ name }}</li>
{%- endfor %}
</ul>

<p>{{ ftl('features-translate-and-more-languages-are-in') }}</p>

<h2>{{ ftl('features-translate-firefox-speaks-your-language') }}</h2>
<p>{{ ftl('features-translate-the-firefox-translations-feature-v2', download='href="%s" data-cta-text="Get started in your preferred language"'|safe|format(url('firefox'))) }}</p>
{% endblock %}

{% block js %}
  {{ super() }}
  {{ js_bundle('firefox_features_translate') }}
{% endblock %}
