{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="media">
  {% with media = value.media|default(value, true) %}
  {% if media.image %}
    <img src="{{ media.image.url }}" alt="{{ media.image.alt }}" />
  {% endif %}
  {% if media.video %}
    <video controls aria-label="{{ media.video.alt }}">
      <source src="{{ media.video.url }}" />
    </video>
  {% endif %}
  {% endwith %}
</div>
