{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare.html" %}

{% set page_title_copy = ftl('newsletter-enterprise-title-v2') %}
{% set page_desc_copy = ftl('newsletter-enterprise-description-v3') %}

{% block page_title %}{{ page_title_copy }}{% endblock page_title %}
{% block page_desc %}{{ page_desc_copy }}{% endblock %}

{% block body_class %}{{ super() }} newsletter-mozilla{% endblock %}

{% block flare_header %}
    <include:flare-header hide_nav_cta no_menu />
{% endblock %}



{% block content %}
<div class="fl-main has-gradient-bottom newsletter-page enterprise-newsletter-page">
  {% set newsletters="firefox-enterprise-news" %}
  {% set form_template="cms/newsletter_enterprise_form.html" %}

  <include:newsletter-form>
  {% if LANG == "de" %}
    <include:heading
      level="h2"
      heading_size="fl-heading-size-3"
      heading_text="Bleiben Sie informiert: Mozilla Enterprise Updates"
    />
    <p class="fl-subheading">Sichern Sie sich wertvolle Insights für Ihre IT-Infrastruktur. Erhalten Sie aktuelle Informationen zu Firefox Enterprise, dem Firefox Professional Support sowie exklusive Einladungen zu Webinaren und Events – maßgeschneidert für IT-, Sicherheits- und Compliance-Verantwortliche.</p>
    <ul>
      <li><strong>Relevante Produkt-Updates</strong> direkt aus erster Hand.</li>
      <li><strong>Experten-Wissen</strong> für mehr Sicherheit und Compliance.</li>
      <li><strong>Kein Spam</strong> – nur Inhalte, die Ihr Business weiterbringen.</li>
    </ul>
    <p class="fl-subheading">Hinweis: Ihr Abonnement ist freiwillig und kann jederzeit mit einem Klick wieder abbestellt werden.</p>
  {% else %}
    <include:heading
      level="h2"
      heading_size="fl-heading-size-3"
      heading_text="{{ page_title_copy }}"
    />
    <p class="fl-subheading">{{ ftl('newsletter-enterprise-description-v3') }}</p>
    <p class="fl-subheading">{{ ftl('newsletter-enterprise-description-note') }}</p>
  {% endif %}
  </include:newsletter-form>
</div>
{% endblock %}
