{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% if value.dropdown %}
  {% set menu_id = "m24-c-menu-panel-" ~ index %}
  <li class="m24-c-menu-category mzp-has-drop-down mzp-js-expandable">
    <a class="m24-c-menu-title" href="{{ value.link.get_url()|add_utm_parameters }}" aria-haspopup="true" aria-controls="{{ menu_id }}" data-testid="m24-navigation-link-{{ value.title|lower|replace(' ', '-') }}">
      <h2>{{ value.title }}</h2>
    </a>
    <div class="m24-c-menu-panel" id="{{ menu_id }}" data-testid="m24-navigation-menu-{{ value.title|lower|replace(' ', '-') }}">
      <div class="m24-c-menu-panel-container">
        <button class="m24-c-menu-button-close" type="button" aria-controls="{{ menu_id }}">{{ ftl('navigation-close-menu', fallback='Close menu') }}</button>
        <div class="m24-c-menu-panel-content">
          {% for column in value.dropdown %}
            <div class="m24-mzp-l-content-container">
              <h3 class="m24-c-menu-subtitle">{{ column.value.title }}</h3>
              <ul class="m24-mzp-l-content">
                {% for link in column.value.links %}
                  {% if not link.is_button %}
                    <li>
                      <a class="m24-c-menu-item-link" href="{{ link.link.get_url()|add_utm_parameters }}" {% if link.link.new_window %}target="_blank" rel="noopener noreferrer"{% endif %} data-link-text="{{ link.label }}" data-link-position="topnav - {{ link.label|lower }}">
                        {{ link.label }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% for link in column.value.links %}
                {% if link.is_button %}
                  <p class="m24-c-menu-category-link">
                    <a href="{{ link.link.get_url()|add_utm_parameters }}" {% if link.link.new_window %}target="_blank" rel="noopener noreferrer"{% endif %} data-link-text="{{ link.label }}" data-link-position="topnav - {{ link.label|lower }}">
                      {{ link.label }}
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" d="m7.24 1.36 5.89 5.89H0v1.5h13.13l-5.89 5.89L8.3 15.7 16 8 8.3.3z"/></svg>
                    </a>
                  </p>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div><!-- close .m24-c-menu-panel-container -->
    </div><!-- close .m24-c-menu-panel -->
  </li><!-- close .m24-c-menu-category -->
{% else %}
  <li class="m24-c-menu-category">
    <a class="m24-c-menu-title" href="{{ value.link.get_url()|add_utm_parameters }}" {% if value.link.new_window %}target="_blank" rel="noopener noreferrer"{% endif %} data-testid="m24-navigation-link-{{ value.title|lower|replace(' ', '-') }}" data-link-text="{{ value.title }}" data-link-position="topnav - {{ value.title|lower }}">
      <h2>{{ value.title }}</h2>
    </a>
  </li>
{% endif %}
