{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<aside class="fl-qr-code-floating-snippet">
  <div class="fl-qr-code-floating-header">
    <div class="fl-qr-code-prompt">
    <span class="fl-icon fl-icon-device-mobile"></span>
    Get Firefox for your phone
    </div>
  </div>

  <div class="fl-qr-code-floating-content">
    {{ qrcode(value.qr_code, 12) }}
    <p>Bring your tabs with you</p>
  </div>
</aside>

{% if value and value.qr_code %}
  <aside class="fl-qr-code-snippet{% if value.closable %} fl-qr-code-snippet-closable{% endif %} fl-force-dark-theme">
    {% if value.closable %}
      <button type="button" class="fl-button button-link fl-qr-code-snippet-close" aria-label="{{ ftl('ui-close') }}">
        <include:icon icon_name="close" />
      </button>
    {% endif %}
    <div class="fl-qr-code-snippet-container">
      <div class="fl-qr-code-snippet-text">
      {% if value.heading %}
        <h2 class="fl-heading fl-heading-sm fl-qr-code-snippet-heading">
          {{ value.heading|richtext|remove_p_tag }}
        </h2>
      {% endif %}

      {% if value.content %}
      {{ value.content|richtext }}
      {% endif %}

      </div>

      <div class="fl-qr-code-snippet-kit" role="img" aria-label="QR Code">
        {{ qrcode(value.qr_code, 12) }}
      </div>

  </div>
  </aside>
{% endif %}
