{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:banner theme="purple" qr_code="{{ value.qr_code }}">
  <content:heading>
    <include:heading
      level="h2"
      heading_text="{{ value.heading|richtext|remove_p_tag }}"
    />
  </content:heading>
  <content:body>
    {{ value.content|richtext }}
  </content:body>
  {% if value.buttons %}
    <content:actions>
      {% for button in value.buttons %}
        {% include_block button %}
      {% endfor %}
    </content:actions>
  {% endif %}
</include:banner>
