{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block content %}
  <div class="fl-main">
    <include:intro>
      <content:heading>
        <h1>Wait for the QR code snippet to load below</h1>
      </content:heading>
    </include:intro>
    {% set value = object %}
    {% include "cms/snippets/qr-code-snippet.html" %}
  </div>
{% endblock content %}
