{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:conditional-display firefox_condition="not-firefox">
  {{ object.not_firefox_content|richtext }}
  {{ download_firefox(alt_copy=ftl('download-button-download-firefox'), download_location='primary cta') }}
</include:conditional-display>

<include:conditional-display firefox_condition="is-firefox" default_browser_condition="is-not-default">
  <include:conditional-display platform_conditions="{{ ['linux', 'windows', 'osx']}}" >
    {{ object.not_default_desktop_content|richtext }}
  </include:conditional-display>

  <include:conditional-display platform_conditions="{{ ['android'] }}">
    {{ object.not_default_android_content|richtext }}
  </include:conditional-display>

  <include:conditional-display platform_conditions="{{ ['ios'] }}">
    {{ object.not_default_ios_content|richtext }}
  </include:conditional-display>
</include:conditional-display>

<include:conditional-display default_browser_condition="is-default">
    <include:notification
      color="green"
      icon="checkmark"
      reverse_icon=True
    >
    {{ object.success_content|richtext }}
  </include:notification>
</include:conditional-display>
