{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:conditional-display firefox_condition="not-firefox">
  {{ object.not_firefox_content|richtext }}
  {{ download_firefox(alt_copy=ftl('download-button-download-firefox'), download_location='primary cta') }}
</include:conditional-display>

<include:conditional-display platform_conditions="['linux', 'windows', 'osx']" default_browser_condition="is-not-default">
  {{ object.not_default_desktop_content|richtext }}
</include:conditional-display>

<include:conditional-display platform_conditions="['android']" default_browser_condition="is-not-default">
  {{ object.not_default_android_content|richtext }}
</include:conditional-display>

<include:conditional-display platform_conditions="['ios']" default_browser_condition="is-not-default">
  {{ object.not_default_ios_content|richtext }}
</include:conditional-display>

<include:conditional-display default_browser_condition="is-default">
  {{ object.success_content|richtext }}
</include:conditional-display>
