{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{#
  Renders a curated featured-articles header.
  Requires: featured_articles (a StreamField value of BlogArticleBlock).
#}

{% from "cms/includes/blog-card-media.html" import illustration_card_media, full_width_filterspec with context %}

{% if featured_articles %}
  <div class="fl-blog-featured">

    <div class="fl-blog-featured-row">
      {% set first_block = featured_articles[0] %}

      <div class="fl-blog-featured-main">
        <div class="fl-blog-featured-main-media">
          {% set image = first_block.value.get_image() %}
          {% if image %}
            {% set dark_image = first_block.value.get_dark_image() %}
            {% set mobile_image = first_block.value.get_mobile_image() %}
            {% set dark_mobile_image = first_block.value.get_mobile_dark_image() %}
            {% set classes = image_variant_classes(dark_image, mobile_image, dark_mobile_image) %}
            {% if image.focal_point_x %}
              {% set focal_point = (image.focal_point_x / image.width * 100)|round(2) ~ "% " ~ (image.focal_point_y / image.height * 100)|round(2) ~ "%" %}
            {% else %}
              {% set focal_point = "center" %}
            {% endif %}
            <div class="image-variants-display" style="--focal-point: {{ focal_point }}">
              {{ srcset_image(image, full_width_filterspec, sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw", width=image.width, loading="lazy", class=classes.primary) }}
              {% if mobile_image %}{{ srcset_image(mobile_image, full_width_filterspec, sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw", width=mobile_image.width, loading="lazy", class=classes.mobile) }}{% endif %}
              {% if dark_mobile_image %}{{ srcset_image(dark_mobile_image, full_width_filterspec, sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw", width=dark_mobile_image.width, loading="lazy", class=classes.dark_mode_mobile) }}{% endif %}
              {% if dark_image %}{{ srcset_image(dark_image, full_width_filterspec, sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw", width=dark_image.width, loading="lazy", class=classes.dark_mode) }}{% endif %}
            </div>
          {% endif %}
        </div>
        <include:heading
          level="h2"
          heading_text="{{ first_block.value.get_title() }}"
          superheading_text="{{ first_block.value.get_topic() }}"
          heading_size="fl-heading-lg fl-heading-condensed"
        />
        <p class="fl-body">{{ first_block.value.get_description() }}</p>
        <div>
          <include:button
            label="{{ ftl('blog-read-more') }}"
            link="{{ first_block.value.get_url() }}"
          />
        </div>
      </div>

      {% if featured_articles|length > 1 %}
        <div class="fl-blog-article-list">
          {% for block in featured_articles[1:4] %}
            {% set article_page = block.value.article %}
            {% set description = block.value.get_description() %}
            <include:blog-article-list-item>
              <content:heading>
                <hgroup class="fl-heading-group">
                  <p class="fl-superheading">{{ block.value.get_topic() }}</p>
                  <h2 class="fl-heading">
                    <a href="{{ article_page.url }}" class="fl-link">{{ block.value.get_title() }}</a>
                  </h2>
                </hgroup>
              </content:heading>
              <content:body>{{ description|richtext }}</content:body>
              {% if article_page.first_published_at %}
                <content:date>{{ article_page.first_published_at|date("DATE_FORMAT") }}</content:date>
              {% endif %}
              {% if block.value.get_tags() %}
                <content:tags>
                  {% for tag in block.value.get_tags() %}
                    <include:tag text="{{ tag }}" color="purple" corners="round" />
                  {% endfor %}
                </content:tags>
              {% endif %}
            </include:blog-article-list-item>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% if featured_articles|length > 4 %}
      {% set list_size = featured_articles[4:]|length %}
      <include:cards-list container_width="fill">
        {% for block in featured_articles[4:] %}
          <include:card expand_link="true">
            <content:media>{{ illustration_card_media(block.value, list_size) }}</content:media>
            <content:body>
              <hgroup class="fl-heading-group">
                <p class="fl-superheading">{{ block.value.get_topic() }}</p>
                <h2 class="fl-heading fl-heading-size-3">
                  <a href="{{ block.value.get_url() }}" class="fl-card-heading-link fl-link-expand">
                    {{ block.value.get_title() }}
                  </a>
                </h2>
              </hgroup>
              <div class="fl-body">
                <p>{{ block.value.get_description() }}</p>
                {% set tags = block.value.get_tags() %}
                {% if tags %}
                  <div class="fl-card-tags">
                    {% for tag in tags %}
                      <include:tag text="{{ tag }}" color="purple" corners="round" />
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </content:body>
          </include:card>
        {% endfor %}
      </include:cards-list>
    {% endif %}

  </div>
{% endif %}
