{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "firefox/whatsnew/base.html" %}

{% block wnp_header %}
  <header class="page-header">
    <div class="header-inner">
      <h2 class="logo-fx">Firefox</h2>
    </div>
  </header>
{% endblock %}

{% block wnp_content %}
  <main class="page-main">
    <div class="content-inner">
      <h1>What's New in Firefox {{ major_version }}</h1>
      <p>Content will be added here.</p>
    </div>
  </main>
{% endblock %}
