// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($font-path: '/media/protocol/fonts', $image-path: '/media/protocol/img');

@use '~@mozilla-protocol/core/protocol/css/components/notification-bar';

// notification

.mzp-c-notification-bar {
    a:link {
        margin: 0;
    }
}

.mzp-c-split-body {
    .c-download-split-title {
        @include text-title-lg;
    }

    .c-intro-download {
        .mzp-c-button-download-container {
            margin-bottom: 0;
        }
    }

    .small-links {
        margin-bottom: 0;

        li {
            margin-top: $spacing-md;
        }

        a:link,
        a:visited {
            @include text-body-xs;
            color: $color-dark-gray-30;
            text-decoration: none;
        }

        a:hover,
        a:active,
        a:focus {
            text-decoration: underline;
        }
    }

    @media #{$mq-md} {
        .c-intro-download {
            .mzp-c-button-download-container {
                @include bidi(((text-align, left, right),));
            }
        }
    }

    @media #{$mq-lg} {
        @include bidi(((background-position, top right -480px, top left -480px),));
    }

    @media #{$mq-xl} {
        @include bidi(((background-position, top right -260px, top left -260px),));
    }
}
