// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($font-path: '/media/protocol/fonts', $image-path: '/media/protocol/img');

@use '../../../m24/components/navigation-ie';
@use '../../../protocol/components/fx-unsupported-ie';

@media #{$mq-md} {
    .fx-unsupported-message {
        @include bidi(((text-align, left, right),));
    }
}
