{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% for variant in variants %}
  <h2>{{ variant.name }}</h2>
  <div class="{{ variant.condition }}">
    <include:conditional-display condition="{{ variant.condition }}">
      {{ variant.contents }}
    </include:conditional-display>
    <include:conditional-display condition="something-else">
      <p>This will not be displayed.</p>
    </include:conditional-display>
  </div>
  <hr/>
{% endfor %}
