{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props video_url, poster, alt, aspect_ratio="", playback="autoplay_loop", show_pause_button="" #}

{% if playback == "autoplay_loop" %}
<div class="fl-video fl-video-is-animation" {% if aspect_ratio %}data-aspect-ratio="{{ aspect_ratio }}"{% endif %}>
  <video
    autoplay muted loop
    poster="{{ poster }}"
    playsinline
    preload="metadata"
  >
    <source src="{{ video_url }}" type="video/webm">
    <img src="{{ poster }}" alt="{{ alt }}" class="fl-video-poster" />
  </video>
  {% if show_pause_button %}
    <button
      class="fl-video-play js-animation-pause"
      aria-label="{{ alt|default('Pause animation') }}"
      data-label-pause="{{ alt|default('Pause animation') }}"
      data-label-play="{{ alt|default('Play animation') }}"
      type="button"
    >
      <span class="fl-video-play-icon js-pause-icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <circle cx="24" cy="24" r="24" fill="var(--token-color-dark-purple-50)"/>
          <path d="M18.29 33.79h1.631a2.447 2.447 0 0 0 2.447-2.448V16.658a2.447 2.447 0 0 0-2.447-2.447H18.29a2.447 2.447 0 0 0-2.448 2.447v14.684a2.45 2.45 0 0 0 2.448 2.447M28.079 33.79h1.632a2.45 2.45 0 0 0 2.447-2.448V16.658a2.447 2.447 0 0 0-2.447-2.447h-1.632a2.45 2.45 0 0 0-2.447 2.447v14.684a2.45 2.45 0 0 0 2.447 2.447" fill="#fff"/>
        </svg>
      </span>
      <span class="fl-video-play-icon js-play-icon" aria-hidden="true" hidden>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <circle cx="24" cy="24" r="24" fill="var(--token-color-dark-purple-50)"/>
          <path d="M16.333 31.74V16.261a2.11 2.11 0 0 1 3.16-1.834l13.542 7.739a2.11 2.11 0 0 1 0 3.666l-13.542 7.74a2.11 2.11 0 0 1-3.16-1.833" fill="#fff"/>
        </svg>

      </span>
    </button>
  {% endif %}
</div>
{% elif playback == "autoplay_once" %}
<div class="fl-video fl-animation fl-animation-playing" data-playback="autoplay_once" {% if aspect_ratio %}data-aspect-ratio="{{ aspect_ratio }}"{% endif %}>
  <button
    class="fl-video-play js-animation-play"
    aria-label="{{ alt|default('Play animation') }}"
    type="button"
  >
    <img src="{{ poster }}" alt="" class="fl-video-poster" />
    <span class="fl-video-play-icon" aria-hidden="true">
      <svg height="48" width="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="24" fill="rgba(33, 3, 64, 0.4)"/>
        <path d="M16.333 31.74V16.261a2.11 2.11 0 0 1 3.16-1.834l13.542 7.739a2.11 2.11 0 0 1 0 3.666l-13.542 7.74a2.11 2.11 0 0 1-3.16-1.833" fill="#fff"/>
      </svg>
    </span>
  </button>
  <video
    muted
    playsinline
    preload="metadata"
    poster="{{ poster }}"
  >
    <source src="{{ video_url }}" type="video/webm">
  </video>
</div>
{% endif %}
