{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props media_after=False qr_code=None  #}

<div class="fl-banner-container">
  <div
    class="
      fl-banner
      fl-banner-outlined
      {% if media_after %}fl-banner-reverse{% endif %}"
    aria-labelledby="fl-banner-heading">

    <div class="fl-banner-layout">
      {% if contents.media or qr_code %}
        <div class="fl-banner-media {% if qr_code %} has-qr-code{% endif %} {% if qr_code and not contents.media %} has-large-qr-code{% endif %}" aria-hidden="true">
          {% if qr_code %}
            <div class="fl-banner-qr" role="img">
              {{ qrcode(qr_code, 12) }}
            </div>
          {% endif %}
          {{ contents.media }}
        </div>
      {% endif %}

      <div class="fl-banner-content {% if not contents.media %}fl-banner-content-centered{% endif %}">
        <div class="fl-banner-content-inner">
          {% if contents.heading %}
            {{ contents.heading }}
          {% endif %}

          {% if contents.actions %}
            <div class="fl-banner-actions">
              {{ contents.actions }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
