{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props variant="" align="start" expand_link=0 #}

<article class="fl-card {% if variant %}fl-card-{{ variant }}{% endif %} fl-card-{{ align or 'start' }} {% if expand_link %}fl-card-expand-link{% endif %}{% if variant == 'filled' %} fl-force-light-theme{% endif %}">
  {{ contents.body }}
</article>
