{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props extra_class="", scroll=0, container_width="", cards_per_row=0, two_wide_xs=0 #}

<div
  class="fl-card-grid
  {% if extra_class %} {{ extra_class }}{% endif %}
  {% if container_width %} container-{{ container_width }}{% endif %}
  {% if two_wide_xs %} two-col-xs{% endif %}
  {% if cards_per_row %} cols-{{ cards_per_row }}-md{% endif %}

  {% if container_width == 'scroll' %} fl-card-grid-scroll{% endif %}"
     {% if container_width == 'scroll' %}data-js="fl-card-grid-scroll"{% endif %}>
  {% if container_width == 'scroll' %}<div class="fl-card-grid-scroll-inner">{% endif %}
  {{ contents }}
  {% if container_width == 'scroll' %}</div>{% endif %}
</div>
