{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<article class="fl-card {% if fill %}fl-card-fill{% endif %} {% if expand_link %}fl-card-expand-link{% endif %}">
  {% if icon_name %}
    <div class="fl-card-icon">
      <include:icon icon_name="{{ icon_name }}" extra_class="fl-icon-size-4" hidden="true" />
    </div>
  {% endif %}
  {% if contents.sticker %}
    {{ contents.sticker }}
  {% endif %}
  {% if contents.tags %}
    <div>
      {{ contents.tags }}
    </div>
  {% endif %}
  {% if contents.heading %}
    {{ contents.heading }}
  {% endif %}
  {% if contents.body %}
    <div class="fl-body {% if not fill %}fl-body-medium{% endif %}">{{ contents.body }}</div>
  {% endif %}
  {% if contents.buttons %}
    <div class="fl-buttons">
      {{ contents.buttons }}
    </div>
  {% endif %}
</article>
