{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# platform_conditions=[], firefox_condition="", auth_state_condition="" #}

{% if platform_conditions %}
  <div class="conditional-display {% for condition in platform_conditions %}condition-{{ condition }} {% endfor %} {% if is_preview %}is-preview{% endif %}">
    {% if is_preview %}
      <span class="preview-indicator">Conditions: {{ platform_conditions | join(", ") }}</span>
    {% endif %}
{% endif %}

{% if firefox_condition %}
  <div class="conditional-display condition-{{ firefox_condition }} {% if is_preview %}is-preview{% endif %}">
    {% if is_preview %}
      <span class="preview-indicator">Condition: {{ firefox_condition }}</span>
    {% endif %}
{% endif %}

{% if auth_state_condition %}
  <div class="conditional-display condition-{{ auth_state_condition }} {% if is_preview %}is-preview{% endif %}">
    {% if is_preview %}
      <span class="preview-indicator">Condition: {{ auth_state_condition }}</span>
    {% endif %}
{% endif %}

{% if default_browser_condition %}
  <div class="conditional-display condition-{{ default_browser_condition }} {% if is_preview %}is-preview{% endif %}">
    {% if is_preview %}
      <span class="preview-indicator">Condition: {{ default_browser_condition }}</span>
    {% endif %}
{% endif %}

{% if min_version or max_version %}
  <div class="conditional-display condition-fx-version {% if is_preview %}is-preview{% endif %}"
    {% if min_version %}data-min-version="{{ min_version }}"{% endif %}
    {% if max_version %}data-max-version="{{ max_version }}"{% endif %}>
    {% if is_preview %}
      <span class="preview-indicator">Condition:
        {% if min_version %}FX version >= {{ min_version }}{% endif %}
        {% if max_version %}FX version <= {{ max_version }}{% endif %}</span>
    {% endif %}
{% endif %}

{{ contents }}

{% if default_browser_condition  %}
  </div>
{% endif %}
{% if min_version or max_version %}
  </div>
{% endif %}
{% if auth_state_condition  %}
  </div>
{% endif %}
{% if firefox_condition %}
  </div>
{% endif %}
{% if platform_conditions %}
  </div>
{% endif %}
