{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=enterprise' %}
{% set win_download_lang = LANG %}
{% set mac_download_lang = "ja-JP-mac" if LANG == "ja" else LANG %}


<section id="download" class="fl-section fl-enterprise-download">
  <h2 class="fl-heading">{{ ftl('firefox-enterprise-enterprise-downloads') }}</h2>

  <div class="fl-enterprise-download-lists">

    <section>
      <h3 class="fl-enterprise-download-os-title">{{ ftl('firefox-enterprise-windows') }}</h3>
      <include:dropdown
        label="{{ ftl('firefox-enterprise-select-your-download') }}"
        id="win64-download-list"
        testid="firefox-enterprise-win64-menu-button"
      >
        <ul>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-latest-ssl&os=win64&lang={{ win_download_lang }}" data-download-version="win64" data-cta-text="Win64 - Download - Firefox" data-testid="firefox-enterprise-win64-menu-link">
              {{ ftl('firefox-enterprise-firefox-latest') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-msi-latest-ssl&os=win64&lang={{ win_download_lang }}" data-download-version="win64-msi" data-cta-text="Win64 - Download - Firefox MSI" data-testid="firefox-enterprise-win64-msi-menu-link">
              {{ ftl('firefox-enterprise-firefox-latest-msi') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-latest-ssl&os=win64&lang={{ win_download_lang }}" data-download-version="win64" data-cta-text="Win64 - Download - Firefox ESR" data-testid="firefox-enterprise-win64-esr-menu-link">
              {{ ftl('firefox-enterprise-firefox-extended-support-release') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-msi-latest-ssl&os=win64&lang={{ win_download_lang }}" data-download-version="win64-msi" data-cta-text="Win64 - Download - Firefox ESR MSI" data-testid="firefox-enterprise-win64-esr-msi-menu-link">
              {{ ftl('firefox-enterprise-firefox-esr-msi') }}
            </a>
          </li>
        </ul>
      </include:dropdown>
    </section>

    <section>
      <h3 class="fl-enterprise-download-os-title">{{ ftl('firefox-enterprise-macos') }}</h3>
      <include:dropdown
        label="{{ ftl('firefox-enterprise-select-your-download') }}"
        id="mac-download-list"
        testid="firefox-enterprise-mac-menu-button"
      >
        <ul>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-latest-ssl&os=osx&lang={{ mac_download_lang }}" data-download-version="osx" data-cta-text="MacOS - Download - Firefox" data-testid="firefox-enterprise-mac-menu-link">
              {{ ftl('firefox-enterprise-firefox-latest') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-pkg-latest-ssl&os=osx&lang={{ mac_download_lang }}" data-download-version="osx-pkg" data-cta-text="MacOS - Download - Firefox PKG" data-testid="firefox-enterprise-mac-pkg-menu-link">
              {{ ftl('firefox-enterprise-firefox-latest-pkg') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-latest-ssl&os=osx&lang={{ mac_download_lang }}" data-download-version="osx" data-cta-text="MacOS - Download - Firefox ESR" data-testid="firefox-enterprise-mac-esr-menu-link">
              {{ ftl('firefox-enterprise-firefox-extended-support-release') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-pkg-latest-ssl&os=osx&lang={{ mac_download_lang }}" data-download-version="osx-pkg" data-cta-text="MacOS - Download - Firefox ESR PKG" data-testid="firefox-enterprise-mac-esr-pkg-menu-link">
              {{ ftl('firefox-enterprise-firefox-esr-pkg') }}
            </a>
          </li>
        </ul>
      </include:dropdown>
    </section>

    <section>
      <h3 class="fl-enterprise-download-os-title">{{ ftl('firefox-enterprise-linux') }}</h3>
      <include:dropdown
        label="{{ ftl('firefox-enterprise-select-your-download') }}"
        id="linux-download-list"
        testid="firefox-enterprise-linux-menu-button"
      >
        <ul>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64&lang={{ LANG }}" data-download-version="linux64" data-cta-text="Linux64 - Download - Firefox" data-testid="firefox-enterprise-linux-menu-link">
              {{ ftl('firefox-enterprise-firefox-latest-64-bit') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64-aarch64&lang={{ LANG }}" data-download-version="linux64-aarch64" data-cta-text="Linux64 ARM64 - Download - Firefox" data-testid="firefox-enterprise-linux-arm64-menu-link">
              {{ ftl('firefox-enterprise-firefox-latest-arm64') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-latest-ssl&os=linux64&lang={{ LANG }}" data-download-version="linux64" data-cta-text="Linux64 - Download - Firefox ESR" data-testid="firefox-enterprise-linux-esr-menu-link">
              {{ ftl('firefox-enterprise-firefox-esr-64-bit') }}
            </a>
          </li>
          <li>
            <a class="download-link ga-product-download" href="https://download.mozilla.org/?product=firefox-esr-latest-ssl&os=linux64-aarch64&lang={{ LANG }}" data-download-version="linux64-aarch64" data-cta-text="Linux64 ARM64 - Download - Firefox ESR" data-testid="firefox-enterprise-linux-esr-arm64-menu-link">
              {{ ftl('firefox-enterprise-firefox-esr-arm64') }}
            </a>
          </li>
        </ul>
      </include:dropdown>
    </section>

  </div>

  <div class="fl-enterprise-download-resources">
    <h3 class="fl-enterprise-download-resources-title">{{ ftl('firefox-enterprise-resources') }}</h3>
    <ul>
      <li><a href="https://firefox-admin-docs.mozilla.org/">{{ ftl('firefox-enterprise-documentation') }}</a></li>
      <li><a href="https://github.com/mozilla/policy-templates/releases">{{ ftl('firefox-enterprise-policy-templates') }}</a></li>
      <li><a href="https://support.mozilla.org/products/firefox-enterprise/whats-new-firefox-enterprise/{{ params }}">{{ ftl('firefox-enterprise-release-notes-v2', fallback='firefox-enterprise-release-notes') }}</a></li>
    </ul>
  </div>

  <p class="fl-body text-center fl-body-md">
    {{ ftl('firefox-enterprise-download-firefox-or-esr', firefox_all = 'href="' ~ firefox_url('desktop', 'all', 'esr') ~ '"') }}
  </p>
</section>
