{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props #}

<section class="fl-featured-image-section has-gradient-bottom">
  <div class="fl-section">
    <div class="fl-section-container">
      <div class="fl-featured-image-section-heading">
        {{ contents.heading }}
      </div>
      <div class="fl-featured-image-section-content">
        {{ contents.content }}
      </div>
    </div>
  </div>
  <div class="fl-featured-image-section-media">
    {{ contents.media }}
  </div>
</section>
