{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<header class="fl-header
  {% if no_menu %}fl-header-no-menu{% endif %}
    {% if not disable_sticky %}enable-sticky{% endif %}
    {% if theme == 'dark' %}fl-force-dark-theme{% endif %}
    {% if theme == 'light' %}fl-force-light-theme{% endif %}
">
    <div class="fl-header-inner">
        <a href="/" class="fl-logo-fx" aria-label="Firefox">
            <img
                src="/media/img/logos/firefox/logo-word-hor.svg"
                alt="Firefox"
                width="120"
                height="40"
            />
        </a>
        {% if not no_menu %}
        <nav class="fl-nav">
            <ul class="fl-nav-menu">
                {% include 'cms/includes/flare26-menus/browser.html' %}
                {% include 'cms/includes/flare26-menus/features.html' %}
                {% include 'cms/includes/flare26-menus/resources.html' %}
            </ul>
              <div class="fl-nav-mobile-download-link">
                {% include 'cms/includes/nav-cta.html' %}
              </div>
        </nav>
        <div class="fl-header-buttons">
          <div class="fl-header-main-download-button">
            {% include 'cms/includes/nav-cta.html' %}
          </div>
          <button class="fl-show-mobile-menu" type="button">
            <span class="fl-show-mobile-menu-content">
              <span class="fl-icon fl-icon-hamburger"></span>
              <span class="fl-icon fl-icon-close"></span>
            </span>
          </button>
        </div>
        {% endif %}
    </div>
</header>
