{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<footer class="fl-footer">
  <div class="fl-footer-inner">
    <div class="fl-footer-cta">
      <a href="#download" class="fl-footer-button">Get Firefox</a>
    </div>

    <nav class="fl-footer-nav">
      <div class="fl-footer-column">
        <h3 class="fl-footer-heading">Download</h3>
        <ul class="fl-footer-list">
          <li><a href="#" class="fl-footer-link">Download Firefox</a></li>
          <li><a href="#" class="fl-footer-link">Windows</a></li>
          <li><a href="#" class="fl-footer-link">Mac</a></li>
          <li><a href="#" class="fl-footer-link">iOS</a></li>
          <li><a href="#" class="fl-footer-link">Android</a></li>
          <li><a href="#" class="fl-footer-link">Linux</a></li>
          <li><a href="#" class="fl-footer-link">Custom Downloads</a></li>
        </ul>
      </div>

      <div class="fl-footer-column">
        <h3 class="fl-footer-heading">Latest Builds</h3>
        <ul class="fl-footer-list">
          <li><a href="#" class="fl-footer-link">Nightly</a></li>
          <li><a href="#" class="fl-footer-link">Beta</a></li>
        </ul>

        <h3 class="fl-footer-heading">Firefox for Business</h3>
        <ul class="fl-footer-list">
          <li><a href="#" class="fl-footer-link">Enterprise</a></li>
        </ul>
      </div>

      <div class="fl-footer-column">
        <h3 class="fl-footer-heading">Community</h3>
        <ul class="fl-footer-list">
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Connect
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Contribute
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li><a href="#" class="fl-footer-link">Developer</a></li>
        </ul>
      </div>

      <div class="fl-footer-column">
        <h3 class="fl-footer-heading">Resources</h3>
        <ul class="fl-footer-list">
          <li><a href="#" class="fl-footer-link">Compare</a></li>
          <li><a href="#" class="fl-footer-link">Release Notes</a></li>
          <li><a href="#" class="fl-footer-link">Learn</a></li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Support
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Add-ons
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Connect
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Blog
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
        </ul>
      </div>

      <div class="fl-footer-column">
        <h3 class="fl-footer-heading">Follow Us</h3>
        <ul class="fl-footer-list">
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Instagram
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              YouTube
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              TikTok
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Bluesky
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
          <li>
            <a href="#" class="fl-footer-link fl-footer-link-external">
              Podcast
              <include:icon icon_name="external-link" extra_class="fl-footer-icon" hidden=true />
            </a>
          </li>
        </ul>
      </div>

      <div class="fl-footer-column">
        <h3 class="fl-footer-heading">Powered by Mozilla</h3>
        <ul class="fl-footer-list">
          <li><a href="#" class="fl-footer-link">Ask Us a Question!</a></li>
        </ul>
      </div>
    </nav>

    <div class="fl-footer-legal">
      <ul class="fl-footer-legal-list">
        <li><a href="#" class="fl-footer-legal-link">Website Privacy Notice</a></li>
        <li><a href="#" class="fl-footer-legal-link">Terms of Use</a></li>
        <li><a href="#" class="fl-footer-legal-link">Cookie Policy</a></li>
        <li><a href="#" class="fl-footer-legal-link">Community Participation Guidelines</a></li>
        <li><a href="#" class="fl-footer-legal-link">Logo Trademark Licensing</a></li>
      </ul>
    </div>
  </div>
</footer>
