{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{#
 A top-level navigation category whose label opens a dropdown panel.
 The panel's columns are passed in as the component contents.
#}

<li class="fl-menu-category" data-testid="{{ panel_id }}">
  <a
    class="fl-menu-title"
    aria-haspopup="true"
    aria-controls="{{ panel_id }}"
  >
    <span class="fl-menu-heading">
      {{ label }}
      <span class="fl-icon fl-icon-chevron-down"></span>
    </span>
  </a>
  <div class="fl-menu-panel" id="{{ panel_id }}">
    <div class="fl-menu-panel-content">
      {{ contents }}
    </div>
  </div>
</li>
