
{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set form_template = form_template or "cms/newsletter_form.html" %}
{% set illustration = illustration or "kit" %}

<div class="fl-newsletterform-cta {% if theme %}fl-force-{{ theme }}-theme{% endif %}" data-state="default">
  {% if illustration != "none" %}
  <div class="fl-newsletterform-illustration">
    {% if illustration == "globe" %}
    <img alt="" loading="lazy" src="/media/img/firefox/flare/globe.png" />
    {% else %}
    <img alt="" loading="lazy" src="/media/img/firefox/flare/kit-on-rock.png" />
    {% endif %}
  </div>
  {% endif %}

  <div class="fl-newsletterform-content">
    {{ contents }}

    {{ email_newsletter_form(
      newsletters=newsletters,
      template=form_template,
      include_country=true,
      include_language=true,
      footer=false,
      include_title=false
    ) }}

  </div>
</div>
