{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props tags, last_updated="" #}

<section class="fl-section zero-v-pad">
  <div class="fl-section-container">
    <div class="fl-roadmap-list-filter">
      <div class="fl-tags fl-roadmap-tags">
        {% for tag in tags %}
          <button
            type="button"
            class="fl-roadmap-filter-button"
            data-filter="{{ tag.value }}"
            aria-pressed="false"
          >
            <include:tag text="{{ tag.label }}" before_icon={{ tag.icon }} after_icon="close" />
          </button>
        {% endfor %}
        <button
          type="button"
          class="fl-roadmap-filter-button fl-roadmap-filter-button-clear-all"
          aria-pressed="false"
          disabled
        >
          <include:tag text="Clear all" after_icon="close" />
        </button>
      </div>
      {% if last_updated %}
        <p>{{ last_updated }}</p>
      {% endif %}
    </div>
  </div>
</section>
