{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<section class="fl-section">
  <div class="fl-section-container">
    {% if contents.heading %}
      {{ contents.heading }}
    {% endif %}

    {% if contents.content %}
      {{ contents.content }}
    {% endif %}

    {% if contents.cta %}
      <div class="fl-section-cta-wrap">
        {{ contents.cta }}
      </div>
    {% endif %}
  </div>
</section>
