{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props layout="default", media_is_interactive=False #}

{% set media_tag = "div" if media_is_interactive else "figure" %}
{% set caption_tag = "div" if media_is_interactive else "figcaption" %}

<section class="fl-showcase fl-showcase-{{ layout }}">
  <div class="fl-showcase-heading">
    {{ contents.heading }}
  </div>
  <{{ media_tag }} class="fl-showcase-media">
      {{ contents.image }}
      <{{ caption_tag }} class="fl-showcase-caption">
        {{ contents.caption }}
      </{{ caption_tag }}>
  </{{ media_tag }}>
  {% if contents.cta %}
  <div class="fl-showcase-cta">
    {{ contents.cta }}
  </div>
  {% endif %}
</section>
