{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props icon="" title="" description="" link_text="" url="" #}

<article class="fl-article-item">
  <header class="fl-article-item-header">
  {{ contents.icon }}

  <include:heading
      level="h3"
      heading_text="{{ title }}"
    />
  </header>

  <div class="fl-article-item-content">


    <div class="fl-article-item-description">
      <p>{{ description }}</p>
      <div class="fl-buttons">
        <include:button
          theme_class="button-ghost"
          size_class="fl-button-small"
          label="{{ link_text }}"
          link="{{ url }}"
        />
      </div>
    </div>
  </div>
</article>
