{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<article class="fl-sticker-card {% if expand_link %}fl-card-expand-link{% endif %}">
  <div class="fl-card-heading">
    {{ contents.heading }}
  </div>
  <div class="fl-card-sticker">
    {{ contents.sticker }}
  </div>

  <div class="fl-body {% if not fill %}fl-body-medium{% endif %}">{{ contents.body }}</div>
  {% if contents.buttons %}
    <div class="fl-buttons">
      {{ contents.buttons }}
    </div>
  {% endif %}
</article>
