{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<span class="fl-tag fl-tag-{{ color }} fl-tag-{{ corners }}">
  {% if before_icon %}
    <include:icon
      icon_name="{{ before_icon }}"
      hidden=true
      extra_class="icon-left"
    />
  {% endif %}
  {{ text }}
  {% if after_icon %}
    <include:icon
      icon_name="{{ after_icon }}"
      hidden=true
      extra_class="icon-right"
    />
  {% endif %}
</span>
