{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<article class="fl-testimonial-card">
  {% if contents.body %}
    <blockquote class="fl-testimonial-card-quote fl-body">{{ contents.body }}</blockquote>
  {% endif %}
  {% if contents.attribution or contents.attribution_role or contents.image %}
    <footer class="fl-testimonial-card-footer">
      {% if contents.image %}
        <div class="fl-testimonial-card-image">{{ contents.image }}</div>
      {% endif %}
      <div class="fl-testimonial-card-meta">
        {% if contents.attribution %}
          <cite class="fl-testimonial-card-attribution">{{ contents.attribution }}</cite>
        {% endif %}
        {% if contents.attribution_role %}
          <span class="fl-testimonial-card-role">{{ contents.attribution_role }}</span>
        {% endif %}
      </div>
    </footer>
  {% endif %}
</article>
