{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{# props theme="", anchor_id="", reduce_card_padding=false #}

<div
  class="
    fl-two-column-cards
    {% if theme %}fl-two-column-cards-{{ theme }}{% endif %}
    {% if reduce_card_padding == true %}reduce-card-padding{% endif %}"
  {% if anchor_id %}id="{{ anchor_id }}"{% endif %}
>
  {{ contents }}
</div>
