{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}


<div class="ui-tour">
  <button
    class="fl-button {{ theme_class }}"
    type="button"
    {% if disabled %}disabled{% endif %}
    {% if analytics_text %}
      data-cta-position="{{ analytics_position }}"
      data-cta-text="{{ analytics_text|escape }}"
      data-cta-uid="{{ analytics_id }}"
    {% endif %}
  >
    {% if icon_name and icon_position == "left" %}
      {% set extra_class = "fl-icon-left" %}
      <include:icon
        icon_name="{{ icon_name }}"
        hidden=true
        extra_class="{{ extra_class }}"
      />
    {% endif %}
    {{ label }}
    {% if icon_name and icon_position == "right" %}
      {% set extra_class = "fl-icon-right" %}
      <include:icon
        icon_name="{{ icon_name }}"
        hidden=true
        extra_class="{{ extra_class }}"
      />
    {% endif %}
  </button>
</div>
