{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <div class="pl-row">
    <div class="fl-buttons is-horizontal">
      {% for variant in variants %}
        <div>
          <include:copy-to-clipboard-button
            value="{{ variant.value }}"
            label="{{ variant.label }}"
            success_label="{{ variant.success_label }}"
            theme_class="{{ variant.theme_class }}"
          />
        </div>
      {% endfor %}
    </div>
  </div>
</div>
