// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use '~@mozilla-protocol/core/protocol/css/includes/lib' as * with ($font-path: '/media/protocol/fonts', $image-path: '/media/protocol/img');

@use '~@mozilla-protocol/core/protocol/css/components/modal';
@use '~@mozilla-protocol/core/protocol/css/components/section-heading';
@use '~@mozilla-protocol/core/protocol/css/components/zap';
@use '~@mozilla-protocol/core/protocol/css/components/logos/logo';
@use '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-firefox';
@use '~@mozilla-protocol/core/protocol/css/components/logos/logo-product-mozilla';
@use '../../protocol/components/video';

// Play button on videos
.mzp-c-card-media-wrapper {
    &::after {
        background: url('/media/img/icons/video-play.svg') top left no-repeat;
        content: '';
        height: 100px;
        left: 50%;
        margin: -50px 0 0 -50px;
        opacity: 0.7;
        position: absolute;
        top: 50%;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
        width: 100px;
        z-index: 2;
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
        transform: scale(1.1);
    }
}
