/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* Required for postcss-custom-media to resolve @custom-media variables in standalone bundles */
@import 'variables/flare-media-query-tokens.css';

/* Enterprise theme styles */
@layer page {
    .enterprise-bgs-alt-1 .has-gradient-bottom {
        background-image: url('/media/img/firefox/enterprise/ent-bg-subpage-2.svg');
        background-position: top 68% right -166.6%;
        background-size: 86vw auto;
    }

    .enterprise-bgs-alt-1 .fl-main.has-gradient-bottom {
        background-image: url('/media/img/firefox/enterprise/ent-footer-tail-2.svg');
        background-position: bottom -15vw right -8vw;
        background-size: 108vw auto;
    }
}
