/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* Required for postcss-custom-media to resolve @custom-media variables in standalone bundles */
@import 'variables/flare-media-query-tokens.css';

/* Enterprise theme styles */
@layer page {
    :root,
    .fl-split-page-upper,
    .fl-split-page-upper .fl-force-light-theme,
    .fl-force-light-theme {
        --fl-theme-color-text: var(--token-color-black-4);
        --fl-theme-color-link: var(--token-color-link-purple);
        --fl-theme-color-link-hover: var(--token-color-link-purple);
        --fl-theme-color-link-alt-hover: var(--token-color-black-4);
        --fl-logo-url: url('/media/img/logos/firefox-enterprise/firefox-enterprise-orange.svg');
        --upper-page-theme-color: white;

        /* card overrides */
        --card-border-color: var(--token-color-grey-2);

        /* two-card color deviations */
        --two-column-light-light-first-card-bg: var(--token-color-grey-2);
        --two-column-light-light-second-card-bg: var(--token-color-grey-1);
    }

    .fl-main.has-gradient-bottom::before {
        background: none;
    }

    .fl-section-container > .fl-heading,
    .fl-section-container > .fl-heading-group {
        margin-inline: auto;
        max-width: var(--token-width-desktop-content-lg);
    }

    .fl-section-container > .fl-heading-group .fl-subheading {
        text-wrap: balance;
    }

    .fl-force-dark-theme {
        --fl-logo-url: url('/media/img/logos/firefox-enterprise/firefox-enterprise-orange.svg');
    }

    .has-gradient-bottom::before {
        --gradient-height: 250vh;
        background-image: linear-gradient(
            0deg,
            rgba(139, 135, 220, 1) 0%,
            #8accff00 64%
        );
        content: '';
    }

    .fl-logo-fx {
        background-size: 200px 40px;
        inline-size: 200px;
    }

    .fl-featured-image-section,
    .fl-featured-image-section::before {
        background: none;
        border-radius: 0;
    }

    .fl-featured-image-section .fl-superheading {
        background-image: none;
        color: var(--fl-theme-color-text);
    }

    /* footer overrides  */

    body {
        background: var(--token-color-black-4);
    }

    .fl-newsletterform-cta.fl-force-dark-theme,
    .fl-footer {
        --fl-theme-color-text: var(--token-color-white);
        --fl-theme-background: var(--token-color-black-4);
        background: var(--fl-theme-background);
    }

    .fl-footer a:link:not(.fl-button),
    .fl-footer a:visited:not(.fl-button) {
        color: var(--fl-theme-color-text);
    }

    .fl-language-switcher::before,
    .fl-language-switcher-select-wrapper {
        color: var(--fl-theme-color-text);
    }

    .fl-language-switcher-select {
        background: var(--fl-theme-background);
        border-color: var(--fl-subtle-border-color);
        color: var(--fl-theme-color-text);
    }

    /* Other components */

    .fl-card.fl-card-outline {
        --fl-theme-illustration-icon-bg: var(--token-color-grey-2);
    }

    .fl-button-row-help-text {
        --fl-theme-color-link: var(--fl-theme-color-text);
    }

    .mzp-c-button-download-privacy-link a {
        color: var(--fl-theme-color-text);
    }

    /* No space for the CTA button on mobile */
    @media (--viewport-xs) {
        .fl-header-main-download-button {
            display: none;
        }
    }

    @media (--viewport-md-up) {
        .fl-logo-fx {
            background-size: 237px 36px;
            inline-size: 237px;
        }
    }
}
