{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set has_media = image or video %}
<div class="intro{% if has_media %} intro-has-media{% endif %}{% if has_media and media_position %} intro-media-{{ media_position }}{% endif %}">
  <div class="intro-content">
    {% set heading_text = heading.heading_text %}
    {% set superheading_text = heading.superheading_text %}
    {% set subheading_text = heading.subheading_text %}
    {% set level = heading.level %}
    {% set alignment_class = heading.alignment_class %}
    {% include "cms/components/heading/heading.html" %}
    {% if actions %}
      <div class="intro-actions">
        {% set buttons = actions.buttons %}
        {% include "cms/components/button/buttons.html" %}
      </div>
    {% endif %}
    {% if fine_print %}
      <div class="fine-print">{{ fine_print }}</div>
    {% endif %}
  </div>
  {% if has_media %}
    <div class="intro-media">
      {% if image %}
        {% set url = image.url %}
        {% set alt = image.alt %}
        {% include "cms/components/image/image.html" %}
      {% elif video %}
        {% set url = video.url %}
        {% set alt = video.alt %}
        {% include "cms/components/video/video.html" %}
      {% endif %}
    </div>
  {% endif %}
</div>
