{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<include:tag
  text="{{ text }}"
  color="{{ color }}"
  corners="{{ corners }}"
>
  {% if before_icon %}
    <content:before_icon>
      <include:icon icon_name="{{ before_icon }}" hidden=true extra_class="icon-left" />
    </content:before_icon>
  {% endif %}
  {% if after_icon %}
    <content:after_icon>
      <include:icon icon_name="{{ after_icon }}" hidden=true extra_class="icon-right" />
    </content:after_icon>
  {% endif %}
</include:tag>
