{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <h4>Tag variants</h4>
  {% set colors = ['white', 'black', 'orange', 'purple', 'blue', 'outline'] %}
  <div class="pl-row" style="display: flex; flex-wrap: wrap; gap: 16px; align-items: flex-start;">
    {% for color in colors %}
      <div style="display: flex; flex-direction: column; gap: 8px; flex: 0 0 auto; width: max-content;">
        <p style="margin: 0; font-weight: 600;">{{ color|capitalize }}</p>
        {% for t in tags if t.color == color and t.corners == 'round' %}
          {% set text = t.text %}
          {% set corners = t.corners %}
          {% set before_icon = t.before_icon %}
          {% set after_icon = t.after_icon %}
          <div>
            <include:tag
              text="{{ text }}"
              color="{{ color }}"
              corners="{{ corners }}"
              before_icon="{{ before_icon }}"
              after_icon="{{ after_icon }}"
            />
          </div>
        {% endfor %}
        {% for t in tags if t.color == color and t.corners == 'soft' %}
          {% set text = t.text %}
          {% set corners = t.corners %}
          {% set before_icon = t.before_icon %}
          {% set after_icon = t.after_icon %}
          <div>
            <include:tag
              text="{{ text }}"
              color="{{ color }}"
              corners="{{ corners }}"
              before_icon="{{ before_icon }}"
              after_icon="{{ after_icon }}"
            />
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
