{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div class="pl-frame pl-frame--white">
  <h4>Tag variants</h4>
  {% set colors = ['white', 'black', 'orange', 'purple', 'blue', 'outline'] %}
  <div class="pl-row" style="display: flex; flex-wrap: wrap; gap: 16px; align-items: flex-start;">
    {% for color in colors %}
      <div style="display: flex; flex-direction: column; gap: 8px; flex: 0 0 auto; width: max-content;">
        <p style="margin: 0; font-weight: 600;">{{ color|capitalize }}</p>
        {% for t in tags if t.color == color and t.corners == 'round' %}
          <div>
            <include:tag
              text="{{ t.text }}"
              color="{{ color }}"
              corners="{{ t.corners }}"
            >
              {% if t.before_icon %}
                <content:before_icon>
                  <include:icon icon_name="{{ t.before_icon }}" hidden=true extra_class="icon-left" />
                </content:before_icon>
              {% endif %}
              {% if t.after_icon %}
                <content:after_icon>
                  <include:icon icon_name="{{ t.after_icon }}" hidden=true extra_class="icon-right" />
                </content:after_icon>
              {% endif %}
            </include:tag>
          </div>
        {% endfor %}
        {% for t in tags if t.color == color and t.corners == 'soft' %}
          <div>
            <include:tag
              text="{{ t.text }}"
              color="{{ color }}"
              corners="{{ t.corners }}"
            >
              {% if t.before_icon %}
                <content:before_icon>
                  <include:icon icon_name="{{ t.before_icon }}" hidden=true extra_class="icon-left" />
                </content:before_icon>
              {% endif %}
              {% if t.after_icon %}
                <content:after_icon>
                  <include:icon icon_name="{{ t.after_icon }}" hidden=true extra_class="icon-right" />
                </content:after_icon>
              {% endif %}
            </include:tag>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
