{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% for item in variants %}
  <section data-testid="{{ item.testid }}" class="fl-section">
    <div class="fl-section-container">
      <include:media-content media_after="{{ item.media_after }}">
        <content:content>
          <include:heading
            level="{{ item.heading.level }}"
            superheading_text="{{ item.heading.superheading_text }}"
            heading_size="fl-heading-size-{{ item.heading.level[1:] }}"
            heading_text="{{ item.heading.heading_text }}"
            subheading_text="{{ item.heading.subheading_text }}"
          />
          {% if item.tags %}
            {% for tag in item.tags %}
              <include:tag
                text="{{ tag.text }}"
                color="{{ tag.color }}"
                corners="{{ tag.corners }}"
                before_icon="{{ tag.before_icon }}"
                after_icon="{{ tag.after_icon }}"
              />
            {% endfor %}
          {% endif %}
          <p>{{ item.body }}</p>
          {% if item.buttons %}
            <include:buttons buttons="{{ item.buttons }}" />
          {% endif %}
        </content:content>
        {% if item.video %}
          <content:media>
            <include:video
              video_url="{{ item.video.url }}"
              {% if item.video.poster %}poster="{{ item.video.poster }}"{% endif %}
              {% if item.video.alt %}alt="{{ item.video.alt }}"{% endif %}
            />
          </content:media>
        {% elif item.media %}
          <content:media>
            <include:image url="{{ item.media.url }}" alt="{{ item.media.alt }}" />
          </content:media>
        {% endif %}
      </include:media-content>
    </div>
  </section>
{% endfor %}
