{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set heading_element %}
<{{ value.level|default('h2') }} class="heading {{ value.alignment_class|default('') }} {{ value.heading_size|default('') }}">
  {% if value.text is defined %}
  {% if value.text is string %}{{ value.text|richtext }}{% else %}{{ value.text }}{% endif %}
  {% endif %}
</{{ value.level|default('h2') }}>
{% endset %}

{% if value.superheading_text %}
<hgroup class="heading-group">
  <span class="superheading">
    {% if value.superheading_text is string %}
    {{ value.superheading_text|richtext }}
    {% else %}
      <p>{{ value.superheading_text }}</p>
      {% endif %}
  </span>
  {{ heading_element }}
  </hgroup>
{% else %}
{{ heading_element }}
{% endif %}
