/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.wnp-card .heading {
    margin: 0;
}

.card-deck-header {
    margin-bottom: var(--fds-spacing-2xl);
}

.wnp-card {
    position: relative;
}

.wnp-card.expand-link a.button::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: "";
}

.card-icon {
    font-size: var(--font-size-h4);
}

.card-illustration {
    padding: 0;
}

.card-illustration .card-illustration-content {
    padding: var(--fds-spacing-lg);
}

.card-illustration .media,
.card-illustration .media img {
    width: 100%;
}

.card-illustration-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--fds-spacing-md);
    height: 100%;
}
