/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Template - Layout styles for header, footer, and page structure

This file contains template-level styles for the Flare 2026 design.
===================================================================== */

body {
    background: var(--fl-theme-background);
    color: var(--fl-theme-color-text);
}

body.fl-modal-open {
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
}

/* Main */

.fl-main {
    background: var(--fl-theme-background);
    border-end-end-radius: var(--fl-theme-main-border-radius);
    border-end-start-radius: var(--fl-theme-main-border-radius);
    margin: 0 auto;
    padding-block: var(--fl-section-v-padding)
        var(--fl-theme-main-border-radius);
}
