/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* -------------------------------------------------------------------------- */

/* Footer Base */

.fl-footer {
    background-color: var(--token-color-dark-purple);
    color: var(--token-color-white);
    inline-size: 100%;
    margin: 0;
    margin-block-start: auto;
    padding: 0;
}

.fl-footer a:link:not(.fl-button),
.fl-footer a:visited:not(.fl-button) {
    color: var(--token-color-white);
    font-weight: normal;
    text-decoration: none;
}

.fl-footer a:hover:not(.fl-button),
.fl-footer a:focus:not(.fl-button),
.fl-footer a:active:not(.fl-button) {
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */

/* Primary Section */

.fl-footer-inner {
    margin: 0 auto;
    max-inline-size: var(--token-width-desktop-layout);
    padding-inline: var(--token-spacing-lg);
}

/* -------------------------------------------------------------------------- */

/* Footer Sections */

.fl-footer-section > * {
    margin-block-start: var(--token-spacing-xl);
}

.fl-footer-section > *:first-child {
    margin-block-start: 0;
}

.fl-footer-sections-list {
    padding: var(--token-layout-md) 0;
}

.fl-footer-sections-list-desktop {
    display: none;
}

.fl-footer-section-lang-select {
    grid-column: 1 / span 2;
}

@media (--viewport-below-lg) {
    .fl-footer-sections-list-mobile {
        border-block-end: transparent;
        border-color: transparent;
        display: grid;
        gap: var(--token-spacing-xl);
        grid-template-columns: 1fr 1fr;
    }

    .fl-footer-section {
        margin-block-start: var(--token-spacing-xl);
    }

    .fl-footer-sections-list .fl-footer-section {
        inline-size: auto;
        margin-block-end: 0;
        padding: 0;
    }

    .fl-footer-sections-list .fl-footer-list:last-child {
        margin-block-end: 0;
    }

    .fl-footer-sections-list .fl-footer-section-follow li:last-child {
        margin-block-end: 0;
    }
}

@media (--viewport-lg-up) {
    .fl-footer-sections-list {
        padding: var(--fl-section-v-padding) 0;
    }

    .fl-footer-sections-list-mobile {
        display: none;
    }

    .fl-footer-sections-list-desktop {
        display: flex;
    }

    .fl-footer-section {
        flex: 1;
        inline-size: calc(100% / 4 - var(--token-layout-xs) / 4);
        padding: 0 var(--token-spacing-xl);
    }

    .fl-footer-section:first-child {
        padding-inline: 0 var(--token-spacing-xl);
    }

    .fl-footer-section:last-child {
        padding-inline: var(--token-spacing-xl) 0;
    }
}

/* Individual Section Styles */
@media (--viewport-xs) {
    .fl-footer-section {
        margin-block-end: var(--token-spacing-sm);
    }
}

.fl-footer-section a:link,
.fl-footer-section a:visited {
    text-decoration: none;
}

.fl-footer-section a:hover,
.fl-footer-section a:focus,
.fl-footer-section a:active {
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */

/* Footer Headings */

.fl-footer-heading {
    font-size: var(--token-spacing-lg);
    font-weight: bold;
    line-height: 1.5;
    margin-block-end: var(--token-spacing-sm);
    padding: 0;
    text-align: start;
}

@media (--viewport-sm-up) {
    .fl-footer-heading {
        margin-block-end: 0;
        padding: 0 0 var(--token-spacing-sm);
    }
}

.fl-footer-heading a:link,
.fl-footer-heading a:visited {
    font-weight: bold;
}

/* -------------------------------------------------------------------------- */

/* Footer Lists */

.fl-footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (--viewport-below-lg) {
    .fl-footer-list {
        margin-block-end: 0;
    }
}

.fl-footer-list li {
    list-style-type: none;
    margin-block-end: var(--token-spacing-sm);
}

.fl-footer-list li:last-child {
    margin-block-end: 0;
}

/* external link icon */
.fl-footer-section a[href^='http']::after {
    background-color: var(--token-color-white);
    background-repeat: no-repeat;
    background-size: contain;
    block-size: 12px;
    content: '';
    display: inline-block;
    inline-size: 12px;
    margin-inline-start: var(--token-spacing-sm);
    mask-image: url('/media/img/icons/external.svg');
    vertical-align: baseline;
}

/* -------------------------------------------------------------------------- */

/* Secondary Section */

.fl-footer-secondary {
    margin: 0 auto;
    max-inline-size: var(--token-width-desktop-layout);
    padding: var(--token-spacing-lg);
    position: relative;
    text-transform: uppercase;
}

.fl-footer-secondary a:hover,
.fl-footer-secondary a:focus,
.fl-footer-secondary a:active {
    text-decoration: none;
}

/* Legal Links */
.fl-footer-legal {
    margin-block-end: var(--token-spacing-xl);
}

.fl-footer-terms {
    display: flex;
    flex-wrap: wrap;
    gap: var(--token-spacing-2xl);
    justify-content: space-between;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    max-inline-size: 100%;
    padding: 0;
}

.fl-footer-terms li {
    display: inline;
    margin: 0;
}

.fl-footer-terms a {
    font-size: var(--fl-theme-font-size-body-2xs);
}

.fl-footer-terms:not(.fl-button),
.fl-footer-terms a:visited:not(.fl-button) {
    text-decoration: none;
}

.fl-footer-terms a:link:not(.fl-button):hover,
.fl-footer-terms a:link:not(.fl-button):focus,
.fl-footer-terms a:visited:not(.fl-button):hover,
.fl-footer-terms a:visited:focus {
    text-decoration: underline;
}

@media (--viewport-below-md) {
    .fl-footer-terms li {
        display: block;
        inline-size: 100%;
    }
}

@media (--viewport-md-up) {
    .fl-footer-terms {
        gap: var(--token-spacing-sm) var(--token-spacing-2xl);
    }
}
