/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-intro {
    text-align: center;
    font-family: var(--font-family-inter);
    background-color: light-dark(var(--neutrals-ash), var(--neutrals-black));
    padding: calc(var(--scale-80) * 1px) calc(var(--scale-40) * 1px);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.fl-intro > * {
    margin: 0 auto;
}

.fl-intro-content {
    max-width: 848px;
}

.fl-intro-has-media {
    display: flex;
    flex-direction: var(--layout-direction);
    gap: calc(var(--scale-24) * 1px);
    text-align: var(--default-text-align);
}

.fl-intro-has-media > * {
    margin: 0;
}

.fl-intro-content .fl-buttons {
    justify-content: center;
}

.fl-intro-has-media .fl-intro-content .fl-buttons {
    justify-content: var(--default-justify-content);
}

.fl-intro-media-after .fl-intro-content {
    order: 0;
}

.fl-intro-media-after .fl-intro-media {
    order: 1;
}

.fl-intro-media-before .fl-intro-media {
    order: 0;
}

.fl-intro-media-before .fl-intro-content {
    order: 1;
}

.fl-intro-content .text {
    padding: calc(var(--scale-24) * 1px) 0 calc(var(--scale-64) * 1px);
}

.fl-intro-has-media > .fl-intro-content,
.fl-intro-has-media > .fl-intro-media {
    flex: 1 1 0;
}

.fl-intro-media iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.fl-intro-media .fl-video {
    border-radius: calc(var(--scale-16) * 1px);
}

.intro-media img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: calc(var(--scale-16) * 1px);
}

.fl-intro .fl-heading-group {
    margin-bottom: calc(var(--scale-24) * 1px);
}

.fl-intro .fl-subheading {
    margin-top: 0;
    margin-bottom: calc(var(--scale-64) * 1px);
    font-size: var(--font-size-base);
}
