.fl-media-qr-code {
    display: grid;
    grid-template-columns: 1fr;
}

.fl-media-qr-code img {
    aspect-ratio: 1 / 1;
    grid-area: 1 / 1;
}

.fl-qr-code {
    display: block;
    grid-area: 1 / 1;
    order: 2;
    place-self: center;
    width: 50%;
}

.fl-qr-code svg {
    margin: auto;
    max-height: none;
    width: 100%;
}

@media (--viewport-sm-up) {
    .fl-media-qr-code img {
        aspect-ratio: 16/9;
    }

    .fl-qr-code {
        background-size: initial;
        width: 25%;
    }
}
