.inline-notification-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--fds-spacing-md) 0 0;
    margin-bottom: calc(var(--fds-spacing-lg) * -1);
    z-index: 10;
}

.inline-notification .notification-bar {
    margin: 0;
    border-radius: var(--fds-border-radius-md);
    border: none;
    background: light-dark(var(--fds-color-purple-light), var(--fds-color-purple-light));
    color: var(--fds-color-charcoal);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    text-align: center;
}

.inline-notification .notification-bar p {
    margin: 0;
    font-family: var(--fds-font-family-secondary);
    font-size: var(--fds-font-size-xs);
    line-height: 1.4;
    padding: var(--fds-spacing-md) var(--fds-spacing-lg);
}

@media (max-width: 1024px) {
    .inline-notification {
        max-width: calc(100vw - var(--fds-spacing-lg))
    }

    .inline-notification .notification-bar {
        white-space: normal;
    }

    .inline-notification .notification-bar p {
        padding: var(--fds-spacing-sm) var(--fds-spacing-md);
    }
}
