/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-c-flow-wrapper {
    margin: 0 auto;
    max-width: var(--token-width-desktop-layout);
    padding-inline: var(--token-spacing-lg);
}

/* TODO: ensure source order matches for tabbing  */
@media (--viewport-sm-up) {
    .fl-c-flow-wrapper {
        display: grid;
        grid-template-columns: [steps-start] 1fr [steps-end links-start] auto [links-end];
    }

    .fl-c-flow-steps {
        grid-area: steps;
    }

    .fl-c-flow-links {
        grid-area: links;
    }
}
