/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.icon-text-list {
    --fl-theme-color-icon-wrap: var(--token-color-soft-purple);
    --fl-theme-color-icon: var(--fl-theme-color-text);
    columns: 24ch 2;
    gap: var(--token-spacing-xl);
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon-text-list li {
    break-inside: avoid;
    display: flex;
    gap: var(--token-layout-3xs);
    margin-block-end: var(--token-spacing-xl);
}

.icon-text-list li:last-child {
    margin-block-end: 0;
}

@media (prefers-color-scheme: dark) {
    .icon-text-list {
        --fl-theme-color-icon-wrap: var(--token-color-medium-purple);
    }
}
