/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-banner {
    position: relative;
    border-radius: calc(var(--token-scale-16) * 1px);
    padding: calc(var(--token-scale-24) * 1px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fl-banner-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: calc(var(--token-scale-24) * 1px);
    display: flex;
    flex-direction: column;
    gap: calc(var(--token-scale-40) * 1px);
}

.fl-banner-container .fl-heading-group {
    margin-bottom: 0;
}

.fl-banner .fl-heading,
.fl-banner .fl-subheading {
    margin: 0;
}

.fl-banner .fl-subheading {
    text-wrap: balance;
    font-size: var(--fl-theme-font-size-subheading-5);
}

.fl-banner-outlined {
    border: 1px solid var(--fl-theme-border-color-strong);
    color: var(--fl-theme-color-text-primary);
}

.fl-banner-purple {
    background-image: var(--token-noise-bg-texture), var(--token-gradient-radial-purple);
    background-size: 600px 600px, cover;
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    color: var(--token-neutrals-white);
}

.fl-banner-media {
    border-radius: calc(var(--token-scale-16) * 1px);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fl-banner-media.has-qr-code {
    display: grid;
    grid-template-columns: 1fr;
}

.fl-banner-media.has-qr-code img {
    aspect-ratio: 1/1;
}

.fl-banner-media img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: calc(var(--token-scale-8) * 1px);
    grid-area: 1 / 1;
}

.fl-banner-media-qr {
    background: url('/media/img/firefox/flare/qr-background-simple.png') no-repeat center;
    background-size: contain;
    align-items: flex-end;
    padding: 0 calc(var(--token-scale-24) * 1px);
    height: 338px;
}

.fl-banner-qr {
    display: block;
    grid-area: 1 / 1;
    order: 2;
    place-self: center;
    width: 50%;
}

.fl-banner-qr svg {
    margin: auto;
    max-height: none;
    width: 100%;
}

.fl-banner-media.has-large-qr-code .fl-banner-qr {
    width: auto;
}

.fl-banner-media.has-large-qr-code .fl-banner-qr svg {
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--fl-theme-font-family-body);
    font-size: var(--fl-theme-font-size-base);
    box-shadow: none;
    padding: 10px 18px 0;
}

.fl-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 840px;
    text-align: center;
    margin: 0 auto;
}

.fl-banner-content-inner {
    display: flex;
    flex-direction: column;
    gap: calc(var(--token-scale-16) * 1px);
}

.fl-banner .fl-buttons {
    margin-top: calc(var(--token-scale-24) * 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fl-banner-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--token-scale-24) * 1px);
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
}

.fl-banner-purple .fl-button:not([class*="button-"]) {
    color: var(--token-neutrals-white);
    border-color: var(--token-neutrals-white);
}

.fl-banner-purple .fl-button:not([class*="button-"]):hover,
.fl-banner-purple .fl-button:not([class*="button-"]):focus,
.fl-banner-purple .fl-button:not([class*="button-"]):active {
    color: var(--token-purple-dark-purple);
    background-color: var(--token-neutrals-ash);
    border-color: var(--token-neutrals-charcoal);
}

.fl-banner-purple .fl-button.button-ghost {
    color: var(--token-neutrals-white);
}

.fl-banner-purple .fl-button.button-ghost:hover,
.fl-banner-purple .fl-button.button-ghost:focus,
.fl-banner-purple .fl-button.button-ghost:active {
    background: var(--token-neutrals-white);
    color: var(--token-purple-dark-purple);
}

.fl-banner-purple .fl-button.button-secondary:hover,
.fl-banner-purple .fl-button.button-secondary:focus,
.fl-banner-purple .fl-button.button-secondary:active {
    background: var(--token-blue-medium-blue);
    color: var(--token-neutrals-white);
}


@media (min-width: 768px) {
    .fl-banner {
        padding: calc(var(--token-scale-80) * 1px) calc(var(--token-scale-48) * 1px);
        justify-content: initial;
        align-items: initial;
        text-align: initial;
    }

    .fl-banner-container {
        padding: calc(var(--token-scale-40) * 1px);
    }

    .fl-banner-media img {
        border-radius: calc(var(--token-scale-16) * 1px);
    }

    .fl-banner-media.has-qr-code img {
        aspect-ratio: 16/9;
    }

    .fl-banner-qr {
        background-size: initial;
        width: 25%;
    }

    .fl-banner .fl-buttons {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .fl-banner-container {
        gap: calc(var(--token-scale-64) * 1px);
    }

    .fl-banner-layout:has(.fl-banner-media) {
        gap: calc(var(--token-scale-48) * 1px);
        grid-template-columns: 1fr 1fr;
    }

    .fl-banner-reverse .fl-banner-layout {
        grid-auto-flow: dense;
    }

    .fl-banner-reverse .fl-banner-media {
        order: 2;
        grid-column: 2;
    }

    .fl-banner-reverse .fl-banner-content {
        order: 1;
        grid-column: 1;
    }

    .fl-banner-content.fl-banner-content-left {
        text-align: left;
        align-items: flex-start;
        margin: unset;
    }

    .fl-banner-content.fl-banner-content-left .fl-buttons {
        justify-content: left;
    }
}
