/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* NOTE: this file is _all instead of -all to avoid being hidden by a gitignore rule */

.fl-download-all .fl-intro {
    padding-inline: var(--token-spacing-lg);
}

.fl-c-flow-wrapper {
    margin: 0 auto;
    max-width: var(--token-width-desktop-layout);
    padding-inline: var(--token-spacing-lg);
}

/* override defaults */
.fl-c-flow-step-title,
.fl-c-flow-selection,
.fl-c-flow-product-title-img,
.fl-c-flow-section a > img {
    margin-block-end: 0;
}

.fl-c-flow-section a > img {
    max-height: unset;
}

.fl-c-unstyled-list {
    list-style: '';
    margin-inline-start: 0;

    /* override default */
    li {
        margin-block-end: var(--token-spacing-xs);
    }
}

.fl-c-flow-options-heading {
    align-items: center;
    display: flex;
    gap: var(--token-spacing-sm);
}

.fl-c-flow-section {
    --download-all-checkmark-size: 24px;
    display: grid;
    gap: var(--token-spacing-md);
    grid-template-columns:
        [step-start] var(--download-all-checkmark-size)
        [content-start] 1fr [content-end step-end];
    grid-template-rows:
        var(--token-spacing-lg)
        [step-start] auto [step-end content-start] auto [content-end];
}

.fl-c-flow-steps {
    counter-reset: stepCounter;
}

.fl-t-flow-step-title-counter::before {
    content: counter(stepCounter, decimal-leading-zero) '.';
}

.fl-c-flow-step {
    align-items: center;
    counter-increment: stepCounter;
    display: flex;
    gap: var(--token-spacing-md);
    grid-area: step;
}

.fl-c-flow-step + * {
    border-block-end: var(--fl-theme-divider);
    grid-area: content;
    padding-block-end: var(--token-spacing-md);
}

.fl-c-flow-step-checkbox {
    border: 1px solid var(--fl-theme-color-brand-text);
    border-radius: var(--token-border-radius-2xs);
    color: var(--fl-theme-color-text-inverse);
    display: grid;
    height: var(--download-all-checkmark-size);
    place-content: center;
    width: var(--download-all-checkmark-size);
}

.fl-c-flow-step-checkbox:not(:empty) {
    background-color: var(--fl-theme-color-brand-text);
}

.fl-c-flow-selection {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--token-spacing-md);
    justify-content: space-between;
    line-height: 1;
}

@media (--viewport-xs) {
    /* Divider goes across entire first section */
    .fl-c-flow-steps {
        border-block-start: var(--fl-theme-divider);
    }
}

@media (--viewport-sm-up) {
    .fl-c-flow-section {
        --download-all-content-spacing: var(--token-spacing-2xl);

        /* 153px is one-off Figma value */
        grid-template-columns: [step-start] 153px [step-end content-start] 1fr [content-end];
        grid-template-rows:
            [content-start]
            var(--download-all-content-spacing)
            [step-start] auto [step-end] var(--download-all-content-spacing)
            [content-end];
        row-gap: 0;
    }

    .fl-c-flow-step + * {
        padding-block: var(--download-all-content-spacing);
    }

    .fl-c-flow-step {
        align-self: start;
    }

    /* Divider only goes across part of 1st section */
    [aria-labelledby='all-product']
        :where(.fl-c-flow-options, .fl-c-flow-selection) {
        border-block-start: var(--fl-theme-divider);
    }
}

@media (--viewport-below-md) {
    .fl-c-flow-links {
        text-align: center;
    }

    /* links will appear after the steps content on desktop
    we need to match source order to visual order for keyboard UX */
    .fl-t-flow-links-desktop {
        display: none;
    }
}

@media (--viewport-md-up) {
    .fl-c-flow-wrapper {
        display: grid;
        gap: var(--token-spacing-lg);
        grid-template-columns: [steps-start] 1fr [steps-end links-start] auto [links-end];
    }

    .fl-c-flow-steps {
        grid-area: steps;
    }

    .fl-c-flow-links {
        grid-area: links;
    }

    /* when reading-flow has better support, we can remove this workaround */
    .fl-t-flow-links-mobile {
        display: none;
    }
}

/* Product logos copied from all.scss */
@supports (margin-inline-start: 1em) {
    .c-product-list {
        li {
            background-repeat: no-repeat;
            background-size: 1.5em auto;
        }

        a {
            margin-inline-start: calc(1.5em + var(--token-spacing-sm));
        }

        .release,
        .desktop-release,
        .desktop-esr {
            background-image: url('/media/protocol/img/logos/firefox/browser/logo.svg');
        }

        .desktop-beta,
        .android-beta {
            background-image: url('/media/protocol/img/logos/firefox/browser/beta/logo.svg');
        }

        .desktop-developer {
            background-image: url('/media/protocol/img/logos/firefox/browser/developer/logo.svg');
        }

        .desktop-nightly,
        .android-nightly {
            background-image: url('/media/protocol/img/logos/firefox/browser/nightly/logo.svg');
        }

        .ios-testflight {
            background-image: url('/media/img/logos/testflight/testflight.svg');
        }
    }
}

/* Mobile QR code copied from all.scss */
.c-mobile {
    width: fit-content;
}

.qr-code-wrapper {
    background: var(--fl-theme-color-text-inverse);
    border: 2px solid var(--token-color-grey-2);
    border-radius: var(--token-border-radius-sm);
    box-shadow:
        0 8px 12px 1px rgba(29, 17, 51, 0.04),
        0 3px 16px 2px rgba(9, 32, 77, 0.12),
        0 5px 10px -3px rgba(29, 17, 51, 0.12);
    margin: 0 auto var(--token-spacing-xl);
    max-width: 220px;
    padding: var(--token-spacing-lg);

    svg {
        height: auto;
        max-width: 100%;
    }

    figcaption {
        color: var(--fl-theme-color-text);
        font-weight: bold;
        line-height: 1.125;
        padding: 0 var(--token-spacing-lg);
        text-align: center;

        em {
            display: block;
        }
    }
}

.c-store-badges {
    margin-inline-start: 0;
    margin-bottom: 0;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 var(--token-spacing-sm);
    }

    a {
        display: inline-block;
    }
}

/* Modal styles copied from all.scss */
.mzp-c-modal.help-modal .mzp-c-modal-window > .mzp-c-modal-inner header {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    /* stylelint-disable-next-line declaration-no-important */
    position: absolute !important;
    width: 1px;
}
