/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-intro {
    position: relative;
    text-align: center;
}

.fl-intro > * {
    margin: 0 auto;
}

.fl-intro-content {
    max-width: 848px;
}

.fl-intro-content .fl-buttons {
    justify-content: center;
}

.fl-intro-content .text {
    padding: var(--token-layout-3xs) 0 var(--token-layout-sm);
}

.fl-intro .fl-heading-group {
    margin-bottom: var(--token-layout-3xs);
}

.fl-intro .fl-subheading {
    font-size: var(--fl-theme-font-size-body-sm);
    margin-bottom: var(--token-layout-sm);
    margin-top: 0;
}

.fl-home-intro {
    position: relative;
}

.fl-home-intro::before {
    aspect-ratio: 4/3;
    background: url('/media/img/firefox/flare/kit-tail-2.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: var(--banner-kit-bottom-position, -300px);
    content: '';
    position: absolute;
    right: var(--banner-kit-right-position, calc(50% - 114px));
    width: var(--banner-kit-width, 580px);
    z-index: 0;
}

.fl-home-intro .fl-superheading {
    background: linear-gradient(
        180deg,
        var(--token-color-light-purple-40) 0%,
        var(--token-color-light-purple-20) 100%
    );
    border-radius: var(--token-border-radius-xl);
    display: inline-flex;
    font-size: var(--fl-theme-font-size-body-2xs);
    font-weight: var(--token-font-weight-medium);
    margin: 0;
    padding: var(--token-spacing-sm) var(--token-spacing-md);
    position: relative;
}

.fl-home-intro .fl-superheading:has(a:hover) {
    background: linear-gradient(
        180deg,
        var(--token-color-light-purple-60) 0%,
        var(--token-color-light-purple-40) 100%
    );
}

.fl-home-intro .fl-superheading a {
    color: var(--token-color-white);
    text-decoration: none;
}

.fl-home-intro .fl-superheading a::before {
    content: '';
    inset: 0;
    position: absolute;
}

.fl-home-intro .fl-superheading a::after {
    background-color: currentColor;
    content: '';
    display: inline-block;
    height: 1em;
    margin-left: var(--token-spacing-xs);
    mask: url('/media/img/firefox/flare/icons/arrow-forward.svg') no-repeat
        center / 1em 1em;
    mask-size: contain;
    vertical-align: middle;
    width: 1em;
}

.fl-home-intro .fl-superheading i,
.fl-home-intro .fl-superheading em {
    background: var(--token-gradient-gold);
    border-radius: var(--token-border-radius-xs);
    color: var(--token-color-black-4);
    font-style: normal;
    margin-inline-end: var(--token-spacing-xs);
    padding: var(--token-spacing-2xs) var(--token-spacing-xs);
    text-transform: uppercase;
}

.fl-home-intro .fl-heading {
    margin-bottom: var(--token-spacing-lg);
    margin-top: var(--token-spacing-lg);
}

.fl-intro-actions {
    margin-top: var(--token-spacing-2xl);
}

.fl-home-intro .fl-subheading {
    margin: 0 auto;
    max-width: 48ch;
    text-wrap: balance;
}

@media (--viewport-sm-up) {
    .fl-home-intro {
        --banner-kit-right-position: calc(50% - 154px);
        --banner-kit-bottom-position: -394px;
        --banner-kit-width: 800px;
    }
}

@media (--viewport-md-up) {
    .fl-home-intro {
        --banner-kit-right-position: calc(50% - 198px);
        --banner-kit-bottom-position: -522px;
        --banner-kit-width: 1050px;
    }
}
