/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-section {
    display: flex;
    flex-direction: column;
    gap: calc(var(--scale-40) * 1px);
}

@media (min-width: 1024px) {
    .fl-section {
        gap: calc(var(--scale-64) * 1px);
    }
}
