/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-section {
    padding: calc(var(--scale-24) * 1px) 0;
}

.fl-section-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 calc(var(--scale-40) * 1px);
    display: flex;
    flex-direction: column;
    gap: calc(var(--scale-40) * 1px);
}

.fl-page-blog .fl-section-container {
    max-width: 700px;
}

@media (min-width: 1024px) {
    .fl-section-container {
        gap: calc(var(--scale-64) * 1px);
    }

    .fl-section-container .fl-heading-group {
        margin-bottom: 0;
    }

    .fl-section {
        padding: calc(var(--scale-64) * 1px) 0
    }
}

@media (max-width: 767px) {
    .fl-section {
        margin-bottom: 0;
    }

    .fl-section-container {
        padding: 0 calc(var(--scale-24) * 1px);
    }
}

.fl-section-cta-wrap {
    text-align: center;
}

.fl-section-cta-link {
    color: light-dark(var(--neutrals-charcoal), var(--neutrals-white));
    font-weight: var(--font-weight-semibold);
}
