/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-intro {
    padding: var(--token-layout-md) var(--fl-section-h-padding);
    position: relative;
    text-align: center;
}

.fl-intro > * {
    margin: 0 auto;
}

.fl-intro-content {
    align-items: center;
    display: flex;
    max-inline-size: 848px;
}

.fl-intro-full-width .fl-intro-content {
    max-inline-size: unset;
}

.fl-intro-vertical .fl-intro-content {
    display: block;
}

.fl-intro-media {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-inline-size: var(--token-width-desktop-content-lg);
}

.fl-intro-content .fl-buttons {
    justify-content: center;
}

.fl-intro-content .text {
    padding: var(--token-layout-3xs) 0 var(--token-layout-sm);
}

.fl-intro-body {
    padding-block-start: var(--token-spacing-lg);
}

.fl-intro .fl-heading-group {
    margin-block-end: var(--token-layout-3xs);
}

.fl-intro .fl-superheading {
    color: var(--fl-theme-color-link);
    font-size: var(--fl-theme-font-size-subheading-xs);
    text-transform: uppercase;
}

.fl-intro .fl-heading {
    font-size: var(--fl-theme-font-size-heading-md);
}

.fl-intro .fl-subheading {
    font-size: var(--fl-theme-font-size-body-sm);
}

.fl-intro-actions {
    margin-block-start: var(--token-spacing-2xl);
}

.fl-intro.fl-intro-media-right,
.fl-intro.fl-intro-media-left {
    display: grid;
    gap: var(--token-layout-xs);
    grid-template-columns: 1fr;
}

.fl-intro.fl-intro-media-left .fl-intro-media {
    order: -1;
}

.fl-intro.fl-intro-media-right .fl-intro-media > *,
.fl-intro.fl-intro-media-left .fl-intro-media > * {
    border-radius: var(--token-border-radius-md);
}

.fl-home-intro {
    position: relative;
}

.fl-home-intro .fl-intro-content {
    display: block;
}

/* This is only for the 'features theme' page, for now. */
.has-sitting-kit .fl-intro .fl-subheading {
    text-wrap: balance;
}

.fl-home-intro::before {
    aspect-ratio: 4/3;
    background: url('/media/img/firefox/flare/kit-tail-2.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    inline-size: var(--banner-kit-width, 580px);
    inset-block-end: var(--banner-kit-bottom-position, -300px);
    inset-inline-end: var(--banner-kit-right-position, calc(50% - 114px));
    position: absolute;
    z-index: 0;
}

.fl-home-intro .fl-superheading {
    background: linear-gradient(
        180deg,
        var(--token-color-light-purple-40) 0%,
        var(--token-color-light-purple-20) 100%
    );
    border-radius: var(--token-border-radius-xl);
    display: inline-flex;
    font-size: var(--fl-theme-font-size-body-2xs);
    font-weight: var(--token-font-weight-medium);
    margin: 0;
    padding: var(--token-spacing-sm) var(--token-spacing-md);
    position: relative;
}

.fl-home-intro .fl-superheading:has(a:hover) {
    background: linear-gradient(
        180deg,
        var(--token-color-light-purple-60) 0%,
        var(--token-color-light-purple-40) 100%
    );
}

.fl-home-intro .fl-superheading a {
    color: var(--token-color-white);
    text-decoration: none;
}

.fl-home-intro .fl-superheading a::before {
    content: '';
    inset: 0;
    position: absolute;
}

.fl-home-intro .fl-superheading a::after {
    background-color: currentColor;
    block-size: 1em;
    content: '';
    display: inline-block;
    inline-size: 1em;
    margin-inline-start: var(--token-spacing-xs);
    mask: url('/media/img/firefox/flare/icons/arrow-forward.svg') no-repeat
        center / 1em 1em;
    mask-size: contain;
    vertical-align: middle;
}

.fl-home-intro .fl-superheading i,
.fl-home-intro .fl-superheading em {
    background: var(--token-gradient-gold);
    border-radius: var(--token-border-radius-2xs);
    color: var(--token-color-black-4);
    font-style: normal;
    margin-inline-end: var(--token-spacing-xs);
    padding: var(--token-spacing-2xs) var(--token-spacing-xs);
    text-transform: uppercase;
}

.fl-home-intro .fl-heading {
    margin-block: var(--token-spacing-lg);
}

.fl-home-intro .fl-subheading {
    margin: 0 auto;
    margin-block: 0 var(--token-layout-sm);
    max-inline-size: 48ch;
    text-wrap: balance;
}

@media (--viewport-sm-up) {
    .fl-intro {
        padding-block: var(--token-layout-lg);
    }

    .has-sitting-kit .fl-intro {
        padding-block: var(--token-layout-xs);
    }

    .fl-intro.fl-intro-media-right,
    .fl-intro.fl-intro-media-left {
        grid-template-columns: 1fr 1fr;
        text-align: start;
    }

    .fl-home-intro {
        --banner-kit-right-position: calc(50% - 154px);
        --banner-kit-bottom-position: -394px;
        --banner-kit-width: 800px;
    }
}

@media (--viewport-md-up) {
    .fl-home-intro {
        --banner-kit-right-position: calc(50% - 198px);
        --banner-kit-bottom-position: -522px;
        --banner-kit-width: 1050px;
    }
}
