/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-pre-footer-cta {
    --kit-size: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: var(--token-layout-lg);
    position: relative;
    padding-top: var(--kit-size);
}

.fl-pre-footer-cta::before {
    content: '';
    position: absolute;
    top: calc(var(--kit-size) * .15);
    left: 50%;
    transform: translateX(-50%);
    width: var(--kit-size);
    height: var(--kit-size);
    background-image: url('/media/img/firefox/flare/sitting-kit-2.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fl-pre-footer-cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--token-layout-2xs) var(--token-layout-xs);
    background-color: var(--token-color-light-purple);
    color: var(--token-color-white);
    font-family: var(--fl-theme-font-family-headline);
    font-weight: 700;
    font-size: 3.5em;
    line-height: 0.9;
    letter-spacing: -0.005em;
    text-decoration: none;
    text-align: center;
    border-radius: 2000px;
    transition: background-color var(--token-transition-fast);
}

.fl-pre-footer-cta-button:hover {
    background-color: var(--token-color-link-purple);
}

@media (--viewport-md-up) {
    .fl-pre-footer-cta {
        --kit-size: 180px;
    }

    .fl-pre-footer-cta-button {
        font-size: 8em;
        padding: var(--token-layout-sm) var(--token-layout-lg);
    }
}
