/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.media img,
.media video,
.media iframe {
    display: block;
    width: 100%;
    height: auto;
}

.media iframe {
    aspect-ratio: var(--aspect-ratio, 16 / 9);
}
