
/* ================================================
   Download Links
   ================================================ */

.fl-firefox-platform-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-lg);
    justify-content: center;
}

.fl-firefox-platform-button .fl-button {
    width: fit-content;
}

.fl-download-firefox-button .fl-store-button {
    display: none;
}

html.android .fl-download-firefox-button .download-link,
html.ios .fl-download-firefox-button .download-link {
    display: none;
}

html.android
    .fl-download-firefox-button
    .fl-store-button.fl-store-button-android {
    display: block;
}

html.ios .fl-download-firefox-button .fl-store-button.fl-store-button-ios {
    display: block;
}

.fl-store-button {
    display: block;
}

.fl-store-button img {
    margin: 0;
    min-height: 45px;
}

.fl-header .fl-fx-download-container,
.fl-header .fx-unsupported-message,
.fl-header .fl-privacy-link {
    display: none;
    margin: 0;
}

.fl-header .download-link {
    padding: 10px 24px;
    border-radius: 4px;
    font-weight: bold;
    display: block;
}

.fl-header .download-link:hover {
    text-decoration: none;
}

.fl-header .fl-icon-download-white {
    vertical-align: unset;
    margin-left: 4px;
}

.fl-nav-mobile-download-link {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: calc(var(--token-scale-16) * 1px) calc(var(--token-scale-24) * 1px);
    border-top: 2px solid var(--fl-theme-border-color-subtle);
    background: var(--fl-theme-navigation-bg);
}

.fl-nav-mobile-download-link .fl-fx-download-container {
    display: block;
}

.fl-nav-mobile-download-link .download-button {
    display: block;
    width: 100%;
    padding: calc(var(--token-scale-12) * 1px);
}

@media screen and (min-width: 768px){
    .fl-header .fl-fx-download-container {
        display: block;
    }
}
