/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-banner {
    position: relative;
    border-radius: calc(var(--scale-16) * 1px);
    padding: calc(var(--scale-24) * 1px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fl-banner-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: calc(var(--scale-24) * 1px);
    display: flex;
    flex-direction: column;
    gap: calc(var(--scale-40) * 1px);
}

.fl-banner-container .fl-heading-group {
    margin-bottom: 0;
}

.fl-banner .fl-heading, .fl-banner .fl-subheading {
    margin: 0;
}

.fl-banner .fl-subheading {
    font-size: var(--font-size-subheading-5);
    text-wrap: balance;
}

.fl-banner-outlined {
    border: 1px solid light-dark(var(--neutrals-charcoal), var(--neutrals-ash));
    background: transparent;
    color: light-dark(var(--neutrals-charcoal), var(--neutrals-ash));
}

.fl-banner-filled {
    background: var(--gradient-radial-purple);
    color: var(--neutrals-white);
    border: none;
    position: relative;
}

.fl-banner-filled::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/media/img/firefox/flare/noise-filter.svg');
    background-size: 600px 600px;
    background-repeat: repeat;
    opacity: 0.3;
    mix-blend-mode: normal;
    pointer-events: none;
    border-radius: inherit;
}

.fl-banner-filled .fl-body-text {
    color: var(--neutrals-white);
}

.fl-banner-filled .fl-heading {
    color: var(--neutrals-white);
}

.fl-banner-filled .fl-subheading {
    color: var(--neutrals-white);
}

.fl-banner-filled .fl-superheading {
    color: var(--neutrals-white);
}

.fl-banner-filled .fl-button:not([class*="button-"]) {
    color: var(--neutrals-white);
    border-color: var(--neutrals-white);
}

.fl-banner-filled .fl-button:not([class*="button-"]):hover,
.fl-banner-filled .fl-button:not([class*="button-"]):focus,
.fl-banner-filled .fl-button:not([class*="button-"]):active {
    color: var(--purple-dark-purple);
    background-color: var(--neutrals-ash);
    border-color: var(--neutrals-charcoal);
}

.fl-banner-filled .fl-button.button-ghost {
    color: var(--neutrals-white);
}

.fl-banner-filled .fl-button.button-ghost:hover,
.fl-banner-filled .fl-button.button-ghost:focus,
.fl-banner-filled .fl-button.button-ghost:active {
    background: var(--neutrals-white);
    color: var(--purple-dark-purple);
}

.fl-banner-filled .fl-button.button-secondary:hover,
.fl-banner-filled .fl-button.button-secondary:focus,
.fl-banner-filled .fl-button.button-secondary:active {
    background: var(--blue-medium-blue);
    color: var(--neutrals-white);
}

.fl-banner-media {
    border-radius: calc(var(--scale-16) * 1px);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fl-banner-media.has-qr-code {
    display: grid;
    grid-template-columns: 1fr;
}

.fl-banner-media.has-qr-code img {
    aspect-ratio: 1/1;
}

.fl-banner-media img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: calc(var(--scale-8) * 1px);
    grid-area: 1 / 1;
}

.fl-banner-qr {
    display: block;
    grid-area: 1 / 1;
    order: 2;
    place-self: center;
    width: 50%;
}

.fl-banner-qr svg {
    margin: auto;
    max-height: none;
    width: 100%;
}

.fl-banner-media.has-large-qr-code .fl-banner-qr {
    width: auto;
}

.fl-banner-media.has-large-qr-code .fl-banner-qr svg {
    width: 200px;
}

.fl-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 840px;
    text-align: center;
    margin: 0 auto;
}

.fl-banner-content-inner {
    display: flex;
    flex-direction: column;
    gap: calc(var(--scale-16) * 1px);
}

.fl-banner-actions .fl-buttons {
    margin-top: calc(var(--scale-24) * 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fl-banner-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(var(--scale-24) * 1px);
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
}

.fl-banner.fl-banner-hasbrand {
    padding-bottom: calc(var(--scale-200) * 1px);
}

.fl-banner.fl-banner-hasbrand::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: min(90%, 400px);
    height: min(30%, 200px);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.fl-banner-hasbrand.fl-banner-hasbrand-small::after,
.fl-banner-hasbrand.fl-banner-hasbrand-large::after {
    background-image: url('/media/img/firefox/flare/fox-brand.svg');
}

.fl-banner-hasbrand.fl-banner-hasbrand-face::after {
    background-image: url('/media/img/firefox/flare/forward-facing-kit.svg');
    width: 100%;
    background-position: 50%;
}

.fl-banner-hasbrand.fl-banner-hasbrand-tail::after {
    background-image: url('/media/img/firefox/flare/kit-tail.png');
    right: -15%;
    bottom: 0.5rem;
}


@media (min-width: 768px) {
    .fl-banner {
        padding: calc(var(--scale-80) * 1px) calc(var(--scale-48) * 1px);
        justify-content: initial;
        align-items: initial;
        text-align: initial;
    }

    .fl-banner-container {
        padding: calc(var(--scale-40) * 1px);
    }

    .fl-banner-hasbrand-large .fl-banner-content,
    .fl-banner-hasbrand-tail .fl-banner-content {
        text-align: left;
        align-items: initial;
    }

    .fl-banner-media img {
        border-radius: calc(var(--scale-16) * 1px);
    }

    .fl-banner-media.has-qr-code img {
        aspect-ratio: 16/9;
    }

    .fl-banner-qr {
        background-size: initial;
    }

    .fl-banner-actions .fl-buttons {
        flex-direction: row;
    }

    .fl-banner.fl-banner-hasbrand-small {
        padding-bottom: calc(var(--scale-128) * 1px);
    }

    .fl-banner-hasbrand-large .fl-banner-actions .fl-buttons,
    .fl-banner-hasbrand-tail .fl-banner-actions .fl-buttons {
        justify-content: left;
    }

    .fl-banner-filled .fl-banner-content {
        margin: 0 auto;
    }

    .fl-banner-filled .fl-banner-content .fl-banner-content-inner {
        max-width: 600px;
        margin: 0 auto;
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-small::after {
        height: 40%;
        width: 50%;
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-large::after {
        height: 50%;
        width: 65%;
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-face::after {
        height: 180px;
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-tail::after {
        height: 40%;
        right: -10%;
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-large .fl-banner-content,
    .fl-banner-hasbrand.fl-banner-hasbrand-tail .fl-banner-content {
        margin: unset;
    }
}

@media (min-width: 1024px) {
    .fl-banner-container {
        gap: calc(var(--scale-64) * 1px);
    }

    .fl-banner-layout:has(.fl-banner-media) {
        gap: calc(var(--scale-48) * 1px);
        grid-template-columns: 1fr 1fr;
    }

    .fl-banner-reverse .fl-banner-layout {
        grid-auto-flow: dense;
    }

    .fl-banner-reverse .fl-banner-media {
        order: 2;
        grid-column: 2;
    }

    .fl-banner-reverse .fl-banner-content {
        order: 1;
        grid-column: 1;
    }

    .fl-banner-content.fl-banner-content-left {
        text-align: left;
        align-items: flex-start;
    }

    .fl-banner-content.fl-banner-content-left .fl-banner-actions .fl-buttons {
        justify-content: left;
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-tail::after {
        width: 100%;
        height: min(50%, 250px);
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-face .fl-banner-content {
        text-align: left;
        margin: unset;
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-face .fl-banner-actions .fl-buttons {
        justify-content: left;
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-face::after {
        height: min(65%, 250px);
        background-position: 90%;
    }

}

@media (min-width: 1280px) {
    .fl-banner-hasbrand.fl-banner-hasbrand {
        padding-bottom: calc(var(--scale-80) * 1px);
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-small::after {
        height: min(45%, 200px);
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-large::after {
        height: min(60%, 230px);
    }

    .fl-banner-hasbrand.fl-banner-hasbrand-tail::after {
        height: 70%;
        right: -6%;
    }
}
