/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Theme - Flare 2026 Design System Theme Variables

Contextual CSS custom properties that change based on context (e.g. layout direction, viewport size, dark mode, etc).
===================================================================== */

/* stylelint-disable no-duplicate-at-import-rules, no-invalid-position-at-import-rule */

:root {
    @import 'variables/flare26-light-theme.css';

    /* dark mode toggle */
    color-scheme: light dark;

    /* Text colors not overridden by force classes */
    --fl-theme-color-banner-text: var(--token-color-white);
    --fl-theme-color-link-fade: var(--token-color-grey-4);
    --fl-theme-accent-color: var(--fl-theme-color-link);

    /* Background colors */
    --fl-theme-body-background: var(--token-color-dark-purple);

    /* Surface colors not overridden by force classes */
    --fl-theme-card-superheading-color: var(--token-color-light-purple);

    /* Button palette */
    --fl-theme-pill-bg-color-hover: var(--token-color-light-purple);

    /* Typography variables */
    --fl-theme-font-family-headline: var(--token-font-family-mozilla-headline);
    --fl-theme-font-weight-headline: var(--token-font-weight-semibold);
    --fl-theme-font-family-body: var(--token-font-family-mozilla-text);
    --fl-theme-font-weight-body: var(--token-font-weight-regular);

    /* Font size variables */
    --fl-theme-font-size-heading-3xl: 5rem; /* 80px */
    --fl-theme-font-size-heading-2xl: 4rem; /* 64px */
    --fl-theme-font-size-heading-xl: 3rem; /* 48px */
    --fl-theme-font-size-heading-lg: 2.5rem; /* 40px */
    --fl-theme-font-size-heading-md: 2rem; /* 32px */
    --fl-theme-font-size-heading-sm: 1.5rem; /* 24px */
    --fl-theme-font-size-heading-xs: 1.125rem; /* 18px */
    --fl-theme-font-size-heading-2xs: 1rem; /* 16px */

    /* TODO: refactor these away. Subheading font size variables */
    --fl-theme-font-size-subheading-md: 1rem; /* 16px */
    --fl-theme-font-size-subheading-sm: 0.875rem; /* 14px */
    --fl-theme-font-size-subheading-xs: 0.75rem; /* 12px */

    /* Body font size variables */
    --fl-theme-font-size-body-lg: 1.25rem; /* 20px */
    --fl-theme-font-size-body-md: 1.125rem; /* 18px */
    --fl-theme-font-size-body-sm: 1rem; /* 16px */
    --fl-theme-font-size-body-xs: 0.875rem; /* 14px */
    --fl-theme-font-size-body-2xs: 0.75rem; /* 12px */

    /* Labels */
    --fl-theme-label-caps-md: 1rem; /* 16px */
    --fl-theme-label-caps-sm: 0.875rem; /* 14px */
    --fl-theme-label-caps-xs: 0.75rem; /* 12px */
    --fl-theme-label-md: 1rem; /* 16px */
    --fl-theme-label-sm: 0.875rem; /* 14px */
    --fl-theme-label-xs: 0.75rem; /* 12px */
    --fl-theme-label-color: var(--token-color-black-1);

    /* Line height variables NOT from Figma */
    --fl-theme-line-height-base: 1.2;

    /* Layout defaults */
    --fl-theme-layout-direction: column;
    --fl-theme-default-justify-content: center;
    --fl-theme-default-text-align: center;
    --fl-theme-main-border-radius: var(--token-layout-xs);

    /* Shadows */
    --fl-theme-shadow-card: 0 32px 72px var(--token-color-black-4-16);

    /* Default space between page sections */
    --fl-section-v-padding: var(--token-layout-md-half);
    --fl-section-h-padding: var(--token-layout-3xs);
    --fl-section-heading-margin-bottom: var(--token-layout-sm);

    /* Card */
    --card-bg-color: var(--token-color-white);
    --card-border-color: var(--token-color-soft-purple);
    --theme-dark-purple-card-bg-color: var(--token-color-purple);

    /* Two column and gallery cards */
    --gallery-card-padding: var(--token-layout-2xs);
    --gallery-card-radius: var(--token-border-radius-md);
    --gallery-callout-card-padding: var(--token-layout-md)
        var(--token-layout-2xs);

    /* Navigation */
    --fl-navigation-menu-height: 80px;

    /* White notifications */
    --notification-white-bg: var(--token-color-white);
    --notification-white-color: var(--token-color-black-4);
    --notification-white-border-color: var(--token-color-white);
    --notification-white-icon-bg: var(--token-color-white);

    /* Smart window */
    --smart-window-logo-url: url('/media/img/firefox/flare/smart-window-logo-dark.svg');
    --smart-window-background-gradient:
        radial-gradient(
            29.9% 38.82% at 50% 44.86%,
            rgba(216, 202, 247, 0.2) 0%,
            rgba(255, 255, 255, 0.16) 100%
        ),
        linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 65.89%
        ),
        radial-gradient(165.25% 100% at 50% 0%, #d7c4f6 0%, #fdf4f3 86.06%);
}

.fl-split-page-upper .fl-force-light-theme,
.fl-force-light-theme {
    @import 'variables/flare26-light-theme.css';
}

.fl-split-page-upper,
.fl-force-dark-theme {
    @import 'variables/flare26-dark-theme.css';
}

@media (prefers-color-scheme: dark) {
    :root {
        @import 'variables/flare26-dark-theme.css';
    }
}

@media (--viewport-sm-up) {
    :root {
        --fl-theme-layout-direction: row;
        --fl-theme-default-justify-content: flex-start;
        --fl-theme-default-text-align: left;
        --fl-theme-font-size-heading-3xl: 8rem; /* 128px */
        --fl-theme-font-size-heading-2xl: 5rem; /* 80px */
        --fl-theme-font-size-heading-xl: 4rem; /* 64px */
        --fl-theme-font-size-heading-lg: 2.5rem; /* 40px */
        --fl-theme-font-size-heading-md: 2rem; /* 32px */
        --fl-theme-font-size-heading-sm: 1.5rem; /* 24px */
        --fl-theme-font-size-heading-xs: 1.125rem; /* 18px */
        --fl-theme-font-size-body-lg: 1.5rem; /* 24px */
        --fl-theme-font-size-body-md: 1.25rem; /* 20px */
        --fl-section-v-padding: calc(var(--token-layout-lg) / 2);
        --fl-section-hgroup-padding-bottom: var(--token-layout-sm);
        --fl-section-hgroup-gap: var(--token-spacing-xl);
    }
}

@media (--viewport-md-up) {
    :root {
        --fl-theme-font-size-heading-3xl: 10rem; /* 160px */
        --fl-theme-font-size-heading-2xl: 8rem; /* 128px */
        --fl-theme-font-size-heading-xl: 5rem; /* 80px */
        --fl-theme-font-size-heading-lg: 4rem; /* 64px */
        --fl-theme-font-size-heading-md: 3rem; /* 48px */
        --fl-theme-font-size-heading-sm: 2rem; /* 32px */
        --fl-theme-font-size-heading-xs: 1.5rem; /* 24px */
        --fl-theme-font-size-body-lg: 2rem; /* 32px */
        --fl-theme-font-size-body-md: 1.5rem; /* 24px */
        --fl-section-v-padding: var(--token-layout-lg-half);
        --fl-section-heading-margin-bottom: var(--token-layout-sm);
        --fl-theme-main-border-radius: var(--token-layout-lg);
        --gallery-card-padding: var(--token-layout-xs);
        --gallery-card-radius: var(--token-border-radius-lg);
        --gallery-callout-card-padding: var(--token-layout-xs)
            var(--token-layout-2xs);
    }
}

@media (--viewport-lg-up) {
    :root {
        --gallery-card-padding: var(--token-layout-md);
        --gallery-card-radius: var(--token-border-radius-xl);
        --gallery-callout-card-padding: var(--token-layout-md)
            var(--token-layout-2xs);
    }
}
