/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.superheader {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    color: light-dark(var(--neutrals-grey-5), var(--neutrals-grey-5));
    margin: var(--grids-spacing-interior-spacing-x1) 0;
}
