/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-button {
    display: inline-block;
    padding: calc(var(--token-scale-16) * 1px) calc(var(--token-scale-32) * 1px);
    font-family: var(--fl-theme-font-family-button);
    font-size: var(--fl-theme-font-size-base);
    font-weight: var(--fl-theme-font-weight-button);
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-radius: calc(var(--token-scale-8) * 1px);
    cursor: pointer;
    transition: all var(--token-transition-base);
    background: transparent;
    color: light-dark(var(--token-neutrals-charcoal), var(--token-neutrals-ash));
    border: 1px solid light-dark(var(--token-neutrals-charcoal), var(--token-neutrals-ash));
}

@supports not (color: light-dark(black, white)) {
    .fl-button {
        color: var(--token-neutrals-charcoal);
        border: 1px solid var(--token-neutrals-charcoal);
    }
}

.fl-button:hover, .fl-button:focus {
    background: light-dark(var(--token-neutrals-charcoal), var(--token-neutrals-ash));
    border-color: light-dark(var(--token-neutrals-charcoal), var(--token-neutrals-ash));
    color: light-dark(var(--token-neutrals-white), var(--token-neutrals-black));
}

@supports not (color: light-dark(black, white)) {
    .fl-button:hover, .fl-button:focus {
        background: var(--token-neutrals-charcoal);
        border-color: var(--token-neutrals-charcoal);
        color: var(--token-neutrals-white);
    }
}

.fl-button:active {
    background: light-dark(var(--token-neutrals-black), var(--token-neutrals-white));
    color: light-dark(var(--token-neutrals-ash), var(--token-neutrals-charcoal));
}

@supports not (color: light-dark(black, white)) {
    .fl-button:active {
        background: var(--token-neutrals-black);
        color: var(--token-neutrals-ash);
    }
}

.fl-button.button-secondary {
    background: var(--fl-theme-functional-info-buttons);
    color: var(--token-neutrals-ash);
    border-width: 0;
}

.fl-button.button-secondary:hover, .fl-button.button-secondary:focus {
    background: light-dark(var(--token-blue-dark-blue), var(--token-blue-medium-blue));
    color: var(--token-neutrals-white);
}

@supports not (color: light-dark(black, white)) {
    .fl-button.button-secondary:hover, .fl-button.button-secondary:focus {
        background: var(--token-blue-dark-blue);
    }
}

.fl-button.button-secondary:active {
    background: light-dark(var(--token-blue-medium-blue), var(--token-blue-dark-blue));
    color: light-dark(var(--token-neutrals-white), var(--token-neutrals-ash));
}

@supports not (color: light-dark(black, white)) {
    .fl-button.button-secondary:active {
        background: var(--token-blue-medium-blue);
        color: var(--token-neutrals-white);
    }
}

.fl-button.button-tertiary {
    background: var(--token-purple-purple);
    color: var(--token-neutrals-white);
    border-width: 0;
}

.fl-button.button-tertiary:hover, .fl-button.button-tertiary:focus {
    background: var(--token-purple-medium-purple);
    color: var(--token-neutrals-white);
}

.fl-button.button-tertiary:active {
    background: var(--token-purple-medium-purple);
    color: var(--token-neutrals-white);
}

.fl-button.button-ghost {
    border-color: transparent;
    background: transparent;
    color: light-dark(var(--token-neutrals-grey-8), var(--token-neutrals-white));
}

@supports not (color: light-dark(black, white)) {
    .fl-button.button-ghost {
        color: var(--token-neutrals-grey-8);
    }
}

.fl-button.button-ghost:hover {
    background: light-dark(var(--token-neutrals-grey-8), var(--token-neutrals-white));
    color: light-dark(var(--token-neutrals-white), var(--token-neutrals-grey-8));
}

@supports not (color: light-dark(black, white)) {
    .fl-button.button-ghost:hover {
        background: var(--token-neutrals-grey-8);
        color: var(--token-neutrals-white);
    }
}

.fl-button.button-ghost:active {
    background: light-dark(var(--token-neutrals-grey-8), var(--token-neutrals-white));
    color: light-dark(var(--token-neutrals-white), var(--token-neutrals-grey-8));
}

@supports not (color: light-dark(black, white)) {
    .fl-button.button-ghost:active {
        background: var(--token-neutrals-grey-8);
        color: var(--token-neutrals-white);
    }
}

.fl-button .fl-icon {
    vertical-align: middle;
}

.fl-button .fl-icon-left {
    margin-right: calc(var(--scale-10) * 1px);
}

.fl-button .fl-icon-right {
    margin-left: calc(var(--scale-10) * 1px);
}

.fl-button .fl-icon-arrow {
    display: inline-block;
    width: calc(var(--token-scale-16) * 1px);
    height: calc(var(--token-scale-16) * 1px);
    background-color: currentColor;
    mask: url('/media/img/firefox/flare/icons/arrow-right.svg') no-repeat center/calc(var(--token-scale-16) * 1px) calc(var(--token-scale-16) * 1px);
}

.fl-button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.fl-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--fl-theme-grids-spacing-interior-spacing-x1-5, 12) * 1px);
}

.fl-buttons.is-horizontal {
    flex-direction: row;
}

.fl-buttons.is-horizontal.is-center {
    justify-content: center;
    width: 100%;
}

.fl-buttons.is-stacked {
    flex-direction: column;
    gap: calc(var(--fl-theme-grids-spacing-interior-spacing-x1, 8) * 1px);
}

.fl-buttons.is-stacked .fl-button {
    width: 100%;
}

.fl-buttons > * {
    display: inline-flex;
}

.fl-buttons.is-stacked > * {
    width: 100%;
}

.fl-buttons .fl-button {
    margin-bottom: 0;
}
