/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-heading, .fl-heading-group {
    font-family: var(--font-family-metropolis);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base);
    color: light-dark(var(--neutrals-charcoal), var(--neutrals-ash));
    margin: calc(var(--scale-24) * 1px) 0;
}

.fl-heading {
    font-size: var(--font-size-h1);
}

.fl-heading:first-child, .fl-heading-group:first-child {
    margin-top: 0; /* No top margin for the first heading */
}

.fl-heading-group .fl-heading {
    margin: 0; /* Margins are handled by the hgroup */
}

.fl-heading-group .fl-heading + .fl-subheading {
    margin-top: calc(var(--scale-24) * 1px);
}

.fl-superheading {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-superheading);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base);
    color: light-dark(var(--neutrals-grey-7), var(--neutrals-grey-5));
    margin: calc(var(--scale-8) * 1px) 0;
}

.fl-superheading + .fl-heading {
    margin-top: calc(var(--scale-8) * 1px);
}

.fl-heading h1, h1.fl-heading, .fl-heading-size-1 { font-size: var(--font-size-h1); }
.fl-heading h2, h2.fl-heading, .fl-heading-size-2 { font-size: var(--font-size-h2); }
.fl-heading h3, h3.fl-heading, .fl-heading-size-3 { font-size: var(--font-size-h3); }
.fl-heading h4, h4.fl-heading, .fl-heading-size-4 { font-size: var(--font-size-h4); }
.fl-heading h5, h5.fl-heading, .fl-heading-size-5 { font-size: var(--font-size-h5); }
.fl-heading h6, h6.fl-heading, .fl-heading-size-6 { font-size: var(--font-size-h6); }

@media (max-width: 400px) {
    .fl-heading h1, h1.fl-heading, .fl-heading-size-1 { font-size: var(--font-size-h2); }
}

.fl-subheading {
    font-family: var(--font-family-metropolis);
    font-size: var(--font-size-subheading-1);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-base);
    color: light-dark(var(--neutrals-charcoal), var(--neutrals-ash));
    margin: calc(var(--scale-16) * 1px) 0;
}

.fl-subheading-1 { font-size: var(--font-size-subheading-1); }
.fl-subheading-2 { font-size: var(--font-size-subheading-2); }
.fl-subheading-3 { font-size: var(--font-size-subheading-3); }
.fl-subheading-4 { font-size: var(--font-size-subheading-4); }
.fl-subheading-5 { font-size: var(--font-size-subheading-5); }

.fl-body {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    color: light-dark(var(--neutrals-black), var(--neutrals-white));
}

.fl-body-large { font-size: var(--font-size-body-large); }
.fl-body-medium { font-size: var(--font-size-body-medium); }
.fl-body-small { font-size: var(--font-size-body-small); }
.fl-body-xsmall { font-size: var(--font-size-body-xsmall); }

.fl-body p {
    margin: 0 0 calc(var(--scale-16) * 1px);
}

@media (max-width: 767px) {
    .fl-body {
        max-width: 60ch;
    }
}
