/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-banner {
    --fl-theme-color-text-primary: var(--fl-theme-color-banner-text);
    align-items: center;
    border-radius: var(--token-border-radius-md);
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: var(--token-layout-3xs);
    position: relative;
    text-align: center;
}

.fl-banner-container {
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-3xl);
    inline-size: 100%;
    margin: 0 auto;
    max-inline-size: var(--token-width-desktop-layout);
    padding: var(--token-spacing-xl);
}

.fl-banner .fl-heading-group {
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-3xl);
    margin-block-end: 0;
}

.fl-banner .fl-heading,
.fl-banner .fl-subheading {
    margin: 0;
}

.fl-banner .fl-heading {
    display: block;
    font-size: var(--fl-theme-font-size-heading-xl);
    inline-size: 100%;
    line-height: 0.9;
    text-wrap: balance;
}

.fl-banner .fl-subheading {
    font-size: var(--fl-theme-font-size-body-sm);
    line-height: 1.4;
    text-wrap: balance;
}

.fl-banner-outlined {
    border: 1px solid var(--token-color-black-1);
    color: var(--fl-theme-color-text-primary);
}

.fl-banner-purple {
    --fl-theme-color-text-primary: var(--token-color-white);
    --fl-theme-color-link: var(--token-color-white);
    --fl-theme-color-link-visited: var(--token-color-white);
    --fl-theme-color-link-strong: var(--token-color-white);
    background-image: var(--token-gradient-purple);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fl-banner-purple .fl-superheading {
    color: var(--fl-theme-color-text-primary);
}

.fl-banner-media {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    block-size: auto;
    border-radius: var(--token-spacing-lg);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.fl-banner-media.has-qr-code {
    display: grid;
    grid-template-columns: 1fr;
}

.fl-banner-media.has-qr-code img {
    aspect-ratio: 1/1;
}

.fl-banner-media img {
    block-size: auto;
    border-radius: var(--token-spacing-sm);
    grid-area: 1 / 1;
    inline-size: 100%;
    object-fit: cover;
}

.fl-banner-media-qr {
    align-items: flex-end;
    background: url('/media/img/firefox/flare/qr-background-simple.png')
        no-repeat center;
    background-size: contain;
    block-size: 338px;
    padding: 0 var(--token-spacing-xl);
}

.fl-banner-qr {
    display: block;
    grid-area: 1 / 1;
    inline-size: 50%;
    order: 2;
    place-self: center;
}

.fl-banner-qr svg {
    inline-size: 100%;
    margin: auto;
    max-block-size: none;
}

.fl-banner-media.has-large-qr-code .fl-banner-qr {
    inline-size: auto;
}

.fl-banner-media.has-large-qr-code .fl-banner-qr svg {
    align-items: center;
    block-size: 300px;
    box-shadow: none;
    display: flex;
    font-family: var(--fl-theme-font-family-body);
    font-size: var(--fl-theme-font-size-body-sm);
    inline-size: 200px;
    justify-content: flex-start;
    padding: 10px 18px 0;
}

.fl-banner-content {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    justify-content: center;
    margin: 0 auto;
    max-inline-size: 840px;
    min-inline-size: 0;
    text-align: center;
}

.fl-banner-content-inner {
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-3xl);
    inline-size: 100%;
    min-inline-size: 0;
}

.fl-banner .fl-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    justify-content: center;
    margin-block-start: 0;
    min-inline-size: 0;
}

.fl-banner-layout {
    align-items: center;
    display: grid;
    gap: var(--token-spacing-xl);
    grid-template-columns: 1fr;
    inline-size: 100%;
    position: relative;
    z-index: 2;
}

.fl-banner-purple .fl-button:not([class*='button-']) {
    border-color: var(--token-color-white);
    color: var(--token-color-white);
}

.fl-banner-purple .fl-button:not([class*='button-']):hover,
.fl-banner-purple .fl-button:not([class*='button-']):focus,
.fl-banner-purple .fl-button:not([class*='button-']):active {
    background-color: var(--token-color-cream);
    border-color: var(--token-color-black-1);
    color: var(--token-color-dark-purple);
}

.fl-banner-purple .fl-button.button-ghost {
    color: var(--token-color-white);
}

.fl-banner-purple .fl-button.button-ghost:hover,
.fl-banner-purple .fl-button.button-ghost:focus,
.fl-banner-purple .fl-button.button-ghost:active {
    background-color: var(--token-color-black-16);
    color: var(--token-color-white);
}

.fl-banner-purple .fl-button.button-secondary:hover,
.fl-banner-purple .fl-button.button-secondary:focus,
.fl-banner-purple .fl-button.button-secondary:active {
    background: var(--token-color-purple);
    color: var(--token-color-white);
}

@media (--viewport-sm-up) {
    .fl-banner {
        align-items: initial;
        border-radius: var(--token-border-radius-lg);
        justify-content: initial;
        padding: var(--token-layout-md);
        text-align: initial;
    }

    .fl-banner-container {
        padding: var(--token-spacing-3xl);
    }

    .fl-banner-media img {
        border-radius: var(--token-spacing-lg);
    }

    .fl-banner-media.has-qr-code img {
        aspect-ratio: 16/9;
    }

    .fl-banner-qr {
        background-size: initial;
        inline-size: 25%;
    }

    .fl-banner .fl-buttons {
        flex-direction: row;
    }
}

@media (--viewport-md-up) {
    .fl-banner {
        border-radius: var(--token-border-radius-xl);
        padding: var(--token-layout-lg);
    }

    .fl-banner-container {
        gap: var(--token-layout-sm);
    }

    .fl-banner-layout:has(.fl-banner-media) {
        gap: var(--token-layout-xs);
        grid-template-columns: 1fr 1fr;
    }

    .fl-banner-reverse .fl-banner-layout {
        grid-auto-flow: dense;
    }

    .fl-banner-reverse .fl-banner-media {
        grid-column: 2;
        order: 2;
    }

    .fl-banner-reverse .fl-banner-content {
        grid-column: 1;
        order: 1;
    }

    .fl-banner-content.fl-banner-content-left {
        align-items: flex-start;
        margin: unset;
        text-align: start;
    }

    .fl-banner-content.fl-banner-content-left .fl-buttons {
        justify-content: left;
    }
}
