/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Overrides - Exceptions to the rules

Rules in this layer will override everything else. Use sparingly for
specific exceptions that can't be handled by the other layers
===================================================================== */


.fl-footer .button img {
    margin-right: calc(var(--token-scale-16) * 1px);
}

.fl-footer-cta .button {
    width: 100%;
}

.fl-section-subscribe .button {
    color: var(--token-neutrals-charcoal);
    border-color: var(--token-neutrals-charcoal);
}

.fl-section-subscribe .fl-newsletterform-input,
.fl-section-subscribe .button {
    padding: 12px 18px;
}

.fl-section-subscribe .button:hover {
    background: var(--token-neutrals-black);
    color: var(--token-neutrals-white);
}

.fl-section .button {
    margin-top: auto;
    align-self: flex-start;
}

.fl-newsletterform.fl-newsletterform-expanded .fl-newsletterform-input,
.fl-newsletterform.fl-newsletterform-expanded .button {
    width: 100%;
}

.fl-newsletterform.fl-newsletterform-expanded .button {
    order: 3;
}

@media (--viewport-xs) {
    .fl-mediacontent-content .button {
        width: 100%;
    }

    .fl-section-subscribe .fl-newsletterform .button {
        width: 100%;
    }
}

@media (--viewport-sm-up) {
    .fl-footer-cta .button {
        width: unset;
    }
}

@media (--viewport-md-up) {
    .fl-mediacontent .button {
        width: fit-content
    }
}

/* Unset button styles on FxA link. The role="button" attr is set by UI Tour JS */
a[role="button"].fxa-link {
    display: inline;
    background: unset;
    padding: unset;
    border: unset;
    margin: unset;
    color: var(--theme-color-link);
    text-decoration: underline;
}

a[role="button"].fxa-link:visited {
    color: var(--theme-color-link-visited);
}

a[role="button"].fxa-link:hover,
a[role="button"].fxa-link:active,
a[role="button"].fxa-link:focus {
    text-decoration: none;
}
