/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* ================================================
   Header Base Styles
   ================================================ */

/*
* If you need to change light/dark mode details,
* add/change a variable here, then override where needed.
* This setup is a bit convoluted, but I couldn't find a better solution
* for supporting both theme overriding using classes (.fl-force-light-header/dark)
* and preferred-color-scheme fallback, in case a class isn't provided.
*/

.fl-header {
    background-color: var(--fl-theme-background);
    color: var(--fl-theme-color-text);
    font-family: var(--fl-theme-font-family-body);
    padding: 0 var(--token-spacing-md);
}

.fl-header.fl-header-no-menu {
    border-block-end-width: 1px;
    position: static;
}

.fl-header a {
    text-decoration: none;
}

.fl-header a:hover {
    text-decoration: underline;
}

.fl-header ul {
    list-style: none;
}

.fl-header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.fl-header-buttons {
    display: flex;
    gap: var(--token-spacing-sm);
    justify-content: center;
}

/* ================================================
   Logo
   ================================================ */

.fl-logo-fx {
    background-image: var(--fl-logo-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px 40px;
    block-size: 56px;
    inline-size: 120px;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
    white-space: nowrap;
    z-index: 1;
}

/* ================================================
   Show Mobile Menu Button
   ================================================ */

.fl-show-mobile-menu {
    background: var(--fl-menu-hamburger-bg);
    border-radius: var(--token-spacing-sm);
    color: var(--fl-theme-color-text);
    font-weight: var(--token-font-weight-semibold);
    margin: 0;
    padding: var(--token-spacing-sm);
    text-decoration: underline;
}

.fl-show-mobile-menu .fl-icon-close {
    block-size: 1.5em;
    inline-size: 1.5em;
    -webkit-mask: var(--icon-src) no-repeat center / 1.5em 1.5em;
    mask: var(--icon-src) no-repeat center / 1.5em 1.5em;
}

.fl-show-mobile-menu.is-open {
    padding: var(--token-spacing-xs);
}

/* ================================================
   Navigation
   ================================================ */

.fl-nav {
    background: var(--fl-theme-background);
    display: none;
    flex-grow: 1;
}

.fl-nav a[href^='http']::after {
    background-color: var(--fl-theme-color-text);
    background-repeat: no-repeat;
    background-size: contain;
    block-size: var(--token-spacing-lg);
    content: '';
    display: inline-block;
    inline-size: var(--token-spacing-lg);
    mask-image: url('/media/img/firefox/flare/2026/nav/append-up-right-24.svg');
    vertical-align: baseline;
}

.fl-nav-menu {
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-2xl);
    justify-items: start;
    line-height: 1.2;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-nav-link {
    align-items: center;
    color: var(--fl-theme-navigation-link);
    display: flex;
    font-size: var(--fl-theme-font-size-body-sm);
    gap: var(--token-spacing-sm);
    text-decoration: none;
}

.fl-nav-link,
.fl-nav-link:visited {
    color: var(--fl-theme-color-text);
}

/* ================================================
   Menu Panel Styles
   ================================================ */

.fl-menu-title,
.fl-menu-title h2,
.fl-menu-subtitle {
    color: var(--fl-theme-color-text);
    font-family: var(--fl-theme-font-family-body);
    font-size: var(--fl-theme-font-size-heading-sm);
    font-weight: var(--token-font-weight-semibold);
    margin-block-end: var(--token-spacing-xl);
    text-decoration: none;
}

.fl-menu-subtitle {
    font-family: var(--fl-theme-font-family-headline);
}

.fl-nav-separator {
    border-block-start: 1px solid var(--fl-menu-separator-color);
    display: block;
    inline-size: var(--token-spacing-lg);
    margin-block: var(--token-spacing-xl);
}

.fl-menu-category {
    border-block-start: 1px solid var(--fl-menu-separator-color);
    padding-block-start: var(--token-spacing-2xl);
    position: relative;
}

.fl-menu-category .fl-icon-chevron-down {
    margin-block-end: var(--token-spacing-xs);
    transform: scale(0.8);
    transform-origin: center;
    transition: transform 0.1s ease;
}

.fl-menu-category.is-active .fl-icon-chevron-down {
    transform: rotate(180deg) scale(0.8);
}

.fl-menu-category-link a {
    align-items: center;
    color: var(--fl-theme-color-text);
    display: flex;
    font-weight: 600;
    inline-size: 100%;
    justify-content: space-between;
    line-height: 1.2;
    margin: 0;
    padding: var(--token-spacing-sm);
    position: relative;
}

.fl-menu-category-link a:link,
.fl-menu-category-link a:visited {
    background: var(--fl-menu-category-link-bg-color);
}

.fl-menu-category-link a:hover,
.fl-menu-category-link a:focus {
    background: var(--fl-menu-category-link-hover-bg-color);
}

.fl-menu-category-link svg {
    block-size: 0.8em;
    inline-size: auto;
    inset-block-start: 0;
    inset-inline: auto 0;
    margin: 0 0 0 var(--token-spacing-sm);
    position: relative;
    transform: none;
    transition-duration: 0.3s;
    transition-property: right;
    transition-timing-function: var(--token-transition-bezier);
}

.fl-menu-category-link:hover svg {
    inset-inline-end: -4px;
}

.fl-menu-panel {
    background-color: var(--fl-theme-background);
}

.fl-menu-panel .fl-button {
    display: block;
    font-family: var(--token-font-family-mozilla-headline);
    text-align: center;
}

.fl-menu-panel-content {
    max-inline-size: var(--token-width-desktop-layout);
}

.fl-menu-panel-content .fl-icon {
    color: var(--token-color-nav-icon-purple);
}

.fl-menu-panel-content ul,
.fl-menu-panel-content li {
    margin: 0;
}

.fl-menu-panel-content li a {
    padding: var(--token-spacing-md) 0;
}

.fl-menu-panel-content li:first-child a {
    padding-block-start: 0;
}

.fl-menu-panel-content li:last-child a {
    padding-block-end: 0;
}

.fl-show-mobile-menu-content {
    display: flex;
    justify-content: center;
}

.fl-show-mobile-menu-content svg {
    margin: 0;
}

.fl-show-mobile-menu .fl-icon-close,
.fl-show-mobile-menu.is-open .fl-icon-app-menu {
    display: none;
}

.fl-show-mobile-menu.is-open .fl-icon-close {
    display: initial;
}

.fl-menu-close-button {
    background: transparent;
    border-radius: 0;
    color: var(--fl-theme-color-text);
    display: none;
    inset-block-start: 16px;
    inset-inline-end: 16px;
    padding: 0;
    position: absolute;
    z-index: 1;
}

/* ================================================
   Media Queries - Mobile (max-width: 899px)
   ================================================ */

@media (--viewport-below-md) {
    .fl-header {
        padding: var(--token-spacing-md) var(--token-spacing-xl);
    }

    .fl-nav-menu {
        display: flex;
        flex-direction: column;
        gap: var(--token-spacing-lg);
    }

    .fl-nav.is-open {
        background: var(--fl-theme-background);
        block-size: calc(100vh - var(--fl-navigation-menu-height));
        display: block;
        inline-size: 100%;
        inset-block-start: 0;
        inset-inline-end: 0;
        margin-block-start: var(--fl-navigation-menu-height);
        overflow: hidden auto;
        padding: var(--token-spacing-xl) var(--token-spacing-lg) 100px;
        position: fixed;
        z-index: 1000;
    }

    .fl-menu-category .fl-icon-chevron-down {
        display: none;
    }

    .fl-menu-panel-content-column {
        padding-block-start: var(--token-spacing-xl);
    }

    .fl-menu-panel-content-column:first-child {
        padding-block-start: 0;
    }

    .fl-hamburger {
        display: inline-flex;
        margin: 0;
    }

    .fl-hamburger.is-open::before,
    .fl-hamburger.is-open::after {
        content: none;
    }
}

/* ================================================
   Media Queries - Desktop (min-width: 900px)
   ================================================ */

@media (--viewport-md-up) {
    .fl-header {
        --fl-navigation-menu-height: 67px;
    }

    .fl-header.headroom {
        inset-block-start: 0;
        position: sticky;
        transition:
            transform 200ms linear,
            box-shadow 200ms linear;
        z-index: 100;
    }

    .fl-header.headroom-pinned {
        transform: translateY(0%);
    }

    .fl-header.headroom-pinned.headroom-not-top {
        box-shadow:
            0 0 6px 1px rgba(29, 17, 51, 0.04),
            0 0 var(--token-spacing-sm) 2px rgba(9, 32, 77, 0.12),
            0 0 5px -3px rgba(29, 17, 51, 0.12);
    }

    .fl-header.headroom-pinned.headroom-not-top .fl-menu-panel {
        box-shadow:
            0 6px 6px 1px rgba(29, 17, 51, 0.04),
            0 var(--token-spacing-sm) var(--token-spacing-sm) 2px
                rgba(9, 32, 77, 0.12),
            0 5px 5px -3px rgba(29, 17, 51, 0.12);
    }

    .fl-header.headroom-unpinned {
        transform: translateY(-100%);
    }

    .fl-header.fl-header-no-menu {
        padding-block: 9px;
    }

    .fl-header .fl-fx-download-container {
        display: block;
    }

    .fl-header .hide-cta-on-desktop,
    .fl-header .hide-nav-download-on-desktop,
    .fl-nav-mobile-download-link,
    .fl-hamburger,
    .fl-show-mobile-menu,
    .fl-show-mobile-menu.is-open,
    .fl-menu-panel {
        display: none;
    }

    .fl-header:has(.hide-cta-on-desktop),
    .fl-header:has(.hide-nav-download-on-desktop) {
        padding-inline-end: 156px;
    }

    .fl-menu-category-link a {
        margin: var(--token-spacing-sm) 0 0;
        padding: var(--token-spacing-lg);
    }

    .fl-menu-title,
    .fl-menu-title h2,
    .fl-menu-subtitle {
        font-size: var(--fl-theme-font-size-body-sm);
    }

    .fl-nav {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        position: static;
    }

    .fl-nav-menu {
        flex-direction: row;
    }

    .fl-menu-category {
        border: none;
        cursor: pointer;
        margin: 0;
        min-block-size: var(--fl-navigation-menu-height);
        padding: var(--token-spacing-xl) 0;
    }

    .fl-nav-separator {
        inline-size: auto;
    }

    /* close buttons is only displayed when keyboard nav is being used */
    .fl-nav-menu:has(*:focus-visible) .fl-menu-close-button {
        display: block;
    }

    .fl-menu-category h2::after {
        display: inline-block;
    }

    .fl-menu-title {
        color: var(--fl-menu-title-color);
    }

    .fl-menu-title h2 {
        font-weight: var(--token-font-weight-regular);
        margin: 0;
        padding: 0 var(--token-spacing-sm);
    }

    .fl-menu-category.is-active .fl-menu-title {
        color: var(--fl-theme-color-text);
    }

    .fl-menu-category.is-active .fl-menu-title h2 {
        font-weight: var(--token-font-weight-semibold);
    }

    .fl-menu-category.is-active .fl-menu-panel {
        border: 1px solid var(--fl-menu-panel-border-color);
        border-radius: var(--token-spacing-lg);
        box-shadow: 0 4px 30px 0 var(--fl-menu-panel-box-shadow-color);
        display: block;
        inset-block-start: var(--fl-navigation-menu-height);
        inset-inline-start: 50%;
        max-inline-size: 400px;
        min-inline-size: 300px;
        overflow: hidden;
        position: absolute;
        transform: translateX(-50%);
    }

    .fl-menu-category.is-active #fl-menu-panel-features {
        max-inline-size: 344px;
    }

    .fl-menu-panel-content {
        background-color: var(--fl-theme-background);
        display: flex;
        padding: var(--token-spacing-3xl);
    }

    .fl-menu-panel-content-column {
        inline-size: 100%;
        margin-inline-end: var(--token-spacing-2xl);
        min-inline-size: max-content;
    }

    .fl-menu-panel-content-column:last-child {
        margin-inline-end: 0;
    }
}
