/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Overrides - Final layer for overrides and exceptions

This file will contain override styles that need to take precedence.
For now, this is a blank slate.
===================================================================== */

.fl-home-body .fl-banner-container {
    max-inline-size: none;
    padding: var(--token-spacing-lg);
    padding-block-start: var(--fl-section-v-padding);
}

/* Show the default browser checkbox in preview even when hidden by JS */
.fl-download-firefox-button
    .conditional-display.is-preview
    .default-browser-label.hidden {
    display: unset;
}

.fl-download-firefox-button .conditional-display.is-preview {
    padding-block-start: var(--token-spacing-lg);
}

.show-linux {
    display: none;
}

.linux .show-linux {
    display: block;
}
