/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-newsletterform {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: calc(var(--token-scale-16) * 1px);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: calc(var(--token-scale-24) * 1px);
}

.fl-newsletterform.fl-newsletterform-expanded:not(.hidden) {
    display: flex;
    flex-direction: column;
}

.fl-newsletterform.fl-newsletterform-expanded .fl-newsletterform-input,
.fl-newsletterform.fl-newsletterform-expanded .fl-button {
    width: 100%;
    margin-bottom: 0;
}

.fl-newsletterform .fl-newsletterform-input {
    height: 50px;
    min-height: 50px;
}

.fl-newsletterform.fl-newsletterform-expanded .fl-button {
    order: 3;
}

.fl-newsletterform-input {
    padding: calc(var(--token-scale-16) * 1px);
    border-radius: calc(var(--token-scale-8) * 1px);
    border: 1px solid var(--token-neutrals-grey-3);
    font-size: var(--fl-theme-font-size-base);
    font-family: var(--fl-theme-font-family-body);
    background: var(--fl-theme-surface-panel);
}

.fl-section-subscribe .fl-section-container {
    gap: calc(var(--token-scale-20) * 1px);
}

.fl-section-subscribe .body.fl-newsletterform-error,
.fl-section-subscribe .subheading.fl-newsletterform-error {
    color: var(--token-orange-orange);
}

.fl-section-subscribe .fl-newsletterform-feedback {
    max-width: 800px;
    margin: 0 auto;
}

.fl-section-subscribe {
    background: var(--token-purple-light-purple);
    color: var(--token-neutrals-charcoal);
    padding: calc(var(--token-scale-64) * 1px) 0;

}

.fl-section-subscribe .fl-body,
.fl-section-subscribe .fl-heading,
.fl-section-subscribe .fl-superheading,
.fl-section-subscribe .fl-subheading {
    color: var(--token-neutrals-charcoal);
    margin-top: 0;
}

.fl-section-subscribe .fl-newsletterform-input {
    background: var(--token-neutrals-white);
    color: var(--token-neutrals-charcoal);
    border: none;
    font-family: var(--fl-theme-font-family-body);
}

.fl-section-subscribe .fl-newsletterform-input::placeholder {
    color: var(--token-neutrals-grey-5);
    opacity: 1;
}

.fl-section-subscribe input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 19px;
    height: 19px;
    background: var(--token-neutrals-white);
    border: 1px solid var(--token-neutrals-grey-5);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    vertical-align: baseline;
    top: 2px;
    margin: 0;
    flex-shrink: 0;
}

.fl-section-subscribe input[type="checkbox"]:checked {
    background: var(--token-neutrals-charcoal);
    border-color: var(--token-neutrals-charcoal);
}

.fl-section-subscribe input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: 2px solid var(--token-neutrals-white);
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
}

.fl-section-subscribe input[type="checkbox"]:focus-visible {
    outline: 2px solid var(--fl-theme-functional-info-buttons);
    outline-offset: 2px;
}

.fl-section-subscribe input[type="checkbox"]:hover {
    background: var(--token-neutrals-black);
}

.fl-section-subscribe .fl-button {
    color: var(--token-neutrals-charcoal);
    border-color: var(--token-neutrals-charcoal);
}

.fl-section-subscribe .fl-button:hover,
.fl-section-subscribe .fl-button:focus {
    background: var(--token-neutrals-black);
    color: var(--token-neutrals-white);
}

.fl-section-subscribe .fl-button:active {
    background: var(--fl-theme-button-primary-active-bg);
    color: var(--fl-theme-button-primary-active-text);
}

.fl-section-subscribe .fl-newsletterform-error-list {
    padding: 0;
    margin: 0 auto;
}

.fl-section-subscribe .fl-newsletterform-input,
.fl-section-subscribe .fl-button {
    padding: 12px 18px;
}

.fl-section-subscribe a {
    color: var(--token-neutrals-charcoal);
}

@media (max-width: 767px) {
    .fl-section-subscribe {
        order: 6
    }

    .fl-section-subscribe .fl-newsletterform {
        grid-template-columns: 1fr;
    }

    .fl-section-subscribe .fl-newsletterform .fl-button {
        width: 100%;
    }

}

.fl-newsletterform-label {
    display: block;
    font-family: var(--fl-theme-font-family-body);
    font-size: var(--fl-theme-font-size-base);
    font-weight: var(--token-font-weight-semibold);
    color: var(--token-neutrals-charcoal);
    margin-bottom: calc(var(--token-scale-8) * 1px);
}

.fl-newsletterform-consent,
.fl-newsletterform-feedback {
    grid-column: 1 / -1;
}

.fl-newsletterform-row-hidden {
    display: none;
}

.fl-newsletterform-field {
    position: relative;
    margin-bottom: calc(var(--token-scale-16) * 1px);
}

.fl-newsletterform-select-arrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    top: calc(50% - 0.5rem);
    right: calc(var(--token-scale-16) * 1px);
    transition: transform var(--token-transition-base);
}

.fl-newsletterform-select-arrow.open~.fl-newsletterform-select-arrow {
    transform: rotate(180deg);
}


.fl-newsletterform-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 50px;
    padding: calc(var(--token-scale-8) * 1px) calc(var(--token-scale-16) * 1px);
    padding-right: 24px;
    border: 1px solid var(--token-neutrals-grey-3);
    border-radius: calc(var(--token-scale-8) * 1px);
    background: var(--token-neutrals-white);
    color: var(--token-neutrals-charcoal);
    font-size: var(--fl-theme-font-size-base);
    font-family: var(--fl-theme-font-family-body);
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-color var(--token-transition-base);
}

.fl-newsletterform-select:hover {
    border-color: var(--token-neutrals-grey-5);
}

.fl-newsletterform-select:focus {
    outline: 2px solid var(--fl-theme-functional-info-buttons);
    outline-offset: 2px;
    border-color: var(--fl-theme-functional-info-buttons);
}

.fl-newsletterform-select option {
    padding: calc(var(--token-scale-16) * 1px);
    cursor: pointer;
    transition: background-color var(--token-transition-base);
    border-bottom: 1px solid var(--token-neutrals-grey-2);
}

.fl-newsletterform-select option:last-child {
    border-bottom: none;
}

.fl-newsletterform-select option:hover {
    background: var(--token-neutrals-charcoal);
    color: var(--token-neutrals-white);
}

.fl-newsletterform-select option.fl-newsletterform-select-selected {
    background: var(--token-neutrals-black);
    color: var(--token-neutrals-white);
}

.fl-newsletterform-checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: calc(var(--token-scale-8) * 1px);
    cursor: pointer;
    width: 100%;
    margin-bottom: 0;
}

.fl-newsletterform-checkbox-label input[type="checkbox"] {
    flex-shrink: 0;
    margin: 0;
    margin-top: 2px;
}

.fl-newsletterform-checkbox-label .fl-newsletterform-checkbox-text {
    flex: 1;
    line-height: 1.4;
    margin: 0;
    text-align: left;
    min-width: 0;
}

.fl-newsletterform-success {
    text-align: center;
    margin-top: calc(var(--token-scale-32) * 1px);
}

.fl-newsletterform-success svg {
    display: block;
    margin: 0 auto;
}
