.pill {
    display: inline-flex;
    align-items: center;
    gap: var(--4);
    background: var(--Neutrals-Ash);
    color: var(--Neutrals-Charcoal);
    font-family: var(--Font-Family-Body);
    font-size: var(--Font-Size-6);
    font-weight: 600;
    padding: 8px 12px;
    line-height: 1.2;
    border-radius: var(--16);
    margin-bottom: var(--16);
    margin-right: var(--4);
}

.pill img {
    width: 12px;
    height: 12px;
    margin-right: var(--4);
}

.pill.pill-blue {
    background: var(--Blue-Light-Blue);
}

.pill.pill-purple {
    background: var(--Purple-Light-Purple);
}

.pill.pill-orange {
    background: var(--Orange-Light-Orange);
}

.pill.pill-yellow {
    background: var(--Yellow-Yellow);
}
