/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-section {
    margin: 0;
    padding: var(--fl-section-v-padding) var(--fl-section-h-padding);
    z-index: 1;
}

.fl-main > .conditional-passthrough:first-child .fl-section:first-child {
    padding-block-start: calc(var(--fl-section-v-padding) * 2);
}

.fl-section-container {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    gap: var(--fl-section-v-padding);
    margin: 0 auto;
    max-inline-size: 1440px;
    padding: 0;
}

.fl-section-container.is-narrow {
    max-inline-size: 900px;
}

.fl-heading-group {
    margin-block-end: var(--fl-section-heading-margin-bottom);
}

.fl-heading-group > *:last-child {
    margin-block-end: 0;
}

.fl-section-cta-wrap {
    text-align: center;
}

.fl-section .fl-heading-group:last-child {
    margin-block-end: 0;
}
