.fl-section {
    padding-block: 48px;
}

.fl-card,
.fl-card-gallery-card,
.fl-buttons {
    padding-block: 16px;
}

.fl-logo-fx img {
    max-block-size: none;
}

.fl-logo-dark,
.fl-menu-close-button,
.fl-menu-title .fl-icon,
.fl-nav-mobile-download-link,
.fl-footer-logo,
.fl-carousel-fade-overlay {
    display: none;
}

.fl-menu-title:link,
.fl-menu-title:visited {
    color: #333336;
    text-decoration: none;
}

.fl-menu-title h2 {
    font-size: 24px;
}

.fl-menu-subtitle {
    color: #666669;
    font-size: 20px;
    margin-block: 0 8px;
}

.fl-header-inner {
    display: flex;
    gap: 8px;
    margin-block-end: 32px;
    padding-block-start: 16px;
    position: relative;
}

.fl-nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    inline-size: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-menu-category {
    inline-size: 32%;
}

.fl-menu-category + .fl-menu-category {
    inline-size: 40%;
}

.fl-menu-category + .fl-menu-category + .fl-menu-category {
    inline-size: 25%;
}

.fl-nav {
    display: none;
}

.fl-nav.is-open {
    background-color: #fff;
    border: 2px solid #eee;
    display: flex;
    inline-size: 100%;
    inset-block-start: 100%;
    padding: 24px;
    position: absolute;
}

.fl-menu-category-link a:link,
.fl-menu-category-link a:visited {
    align-items: center;
    border: 2px solid #7543e3;
    border-radius: 24px;
    color: #333336;
    display: inline-flex;
    gap: 4px;
    margin-block-start: 8px;
    padding: 8px 16px;
    text-decoration: none;
}

.fl-menu-category-link a:hover,
.fl-menu-category-link a:focus,
.fl-menu-category-link a:active {
    background-color: transparent;
    border-color: #6132bc;
}

.fl-menu-panel-content-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-nav-link:link,
.fl-nav-link:visited {
    color: #333336;
    display: block;
    padding: 4px 0;
    text-decoration: none;
}

.fl-nav-link:hover,
.fl-nav-link:focus,
.fl-nav-link:active {
    color: #333336;
    text-decoration: underline;
}

.fl-show-mobile-menu {
    align-items: center;
    background-color: #7543e3;
    block-size: 40px;
    color: white;
    display: flex;
    inline-size: 40px;
    justify-content: center;
    padding: 0;
}

.fl-show-mobile-menu .fl-icon-close,
.fl-show-mobile-menu.is-open .fl-icon-app-menu {
    display: none;
}

.fl-show-mobile-menu.is-open .fl-icon-close,
.fl-show-mobile-menu .fl-icon-app-menu {
    display: block;
}

.fl-show-mobile-menu .fl-show-mobile-menu-content.is-open {
    background-image: url('/media/img/firefox/flare/2026/icons/desktop-16/close-cancel-dismiss/close-16.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    block-size: 32px;
    display: block;
    font-size: 0;
    inline-size: 32px;
    line-height: 0;
    margin: auto;
}

.fl-header .download-link {
    background-color: #7543e3;
    border-radius: 40px;
    color: white;
    display: inline-block;
    margin-block: auto;
    padding: 8px 12px;
    text-decoration: none;
}

.fl-header .download-link:hover,
.fl-header .download-link:focus,
.fl-header .download-link:active,
.fl-show-mobile-menu:hover,
.fl-show-mobile-menu:focus,
.fl-show-mobile-menu:active {
    background-color: #6132bc;
    color: white;
}

.fl-header-buttons {
    display: flex;
    gap: 16px;
    margin-inline-start: auto;
}

.fl-split-page-upper,
.fl-split-page-lower {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.fl-footer-sections-list.fl-footer-sections-list-mobile {
    display: none;
}

.fl-footer {
    margin-block-start: 72px;
}

.fl-footer a:link,
.fl-footer a:visited {
    color: #333336;
    font-size: 14px;
    text-decoration: none;
}

.fl-footer a:hover,
.fl-footer a:focus,
.fl-footer a:active {
    color: #333336;
    text-decoration: underline;
}

.fl-footer-sections-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.fl-footer-section {
    border: 0 none;
    flex-basis: calc(33% - 12px);
}

.fl-footer-section.fl-footer-section-lang-select {
    display: flex;
    flex-basis: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.fl-footer-heading {
    font-size: 16px;
    margin-block: 32px 0;
}

.fl-footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-footer-terms {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    list-style: none;
    margin: 0;
    margin-block: 32px;
    padding: 0;
}

.fl-language-switcher-link {
    display: none;
}

.fl-language-switcher {
    display: block;
    padding-block-start: 32px;
}

.fl-language-switcher label {
    display: block;
}

.fl-language-switcher button {
    padding: 4px 8px;
}
