/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-section {
    padding: calc(var(--token-scale-24) * 1px) 0;
}

.fl-section-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 calc(var(--token-scale-40) * 1px);
    display: flex;
    flex-direction: column;
    gap: calc(var(--token-scale-40) * 1px);
}

.fl-page-blog .fl-section-container {
    max-width: 700px;
    background: var(--fl-theme-surface-page);
    position: relative;
    padding-block-start: calc(var(--token-scale-40) * 1px);
}

@media (--viewport-md-up) {
    .fl-section-container {
        gap: calc(var(--token-scale-64) * 1px);
    }

    .fl-section-container .fl-heading-group {
        margin-block-end: 0;
    }

    .fl-section {
        padding: calc(var(--token-scale-64) * 1px) 0
    }
}

@media (--viewport-xs) {
    .fl-section {
        margin-block-end: 0;
    }

    .fl-section-container {
        padding: 0 calc(var(--token-scale-24) * 1px);
    }
}

.fl-section-cta-wrap {
    text-align: center;
}

.fl-section-cta-link {
    color: var(--fl-theme-color-text-on-accent);
    font-weight: var(--token-font-weight-semibold);
}
