/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-home-body {
    --section-border-radius: var(--token-border-radius-lg);
    max-width: unset;
    padding: 0;
}

.fl-home-body .fl-main {
    width: 100%;
    max-width: unset;
    padding: 0;
    background: var(--token-color-white);
    border-bottom-left-radius: var(--section-border-radius);
    border-bottom-right-radius: var(--section-border-radius);
    overflow: hidden;
}

.fl-home-upper,
.fl-home-lower {
    margin: 0;
}

.fl-home-upper {
    background: var(--token-color-dark-purple);
    border-bottom-left-radius: var(--section-border-radius);
    border-bottom-right-radius: var(--section-border-radius);
    color: var(--token-color-white);
}

.fl-home-lower {
    background-color: var(--token-color-white);
    display: flex;
    flex-direction: column;
    padding-top: var(--fl-section-v-padding);
    gap: var(--fl-section-v-padding);
}

@media (--viewport-md-up) {
    .fl-home-body {
        --section-border-radius: var(--token-border-radius-xl);
    }
}
