.fl-article-body {
    background: var(--token-color-dark-purple);
}

.fl-article-index-header {
    margin: 0 auto;
    max-inline-size: var(--token-width-desktop-layout);
    padding: var(--token-spacing-3xl) var(--token-spacing-xl) 0;
}

.fl-article-index-header .fl-heading {
    margin: 0;
}

.fl-article-page .fl-main {
    padding-block-start: var(--token-layout-md);
}

.fl-article-header {
    margin-block-end: var(--token-layout-md);
}

.fl-article-header img {
    border-radius: var(--token-spacing-lg);
    margin-block-end: var(--token-layout-xs);
}

.fl-article-main {
    margin: 0 auto;
    max-inline-size: var(--token-width-desktop-content);
    padding-inline: var(--token-spacing-lg);
}

.fl-article-main h2,
.fl-article-main h3,
.fl-article-main h4,
.fl-article-main h5,
.fl-article-main h6 {
    margin-block-start: var(--token-layout-md);
}

/* override default font sizes for headings on article pages */
.fl-rich-text h2 {
    font-size: var(--fl-theme-font-size-heading-sm);
}

.fl-article-main .fl-heading {
    margin-block-end: var(--token-spacing-3xl);
    text-align: center;
}

.fl-article-date {
    color: var(--fl-theme-label-color);
    font-size: var(--fl-theme-label-xs);
}

.fl-article-main .fl-rich-text blockquote {
    margin-block: var(--token-layout-md);
}

.fl-article-page .fl-privacy-link a {
    color: var(--token-color-white);
}

@media (--viewport-sm-up) {
    .fl-article-page .fl-main {
        padding-block-start: var(--token-layout-lg);
    }

    .fl-article-header {
        margin-block-end: var(--token-layout-lg);
    }

    .fl-article-header img {
        border-radius: var(--token-layout-xs);
    }
}

/* =====================================================================
Stacked article list
===================================================================== */

.fl-stacked-article-list {
    margin: 0 auto;
    max-inline-size: var(--token-width-desktop-content-lg);
}

.fl-stacked-article-list .fl-article-item {
    border-block-start: 1px solid var(--token-color-soft-purple);
    display: grid;
    gap: var(--token-spacing-lg);
    padding-block: var(--token-spacing-2xl);
}

.fl-article-item-header {
    align-items: start;
    display: flex;
    gap: var(--token-spacing-lg);
}

.fl-article-item-header img {
    inline-size: var(--token-layout-md);
    margin: 0;
}

.fl-stacked-article-list .fl-article-item:last-child {
    border-block-end: 1px solid var(--token-color-soft-purple);
}

.fl-stacked-article-list .fl-article-item-content {
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-xl);
}

.fl-stacked-article-list .fl-article-item-content .fl-heading > * {
    margin: 0;
}

/* =====================================================================
Related articles
===================================================================== */

.fl-related-articles .fl-card-media {
    align-items: center;
    aspect-ratio: 23/14;
    background: var(--theme-purple-card-bg-color);
    display: flex;
    inline-size: 100%;
    justify-content: center;
}

.fl-related-articles .fl-illustration-card {
    gap: var(--token-spacing-lg);
}

.fl-related-articles .fl-card-media img {
    margin: 0;
    max-block-size: 80px;
    max-inline-size: 80px;
}

.fl-related-articles-header {
    align-items: baseline;
    border-block-end: 1px solid var(--theme-purple-card-bg-color);
    display: flex;
    gap: var(--token-spacing-lg);
    justify-content: space-between;
    padding-block-end: var(--token-spacing-md);
}

.fl-related-articles-header > * {
    margin: 0;
}

.fl-related-articles .fl-card-grid {
    align-items: end;
}

.fl-related-articles-header-link {
    font-size: var(--fl-theme-font-size-body-2xs);
    text-transform: uppercase;
}

@media (--viewport-xs) {
    .fl-related-articles .fl-card-grid:has(.fl-illustration-card-default) {
        --fl-card-grid-columns: minmax(0, 1fr);
    }
}

@media (--viewport-md-up) {
    .fl-stacked-article-list .fl-article-item {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .fl-stacked-article-list .fl-article-item-content {
        flex-direction: row;
    }

    .fl-stacked-article-list .fl-article-item-content .fl-heading {
        max-inline-size: 45%;
        min-inline-size: 45%;
    }

    .fl-related-articles .fl-card-content {
        min-block-size: 90px; /* ensure consistent height for cards in the grid. This is three-lines tall. */
    }

    .fl-related-articles .fl-card-media img {
        margin: 0;
        max-block-size: 180px;
        max-inline-size: 180px;
    }

    .fl-related-articles .fl-illustration-card:nth-child(2) .fl-card-media {
        aspect-ratio: 8/10;
    }

    .fl-related-articles .fl-illustration-card:nth-child(1) .fl-card-media,
    .fl-related-articles .fl-illustration-card:nth-child(4) .fl-card-media {
        aspect-ratio: 1/1;
    }
}
