.fl-download-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--token-layout-xs);
    overflow: hidden;
    padding: var(--token-layout-lg) 0 0;
    text-align: center;
}

.fl-download-intro-featured-image {
    padding-block-start: var(--token-spacing-md);
}

.fl-download-intro-featured-image img {
    margin-block-end: -4px;
}

.fl-feature-cards {
    margin: 0 auto;
    max-width: var(--token-width-desktop-layout);
    padding-block-start: var(--token-spacing-3xl);
    width: 100%;
}

.fl-feature-cards > .fl-heading {
    text-align: center;
}

.fl-feature-cards-bottom-button {
    text-align: center;
}
