/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* -------------------------------------------------------------------------- */

/* Footer Base */

.fl-footer {
    background-color: var(--token-color-dark-purple);
    color: var(--token-color-white);
    margin: 0;
    margin-block-start: auto;
    width: 100%;
    padding: 0;
}

.fl-footer a:link:not(.fl-button),
.fl-footer a:visited:not(.fl-button) {
    color: var(--token-color-white);
    font-weight: normal;
    text-decoration: none;
}

.fl-footer a:hover:not(.fl-button),
.fl-footer a:focus:not(.fl-button),
.fl-footer a:active:not(.fl-button) {
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */

/* Primary Section */

.fl-footer-inner {
    max-width: var(--token-width-desktop-layout);
    margin: 0 auto;
    padding: var(--token-spacing-lg);
    padding-block-end: 0;
}

/* -------------------------------------------------------------------------- */

/* Footer Sections */

.fl-footer-section > * {
    margin-block-start: var(--token-spacing-xl);
}

.fl-footer-section > *:first-child {
    margin-block-start: 0;
}

.fl-footer-sections-list {
    padding: var(--token-layout-lg) 0;
}

.fl-footer-sections-list-desktop {
    display: none;
}

.fl-footer-section-lang-select {
    grid-column: 1 / span 2;
}

@media screen and (max-width: 1023px) {
    .fl-footer-sections-list-mobile {
        border-block-end: transparent;
        border-color: transparent;
        gap: var(--token-spacing-xl);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fl-footer-section {
        margin-block-start: var(--token-spacing-xl);
    }

    .fl-footer-sections-list .fl-footer-section {
        width: auto;
        padding: 0;
        margin-block-end: 0;
    }

    .fl-footer-sections-list .fl-footer-list:last-child {
        margin-block-end: 0;
    }

    .fl-footer-sections-list .fl-footer-section-follow li:last-child {
        margin-block-end: 0;
    }
}

@media screen and (min-width: 1024px) {
    .fl-footer-sections-list-mobile {
        display: none;
    }

    .fl-footer-sections-list-desktop {
        display: flex;
    }

    .fl-footer-section {
        padding: 0 var(--token-spacing-xl);
        width: calc(100% / 4 - var(--token-layout-xs) / 4);
        flex: 1;
    }

    .fl-footer-section:first-child {
        padding-inline: 0 var(--token-spacing-xl);
    }

    .fl-footer-section:last-child {
        padding-inline: var(--token-spacing-xl) 0;
    }
}

/* Individual Section Styles */
@media (max-width: 479px) {
    .fl-footer-section {
        margin-block-end: var(--token-spacing-sm);
    }
}

.fl-footer-section a:link,
.fl-footer-section a:visited {
    text-decoration: none;
}

.fl-footer-section a:hover,
.fl-footer-section a:focus,
.fl-footer-section a:active {
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */

/* Footer Headings */

.fl-footer-heading {
    text-align: start;
    font-weight: bold;
    margin-block-end: var(--token-spacing-sm);
    padding: 0;
    font-size: var(--token-spacing-lg);
    line-height: 1.5;
}

@media (min-width: 480px) {
    .fl-footer-heading {
        padding: 0 0 var(--token-spacing-sm);
        margin-block-end: 0;
    }
}

.fl-footer-heading a:link,
.fl-footer-heading a:visited {
    font-weight: bold;
}

/* -------------------------------------------------------------------------- */

/* Footer Lists */

.fl-footer-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

@media (max-width: 1023px) {
    .fl-footer-list {
        margin-block-end: 0;
    }
}

.fl-footer-list li {
    list-style-type: none;
    margin-block-end: var(--token-spacing-sm);
}

.fl-footer-list li:last-child {
    margin-block-end: 0;
}

/* external link icon */
.fl-footer-section a[href^='http']::after {
    content: '';
    background-color: var(--token-color-white);
    background-repeat: no-repeat;
    background-size: contain;
    mask-image: url('/media/img/icons/external.svg');
    display: inline-block;
    height: 12px;
    vertical-align: baseline;
    width: 12px;
    margin-inline-start: var(--token-spacing-sm);
}

/* -------------------------------------------------------------------------- */

/* Secondary Section */

.fl-footer-secondary {
    max-width: var(--token-width-desktop-layout);
    margin: 0 auto;
    position: relative;
    padding: var(--token-spacing-lg);
    text-transform: uppercase;
}

.fl-footer-secondary a:hover,
.fl-footer-secondary a:focus,
.fl-footer-secondary a:active {
    text-decoration: none;
}

/* Legal Links */
.fl-footer-legal {
    margin-block-end: var(--token-spacing-xl);
}

.fl-footer-terms {
    max-width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--token-spacing-sm) var(--token-spacing-2xl);
    justify-content: space-between;
}

.fl-footer-terms li {
    display: inline;
}

.fl-footer-terms a {
    font-size: var(--token-spacing-lg);
    line-height: 1.5;
}

.fl-footer-terms:not(.fl-button),
.fl-footer-terms a:visited:not(.fl-button) {
    text-decoration: none;
}

.fl-footer-terms a:link:not(.fl-button):hover,
.fl-footer-terms a:link:not(.fl-button):focus,
.fl-footer-terms a:visited:not(.fl-button):hover,
.fl-footer-terms a:visited:focus {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .fl-footer-terms li {
        display: block;
        width: 100%;
    }
}
