/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Defaults - Default styles for typography, spacing, and classless
HTML element styles

This layer overrides some of the constraints from the base layer and
provides defaults for generic elements using CSS variables from the
theme layer.
===================================================================== */

/* TODO: Fix spacing values */

html {
    font-size: var(--fl-theme-font-size-body-sm);
}

body {
    background: var(--token-color-white);
    color: var(--token-color-black-4);
    font-family: var(--fl-theme-font-family-body);
    font-weight: var(--fl-theme-font-weight-body);
    inline-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fl-theme-font-family-headline);
    font-weight: var(--fl-theme-font-weight-headline);
    margin-block-end: var(--token-spacing-lg);
}

h1,
.fl-heading-size-1 {
    font-size: var(--fl-theme-font-size-heading-xl);
}

h2,
.fl-heading-size-2 {
    font-size: var(--fl-theme-font-size-heading-md);
}

h3,
.fl-heading-size-3 {
    font-size: var(--fl-theme-font-size-heading-sm);
}

h4,
.fl-heading-size-4 {
    font-size: var(--fl-theme-font-size-heading-xs);
}

h5 {
    font-size: var(--fl-theme-font-size-heading-xs);
}

h6 {
    font-size: var(--fl-theme-font-size-heading-xs);
}

p {
    line-height: 1.4;
    margin: 0 0 var(--token-spacing-lg);
}

a:link,
a:visited {
    color: var(--fl-theme-color-link);
    text-decoration: underline;
    transition: color var(--token-transition-fast);
}

a:visited {
    color: var(--fl-theme-color-link);
}

a:hover,
a:active,
a:focus {
    color: var(--fl-theme-color-link-hover);
    text-decoration: none;
}

img,
svg {
    margin: 0 0 var(--token-spacing-lg);
}

@media (prefers-color-scheme: dark) {
    .dim-images-on-dark-mode img {
        filter: brightness(0.8) contrast(1.2);
    }
}

hr {
    border-block-start: 1px solid var(--token-color-soft-purple);
    margin: var(--token-spacing-lg) 0;
}

/* Remove section border, since it was just used to provide a clean
visual break between sections in legacy browsers */
section {
    border: none;
}

ul,
ol {
    margin: 0 0 var(--token-spacing-lg) var(--token-spacing-lg);
}

li {
    margin: 0 0 var(--token-spacing-lg);
}

/* Override base button styles with theme variables and relax constraints */
button,
[role='button'] {
    background: var(--token-color-light-purple);
    block-size: auto;
    border-radius: var(--token-border-radius-lg);
    color: var(--token-color-white);
    inline-size: auto;
}

button:active,
button:focus,
button:visited,
[role='button']:active,
[role='button']:focus,
[role='button']:visited {
    background: var(--token-color-light-purple);
    color: var(--token-color-white);
}

button:hover,
[role='button']:hover {
    background: var(--token-color-link-purple);
    color: var(--token-color-white);
}

/* Details/Summary accordion */
details {
    border-block-end: 1px solid var(--fl-menu-separator-color);
}

summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-block: var(--token-spacing-lg);
}

summary::-webkit-details-marker {
    display: none;
}

summary::marker {
    content: '';
}

summary::after {
    background-color: currentColor;
    block-size: 1em;
    content: '';
    display: inline-block;
    flex-shrink: 0;
    inline-size: 1em;
    margin-inline-start: var(--token-spacing-lg);
    -webkit-mask: url('/media/img/firefox/flare/2026/icons/desktop-16/arrows-and-chevrons/chevron-down-16.svg')
        no-repeat center / 1em 1em;
    mask: url('/media/img/firefox/flare/2026/icons/desktop-16/arrows-and-chevrons/chevron-down-16.svg')
        no-repeat center / 1em 1em;
    transition: transform var(--token-transition-fast);
}

details[open] > summary::after {
    transform: rotate(180deg);
}

/* Use theme color for table borders */
th,
td {
    border-color: var(--token-color-black-4);
}
