/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* Styles used by Download Firefox Button messages */

#thanks-download-button {
    display: none;
}

.fl-download-support,
.fl-support-install {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-md);
    justify-content: center;
}

.fl-download-support .fl-linux-deb-text {
    margin-top: var(--token-spacing-md);
    text-align: center;
}

.fl-fx-download-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Hide the unsupported message by default */
.fx-unsupported-message {
    display: none;
    margin-bottom: 8px;
    text-align: center;
}

.fx-unsupported-message p {
    margin-bottom: 8px;
}

/* Show the Windows unsupported message if on Windows with unsupported version for Firefox */
.windows.fx-unsupported .fx-unsupported-message.win {
    display: block;
}

/* Hide the regular download button if Firefox is unsupported on the Windows system */
.windows.fx-unsupported .c-button-download-thanks-link {
    display: none;
}

/* stylelint-disable selector-class-pattern */

/* Hide the Windows 64 download link if in a Windows 32 system where Firefox is unsupported */

.windows.fx-unsupported .fx-unsupported-message.win .download-link.os_win64 {
    display: none;
}

/* Show the Windows 32 download link if in a Windows 32 system where Firefox is unsupported */
.windows.fx-unsupported .fx-unsupported-message.win .download-link.os_win {
    display: inline-block;
}

/* Hide the Windows 32 download link if in a Windows 64 system where Firefox is unsupported */
.windows.fx-unsupported.x64 .fx-unsupported-message.win .download-link.os_win {
    display: none;
}

/* Show the Windows 64 download link if in a Windows 64 system where Firefox is unsupported */

.windows.fx-unsupported.x64
    .fx-unsupported-message.win
    .download-link.os_win64 {
    display: inline-block;
}

/* stylelint-enable selector-class-pattern */

/* Show the Mac unsupported message if on Mac with unsupported version for Firefox */
.osx.fx-unsupported .fx-unsupported-message.mac {
    display: block;
}

/* Hide the regular download button if Firefox is unsupported on the Mac system */
.osx.fx-unsupported .c-button-download-thanks-link {
    display: none;
}
