/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/


.fl-card-grid {
    display: grid;
    gap: calc(var(--token-scale-32) * 1px);
    grid-template-columns: 1fr;
}

.fl-card-grid .conditional-display .fl-card {
    height: 100%;
}

.fl-card-list-header {
    margin-bottom: calc(var(--token-scale-40) * 1px);
}

.fl-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: calc(var(--token-scale-16) * 1px);
    border: 1px solid var(--fl-theme-border-color-strong);
    border-radius: calc(var(--token-scale-16) * 1px);
    padding: calc(var(--token-scale-24) * 1px);
    transition: all var(--token-transition-base);
}

.fl-card:hover {
    background: var(--fl-theme-surface-hover);
    border-color: transparent;
}

.fl-card.fl-card-fill {
    border: none;
    background: var(--fl-theme-surface-elevated);
}

.fl-card .fl-heading,
.fl-card .fl-heading-group {
    margin: 0;
}

.fl-card .fl-body {
    text-align: left;
}

.fl-card .fl-buttons {
    margin-top: auto;
}

.fl-card.fl-card-expand-link a.fl-button::after, .fl-card.fl-card-expand-link button::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: "";
}

.fl-card.fl-card-expand-link:hover .fl-heading {
    text-decoration: underline;
}

.fl-card .fl-button {
    margin-top: auto;
    align-self: flex-start;
}

.fl-card-sticker {
    width: auto;
    height: 94px;
    margin-bottom: calc(var(--token-scale-8) * 1px);
    align-self: flex-start;
}

.fl-card-icon {
    font-size: var(--fl-theme-font-size-h4);
}

.fl-illustration-card {
    padding: 0;
}

.fl-illustration-card .fl-card-media,
.fl-illustration-card .fl-card-media img {
    width: 100%;
    border-radius: calc(var(--token-scale-16) * 1px);
}

.fl-illustration-card .fl-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: calc(var(--token-scale-16) * 1px);
    height: 100%;
    padding: calc(var(--token-scale-24) * 1px);
}

.fl-illustration-card-reverse {
    gap: 0;
}

.fl-illustration-card-reverse .fl-card-media {
    position: relative;
    order: 1;
    margin-top: calc(var(--token-scale-24) * -1px);
    z-index: 0;
}

.fl-illustration-card-reverse .fl-card-content {
    position: relative;
    order: 0;
    background: var(--fl-theme-surface-elevated);
    border-radius: calc(var(--token-scale-16) * 1px);
    z-index: 1;
}

@media (max-width: 767px) {
    .fl-card {
        padding: calc(var(--token-scale-24) * 1px);
    }
}

@media (min-width: 768px) {
    .fl-card-grid {
        gap: calc(var(--token-scale-24) * 1px);
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .fl-card-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .fl-card .button {
        width: fit-content
    }
}
