.fl-showcase {
    display: flex;
    flex-direction: column;
    gap: var(--token-layout-xs);
    text-align: center;
    margin: 0 auto;
    padding: var(--fl-section-v-padding) var(--token-spacing-lg);
}

.fl-showcase-heading,
.fl-showcase-caption {
    max-width: var(--token-width-desktop-content);
    margin: 0 auto;
}

.fl-showcase-caption {
    text-align: center;
    font-size: var(--fl-theme-font-size-body-sm);
}

.fl-showcase-caption:has(.fl-subheading) {
    text-align: left;
}

.fl-showcase-image {
    margin: 0 auto;
}

.fl-showcase-image img {
    width: 100%;
}

.fl-showcase-image-desktop {
    display: none;
}

@media (--viewport-sm-up) {
    .fl-showcase-caption:has(.fl-subheading) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--token-spacing-lg);
    }

    .fl-showcase-image-mobile {
        display: none;
    }

    .fl-showcase-image-desktop {
        display: block;
    }
}

@media (--viewport-md-up) {
    .fl-showcase.fl-showcase-default .fl-showcase-image {
        max-width: var(--token-width-desktop-content);
    }

    .fl-showcase.fl-showcase-full .fl-showcase-image {
        width: 100%;
    }

    .fl-showcase.fl-showcase-expanded {
        width: var(--token-width-desktop-content);
    }

    .fl-showcase.fl-showcase-expanded .fl-showcase-image {
        margin-inline: -130px;
    }
}

@media (--viewport-lg-up) {
    .fl-showcase.fl-showcase-expanded {
        max-width: 100%;
    }
}
