/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    vertical-align: middle;
    -webkit-mask: var(--icon-src) no-repeat center / 1em 1em;
    mask: var(--icon-src) no-repeat center / 1em 1em;
    mask-size: contain;
}

.fl-icon-ai { --icon-src: url('/media/img/firefox/flare/icons/ai.svg'); }
.fl-icon-alert { --icon-src: url('/media/img/firefox/flare/icons/alert.svg'); }
.fl-icon-android { --icon-src: url('/media/img/firefox/flare/icons/android.svg'); }
.fl-icon-apple { --icon-src: url('/media/img/firefox/flare/icons/apple.svg'); }
.fl-icon-arrow-down { --icon-src: url('/media/img/firefox/flare/icons/arrow-down.svg'); }
.fl-icon-arrow-left { --icon-src: url('/media/img/firefox/flare/icons/arrow-left.svg'); }
.fl-icon-arrow-right { --icon-src: url('/media/img/firefox/flare/icons/arrow-right.svg'); }
.fl-icon-arrow-up { --icon-src: url('/media/img/firefox/flare/icons/arrow-up.svg'); }
.fl-icon-bell { --icon-src: url('/media/img/firefox/flare/icons/bell.svg'); }
.fl-icon-blog { --icon-src: url('/media/img/firefox/flare/icons/blog.svg'); }
.fl-icon-bookmark { --icon-src: url('/media/img/firefox/flare/icons/bookmark.svg'); }
.fl-icon-calendar { --icon-src: url('/media/img/firefox/flare/icons/calendar.svg'); }
.fl-icon-caret-down { --icon-src: url('/media/img/firefox/flare/icons/caret-down.svg'); }
.fl-icon-caret-up { --icon-src: url('/media/img/firefox/flare/icons/caret-up.svg'); }
.fl-icon-chat { --icon-src: url('/media/img/firefox/flare/icons/chat.svg'); }
.fl-icon-check { --icon-src: url('/media/img/firefox/flare/icons/check.svg'); }
.fl-icon-close { --icon-src: url('/media/img/firefox/flare/icons/close.svg'); }
.fl-icon-cloud { --icon-src: url('/media/img/firefox/flare/icons/cloud.svg'); }
.fl-icon-copy { --icon-src: url('/media/img/firefox/flare/icons/copy.svg'); }
.fl-icon-data-insights { --icon-src: url('/media/img/firefox/flare/icons/data-insights.svg'); }
.fl-icon-data-pie { --icon-src: url('/media/img/firefox/flare/icons/data-pie.svg'); }
.fl-icon-design { --icon-src: url('/media/img/firefox/flare/icons/design.svg'); }
.fl-icon-download { --icon-src: url('/media/img/firefox/flare/icons/download.svg'); }
.fl-icon-download-white { --icon-src: url('/media/img/firefox/flare/icons/download-white.svg'); }
.fl-icon-earth { --icon-src: url('/media/img/firefox/flare/icons/earth.svg'); }
.fl-icon-edit-write { --icon-src: url('/media/img/firefox/flare/icons/edit-write.svg'); }
.fl-icon-email { --icon-src: url('/media/img/firefox/flare/icons/email.svg'); }
.fl-icon-event { --icon-src: url('/media/img/firefox/flare/icons/event.svg'); }
.fl-icon-external-link { --icon-src: url('/media/img/firefox/flare/icons/external-link.svg'); }
.fl-icon-eye-closed { --icon-src: url('/media/img/firefox/flare/icons/eye-closed.svg'); }
.fl-icon-eye-open { --icon-src: url('/media/img/firefox/flare/icons/eye-open.svg'); }
.fl-icon-folder { --icon-src: url('/media/img/firefox/flare/icons/folder.svg'); }
.fl-icon-folder-plus { --icon-src: url('/media/img/firefox/flare/icons/folder-plus.svg'); }
.fl-icon-gear { --icon-src: url('/media/img/firefox/flare/icons/gear.svg'); }
.fl-icon-globe { --icon-src: url('/media/img/firefox/flare/icons/globe.svg'); }
.fl-icon-hashtag { --icon-src: url('/media/img/firefox/flare/icons/hashtag.svg'); }
.fl-icon-headphone { --icon-src: url('/media/img/firefox/flare/icons/headphone.svg'); }
.fl-icon-heart { --icon-src: url('/media/img/firefox/flare/icons/heart.svg'); }
.fl-icon-home { --icon-src: url('/media/img/firefox/flare/icons/home.svg'); }
.fl-icon-language { --icon-src: url('/media/img/firefox/flare/icons/language.svg'); }
.fl-icon-lock { --icon-src: url('/media/img/firefox/flare/icons/lock.svg'); }
.fl-icon-megaphone { --icon-src: url('/media/img/firefox/flare/icons/megaphone.svg'); }
.fl-icon-menu { --icon-src: url('/media/img/firefox/flare/icons/menu.svg'); }
.fl-icon-minus { --icon-src: url('/media/img/firefox/flare/icons/minus.svg'); }
.fl-icon-mobile-phone { --icon-src: url('/media/img/firefox/flare/icons/mobile-phone.svg'); }
.fl-icon-paperclip { --icon-src: url('/media/img/firefox/flare/icons/paperclip.svg'); }
.fl-icon-pause { --icon-src: url('/media/img/firefox/flare/icons/pause.svg'); }
.fl-icon-play { --icon-src: url('/media/img/firefox/flare/icons/play.svg'); }
.fl-icon-plus { --icon-src: url('/media/img/firefox/flare/icons/plus.svg'); }
.fl-icon-quote { --icon-src: url('/media/img/firefox/flare/icons/quote.svg'); }
.fl-icon-read { --icon-src: url('/media/img/firefox/flare/icons/read.svg'); }
.fl-icon-report { --icon-src: url('/media/img/firefox/flare/icons/report.svg'); }
.fl-icon-search { --icon-src: url('/media/img/firefox/flare/icons/search.svg'); }
.fl-icon-shield { --icon-src: url('/media/img/firefox/flare/icons/shield.svg'); }
.fl-icon-sound-off { --icon-src: url('/media/img/firefox/flare/icons/sound-off.svg'); }
.fl-icon-sound-on { --icon-src: url('/media/img/firefox/flare/icons/sound-on.svg'); }
.fl-icon-star { --icon-src: url('/media/img/firefox/flare/icons/star.svg'); }
.fl-icon-thumbs-up { --icon-src: url('/media/img/firefox/flare/icons/thumbs-up.svg'); }
.fl-icon-toggle-off { --icon-src: url('/media/img/firefox/flare/icons/toggle-off.svg'); }
.fl-icon-toggle-on { --icon-src: url('/media/img/firefox/flare/icons/toggle-on.svg'); }
.fl-icon-trash { --icon-src: url('/media/img/firefox/flare/icons/trash.svg'); }
.fl-icon-update { --icon-src: url('/media/img/firefox/flare/icons/update.svg'); }
.fl-icon-user { --icon-src: url('/media/img/firefox/flare/icons/user.svg'); }
