/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Card Gallery - Flare 2026 Design System Card Gallery Component
===================================================================== */

.fl-card-gallery {
    --gallery-card-padding: var(--token-layout-2xs);
    --gallery-card-radius: var(--token-border-radius-md);
    --gallery-callout-card-padding: var(--token-layout-md)
        var(--token-layout-2xs);
    --gallery-callout-card-max-width: 400px;
    --gallery-main-image-height: 450px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.fl-card-gallery-grid {
    display: grid;
    gap: var(--token-spacing-lg);
    grid-template-columns: 1fr;
}

.fl-card-gallery-card {
    background-color: var(--card-bg-color);
    border-radius: var(--gallery-card-radius);
    color: var(--fl-theme-color-text);
    display: grid;
    gap: var(--token-spacing-md);
    overflow: hidden;
}

.fl-card-gallery-superheading {
    color: var(--fl-theme-card-superheading-color);
    font-size: var(--fl-theme-font-size-body-2xs);
    margin: 0;
    text-transform: uppercase;
}

.fl-card-gallery-card .fl-buttons {
    margin-block-start: var(--token-spacing-lg);
}

.purple-card-theme {
    --card-bg-color: var(--theme-purple-card-bg-color);
    --card-bullet-color: var(--theme-purple-card-bullet-color);
}

.yellow-card-theme {
    --card-bg-color: var(--theme-yellow-card-bg-color);
}

.fl-card-gallery-main-card {
    grid-template-rows: auto var(--gallery-main-image-height);
}

.fl-card-gallery-main-card li::marker {
    color: var(--card-bullet-color);
}

.fl-card-gallery-callout-card {
    align-items: center;
    background:
        url('/media/img/firefox/flare/2026/clouds.svg') center center / cover
            no-repeat,
        var(--cloud-background-gradient);
    border-radius: var(--token-border-radius-xl);
    justify-content: center;
    max-inline-size: var(--gallery-callout-card-max-width);
    padding: var(--gallery-callout-card-padding);
    position: relative;
}

.fl-card-gallery-callout-card > * {
    position: relative;
    z-index: 1;
}

.fl-card-gallery-callout-card::before {
    background: var(--token-color-dark-purple-50);
    content: var(--content-dark-mode-only);
    inset: 0;
    position: absolute;
}

.fl-card-gallery-callout-card-content {
    display: grid;
    gap: var(--token-spacing-lg);
    grid-template-columns: 1fr;
    max-inline-size: 400px;
    text-align: center;
    text-wrap: balance;
}

.fl-card-gallery-body > *:last-child {
    margin-block-end: 0;
}

.fl-gallery-callout-card-heading {
    margin: 0;
}

.fl-card-gallery-card-content {
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-md);
    padding: var(--gallery-card-padding);
}

.fl-card-gallery-heading {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: var(--token-spacing-md);
}

.fl-card-gallery-icon {
    align-items: center;
    background-color: var(--token-color-white);
    block-size: 36px;
    border-radius: 50%;
    display: inline-flex;
    inline-size: 36px;
    justify-content: center;
    padding: var(--token-spacing-sm);
}

.fl-card-gallery-icon .fl-icon {
    block-size: 18px;
    color: var(--token-color-black-4);
    inline-size: 18px;
}

.fl-card-gallery-body {
    font-size: var(--fl-theme-font-size-body-sm);
}

.fl-card-gallery-card-figure {
    padding-block-end: 0;
    padding-inline-start: var(--gallery-card-padding);
}

.fl-card-gallery-secondary-card .fl-card-gallery-card-figure {
    padding-inline-end: var(--gallery-card-padding);
}

.fl-card-gallery-card-figure img {
    block-size: 100%;
    inline-size: 100%;
    margin: 0;
    object-fit: cover;
    object-position: top left;
}

.fl-card-gallery .fl-section-cta-wrap {
    margin-block-start: var(--token-layout-sm);
}

@media (--viewport-md-up) {
    .fl-card-gallery {
        --gallery-card-padding: var(--token-layout-xs);
        --gallery-card-radius: var(--token-border-radius-lg);
        --gallery-main-image-height: 338px;
        --gallery-secondary-image-height: 225px;
        --gallery-callout-card-padding: var(--token-layout-xs)
            var(--token-layout-2xs);
    }

    .fl-card-gallery-grid {
        grid-template-areas:
            'main secondary'
            'main callout';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .fl-card-gallery-main-card {
        grid-area: main;
        grid-template-rows: auto var(--gallery-main-image-height);
    }

    .fl-card-gallery-secondary-card {
        grid-area: secondary;
        grid-template-rows: auto var(--gallery-secondary-image-height);
    }

    .fl-card-gallery-secondary-card .fl-card-gallery-card-figure {
        padding-inline-end: 0;
    }

    .fl-card-gallery-card-figure img {
        block-size: 103%; /* the height of the image is determined by the grid row height. See .fl-card-gallery-grid */
    }

    .fl-card-gallery-callout-card {
        border-radius: 150px;
        grid-area: callout;
        max-inline-size: max(450px, 80%);
    }

    .fl-card-gallery-heading {
        flex-direction: row;
        font-size: var(--fl-theme-font-size-heading-sm);
    }
}

@media (--viewport-lg-up) {
    .fl-card-gallery {
        --gallery-card-padding: var(--token-layout-md);
        --gallery-card-radius: var(--token-border-radius-xl);
        --gallery-callout-card-padding: var(--token-layout-md)
            var(--token-layout-2xs);
        --gallery-main-image-height: 546px;
        --gallery-secondary-image-height: 324px;
        --gallery-callout-card-max-width: 570px;
    }
}
