/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-home-body {
    background: var(--token-color-dark-purple);
}

.fl-home-body .fl-main {
    background: var(--fl-theme-background);
}

.fl-home-body .fl-split-page-upper {
    padding: 0;
}

@media (--viewport-md-up) {
    .fl-home-body {
        --section-border-radius: var(--token-border-radius-xl);
    }
}
