/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Flare CSS entry point that loads all layers and defines layer order

The @imports come first, so that they are valid CSS in all browsers,
even without import inlining. In browsers that don't support
CSS layers, all of these get ignored as invalid

NOTE: While this is valid CSS, for performance reasons, these are
inlined by a custom webpack loader.

NOTE: This stylesheet targets evergreen browsers and Safari 15.6+.

See https://mozmeao.github.io/platform-docs/browser-support/

Safari 15.6 doesn't support several modern CSS features, notably:
- Nested CSS rules
- Color functions like light-dark()

To add Safari-specific fallbacks, define semantic CSS custom properties
in flare-theme.css and override them with media queries in
flare-theme.css that target feature support.

Nested CSS lacks basic support until Safari 16.5+ and lacks full support
until 17.2, so we can't rely on it.

For a full list of unsupported CSS features in Safari 15.6, see:

https://caniuse.com/?compare=safari+15.6&compareCats=CSS

===================================================================== */

/* stylelint-disable no-duplicate-at-import-rules, no-invalid-position-at-import-rule */

@import 'flare-base.css' layer(base);
@import 'flare-tokens.css' layer(theme);
@import 'flare-theme.css' layer(theme);
@import 'flare-defaults.css' layer(defaults);
@import 'flare-template.css' layer(template);
@import 'flare-notification.css' layer(template);
@import 'flare-navigation.css' layer(template);

@import 'flare26-icon.css' layer(components);
@import 'flare-button.css' layer(components);
@import 'flare-download-link.css' layer(components);
@import 'flare-tag.css' layer(components);
@import 'flare-typography.css' layer(components);
@import 'flare-intro.css' layer(components);
@import 'flare-media.css' layer(components);
@import 'flare-mediacontent.css' layer(components);
@import 'flare-newsletterform.css' layer(components);
@import 'flare-banner.css' layer(components);
@import 'flare-kit-banner.css' layer(components);
@import 'flare-cards.css' layer(components);
@import 'flare-section.css' layer(components);

@import 'flare-utilities.css' layer(utilities);
@import 'flare-overrides.css' layer(overrides);

/* Layer order */
@layer base, theme, defaults, template, components, utilities, overrides;

/* Fallback for browsers that don't support CSS layers
IE11 and below don't support @supports, so the base CSS is also
included via a <link> tag in a conditional comment */
@supports not (all: revert-layer) {
    /* Nested @imports are not valid CSS, but these are inlined by
    a custom webpack loader. */
    @import 'flare-base.css';

    /* Icons and utility classes are useful in the legacy stylesheet as well */
    @import 'flare26-icon.css';
    @import 'flare-utilities.css';
}
