/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.fl-section {
    margin: 0;
    padding: var(--fl-section-v-padding) var(--fl-section-h-padding);
}

.fl-section-container {
    display: flex;
    flex-direction: column;
    gap: var(--fl-section-v-padding);
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
}

.fl-heading-group {
    display: flex;
    flex-direction: column;
    gap: var(--fl-section-hgroup-gap);
    padding-bottom: var(--fl-section-hgroup-padding-bottom);
}

.fl-heading-group > * {
    margin-block: 0;
}

.fl-section-cta-wrap {
    text-align: center;
}
