.fl-article-page .fl-main {
    padding-top: calc(var(--scale-48) * 1px);
    position: relative;

}

.fl-article-page .fl-main::before {
    background: url('/media/img/firefox/features/article-header.svg') center top no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 50vh;
    max-height: 500px;
    min-height: 250px;
    position: absolute;
    top: 0;
    width: 100%;
}

@media (max-width: 1024px) {
    .fl-article-page .fl-main {
       padding-top: calc(var(--scale-96) * 1px);
    }

    .fl-article-page .fl-main::before {
        max-height: 800px;
    }
}

.fl-article-body {
    background-color: var(--neutrals-white);
    padding: calc(var(--scale-48) * 1px);
    max-width: 700px;
    min-height: 300px;
    margin: 0 auto;
    z-index: 1;
}
