.fl-download-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--token-layout-xs);
    overflow: hidden;
    padding: var(--token-layout-lg) 0 0;
    text-align: center;
}

.fl-download-intro .fl-section {
    padding-block-start: 0;
}

.fl-download-intro-featured-image {
    padding-block-start: var(--token-spacing-md);
}

.fl-download-intro-featured-image img {
    margin-block-end: -4px;
}
