.fl-showcase {
    display: flex;
    flex-direction: column;
    gap: var(--token-layout-xs);
    margin: 0 auto;
    padding: var(--fl-section-v-padding) var(--token-spacing-lg);
    text-align: center;
}

.fl-showcase-heading,
.fl-showcase-caption {
    margin: 0 auto;
    max-inline-size: var(--token-width-desktop-content);
}

.fl-showcase-caption {
    font-size: var(--fl-theme-font-size-body-sm);
    text-align: center;
}

.fl-showcase-caption:has(.fl-subheading) {
    text-align: start;
}

.fl-showcase-image {
    margin: 0 auto;
}

.fl-showcase-image img {
    inline-size: 100%;
}

@media (--viewport-sm-up) {
    .fl-showcase-caption:has(.fl-subheading) {
        display: grid;
        gap: var(--token-spacing-lg);
        grid-template-columns: 1fr 1fr;
    }
}

@media (--viewport-md-up) {
    .fl-showcase.fl-showcase-default .fl-showcase-image {
        max-inline-size: var(--token-width-desktop-content);
    }

    .fl-showcase.fl-showcase-full .fl-showcase-image {
        inline-size: 100%;
    }

    .fl-showcase.fl-showcase-expanded {
        inline-size: var(--token-width-desktop-content);
    }

    .fl-showcase.fl-showcase-expanded .fl-showcase-image {
        margin-inline: -130px;
    }
}

@media (--viewport-lg-up) {
    .fl-showcase.fl-showcase-expanded {
        max-inline-size: 100%;
    }
}
