/* ================================================
   Download Links
   ================================================ */

.fl-header .mzp-c-button-download-privacy-link,
.fl-header .fx-unsupported-message,
.fl-header .fl-privacy-link {
    display: none;
    margin: 0;
}

.fl-header .download-link {
    display: block;
    font-weight: var(--token-font-weight-bold);
    text-align: center;
}

.fl-header .download-link:hover {
    text-decoration: none;
}

.fl-header .fl-icon-download-white {
    margin-left: 4px;
    vertical-align: unset;
}

.fl-nav-mobile-download-link {
    background: var(--fl-theme-background);
    bottom: 0;
    left: 0;
    padding: var(--token-spacing-lg) var(--token-spacing-xl);
    position: fixed;
    width: 100%;
}

.fl-nav-mobile-download-link .fl-fx-download-container {
    display: block;
}

.fl-nav-mobile-download-link .download-button {
    display: block;
    padding: var(--token-spacing-md);
    width: 100%;
}

@media (--viewport-below-md) {
    .fl-header .fl-header-main-download-button .download-link {
        border-radius: var(--token-spacing-sm);
        font-size: 0;
        padding: 8px;
    }

    .fl-header
        .fl-nav.is-open
        ~ .fl-header-buttons
        .fl-header-main-download-button {
        display: none;
    }
}

@media (--viewport-md-up) {
    .fl-header-main-download-button .fl-icon {
        display: none;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .fl-nav-mobile-download-link {
        border-color: var(--token-color-purple);
    }
}
