/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Overrides - Exceptions to the rules

Rules in this layer will override everything else. Use sparingly for
specific exceptions that can't be handled by the other layers
===================================================================== */


.wnp-footer .button-outline img {
    margin-right: var(--fds-spacing-md);
}

.wnp-footer-cta .button {
    width: 100%;
}

.wnp-section-subscribe .button-outline {
    color: var(--fds-color-charcoal);
    border-color: var(--fds-color-charcoal);
}

.wnp-section-subscribe .wnp-input,
.wnp-section-subscribe .button-outline {
    padding: 12px 18px;
}

.wnp-section-subscribe .button-outline:hover {
    background: var(--fds-color-black);
    color: var(--fds-color-white);
}

.wnp-feature .button {
    margin-top: auto;
    align-self: flex-start;
}

.wnp-subscribe.wnp-subscribe-expanded .wnp-input,
.wnp-subscribe.wnp-subscribe-expanded .button {
    width: 100%;
}

.wnp-subscribe.wnp-subscribe-expanded .button {
    order: 3;
}

@media (max-width: 767px) {
    .wnp-feature-content .button {
        width: 100%;
    }

    .wnp-section-subscribe .wnp-subscribe .button {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .wnp-footer-cta .button {
        width: unset;
    }
}

@media (min-width: 1024px) {
    .wnp-feature .button {
        width: fit-content
    }
}
