/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

/* =====================================================================
Overrides - Final layer for overrides and exceptions

This file will contain override styles that need to take precedence.
For now, this is a blank slate.
===================================================================== */

.fl-menu-close-button .fl-menu-close-button-content {
    height: var(--token-spacing-md);
    margin: 0;
    width: var(--token-spacing-md);
}

.fl-menu-category .fl-icon-caret-down {
    display: none;
}

@media (--viewport-sm-up) {
    .fl-menu-category .fl-icon-caret-down {
        display: inline-block;
    }
}

.fl-home-body .fl-banner-container {
    max-width: none;
    padding: var(--token-spacing-lg);
}
