// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

/* stylelint-disable selector-class-pattern */
.compact-form,
.compact-form .w-panel__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.compact-form .w-panel__content > div,
.compact-form > div {
    width: fit-content;
}

.compact-form > div:has(.w-field--draftail_rich_text_area, input[type="text"]),
.compact-form .w-panel__content > div:has(.w-field--draftail_rich_text_area, input[type="text"]) {
    width: 100%;
}
/* stylelint-enable */
