/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

@import 'flare26-icon.css';

/* stylelint-disable selector-class-pattern */
.compact-form,
.compact-form .w-panel__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.compact-form .w-panel__content > div,
.compact-form > div {
    width: fit-content;
}

.compact-form > div:has(.w-field--draftail_rich_text_area, input[type="text"]),
.compact-form .w-panel__content > div:has(.w-field--draftail_rich_text_area, input[type="text"]) {
    width: 100%;
}
/* stylelint-enable */


.page-slug {
    font-size: 11px;
    color: #666;
    font-weight: normal;
    margin-top: 4px;
    font-family: monospace;
}

.status-published {
    color: #007d7e;
    font-weight: 500;
}

.status-draft {
    color: #cd7213;
    font-weight: 500;
}

.no-translations {
    color: #666;
    font-style: italic;
    font-size: 12px;
}

.flex {
    display: flex;
}

.pl-4em {
    padding-left: 4em;
}
.pb-4 {
    padding-bottom: 1em;
}

.align-items-end {
    align-items: flex-end;
}

.actions .button {
    border: none;
    border-radius: 8px;
    margin: 0;
}

.actions.actions-inline-start {
    float: inline-start;
}

.button.btn-success {
    background-color: var(--w-color-positive-100);
    color: var(--w-color-white);
}

.button.btn-warning {
    background-color: var(--w-color-warning-100);
    color: var(--w-color-white);
}

.button.btn-warning:hover {
    color: var(--w-color-warning-100);
}

.button.btn-danger {
    background-color: var(--w-color-critical-200);
    color:var(--w-color-white);
}

.button.btn-danger:hover {
    color: var(--w-color-critical-200);
}
