{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
 #}

{% from "macros.html" import google_play_button, apple_app_store_button, fxa_email_form with context %}

{% if switch('download_as_default') %}
{% set download_as_default_enabled = true %}
{% else %}
{% set download_as_default_enabled = false %}
{% endif %}

{% macro default_browser_checkbox(id='default-browser-checkbox') -%}
<label for="{{ id }}" class="default-browser-label hidden">
  <span class="loading"></span>
  <input type="checkbox" id="{{ id }}" class="default-browser-checkbox">
  {{ ftl('firefox-home-set-firefox-as')}}
</label>
{%- endmacro %}

{% extends "firefox/download/desktop/base.html" %}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=firefox-home' %}
{% set ios_url = app_store_url('firefox', 'firefox-home') %}

{% block string_data %}{% endblock %}

{% block page_image %}
  {% if LANG.startswith('en-') %}
    {{ static('img/firefox/home/meta-img-en.png') }}
  {% elif LANG.startswith('es-') %}
    {{ static('img/firefox/home/meta-img-es.png') }}
  {% else %}
    {{ static('img/firefox/home/meta-img-global.png') }}
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ super() }}
  {{ css_bundle('firefox-home') }}

  <!--[if IE 9]>
    {{ css_bundle('firefox-home-ie9') }}
  <![endif]-->

  <!--[if lt IE 9]>
    {{ css_bundle('firefox-home-ie8') }}
  <![endif]-->
{% endblock %}

{% block content %}

{% if outdated %}

  {% set update_url = 'href="%s" data-cta-text="Update to the latest version"'|safe|format(('https://support.mozilla.org/kb/update-firefox-latest-release' + params)) %}

  {% if ftl_has_messages('firefox-desktop-out-of-date') %}
    <aside class="c-page-header-notification">
      <div class="mzp-c-notification-bar mzp-t-warning">
        {{ ftl('firefox-desktop-out-of-date', update_url=update_url) }}
      </div>
    </aside>
  {% endif %}

{% endif %}

<main class="main-download" {% if variation %}data-variation="{{ variation }}"{% endif %}>
  <section id="desktop-banner" class="c-block t-intro show-else mzp-has-media-hide-on-sm">
    <div class="c-block-container">
      <div class="c-block-body">
        <h1>{{ ftl('firefox-desktop-download-firefox') }}</h1>
          <h2>{{ ftl('firefox-home-take-control') }}</h2>
          <p>{{ ftl('firefox-home-go-online') }}</p>
        <div class="c-intro-download">
          {% block primary_cta %}
            {{ default_browser_checkbox(id='default-browser-checkbox-primary') }}
            {{ download_firefox_thanks(locale_in_transition=True, download_location='primary cta') }}
          {% endblock %}

          <div class="c-intro-download-alt"><a href="{{ url('firefox.all') }}">{{ ftl('firefox-desktop-download-download-options') }}</a></div>

          <div class="c-intro-download-alt"><a href="https://support.mozilla.org/products/firefox{{ params }}&utm_content=browser-support" rel="external noopener" data-cta-text="Firefox browser support">{{ ftl('firefox-desktop-download-browser-support') }}</a></div>
        </div>
      </div>
      <div class="c-block-media l-v-center">
      {{ resp_img(
        url='img/firefox/home/hero.png',
        srcset={
          'img/firefox/home/hero-high-res.png': '2x'
        },
        optional_attributes={
          'class': 'c-block-media-img',
          'alt': ftl('firefox-home-firefox-on-desktop'),
          'width': '768'
        }
      ) }}
      </div>
    </div>
  </section>

  <section class="mzp-l-content t-releases" id="next">
    <div class="mzp-c-emphasis-box js-animate">
      <h2 class="mzp-c-section-heading">{{ ftl('firefox-home-latest-features') }}</h2>
      <ul class="c-trio">
        <li>
          <img alt="{{ ftl('firefox-home-happy-toggle') }}" src="{{ static('img/firefox/home/toggle.svg') }}" width="90" height="54">
          <h3>{{ ftl('firefox-home-dial-down') }}</h3>
          <p>{{ ftl('firefox-home-block-ads') }}</p>
        </li>
        <li class="t-cursor">
          <img alt="{{ ftl('firefox-home-multiple-cursors') }}" src="{{ static('img/firefox/home/multi.svg') }}" width="134" height="38">
          <h3>{{ ftl('firefox-home-multitasking') }}</h3>
          <p>{{ ftl('firefox-home-go-into-reading') }}</p>
        </li>
        <li>
          <img alt="{{ ftl('firefox-home-lots-of-open') }}" src="{{ static('img/firefox/home/tabs.svg') }}" width="72" height="54">
          <h3>{{ ftl('firefox-home-keep-tabs-on') }}</h3>
          <p>{{ ftl('firefox-home-close-duplicates') }}</p>
        </li>
      </ul>

      <p class="c-notes"><a class="mzp-c-cta-link" href="{{ url('firefox.notes') }}" data-cta-text="See Release Notes">{{ ftl('firefox-home-see-release') }}</a></p>
    </div>
  </section>

  <section class="t-highlights">
    <h2 class="mzp-c-section-heading">{{ ftl('firefox-home-get-the-browser') }}</h2>

    <div class="t-block c-block l-reversed js-animate">
      <div class="c-block-container">
        <div class="c-block-body l-v-center l-h-start">
          <h3 class="mzp-u-title-sm">{{ ftl('firefox-home-block-ad-trackers') }}</h3>
          <p>{{ ftl('firefox-home-ad-trackers-make') }}</p>
          <button id="protection-report" type="button" class="mzp-c-cta-link">{{ ftl('firefox-desktop-download-see-your-report') }}</button>
        </div>
        <div class="c-block-media l-v-end l-h-end l-media-constrain-on-sm">
        <img alt="{{ ftl('firefox-home-shield-and-hand') }}" class="c-block-media-img" src="{{ static('img/firefox/home/block.svg') }}" width="220">
        </div>
      </div>
    </div>

    <div class="t-think c-block js-animate">
      <div class="c-block-container">
        <div class="c-block-body l-v-center l-h-end">
          <h3 class="mzp-u-title-sm">{{ ftl('firefox-home-swear-off') }}</h3>
          <p>{{ ftl('firefox-home-stay-focused', tomato_clock_attrs='href="https://addons.mozilla.org/firefox/addon/tomato-clock/" target="_blank"', turn_off_the_lights_attrs='href="https://addons.mozilla.org/firefox/addon/turn-off-the-lights/" target="_blank"') }}</p>
        </div>
        <div class="c-block-media l-v-center l-h-start l-media-constrain-on-sm">
        <img alt="{{ ftl('firefox-home-a-human-brain') }}" class="c-block-media-img" src="{{ static('img/firefox/home/think.svg') }}" width="260">
        </div>
      </div>
    </div>

    <div class="t-devices c-block l-reversed js-animate">
      <div class="c-block-container">
        <div class="c-block-body l-v-center">
          <h3 class="mzp-u-title-sm">{{ ftl('firefox-home-your-stuff') }}</h3>
          <p>{{ ftl('firefox-home-get-firefox-mobile') }}</p>
          <div class="mobile-download-buttons-wrapper">
            {% block mobile_secondary_cta %}
              <ul class="mobile-download-buttons">
                <li class="android">
                  {{ google_play_button() }}
                </li>
                <li class="ios">
                  {{ apple_app_store_button(href=ios_url) }}
                </li>
              </ul>
            {% endblock %}
          </div>
        </div>
        <div class="c-block-media l-v-end l-h-end l-media-constrain-on-sm">
        <img alt="{{ ftl('firefox-home-desktop-laptop-and-phone') }}" class="c-block-media-img" src="{{ static('img/firefox/home/screens.svg') }}" width="350">
        </div>
      </div>
    </div>

    <div class="t-privacy c-block js-animate">
      <div class="c-block-container">
        <div class="c-block-body l-v-center l-h-end">
          <h3 class="mzp-u-title-sm">{{ ftl('firefox-home-privacy-built-in') }}</h3>
          <p>{{ ftl('firefox-home-personal-data-not-for-sale') }}</p>
          <a href="{{ url('firefox.user-privacy') }}" class="mzp-c-cta-link" data-cta-text="Learn how Firefox protects your data">{{ ftl('firefox-home-learn-data-protection') }}</a>
        </div>
        <div class="c-block-media l-v-center l-h-start l-media-constrain-on-sm">
        <img alt="{{ ftl('firefox-home-browser-window-with-lock') }}" class="c-block-media-img" src="{{ static('img/firefox/home/privacy.svg') }}" width="320">
        </div>
      </div>
    </div>
  </section>

  <div class="t-custom">
    <section class="mzp-l-content mzp-t-content-md js-animate">
      <h2 class="mzp-c-section-heading">{{ ftl('firefox-home-really-make-it') }}</h2>

      <div class="c-screen">
        <div class="c-screenshot">
          <img alt="{{ ftl('firefox-home-firefox-in-dark') }}" src="{{ static('img/firefox/home/dark.svg') }}" width="1000">
        </div>
      </div>

      <ul class="mzp-l-columns mzp-t-columns-two">
        <li>
          <h3>{{ ftl('firefox-home-work-smarter') }}</h3>
          <p>{{ ftl('firefox-home-explore-the-possibilities', extensions_attrs='href="https://addons.mozilla.org/firefox/extensions/" target="_blank"') }}</p>
        </li>

        <li>
          <h3>{{ ftl('firefox-home-bye-boring') }}</h3>
          <p>{{ ftl('firefox-home-the-internet-can', theme_attrs='href="https://addons.mozilla.org/firefox/themes/" target="_blank"') }}</p>
        </li>
      </ul>
    </section>
  </div>

  <section class="mzp-l-content t-free">
    <div class="mzp-c-emphasis-box js-animate">
      <div class="c-free">
        <div class="c-free-img">
          <img alt="{{ ftl('firefox-home-firefox-on-a-desktop') }}" src="{{ static('img/firefox/home/free.svg') }}" width="300">
        </div>
        <div class="c-free-body">
          <h2>{{ ftl('firefox-home-billionaire-free') }}</h2>
          <p>{{ ftl('firefox-home-firefox-was-created') }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="mzp-c-section-heading">
    {% block discover_cta %}
      {{ default_browser_checkbox(id='default-browser-checkbox-discover') }}
      {{ download_firefox_thanks(dom_id='download-discover', locale_in_transition=True, download_location='discover cta') }}
    {% endblock %}
  </section>

  <section class="c-support">
    {% set questions_attrs = 'href="https://support.mozilla.org/products/firefox%s&utm_content=mozilla-support" rel="external noopener" data-cta-text="Mozilla support"'|safe|format(params) %}
    {{ ftl('firefox-desktop-download-questions', attrs=questions_attrs) }}
  </section>

  <aside id="mobile-banner" class="show-android show-ios" data-nosnippet>
    <div class="c-mobile mzp-t-dark">
      <div class="mzp-l-content">
        <div class="c-mobile-text">
          <h2 class="mzp-has-zap-7 mzp-u-title-md show-android">{{ ftl('firefox-desktop-download-get-firefox-android') }}</h2>
          <h2 class="mzp-has-zap-7 mzp-u-title-md show-ios">{{ ftl('firefox-desktop-download-get-firefox-ios') }}</h2>

          <p>{{ ftl('firefox-desktop-download-download-the-mobile') }}</p>

          {% block mobile_primary_cta %}
            <div class="show-android">
              {{ google_play_button() }}
            </div>
            <div class="show-ios">
              {{ apple_app_store_button(href=ios_url) }}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    <h2 class="c-desktop">
      <a href="#next">{{ ftl('firefox-desktop-download-learn-about-the') }}</a>
    </h2>
  </aside>
</main>

{% endblock %}

{% block js %}
  {{ js_bundle('firefox-home') }}

{% if download_as_default_enabled %}
  {{ js_bundle('download_as_default') }}
{% endif %}

{% endblock %}
