// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// * -------------------------------------------------------------------------- */
// Logo

.thanks-logo {
    width: 96px;
    height: 96px;
}

// * -------------------------------------------------------------------------- */
// Help text

.thanks-help-text {
    margin-top: var(--token-spacing-lg);
}

// * -------------------------------------------------------------------------- */
// Not Firefox state

.thanks-state-not-firefox .fl-button {
    margin-top: var(--token-spacing-md);
}

// * -------------------------------------------------------------------------- */
// Conditional State — all conditional states hidden by default

.thanks-state-not-default-desktop,
.thanks-state-not-default-android,
.thanks-state-not-default-ios,
.thanks-state-is-default {
    display: none;
}

// Fade in success message
.thanks-state-is-default {
    animation: fade-in 300ms ease-in 0ms 1 normal both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// Firefox user, not default: show desktop instructions
.is-firefox {
    .thanks-state-not-firefox {
        display: none;
    }

    .thanks-state-not-default-desktop {
        display: block;
    }
}

// Firefox Android
.is-firefox.android {
    .thanks-state-not-default-desktop {
        display: none;
    }

    .thanks-state-not-default-android {
        display: block;
    }
}

// Firefox iOS
.is-firefox.ios {
    .thanks-state-not-default-desktop {
        display: none;
    }

    .thanks-state-not-default-ios {
        display: block;
    }
}

// Firefox IS default: show success
.is-firefox-default {
    .thanks-state-not-default-desktop {
        display: none;
    }

    .thanks-state-is-default {
        display: block;
    }
}
