{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<div style="max-width: 600px;">
  <include:illustration-card
    image_after="{{ image_after }}"
    expand_link="{{ expand_link }}"
  >
    <content:media>
      <img src="{{ image }}" alt="" loading="lazy" />
    </content:media>
    <content:heading>
      <include:heading
        level="h3"
        heading_size="fl-heading-size-3"
        heading_text="{{ heading }}"
      />
    </content:heading>
    <content:body>
      {{ body }}
    </content:body>
    {% if buttons %}
      <content:buttons>
        {% for button in buttons %}
          <include:button
            label="{{ button.label }}"
            link="{{ button.link }}"
            theme_class="{{ button.theme_class }}"
          />
        {% endfor %}
      </content:buttons>
    {% endif %}
  </include:illustration-card>
</div>
