{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{# "noindex" pages should not have the canonical or hreflang tags: bug 1442331 #}
{% block canonical_urls %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block page_title %}{{ ftl('set-as-default-thanks-set-as-default-thanks-for-choosing-firefox') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-default-thanks') }}
{% endblock %}

{% set params = '?utm_source=www.firefox.com&utm_medium=referral&utm_campaign=default-thanks&entrypoint=www.firefox.com-default-thanks' %}

{% block content %}
<main class="fl-main">
  <div class="thanks-state-is-default">
    <include:notification color="green">
      {{ ftl('set-as-default-thanks-success-your-default-browser') }}
    </include:notification>
  </div>

  <include:intro vertical=true media_position="before">
    <content:media>
      <img src="{{ static('img/logos/firefox/firefox-logo.svg') }}" width="96" height="96" alt="" class="thanks-logo">
    </content:media>
    <content:heading>
      <include:heading level="h1" heading_size="fl-heading-size-2"
        heading_text="{{ ftl('set-as-default-thanks-set-as-default-thanks-for-choosing-firefox') }}" />
    </content:heading>
    <content:body>
      <div class="thanks-state-not-firefox">
        <p>{{ ftl('set-as-default-thanks-looks-like-youre-using-a') }}</p>
        <include:download-firefox-button
          analytics_id="set-default-download-firefox"
          label="{{ ftl('download-button-download-firefox') }}"
          cta_text="{{ ftl('download-button-download-firefox') }}"
          block_position="primary cta"
          exclude_unsupported_content="True"
        />
      </div>

      <div class="thanks-state-not-default-desktop" data-testid="firefox-not-default-message">
        <p>{{ ftl('set-as-default-thanks-youre-almost-done-just-change') }}</p>
        <p class="thanks-help-text">
          <a href="https://support.mozilla.org/kb/make-firefox-your-default-browser{{ params }}">
            {{ ftl('set-as-default-thanks-having-trouble-setting-your') }}
          </a>
        </p>
      </div>

      <p class="thanks-state-not-default-android">
        {{ ftl('set-as-default-thanks-heres-everything-you-need-android',
               android='https://support.mozilla.org/kb/make-firefox-default-browser-android' ~ params) }}
      </p>

      <p class="thanks-state-not-default-ios">
        {{ ftl('set-as-default-thanks-heres-everything-you-need-ios',
               ios='https://support.mozilla.org/en-US/kb/unable-set-firefox-default-browser-ios' ~ params) }}
      </p>

      <p class="thanks-state-is-default">
        {{ ftl('set-as-default-thanks-youre-all-set') }}
      </p>
    </content:body>
  </include:intro>
</main>
{% endblock %}

{% block pre_footer %}{% endblock %}

{% block js %}
  {{ js_bundle('firefox-default-thanks') }}
{% endblock %}
