{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set base_template = "cms/base-flare26.html" if switch("flare26_enabled") else "cms/base-flare.html" %}
{% extends base_template %}

{% block content %}
<div class="fl-page">
  <main class="fl-main has-gradient-bottom">
    <div class="fl-split-page-upper has-gradient-bottom">

      <section class="fl-section">
        <div class="fl-section-container">
          <include:heading
            alignment_class="text-center"
            level="h1"
            heading_text="{{ page.title }}"
            subheading_text="{{ page.sub_title }}"
          />

          {% if featured_articles|length > 0 %}
          <include:cards-list>
            {% for article in featured_articles %}

              {% if switch("flare26_enabled") %}
                <include:sticker-card-2026 expand_link="true">
                  <content:heading>
                    <a class="fl-card-heading-link" href="{{ article.url }}">
                      <include:heading
                        level="h3"
                        heading_size="fl-heading-size-3"
                        superheading_text="{{ article.tag.name }}"
                        heading_text="{{  article.index_page_heading or article.title }}"
                      />
                    </a>
                  </content:heading>
                  <content:sticker>
                    {% if article.sticker %}
                      <div class="image-variants-display">
                        {%- set sticker_classes -%}
                          {%- if article.sticker_dark_mode %}display-light {% endif -%}
                          {%- if article.sticker_mobile or article.sticker_dark_mode_mobile %}display-sm-up{% endif -%}
                        {%- endset -%}
                        {{ image(article.sticker, "width-400", class=sticker_classes) }}
                        {% if article.sticker_mobile %}
                          {%- set sticker_mobile_classes -%}
                            {%- if article.sticker_dark_mode_mobile %}display-light {% endif -%}display-xs
                          {%- endset -%}
                          {{ image(article.sticker_mobile, "width-400", class=sticker_mobile_classes) }}
                        {% endif %}
                        {% if article.sticker_dark_mode_mobile %}
                          {{ image(article.sticker_dark_mode_mobile, "width-400", class="display-dark display-xs") }}
                        {% endif %}
                        {% if article.sticker_dark_mode %}
                          {%- set sticker_dark_classes -%}
                            display-dark{%- if article.sticker_dark_mode_mobile or article.sticker_mobile %} display-sm-up{% endif -%}
                          {%- endset -%}
                          {{ image(article.sticker_dark_mode, "width-400", class=sticker_dark_classes) }}
                        {% endif %}
                      </div>
                    {% else %}
                      <img src="/media/img/firefox/flare/independence-sticker.png" alt="" aria-hidden />
                    {% endif %}
                  </content:sticker>
                  <content:body>
                    {{ article.description|richtext }}
                  </content:body>
                </include:sticker-card-2026>
              {% else %}
                <include:illustration-card expand_link="true">
                  <content:media>
                    {% if article.featured_image %}
                      <div class="image-variants-display">
                        {%- set default_classes -%}
                          {%- if article.featured_image_dark_mode %}display-light {% endif -%}
                          {%- if article.featured_image_mobile or article.featured_image_dark_mode_mobile %}display-sm-up{% endif -%}
                        {%- endset -%}
                        {{ srcset_image(
                            article.featured_image,
                            "width-{200,400,600,800,1000,1200,1400}",
                            sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw",
                            width=article.featured_image.width,
                            loading="lazy",
                            class=default_classes,
                        ) }}
                        {% if article.featured_image_mobile %}
                          {%- set mobile_classes -%}
                            {%- if article.featured_image_dark_mode_mobile %}display-light {% endif -%}display-xs
                          {%- endset -%}
                          {{ srcset_image(
                              article.featured_image_mobile,
                              "width-{200,400,600,800,1000,1200,1400}",
                              sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw",
                              width=article.featured_image_mobile.width,
                              loading="lazy",
                              class=mobile_classes,
                          ) }}
                        {% endif %}
                        {% if article.featured_image_dark_mode_mobile %}
                          {{ srcset_image(
                              article.featured_image_dark_mode_mobile,
                              "width-{200,400,600,800,1000,1200,1400}",
                              sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw",
                              width=article.featured_image_dark_mode_mobile.width,
                              loading="lazy",
                              class="display-dark display-xs",
                          ) }}
                        {% endif %}
                        {% if article.featured_image_dark_mode %}
                          {%- set dark_classes -%}
                            display-dark{%- if article.featured_image_dark_mode_mobile or article.featured_image_mobile %} display-sm-up{% endif -%}
                          {%- endset -%}
                          {{ srcset_image(
                              article.featured_image_dark_mode,
                              "width-{200,400,600,800,1000,1200,1400}",
                              sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw",
                              width=article.featured_image_dark_mode.width,
                              loading="lazy",
                              class=dark_classes,
                          ) }}
                        {% endif %}
                      </div>
                    {% else %}
                      <img src="/media/img/firefox/flare/placeholder.png" alt="" />
                    {% endif %}
                  </content:media>
                  <content:heading>
                    <h3 class="fl-heading fl-heading-size-3">
                      <a href="{{ article.url }}" class="fl-card-heading-link fl-link-expand">
                      {{  article.index_page_heading or article.title }}
                      </a>
                    </h3>
                  </content:heading>
                  <content:body>
                    {{ article.description|richtext }}
                  </content:body>
                </include:illustration-card>
              {% endif %}

            {% endfor %}
          </include:cards-list>
          {% endif %}
        </div>
      </section>
    </div>

    <div class="fl-split-page-lower">
      <section class="fl-section">
        <div class="fl-section-container">
          <include:heading
            alignment_class="text-center"
            level="h2"
            heading_text="{{ page.other_articles_heading|richtext|remove_p_tag }}"
            subheading_text="{{ page.other_articles_subheading|richtext|remove_p_tag }}"
          />

          {% if switch("flare26_enabled") %}
            <include:cards-list>
              {% for article in list_articles %}
                <include:illustration-card-2026 expand_link="true" variant="sticker">
                  <content:media>
                    {% if article.sticker %}
                      <div class="image-variants-display">
                        {%- set sticker_classes -%}
                          {%- if article.sticker_dark_mode %}display-light {% endif -%}
                          {%- if article.sticker_mobile or article.sticker_dark_mode_mobile %}display-sm-up{% endif -%}
                        {%- endset -%}
                        {{ image(article.sticker, "width-400", class=sticker_classes) }}
                        {% if article.sticker_mobile %}
                          {%- set sticker_mobile_classes -%}
                            {%- if article.sticker_dark_mode_mobile %}display-light {% endif -%}display-xs
                          {%- endset -%}
                          {{ image(article.sticker_mobile, "width-400", class=sticker_mobile_classes) }}
                        {% endif %}
                        {% if article.sticker_dark_mode_mobile %}
                          {{ image(article.sticker_dark_mode_mobile, "width-400", class="display-dark display-xs") }}
                        {% endif %}
                        {% if article.sticker_dark_mode %}
                          {%- set sticker_dark_classes -%}
                            display-dark{%- if article.sticker_dark_mode_mobile or article.sticker_mobile %} display-sm-up{% endif -%}
                          {%- endset -%}
                          {{ image(article.sticker_dark_mode, "width-400", class=sticker_dark_classes) }}
                        {% endif %}
                      </div>
                    {% else %}
                      <img src="/media/img/logos/firefox/firefox-logo.svg" alt="" aria-hidden />
                    {% endif %}
                  </content:media>
                  <content:heading>
                    {% if article.tag %}
                      <p class="fl-superheading">
                        {{ article.tag.name }}
                      </p>
                    {% endif %}
                    <h3 class="fl-heading fl-heading-size-3">
                      <a href="{{ article.url }}" class="fl-card-heading-link fl-link-expand">
                      {{  article.index_page_heading or article.title }}
                      </a>
                    </h3>
                  </content:heading>
                  <content:body>
                    {{ article.description|richtext }}
                  </content:body>
                </include:illustration-card-2026>
              {% endfor %}
            </include:cards-list>
          {% else %}
            <include:cards-list>
              {% for article in list_articles %}
                <include:card expand_link="true">
                  <content:heading>
                    <h3 class="fl-heading fl-heading-size-3">{{  article.index_page_heading or article.title }}</h3>
                  </content:heading>
                  <content:body>
                    {{ article.description|richtext }}
                  </content:body>
                  <content:buttons>
                    <a href="{{ article.url }}" class="fl-link-expand">{{ ftl('ui-learn-more') }}</a>
                  </content:buttons>
                </include:card>
              {% endfor %}
            </include:cards-list>
          {% endif %}

        </div>
      </section>
    </div>
  </main>
</div>
{% endblock %}

{% block pre_footer %}
{% endblock%}
