{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set base_template = "cms/base-flare26.html" if switch("flare26_enabled") else "cms/base-flare.html" %}
{% extends base_template %}

{% block content %}
<div class="fl-page fl-article-page">
  <main class="fl-main">
    <div class="fl-article-body">
      <header>
        {% if switch("flare26_enabled") and page.image %}
          {{ srcset_image(
              page.image,
              "width-{200,400,600,800,1000,1200,1400}",
              sizes="
                (min-width: 768px) 50vw,
                (min-width: 1440px) 680px,
                100vw
              ",
              width=page.image.width,
              loading="lazy",
            ) }}
        {% endif %}
        <include:heading
            level="h1"
            heading_text="{{ page.title }}"
        />
      </header>

      <section class="fl-rich-text">
        {% for block in page.content %}
          {% include_block block %}
        {% endfor %}
      </section>
    </div>
  </main>

  {% if page.call_to_action %}
    {% for block in page.call_to_action %}
      {% include_block block %}
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
