{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% set base_template = "cms/base-flare26.html" if switch("flare26_enabled") else "cms/base-flare.html" %}
{% extends base_template %}


{% block content %}
<div class="fl-page">
  <main class="fl-main">
    <header class="fl-article-index-header">
      <include:heading
        alignment_class="text-center"
        level="h1"
        heading_text="{{ page.title }}"
        subheading_text="{{ page.sub_title }}"
      />
    </header>

    <section class="fl-section">
      <div class="fl-section-container">
        <include:cards-list>
          {% for article in featured_articles %}

            {% if switch("flare26_enabled") %}
              <include:illustration-card-2026 expand_link="true">
                <content:media>
                  {% if article.featured_image %}
                    {{ srcset_image(
                        article.featured_image,
                        "width-{200,400,600,800,1000,1200,1400}",
                        sizes="
                          (min-width: 768px) 50vw,
                          (min-width: 1440px) 680px,
                          100vw
                        ",
                        width=article.featured_image.width,
                        loading="lazy",
                      ) }}
                    {% else %}
                      <img src="/media/img/firefox/flare/placeholder.png" alt="" />
                    {% endif %}
                </content:media>
                <content:heading>
                  <h3 class="fl-heading fl-heading-size-3">
                    <a href="{{ article.url }}" class="fl-link-expand">
                    {{ article.title }}
                    </a>
                  </h3>
                </content:heading>
                <content:body>
                  {{ article.description|richtext }}
                </content:body>
              </include:illustration-card-2026>

            {% else %}
              <include:illustration-card expand_link="true">
                <content:media>
                  {% if article.featured_image %}
                    {{ srcset_image(
                        article.featured_image,
                        "width-{200,400,600,800,1000,1200,1400}",
                        sizes="
                          (min-width: 768px) 50vw,
                          (min-width: 1440px) 680px,
                          100vw
                        ",
                        width=article.featured_image.width,
                        loading="lazy",
                      ) }}
                    {% else %}
                      <img src="/media/img/firefox/flare/placeholder.png" alt="" />
                    {% endif %}
                </content:media>
                <content:heading>
                  <h3 class="fl-heading fl-heading-size-3">
                    <a href="{{ article.url }}" class="fl-link-expand">
                    {{ article.title }}
                    </a>
                  </h3>
                </content:heading>
                <content:body>
                  {{ article.description|richtext }}
                </content:body>
              </include:illustration-card>
            {% endif %}

          {% endfor %}
        </include:cards-list>
      </div>
    </section>

    <section class="fl-section">
      <div class="fl-section-container">
        <include:heading
          alignment_class="text-center"
          level="h2"
          heading_text="{{ page.other_articles_heading|richtext|remove_p_tag }}"
          subheading_text="{{ page.other_articles_subheading|richtext|remove_p_tag }}"
        />

        {% if switch("flare26_enabled") %}
          <div class="fl-stacked-article-list">
            {% for article in list_articles %}
              <include:stacked-article-list-item
                title={{ article.title }}
                description={{ article.description }}
                link_text={{ article.link_text }}
                url={{ article.url }}
              >
                <content:icon>
                  {{ image(article.icon, "width-400") }}
                </content:icon>
              </include:stacked-article-list-item>
            {% endfor %}
          </div>

        {% else %}
          <include:cards-list>
            {% for article in list_articles %}
              <include:card expand_link="true">
                <content:heading>
                  <h3 class="fl-heading fl-heading-size-3">{{ article.title }}</h3>
                </content:heading>
                <content:body>
                  {{ article.description|richtext }}
                </content:body>
                <content:buttons>
                  <a href="{{ article.url }}" class="fl-link-expand">{{ ftl('ui-learn-more') }}</a>
                </content:buttons>
              </include:card>
            {% endfor %}
          </include:cards-list>
        {% endif %}

      </div>
    </section>
  </main>
</div>
{% endblock %}
