{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<!doctype html>
<html class="windows no-js" lang="{{ LANG|replace('en-US', 'en') }}" dir="{{ DIR }}" data-country-code="{{ country_code }}" data-needs-consent="{{ needs_data_consent(country_code) }}" data-latest-firefox="{{ latest_firefox_version }}" data-esr-versions="{{ esr_firefox_versions|join(' ') }}" {% if settings.GTM_CONTAINER_ID %}data-gtm-container-id="{{ settings.GTM_CONTAINER_ID }}" {% endif %} {% if settings.STUB_ATTRIBUTION_RATE %}data-stub-attribution-rate="{{ settings.STUB_ATTRIBUTION_RATE }}" {% endif %} {% if settings.SENTRY_FRONTEND_DSN %}data-sentry-dsn="{{ settings.SENTRY_FRONTEND_DSN }}" {% endif %} {% block html_attrs %}{% endblock %}>

  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock %}

    <title>{% block page_title %}{{ page.title if page is defined and page.title is defined else 'Firefox' }}{% endblock %}</title>

    {% block site_css %}
    {% if settings.FLARECSS_LEGACY_MODE %}
    {{ css_bundle('flare26_base') }}
    {% else %}
    {{ css_bundle('flare26_base', target_old_ie=True) }}
    {{ css_bundle('flare26') }}
    {% endif %}
    {% endblock %}

    {% block page_css %}{% endblock %}

    {# site bundle must load in head before analytics #}
    {{ js_bundle('site') }}
    {% block google_analytics %}
    {% if settings.GTM_CONTAINER_ID %}
    {{ js_bundle('gtm-snippet') }}
    {% endif %}
    {% endblock %}
  </head>

  <body {% if self.body_id() %}id="{% block body_id %}{% endblock %}" {% endif %}class="html-{{ DIR }} {% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>

    {% block flare_header %}
    <include:flare26-header />
    {% endblock %}

    {% block content %}
    <main class="fl26-content">
      <div class="fl26-content-inner">
        <h1>{{ page.title if page is defined and page.title is defined else 'Firefox' }}</h1>
      </div>
    </main>
    {% endblock %}


    {% block pre_footer %}

      {% set pre_footer_cta = get_pre_footer_cta_snippet() %}
      {% if pre_footer_cta %}
        {% set analytics_text = pre_footer_cta.label %}
        {% set analytics_position = "pre-footer-cta" %}
          <include:conditional-display condition="not-firefox">
          <include:pre-footer-cta
            label="{{ pre_footer_cta.label }}"
            link="{{ pre_footer_cta.link }}"
            analytics_text="{{ analytics_text }}"
            analytics_position="{{ analytics_position }}"
            analytics_id="{{ pre_footer_cta.analytics_id }}"
          />
          </include:conditional-display>
      {% endif %}

      {% set pre_footer_cta_form = get_pre_footer_cta_form_snippet() %}
      {% if pre_footer_cta_form %}
        {% set analytics_text = pre_footer_cta_form.heading|richtext|remove_tags %}
        {% set analytics_position = "pre-footer-cta-form" %}
        {% set analytics_id = pre_footer_cta_form.analytics_id %}
          <include:conditional-display condition="is-firefox">
            <include:newsletter-form>
              <include:heading
                level="h2"
                heading_text="{{ pre_footer_cta_form.heading|richtext|remove_p_tag }}"
                subheading_text="{{ pre_footer_cta_form.subheading|richtext|remove_p_tag }}"
              />
              </include:newsletter-form>
          </include:conditional-display>
      {% endif %}

    {% endblock pre_footer %}

    {% block flare_footer %}
      <include:flare26-footer />
    {% endblock %}

    {% block stub_attribution %}
      {% if settings.STUB_ATTRIBUTION_RATE %}
        <!--[if IE 9]><!-->
          {# Stub attribution is run on all evergreen browsers plus IE9 and above. #}
          {{ js_bundle('stub-attribution') }}
        <!--<![endif]-->
      {% endif %}
    {% endblock %}

    {% block site_js %}
    {{ js_bundle('lib') }}
    {{ js_bundle('data') }}
    {{ js_bundle('firefox-cms-flare26') }}
    {{ js_bundle('ui-tour-buttons') }}
    {{ js_bundle('flare-navigation') }}
    {{ js_bundle('flare-lang-switcher') }}
    {% endblock %}
  </body>

</html>
