{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<!doctype html>
<html class="windows no-js" lang="{{ LANG|replace('en-US', 'en') }}" dir="{{ DIR }}" data-country-code="{{ country_code }}" data-needs-consent="{{ needs_data_consent(country_code) }}" data-latest-firefox="{{ latest_firefox_version }}" data-esr-versions="{{ esr_firefox_versions|join(' ') }}" {% if settings.GTM_CONTAINER_ID %}data-gtm-container-id="{{ settings.GTM_CONTAINER_ID }}" {% endif %} {% if settings.STUB_ATTRIBUTION_RATE %}data-stub-attribution-rate="{{ settings.STUB_ATTRIBUTION_RATE }}" {% endif %} {% if settings.SENTRY_FRONTEND_DSN %}data-sentry-dsn="{{ settings.SENTRY_FRONTEND_DSN }}" {% endif %} {% block html_attrs %}{% endblock %}>

  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock %}

    {% block shared_meta %}
    <title>{% filter striptags %}{% block page_title_full %}{% block page_title_prefix %}{% endblock %}{% block page_title %}{{ page.title if page is defined and page.title is defined else 'Firefox' }}{% endblock %}{% endblock page_title_full %}{% block page_title_suffix %} — Firefox{% endblock %}{% endfilter %}</title>
    <meta name="description" content="{% filter striptags %}{% block page_desc %}{% endblock %}{% endfilter %}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Firefox">
    <meta property="og:locale" content="{{ LANG|replace("-", "_") }}">
    <meta property="og:url" content="{% filter trim|absolute_url %}{% block page_og_url %}{{ settings.CANONICAL_URL + '/' + LANG + canonical_path }}{% endblock %}{% endfilter %}">
    <meta property="og:image" content="{% filter trim|absolute_url %}{% block page_image %}{{ static('protocol/img/logos/firefox/browser/og.png') }}{% endblock %}{% endfilter %}">
    <meta property="og:title" content="{% filter striptags %}{% block page_og_title %}{{ self.page_title() }}{% endblock %}{% endfilter %}">
    <meta property="og:description" content="{% filter striptags %}{% block page_og_desc %}{{ self.page_desc() }}{% endblock %}{% endfilter %}">
    <meta property="fb:page_id" content="{% block facebook_id %}14696440021{# facebook.com/firefox #}{% endblock %}">
    <meta name="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock %}">
    <meta name="twitter:site" content="@{% block twitter_id %}firefox{% endblock %}">
    <meta name="twitter:domain" content="firefox.com">
    <meta name="twitter:app:name:googleplay" content="{% block android_app_name %}Firefox{% endblock %}">
    <meta name="twitter:app:id:googleplay" content="{% block android_app_id %}org.mozilla.firefox{% endblock %}">
    <meta name="twitter:app:name:iphone" content="{% block iphone_app_name %}Firefox{% endblock %}">
    <meta name="twitter:app:id:iphone" content="{% block iphone_app_id %}989804926{% endblock %}">
    <meta name="twitter:app:name:ipad" content="{% block ipad_app_name %}Firefox{% endblock %}">
    <meta name="twitter:app:id:ipad" content="{% block ipad_app_id %}989804926{% endblock %}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% block page_ios_icon %}{{ static('img/favicons/firefox/browser/apple-touch-icon.png') }}{% endblock %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% block page_favicon_large %}{{ static('img/favicons/firefox/browser/favicon-196x196.png') }}{% endblock %}">
    <link rel="shortcut icon" href="{% block page_favicon %}{{ static('img/favicons/firefox/browser/favicon.ico') }}{% endblock %}">
    {% block canonical_urls %}{% include 'includes/canonical-url.html' %}{% endblock %}
    {% endblock shared_meta %}

    {% block site_css %}
    {% if settings.FLARECSS_LEGACY_MODE %}
    {{ css_bundle('flare26_base') }}
    {% else %}
    {{ css_bundle('flare26_base', target_old_ie=True) }}
    {{ css_bundle('flare26') }}
    {% endif %}
    {% endblock %}

    {% block page_css %}{% endblock %}

    {# site bundle must load in head before analytics #}
    {{ js_bundle('site') }}
    {% block google_analytics %}
    {% if settings.GTM_CONTAINER_ID %}
    {{ js_bundle('gtm-snippet') }}
    {% endif %}
    {% endblock %}
  </head>

  <body {% if self.body_id() %}id="{% block body_id %}{% endblock %}" {% endif %}class="html-{{ DIR }} {% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>

    {% block flare_header %}
    <include:flare26-header />
    {% endblock %}

    {% block sub_navigation %}
    {% endblock %}

    {% block content %}
    <main class="fl26-content">
      <div class="fl26-content-inner">
        <h1>{{ page.title if page is defined and page.title is defined else 'Firefox' }}</h1>
      </div>
    </main>
    {% endblock %}


    {% block pre_footer %}

      {% set pre_footer_cta = get_pre_footer_cta_snippet() %}
      {% if pre_footer_cta %}
        {% set analytics_text = pre_footer_cta.label %}
        {% set analytics_position = "pre-footer-cta" %}
          <include:conditional-display condition="not-firefox">
          <include:pre-footer-cta
            label="{{ pre_footer_cta.label }}"
            link="{{ pre_footer_cta.link }}"
            analytics_text="{{ analytics_text }}"
            analytics_position="{{ analytics_position }}"
            analytics_id="{{ pre_footer_cta.analytics_id }}"
          />
          </include:conditional-display>
      {% endif %}

      {% set pre_footer_cta_form = get_pre_footer_cta_form_snippet() %}
      {% if pre_footer_cta_form %}
        {% set analytics_text = pre_footer_cta_form.heading|richtext|remove_tags %}
        {% set analytics_position = "pre-footer-cta-form" %}
        {% set analytics_id = pre_footer_cta_form.analytics_id %}
          <include:conditional-display condition="is-firefox">
            <include:newsletter-form theme="dark">
              <include:heading
                level="h2"
                heading_text="{{ pre_footer_cta_form.heading|richtext|remove_p_tag }}"
                subheading_text="{{ pre_footer_cta_form.subheading|richtext|remove_p_tag }}"
              />
              </include:newsletter-form>
          </include:conditional-display>
      {% endif %}

    {% endblock pre_footer %}

    {% block flare_footer %}
      <include:flare26-footer />
    {% endblock %}

    {% block site_js %}
    {{ js_bundle('lib') }}
    {{ js_bundle('data') }}
    {{ js_bundle('firefox-cms-flare26') }}
    {{ js_bundle('ui-tour-buttons') }}
    {{ js_bundle('flare-navigation') }}
    {{ js_bundle('flare-lang-switcher') }}
    {% endblock %}

    {% block stub_attribution %}
      {% if settings.STUB_ATTRIBUTION_RATE %}
        <!--[if IE 9]><!-->
          {# Stub attribution is run on all evergreen browsers plus IE9 and above. #}
          {{ js_bundle('stub-attribution') }}
        <!--<![endif]-->
      {% endif %}

      {# Download as default needs to come after stub attribution #}
      {{ js_bundle('download_as_default') }}
    {% endblock %}

    {% block js %}
      {# Page specific JavaScript #}
    {% endblock js %}
  </body>

</html>
