{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

<!doctype html>
<html class="windows no-js" lang="{{ LANG|replace('en-US', 'en') }}" dir="{{ DIR }}" data-country-code="{{ country_code }}" data-needs-consent="{{ needs_data_consent(country_code) }}" data-latest-firefox="{{ latest_firefox_version }}" data-esr-versions="{{ esr_firefox_versions|join(' ') }}" {% if settings.GTM_CONTAINER_ID %}data-gtm-container-id="{{ settings.GTM_CONTAINER_ID }}" {% endif %} {% if settings.STUB_ATTRIBUTION_RATE %}data-stub-attribution-rate="{{ settings.STUB_ATTRIBUTION_RATE }}" {% endif %} {% if settings.SENTRY_FRONTEND_DSN %}data-sentry-dsn="{{ settings.SENTRY_FRONTEND_DSN }}" {% endif %} {% block html_attrs %}{% endblock %}>

  <head>
    <meta charset="utf-8">
    {% include 'includes/transcend-consent.html' %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock %}

    <title>{% block page_title %}{{ (page.og_title or page.title) if page is defined and page.title is defined else 'Firefox' }}{% endblock %}</title>
    <meta name="description" content="{% filter striptags %}{% block page_desc %}{{ page.og_description if page is defined and page.og_description is defined }}{% endblock %}{% endfilter %}">
    <meta property="og:image" content="{% filter trim|absolute_url %}{% block page_image %}{% if page and page.og_image %}{% set img = image(page.og_image, "width-1200") %}{{ img.url }}{% else %}{{ static('img/firefox/flare/og.png') }}{% endif %}{% endblock %}{% endfilter %}">
    {# "noindex" pages should not have the canonical or hreflang tags #}
    {% block canonical_urls %}{% if page is defined and page.noindex %}<meta name="robots" content="noindex,follow">{% else %}{% include 'includes/canonical-url.html' %}{% endif %}{% endblock %}

    {% block site_css %}
    {% if settings.FLARECSS_LEGACY_MODE %}
    {{ css_bundle('flare_base') }}
    {% else %}
    {{ css_bundle('flare_base', target_old_ie=True) }}
    {{ css_bundle('flare') }}
    {% endif %}
    {% endblock %}

    {% block page_css %}{% endblock %}

    {# site bundle must load in head before analytics #}
    {{ js_bundle('site') }}
    {% block google_analytics %}
    {% if settings.GTM_CONTAINER_ID %}
    {{ js_bundle('gtm-snippet') }}
    {% endif %}
    {% endblock %}
  </head>

  <body {% if self.body_id() %}id="{% block body_id %}{% endblock %}" {% endif %}class="html-{{ DIR }} {% block body_class %}disable-dark-mode{% endblock %}" {% block body_attrs %}{% endblock %}>
    {{ wagtailuserbar() }}

    {% block flare_header %}
      {% include 'cms/includes/navigation.html' %}
    {% endblock %}

    <div id="outer-wrapper">
      {% block content %}
      <main class="fl-content">
        <div class="fl-content-inner">
          <h1>{{ page.title if page is defined and page.title is defined else 'Firefox' }}</h1>
        </div>
      </main>
      {% endblock %}

      {% block flare_footer %}
      {% include 'cms/includes/footer.html' %}
      {% endblock %}
    </div>

    {% block qr_code_snippet %}
      {% if page and page.show_floating_qr_code_snippet and floating_qr_snippet %}
        {% set value = floating_qr_snippet %}
        {% include "cms/snippets/qr-code-floating-snippet.html" %}
      {% elif page and page.show_qr_code_snippet %}
        {% set qr_code_snippet = get_qr_code_snippet() %}
        {% if qr_code_snippet %}
          {% set value = qr_code_snippet %}
          {% include "cms/snippets/qr-code-snippet.html" %}
        {% endif %}
      {% endif %}
    {% endblock %}

    {# Issue 8444 #}
    {% block sentry_client %}
      {% if settings.SENTRY_FRONTEND_DSN and switch('sentry-js') %}
        <!--[if !IE]><!-->
          {# Sentry only runs on evergreen browsers so we exclude it from IE. #}
          {{ js_bundle('sentry') }}
        <!--<![endif]-->
      {% endif %}
    {% endblock %}

    {% block site_js %}
    {{ js_bundle('lib') }}
    {{ js_bundle('data') }}
    {{ js_bundle('firefox-cms-flare26') }}
    {{ js_bundle('ui-tour-buttons') }}
    {{ js_bundle('fxa') }}
    {{ js_bundle('flare-navigation') }}
    {{ js_bundle('flare-lang-switcher') }}
    {% endblock %}

    {% block stub_attribution %}
      {% if settings.STUB_ATTRIBUTION_RATE %}
        <!--[if IE 9]><!-->
          {# Stub attribution is run on all evergreen browsers plus IE9 and above. #}
          {{ js_bundle('stub-attribution') }}
        <!--<![endif]-->
      {% endif %}

      {# Download as default needs to come after stub attribution #}
      {{ js_bundle('download_as_default') }}
    {% endblock %}

    {% block js %}
      {# Page specific JavaScript #}
    {% endblock js %}
  </body>

</html>
