{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare.html" %}

{% block page_css %}{{ css_bundle('flare-blog') }}{% endblock %}

{% block body_class %}fl-blog-index-body{% endblock %}

{% block content %}

<div class="fl-page fl-page-blog-index">
  <main class="fl-main">
    <section class="fl-section">
      <div class="fl-section-container">

        <div class="fl-blog-index-header">
          {% if page.page_heading %}
            {% for block in page.page_heading %}
              {% if block.block_type == "heading" %}
                <include:heading
                  level="h1"
                  heading_size="fl-heading-xl"
                  superheading_text="{{ block.value.superheading_text|richtext|remove_p_tag }}"
                  heading_text="{{ block.value.heading_text|richtext|remove_p_tag }}"
                  subheading_text="{{ block.value.subheading_text|richtext|remove_p_tag }}"
                  alignment_class="text-center"
                />
              {% endif %}
            {% endfor %}
          {% else %}
            <include:heading
              level="h1"
              heading_text="{{ page.title }}"
              heading_size="fl-heading-xl"
              alignment_class="text-center"
            />
          {% endif %}

          {% if header_topics %}
            <div class="fl-blog-topics-list is-header">
              {% for topic in header_topics %}
                <a href="{{ page.url }}{{ page.reverse_subpage('topic_route', args=[topic.slug]) }}" class="fl-blog-topic-link fl-tag">{{ topic.name }}</a>
              {% endfor %}
              <div class="fl-blog-topics-all">
                <a href="{{ page.url }}{{ page.reverse_subpage('topics_route') }}" class="fl-link">{{ ftl('blog-view-all-topics') }}</a>
              </div>
            </div>
          {% endif %}
        </div>


        {% set featured_articles = page.featured_articles %}
        {% include "cms/includes/blog/blog-featured-articles.html" %}

        {% for block in article_sections %}
          {% include_block block %}
        {% endfor %}

      </div>
    </section>
  </main>
</div>
{% endblock %}
