{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare.html" %}

{% block page_css %}{{ css_bundle('flare-blog') }}{% endblock %}

{% block body_class %}fl-blog-all-body{% endblock %}

{% block content %}
<div class="fl-page fl-page-blog-all">
  <main class="fl-main">
    <section class="fl-section">
      <div class="fl-section-container">

        <div class="fl-blog-index-header">
          {% if page.page_heading %}
            {% for block in page.page_heading %}
              {% if block.block_type == "heading" %}
                <include:heading
                  level="h1"
                  heading_size="fl-heading-xl"
                  superheading_text="{{ block.value.superheading_text|richtext|remove_p_tag }}"
                  heading_text="{{ block.value.heading_text|richtext|remove_p_tag }}"
                  subheading_text="{{ block.value.subheading_text|richtext|remove_p_tag }}"
                  alignment_class="text-center"
                />
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if all_topics %}
            <div class="fl-blog-topics-filter">
              <button class="fl-blog-topics-scroll-btn fl-blog-topics-scroll-prev" aria-label="{{ ftl('ui-previous') }}" hidden>
                <span class="fl-icon fl-icon-chevron-left" aria-hidden="true"></span>
              </button>


              <div class="fl-blog-topics-list is-carousel">
                  {% for topic_item in all_topics %}
                  {% set selected_topic = topic and topic.slug == topic_item.slug %}
                  {% set all_route_url = page.url ~ page.reverse_subpage('all_route') %}
                  {% if selected_topic %}
                    <span class="fl-tag fl-blog-selected-topic">
                      {{ topic_item.name }}

                      <a href="{{ all_route_url }}" class="close-button">
                        <include:icon icon_name="close" aria_hidden="true" />
                        <span class="visually-hidden">{{ ftl('blog-clear-topic-filter') }}</span>
                      </a>
                    </span>
                  {% else %}
                    <a href="{{ all_route_url }}?topic={{ topic_item.slug }}" class="fl-blog-topic-link fl-tag">
                      {{ topic_item.name }}
                    </a>
                  {% endif %}
                {% endfor %}




                <div class="fl-blog-topics-all">
                  <a href="{{ page.url }}{{ page.reverse_subpage('topics_route') }}" class="fl-link">{{ ftl('blog-view-all-topics') }}</a>
                </div>
              </div>






              <button class="fl-blog-topics-scroll-btn fl-blog-topics-scroll-next" aria-label="{{ ftl('ui-next') }}" hidden>
                <span class="fl-icon fl-icon-chevron-right" aria-hidden="true"></span>
              </button>
            </div>
          {% endif %}
        </div>

        {% set base_url = page.url ~ page.reverse_subpage('all_route') %}
        {% set topic_param = '&topic=' ~ topic.slug if topic else '' %}
        {% set pagination_prev_url = base_url ~ '?page=' ~ list_articles.previous_page_number() ~ topic_param if list_articles.has_previous() else '' %}
        {% set pagination_next_url = base_url ~ '?page=' ~ list_articles.next_page_number() ~ topic_param if list_articles.has_next() else '' %}
        {% include "cms/includes/blog-article-list.html" %}

      </div>
    </section>
  </main>
</div>
{% endblock %}
