{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block body_class %}fl-blog-index-body{% endblock %}

{#
  Render Illustration Card images for 3 different card list layouts:
    2 cards: 1 almost square image and 1 landscape
    3 cards: 1 almost square, 1 portrait and 1 landscape
    4 cards: alternate almost square and portrait images
  We cut the images with Wagtail filterspecs instead of CSS to respect image focal points.
  On mobile, images are displayed with their original aspect radios.
#}
{% macro illustration_card_media(article, list_size, card_index) %}
  {% set card_specs = {
    2: [
      {"filterspec": "fill-{348x280,696x560,1044x840}", "width": 696, "height": 560, "sizes": "(min-width: 1440px) 696px, (min-width: 768px) 50vw, 100vw"},
      {"filterspec": "fill-{348x210,696x420,1044x630}", "width": 696, "height": 420, "sizes": "(min-width: 1440px) 696px, (min-width: 768px) 50vw, 100vw"}
    ],
    3: [
      {"filterspec": "fill-{229x210,458x420,687x630,916x840}", "width": 458, "height": 420, "sizes": "(min-width: 1440px) 458px, (min-width: 768px) 33vw, 100vw"},
      {"filterspec": "fill-{229x280,458x560,687x840,916x1120}", "width": 458, "height": 560, "sizes": "(min-width: 1440px) 458px, (min-width: 768px) 33vw, 100vw"},
      {"filterspec": "fill-{229x140,458x280,687x420,916x560}", "width": 458, "height": 280, "sizes": "(min-width: 1440px) 458px, (min-width: 768px) 33vw, 100vw"}
    ],
    4: [
      {"filterspec": "fill-{170x140,340x280,510x420,680x560}", "width": 340, "height": 280, "sizes": "(min-width: 1440px) 340px, (min-width: 768px) 25vw, 50vw"},
      {"filterspec": "fill-{170x210,340x420,510x630,680x840}", "width": 340, "height": 420, "sizes": "(min-width: 1440px) 340px, (min-width: 768px) 25vw, 50vw"}
    ]
  } %}
  {% if list_size in card_specs %}
    {% set spec = card_specs[list_size][card_index % card_specs[list_size]|length] %}
    {% set filterspec = spec.filterspec %}
    {% set width = spec.width %}
    {% set height = spec.height %}
    {% set sizes = spec.sizes %}
  {% else %}
    {% set filterspec = "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}" %}
    {% set sizes = "(min-width: 1440px) 440px, (min-width: 768px) 33vw, 100vw" %}
    {% set width = none %}
    {% set height = none %}
  {% endif %}
  {% set image = article.get_image() %}
  {% if image %}
    {% if width is none %}{% set width = image.width %}{% endif %}
    {% if height is none %}{% set height = image.height %}{% endif %}
    {% set dark_image = article.get_dark_image() %}
    {% set mobile_image = article.get_mobile_image() %}
    {% set dark_mobile_image = article.get_mobile_dark_image() %}
    {% set classes = image_variant_classes(dark_image, mobile_image, dark_mobile_image) %}
    <div class="image-variants-display display-md-up">
      {{ srcset_image(image, filterspec, sizes=sizes, width=width, height=height, loading="lazy", class=classes.primary) }}
      {% if mobile_image %}{{ srcset_image(mobile_image, filterspec, sizes=sizes, width=width, height=height, loading="lazy", class=classes.mobile) }}{% endif %}
      {% if dark_mobile_image %}{{ srcset_image(dark_mobile_image, filterspec, sizes=sizes, width=width, height=height, loading="lazy", class=classes.dark_mode_mobile) }}{% endif %}
      {% if dark_image %}{{ srcset_image(dark_image, filterspec, sizes=sizes, width=width, height=height, loading="lazy", class=classes.dark_mode) }}{% endif %}
    </div>
    <div class="image-variants-display display-xs-and-sm">
      {{ srcset_image(image, "width-{200,400,600,800}", sizes=sizes, width=width, height=height, loading="lazy", class=classes.primary) }}
      {% if mobile_image %}{{ srcset_image(mobile_image, "width-{200,400,600,800}", sizes=sizes, width=width, height=height, loading="lazy", class=classes.mobile) }}{% endif %}
      {% if dark_mobile_image %}{{ srcset_image(dark_mobile_image, "width-{200,400,600,800}", sizes=sizes, width=width, height=height, loading="lazy", class=classes.dark_mode_mobile) }}{% endif %}
      {% if dark_image %}{{ srcset_image(dark_image, "width-{200,400,600,800}", sizes=sizes, width=width, height=height, loading="lazy", class=classes.dark_mode) }}{% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% block content %}
<div class="fl-page fl-page-blog-index">
  <main class="fl-main">
    <section class="fl-section">
      <div class="fl-section-container">

        <div class="fl-blog-index-header">
          {% if page.page_heading %}
            {% for block in page.page_heading %}
              {% if block.block_type == "heading" %}
                <include:heading
                  level="h1"
                  superheading_text="{{ block.value.superheading_text|richtext|remove_p_tag }}"
                  heading_text="{{ block.value.heading_text|richtext|remove_p_tag }}"
                  subheading_text="{{ block.value.subheading_text|richtext|remove_p_tag }}"
                  alignment_class="text-center"
                />
              {% endif %}
            {% endfor %}
          {% else %}
            <include:heading
              level="h1"
              heading_text="{{ page.title }}"
              heading_size="fl-heading-size-1"
              alignment_class="text-center"
            />
          {% endif %}

          {% if all_topics %}
            <div class="fl-blog-topics">
              <div class="fl-blog-topics-list">
                {% for topic in all_topics[:5] %}
                  <a href="{{ page.url }}{{ page.reverse_subpage('all_route') }}?topic={{ topic.slug }}" class="fl-blog-topic-link">
                    <span class="fl-blog-topic-name">{{ topic.name }}</span>
                    <include:tag
                      text="{{ topic.article_count }}"
                      color="purple"
                      corners="round"
                    />
                  </a>
                {% endfor %}
                <div class="fl-blog-topics-all">
                  <a href="{{ page.url }}{{ page.reverse_subpage('topics_route') }}" class="fl-link">{{ ftl('blog-view-all-topics') }}</a>
                </div>
              </div>
            </div>
          {% endif %}

          <hr/>
        </div>


        {% if page.featured_articles %}
          <div class="fl-blog-featured">

            <div class="fl-blog-featured-row">
              {% set first_block = page.featured_articles[0] %}

              <div class="fl-blog-featured-main">
                {% set image = first_block.value.get_image() %}
                {% if image %}
                  {% set dark_image = first_block.value.get_dark_image() %}
                  {% set mobile_image = first_block.value.get_mobile_image() %}
                  {% set dark_mobile_image = first_block.value.get_mobile_dark_image() %}
                  {% set classes = image_variant_classes(dark_image, mobile_image, dark_mobile_image) %}
                  <div class="image-variants-display">
                    {{ srcset_image(image, "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}", sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw", width=image.width, loading="lazy", class=classes.primary) }}
                    {% if mobile_image %}{{ srcset_image(mobile_image, "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}", sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw", width=mobile_image.width, loading="lazy", class=classes.mobile) }}{% endif %}
                    {% if dark_mobile_image %}{{ srcset_image(dark_mobile_image, "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}", sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw", width=dark_mobile_image.width, loading="lazy", class=classes.dark_mode_mobile) }}{% endif %}
                    {% if dark_image %}{{ srcset_image(dark_image, "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}", sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw", width=dark_image.width, loading="lazy", class=classes.dark_mode) }}{% endif %}
                  </div>
                {% endif %}
                <include:heading
                  level="h2"
                  heading_text="{{ first_block.value.get_title() }}"
                  superheading_text="{{ first_block.value.get_topic() }}"
                  heading_size="fl-heading-size-2"
                />
                {{ first_block.value.get_description() }}
                <div>
                  <include:button
                    label="{{ ftl('blog-read-more') }}"
                    link="{{ first_block.value.get_url() }}"
                  />
                </div>
              </div>

              {% if page.featured_articles|length > 1 %}
                <div class="fl-blog-article-list">
                  {% for block in page.featured_articles[1:4] %}
                    {% set article_page = block.value.article %}
                    {% set description = block.value.get_description() %}
                    <include:blog-article-list-item>
                      <content:heading>
                        <hgroup class="fl-heading-group">
                          <p class="fl-superheading">{{ block.value.get_topic() }}</p>
                          <h2 class="fl-heading">
                            <a href="{{ article_page.url }}" class="fl-link">{{ block.value.get_title() }}</a>
                          </h2>
                        </hgroup>
                      </content:heading>
                      <content:body>{{ description|richtext }}</content:body>
                      {% if article_page.first_published_at %}
                        <content:date>{{ article_page.first_published_at|date("DATE_FORMAT") }}</content:date>
                      {% endif %}
                      {% if block.value.get_tags() %}
                        <content:tags>
                          {% for tag in block.value.get_tags() %}
                            <include:tag text="{{ tag }}" color="purple" corners="round" />
                          {% endfor %}
                        </content:tags>
                      {% endif %}
                    </include:blog-article-list-item>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            {% if page.featured_articles|length > 4 %}
              {% set list_size = page.featured_articles[4:]|length %}
              {% set extra_class = "fl-illustration-cards-alternate-" ~ list_size %}
              <include:cards-list extra_class="{{ extra_class }}">
                {% for block in page.featured_articles[4:] %}
                  <include:illustration-card-2026 expand_link="true">
                    <content:media>
                      {{ illustration_card_media(block.value, list_size, loop.index0) }}
                    </content:media>
                    <content:heading>
                      <hgroup class="fl-heading-group">
                        <p class="fl-superheading">{{ block.value.get_topic() }}</p>
                        <h2 class="fl-heading fl-heading-size-3">
                          <a href="{{ block.value.get_url() }}" class="fl-card-heading-link fl-link-expand">
                            {{ block.value.get_title() }}
                          </a>
                        </h2>
                      </hgroup>
                    </content:heading>
                    <content:body>
                      {{ block.value.get_description() }}
                      {% set tags =  block.value.get_tags() %}
                      {% if tags %}
                        <div class="fl-card-tags">
                          {% for tag in tags %}
                            <include:tag
                              text="{{ tag }}"
                              color="purple"
                              corners="round"
                            />
                          {% endfor %}
                        </div>
                      {% endif %}
                    </content:body>
                  </include:illustration-card-2026>
                {% endfor %}
              </include:cards-list>
            {% endif %}

          </div>
        {% endif %}

        {% if page.cards_lists %}
          <include:heading
            level="h2"
            heading_text="{{ page.more_articles_heading|richtext|remove_p_tag }}"
            heading_size="fl-heading-size-2"
          />

          {% for block in page.cards_lists %}
            <div class="fl-blog-cards-list">
              <div class="fl-blog-cards-list-header">
                <include:heading
                  level="h3"
                  heading_text="{{ block.value.heading_text|richtext|remove_p_tag }}"
                  heading_size="fl-heading-size-3"
                />
                <a class="fl-blog-cards-list-link" href="{{ page.url }}{{ page.reverse_subpage('all_route') }}">{{ ftl('blog-view-all') }}</a>
              </div>
              <hr/>
              {% set list_size = block.value.articles|length %}
              {% set extra_class = "fl-illustration-cards-alternate-" ~ list_size %}
              <include:cards-list extra_class="{{ extra_class }}">
                {% for article_block in block.value.articles %}
                  <include:illustration-card-2026 expand_link="true">
                    <content:media>
                      {{ illustration_card_media(article_block, list_size, loop.index0) }}
                    </content:media>
                    <content:heading>
                      <hgroup class="fl-heading-group">
                        <p class="fl-superheading">{{ article_block.get_topic() }}</p>
                        <h4 class="fl-heading fl-heading-size-3">
                          <a href="{{ article_block.get_url() }}" class="fl-card-heading-link fl-link-expand">
                            {{ article_block.get_title() }}
                          </a>
                        </h4>
                      </hgroup>
                    </content:heading>
                    <content:body>
                      {{ article_block.get_description() }}
                      {% if article_block.get_tags() %}
                        <div class="fl-card-tags">
                          {% for tag in article_block.get_tags() %}
                            <include:tag
                              text="{{ tag }}"
                              color="purple"
                              corners="round"
                            />
                          {% endfor %}
                        </div>
                      {% endif %}
                    </content:body>
                  </include:illustration-card-2026>
                {% endfor %}
              </include:cards-list>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </section>
  </main>
</div>
{% endblock %}
