{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare.html" %}

{% block page_css %}{{ css_bundle('flare-blog') }}{% endblock %}

{% block body_class %}fl-blog-index-body{% endblock %}

{% block content %}

{% from "cms/includes/blog/blog-card-media.html" import illustration_card_media with context %}

{% set all_url = page.url ~ page.reverse_subpage('all_route') %}

<div class="fl-page fl-page-blog-index">
  <main class="fl-main">
    <section class="fl-section">
      <div class="fl-section-container">

        <div class="fl-blog-index-header">
          {% if page.page_heading %}
            {% for block in page.page_heading %}
              {% if block.block_type == "heading" %}
                <include:heading
                  level="h1"
                  heading_size="fl-heading-xl"
                  superheading_text="{{ block.value.superheading_text|richtext|remove_p_tag }}"
                  heading_text="{{ block.value.heading_text|richtext|remove_p_tag }}"
                  subheading_text="{{ block.value.subheading_text|richtext|remove_p_tag }}"
                  alignment_class="text-center"
                />
              {% endif %}
            {% endfor %}
          {% else %}
            <include:heading
              level="h1"
              heading_text="{{ page.title }}"
              heading_size="fl-heading-xl"
              alignment_class="text-center"
            />
          {% endif %}

          {% if header_topics %}
            <div class="fl-blog-topics-list is-header">
              {% for topic in header_topics %}
                <a href="{{ page.url }}{{ page.reverse_subpage('topic_route', args=[topic.slug]) }}" class="fl-blog-topic-link fl-tag">{{ topic.name }}</a>
              {% endfor %}
              <div class="fl-blog-topics-all">
                <a href="{{ page.url }}{{ page.reverse_subpage('topics_route') }}" class="fl-link">{{ ftl('blog-view-all-topics') }}</a>
              </div>
            </div>
          {% endif %}
        </div>


        {% set featured_articles = page.featured_articles %}
        {% include "cms/includes/blog/blog-featured-articles.html" %}

        {% if page.cards_lists %}
          <include:heading
            level="h2"
            heading_text="{{ page.more_articles_heading|richtext|remove_p_tag }}"
            heading_size="fl-heading-md"
          />

          {% for block in page.cards_lists %}
            <div class="fl-blog-cards-list">
              <div class="fl-blog-cards-list-header">
                <include:heading
                  level="h3"
                  heading_text="{{ block.value.heading_text|richtext|remove_p_tag }}"
                  heading_size="fl-heading-xs"
                />
                <a class="fl-blog-cards-list-link" href="{{ all_url }}{{ block.value.link_filter }}">{{ block.value.link_label }}</a>
              </div>
              {% set list_size = block.value.articles|length %}
              <include:cards-list container_width="fill">
                {% for article_block in block.value.articles %}
                  <include:card expand_link="true">
                    <content:media>{{ illustration_card_media(article_block, list_size) }}</content:media>
                    <content:body>
                      <hgroup class="fl-heading-group">
                        <p class="fl-superheading">{{ article_block.get_topic() }}</p>
                        <h4 class="fl-heading fl-heading-size-3">
                          <a href="{{ article_block.get_url() }}" class="fl-card-heading-link fl-link-expand">
                            {{ article_block.get_title() }}
                          </a>
                        </h4>
                      </hgroup>
                      <div class="fl-body">
                        <p>{{ article_block.get_description() }}</p>
                        {% if article_block.get_tags() %}
                          <div class="fl-card-tags">
                            {% for tag in article_block.get_tags() %}
                              <include:tag text="{{ tag }}" color="purple" corners="round" />
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                    </content:body>
                  </include:card>
                {% endfor %}
              </include:cards-list>
            </div>
          {% endfor %}
        {% endif %}

        <div class="fl-buttons is-horizontal is-center">
          <include:button
            link="{{ all_url }}"
            label="{{ page.view_all_label }}"
            analytics_position="more-articles"
            analytics_text="{{ page.view_all_label }}"
            analytics_id="blog-more-articles"
          />
        </div>

      </div>
    </section>
  </main>
</div>
{% endblock %}
