{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block body_class %}fl-blog-article-body{% endblock %}

{% block content %}
<div class="fl-page fl-article-page">
  <main class="fl-main">
    <div class="fl-article-main">
      <div class="fl-article-back">
        <a href="{{ page.get_parent().url }}" class="fl-blog-back-link">
          <span class="fl-icon fl-icon-back" aria-hidden="true"></span>
          {{ ftl('blog-back') }}
        </a>
      </div>
      <header class="fl-article-header">
        {% if page.image %}
          {% set classes = image_variant_classes(page.image_dark_mode, page.image_mobile, page.image_dark_mode_mobile) %}
          <div class="image-variants-display">
            {{ srcset_image(
                page.image,
                "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}",
                sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw",
                width=page.image.width,
                loading="lazy",
                class=classes.primary,
            ) }}
            {% if page.image_mobile %}
              {{ srcset_image(
                  page.image_mobile,
                  "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}",
                  sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw",
                  width=page.image_mobile.width,
                  loading="lazy",
                  class=classes.mobile,
              ) }}
            {% endif %}
            {% if page.image_dark_mode_mobile %}
              {{ srcset_image(
                  page.image_dark_mode_mobile,
                  "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}",
                  sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw",
                  width=page.image_dark_mode_mobile.width,
                  loading="lazy",
                  class=classes.dark_mode_mobile,
              ) }}
            {% endif %}
            {% if page.image_dark_mode %}
              {{ srcset_image(
                  page.image_dark_mode,
                  "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}",
                  sizes="(min-width: 768px) 50vw, (min-width: 1440px) 680px, 100vw",
                  width=page.image_dark_mode.width,
                  loading="lazy",
                  class=classes.dark_mode,
              ) }}
            {% endif %}
          </div>
        {% endif %}
        <div class="fl-article-title">
          <include:heading
              level="h1"
              heading_text="{{ page.title }}"
              superheading_text="{{ page.topic.name }}"
              alignment_class="text-center"
          />
        </div>
      </header>

      <section class="fl-rich-text">
        {% for block in page.content %}
          {% include_block block %}
        {% endfor %}
      </section>
    </div>

    {% if related_articles %}
      <section class="fl-section fl-blog-related-articles">
        <div class="fl-section-container">
          <include:heading
            level="h2"
            heading_text="{{ ftl('blog-related-articles') }}"
            heading_size="fl-heading-size-2"
            alignment_class="text-center"
          />
          <div class="fl-blog-article-list">
            {% for article in related_articles %}
              {% set show_image = loop.index0 % 4 == 3 %}
              <include:blog-article-list-item with_image="{{ show_image }}">
                <content:heading>
                  <hgroup class="fl-heading-group">
                    <p class="fl-superheading">{{ article.topic.name }}</p>
                    <h3 class="fl-heading">
                      <a href="{{ article.url }}" class="fl-link">{{ article.title }}</a>
                    </h3>
                  </hgroup>
                </content:heading>
                <content:body>{{ article.description|richtext }}</content:body>
                {% if article.first_published_at %}
                  <content:date>{{ article.first_published_at|date("DATE_FORMAT") }}</content:date>
                {% endif %}
                {% set article_tags = article.tags.all() %}
                {% if article_tags %}
                  <content:tags>
                    {% for tag in article_tags %}
                      <include:tag
                        text="{{ tag.name }}"
                        color="purple"
                        corners="round"
                      />
                    {% endfor %}
                  </content:tags>
                {% endif %}
                {% if show_image %}
                  {% set img_classes = image_variant_classes(article.featured_image_dark_mode, article.featured_image_mobile, article.featured_image_dark_mode_mobile) %}
                  <content:image>
                    <div class="image-variants-display">
                      {{ srcset_image(article.featured_image, "width-{200,400,600,800}", sizes="(min-width: 768px) 300px, 100vw", loading="lazy", class=img_classes.primary) }}
                      {% if article.featured_image_mobile %}
                        {{ srcset_image(article.featured_image_mobile, "width-{200,400,600,800}", sizes="(min-width: 768px) 300px, 100vw", loading="lazy", class=img_classes.mobile) }}
                      {% endif %}
                      {% if article.featured_image_dark_mode %}
                        {{ srcset_image(article.featured_image_dark_mode, "width-{200,400,600,800}", sizes="(min-width: 768px) 300px, 100vw", loading="lazy", class=img_classes.dark_mode) }}
                      {% endif %}
                      {% if article.featured_image_dark_mode_mobile %}
                        {{ srcset_image(article.featured_image_dark_mode_mobile, "width-{200,400,600,800}", sizes="(min-width: 768px) 300px, 100vw", loading="lazy", class=img_classes.dark_mode_mobile) }}
                      {% endif %}
                    </div>
                  </content:image>
                {% endif %}
              </include:blog-article-list-item>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}
  </main>
</div>
{% endblock %}
