{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block flare_header %}
  <include:flare26-header theme="{{ theme }}" hide_nav_cta />
{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="fl-main has-gradient-bottom">

<include:section>
  <content:heading>
    <include:heading
      heading_text="{{ page.title }}"
      heading_size="fl-heading-xl fl-heading-condensed"
      subheading_text="{{ page.subheading }}"
      size="1"
      alignment_class="text-center mb-0"
    />
  </content:heading>
  <content:content>
    <include:notification color="green" icon="checkmark">
    <p><b>Success! </b> Your message has been sent. We will get back to you as soon as possible.</p>
</include:notification>

    <form method="post" action="/page-not-found/" data-actn="{{ page.url or '' }}" class="flare-form-page contact-form">
      {% csrf_token %}

      {% if form_errors %}
        <div class="flare-errors">
          <ul>
            {% for error in form_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% for field in page.form_fields %}
        {% include_block field %}
      {% endfor %}

      <div class="contact-form-honeypot" style="display:none" aria-hidden="true">
        <label for="office-fax">Leave this field empty</label>
        <input type="text" name="office_fax" id="office-fax" autocomplete="off" tabindex="-1">
      </div>

      <div class="fl-buttons">
        <include:button variant="primary" type="submit" label="Submit" />
      </div>
    </form>
  </content:content>
</include:section>

</div>
{% endblock %}

{% block js %}
  {{ super() }}
  {% if page.extra_js %}
    {{ js_bundle(page.extra_js) }}
  {% endif %}
{% endblock js %}
