{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block flare_header %}
  <include:flare26-header theme="{{ theme }}" hide_nav_cta />
{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="fl-main has-gradient-bottom">

<include:section>
  <content:heading>
    <include:heading
      heading_text="{{ page.title }}"
      heading_size="fl-heading-xl fl-heading-condensed"
      subheading_text="{{ page.subheading }}"
      level="h1"
      alignment_class="text-center mb-0"
    />
  </content:heading>
  <content:content>
    {% if form_success %}
      <include:notification color="green" icon="checkmark">
        {{ page.thank_you_message | richtext }}
      </include:notification>
    {% else %}
      <form method="post" action="/page-not-found/" data-actn="{{ page.url or '' }}" class="fl-form-page contact-form">
        {% csrf_token %}

        {% if form_errors %}
          <div class="fl-errors">
            <ul>
              {% for error in form_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% for field in page.form_fields %}
          {% include_block field %}
        {% endfor %}

        <div class="contact-form-honeypot" style="display:none" aria-hidden="true">
          <label for="office-fax">Leave this field empty</label>
          <input type="text" name="office_fax" id="office-fax" autocomplete="off" tabindex="-1" required>
        </div>

        <div class="fl-buttons">
          <button type="submit" class="fl-button">Submit</button>
        </div>
      </form>
    {% endif %}
  </content:content>
</include:section>

</div>
{% endblock %}

{% block js %}
  {{ super() }}
  {{ js_bundle('contact-form') }}
{% endblock js %}
