{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}


{% block flare_header %}
  {% set theme = "dark" if page.upper_content else None %}
  {% set hide_nav_cta = not page.show_nav_cta %}
  {% set no_menu = not page.show_navigation %}
  <include:flare26-header theme="{{ theme }}" hide_nav_cta="{{ hide_nav_cta }}" no_menu="{{ no_menu }}" />
{% endblock %}

{% block content %}
<div class="fl-page fl-freeform-2026-page">
  {% if page.upper_content %}
    <main class="fl-main has-gradient-bottom">
      {% set ns = namespace(headings=0) %}
      {% set block_level = 1 %}

      <div class="fl-split-page-upper has-gradient-bottom no-gap">
        {% for block in page.upper_content %}
          {% set block_index = loop.index %}
          {% set block_type = block.block_type %}
          {% set block_position = "upper-block-" ~ block_index ~ "-" ~ block_type %}

          {% if (block.value.heading and block.value.heading.heading_text) or block.value.headline %}
            {% set block_level = 1 if ns.headings == 0 else 2 %}
            {% set ns.headings = ns.headings + 1 %}
          {% endif %}

          {% include_block block %}
        {% endfor %}
      </div>

      {% if page.content %}
        <div class="fl-split-page-lower no-gap">
          {% for block in page.content %}
            {% set block_index = loop.index %}
            {% set block_type = block.block_type %}
            {% set block_position = "lower-block-" ~ block_index ~ "-" ~ block_type %}

            {% if (block.value.heading and block.value.heading.heading_text) or block.value.headline %}
              {% set block_level = 1 if ns.headings == 0 else 2 %}
              {% set ns.headings = ns.headings + 1 %}
            {% endif %}

            {% include_block block %}
          {% endfor %}
        </div>
      {% endif %}
    </main>
  {% else %}
    <main class="fl-main has-gradient-bottom">
      {% set ns = namespace(headings=0) %}
      {% for block in page.content %}
        {% set block_index = loop.index %}
        {% set block_type = block.block_type %}
        {% set block_position = "block-" ~ block_index ~ "-" ~ block_type %}

        {% if (block.value.heading and block.value.heading.heading_text) or block.value.headline %}
          {% set block_level = 1 if ns.headings == 0 else 2 %}
          {% set ns.headings = ns.headings + 1 %}
        {% endif %}

        {% include_block block %}
      {% endfor %}
    </main>
  {% endif %}
</div>
{% endblock %}


{% block pre_footer %}
  {% if page.show_pre_footer %}
    {{ super() }}
  {% endif %}
{% endblock pre_footer %}
