{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" if switch("flare26-enabled") else "cms/base-flare.html" %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="fl-page">
  <main class="fl-main">
    {% block pre_content %}
    {% endblock %}

    {% set ns = namespace(headings=0) %}
    {% for block in page.content %}
      {% set block_index = loop.index %}
      {% set block_type = block.block_type %}
      {% set block_position = "block-" ~ block_index + "-" + block_type %}

      {% if block.value.heading and block.value.heading.heading_text %}
        {% set block_level = 1 if ns.headings == 0 else 2 %}
        {% set ns.headings = ns.headings + 1 %}
      {% endif %}

      {% include_block block %}
    {% endfor %}
  </main>
</div>
{% endblock %}
