{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block structured_data %}
{%- if page and page.og_image %}
{%- set og_image_url = image(page.og_image, "width-1200").url|absolute_url %}
{%- else %}
{%- set og_image_url = static('img/firefox/flare/og.png')|absolute_url %}
{%- endif %}
{%- set webpage_url = settings.CANONICAL_URL + '/' + CANONICAL_LANG + canonical_path %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": "https://www.mozilla.org/#org",
      "name": "Mozilla",
      "url": "https://www.mozilla.org",
      "logo": "https://www.firefox.com/media/img/logos/m24/lockup-black.svg",
      "description": "Mozilla is a global community working to make the internet open, accessible, and safe for everyone.",
      "brand": { "@id": "https://www.firefox.com/#brand" },
      "sameAs": [
        "https://en.wikipedia.org/wiki/Mozilla",
        "https://www.wikidata.org/wiki/Q9661",
        "https://x.com/mozilla",
        "https://github.com/mozilla",
        "https://www.youtube.com/user/Mozilla",
        "https://bsky.app/profile/mozilla.org"
      ]
    },
    {
      "@type": "Brand",
      "@id": "https://www.firefox.com/#brand",
      "name": "Firefox",
      "url": "https://www.firefox.com",
      "logo": "https://www.firefox.com/media/img/logos/firefox/firefox-logo.svg",
      "sameAs": [
        "https://en.wikipedia.org/wiki/Firefox",
        "https://www.wikidata.org/wiki/Q698",
        "https://x.com/firefox",
        "https://bsky.app/profile/firefox.com",
        "https://www.youtube.com/firefoxchannel",
        "https://www.reddit.com/r/firefox"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "https://www.firefox.com/#website",
      "url": "https://www.firefox.com/",
      "name": "Firefox",
      "publisher": { "@id": "https://www.mozilla.org/#org" },
      "about": { "@id": "https://www.firefox.com/#brand" }
    },
    {
      "@type": "WebPage",
      "@id": "{{ webpage_url }}#webpage",
      "url": "{{ webpage_url }}",
      "name": {{ page.og_title|tojson }},
      "isPartOf": { "@id": "https://www.firefox.com/#website" },
      "about": { "@id": "https://www.firefox.com/#app" },
      "primaryImageOfPage": "{{ og_image_url }}",
      {%- if page.last_published_at or page.first_published_at %}
      "dateModified": "{{ (page.last_published_at or page.first_published_at).isoformat() }}",
      {%- endif %}
      "inLanguage": "{{ CANONICAL_LANG }}"
    },
    {
      "@type": "SoftwareApplication",
      "@id": "https://www.firefox.com/#app",
      "name": "Firefox",
      "description": "Firefox is a fast, private web browser from Mozilla, available on Windows, macOS, Linux, iOS, and Android.",
      "brand": { "@id": "https://www.firefox.com/#brand" },
      "applicationCategory": "BrowserApplication",
      "operatingSystem": ["Windows", "macOS", "Linux", "iOS", "Android"],
      "softwareVersion": "{{ latest_firefox_version }}",
      "offers": { "@type": "Offer", "price": "0", "priceCurrency": "USD" },
      "publisher": { "@id": "https://www.mozilla.org/#org" }
    }
  ]
}
</script>
{% endblock %}

{% block page_css %}{{ css_bundle('flare26-homepage') }}{% endblock %}

{% block body_class %}fl-home-body{% endblock %}

{% block flare_header %}
  <include:flare26-header theme="dark" />
{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="fl-page">
  <div class="fl-main">
    <div class="fl-split-page-upper">
      {% set ns = namespace(headings=0) %}
      {% set block_level = 1 %}
      {% for block in page.upper_content %}
        {% set block_index = loop.index %}
        {% set block_type = block.block_type %}
        {% set block_position = "upper-block-" ~ block_index + "-" + block_type %}

        {% if (block.value.heading and block.value.heading.heading_text) or block.value.headline %}
          {% set block_level = 1 if ns.headings == 0 else 2 %}
          {% set ns.headings = ns.headings + 1 %}
        {% endif %}

        {% include_block block %}
      {% endfor %}
    </div>

    <div class="fl-split-page-lower has-gradient-top">
      {% for block in page.lower_content %}
        {% set block_index = loop.index %}
        {% set block_type = block.block_type %}
        {% set block_position = "lower-block-" ~ block_index + "-" + block_type %}

        {% if (block.value.heading and block.value.heading.heading_text) or block.value.headline %}
          {% set block_level = 1 if ns.headings == 0 else 2 %}
          {% set ns.headings = ns.headings + 1 %}
        {% endif %}

        {% include_block block %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
