{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare.html" %}

{% block page_css %}{{ css_bundle('flare-referral-hub') }}{% endblock %}

{% block body_class %}fl-referral-hub-page{% endblock %}

{% block flare_header %}
  {% include 'cms/includes/referral-hub-custom-header.html' %}
{% endblock %}

{% block content %}
<div class="fl-page">
  <div class="fl-main">
    <div class="fl-split-page-upper">
      {% for slot in page.block_slots("upper_content") %}
        {% set block_level = slot.heading_level %}
        {% set block_position = "upper-block-" ~ slot.index ~ "-" ~ slot.block_type %}
        {% include_block slot.block %}
      {% endfor %}
    </div>

    <div class="fl-split-page-lower has-gradient-top">
      {% for slot in page.block_slots("lower_content") %}
        {% set block_level = slot.heading_level %}
        {% set block_position = "lower-block-" ~ slot.index ~ "-" ~ slot.block_type %}
        {% include_block slot.block %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block pre_footer %}
  <div class="fl-split-page-extra fl-force-dark-theme">
    {% for slot in page.block_slots("extra_content") %}
      {% set block_level = slot.heading_level %}
      {% set block_position = "footer-block-" ~ slot.index ~ "-" ~ slot.block_type %}
      {% include_block slot.block %}
    {% endfor %}
  </div>
{% endblock pre_footer %}
