{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare.html" %}


{% block flare_header %}
  {% set theme = "dark" %}
  {% include 'cms/includes/site-header.html' %}
{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="fl-page fl-roadmap-page">
  <div class="fl-main has-gradient-bottom">
    {% set ns = namespace(roadmap_sections=0) %}

    {% if page.intro %}
      <div class="fl-split-page-upper has-gradient-bottom has-sitting-kit">
        {% set block_position = "intro" %}
        {% for slot in page.block_slots("intro") %}
          {% set block_level = slot.heading_level %}
          {% include_block slot.block %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="fl-split-page-lower no-gap">
      {% if page.content %}
        {% for slot in page.block_slots("content") %}
          {% set block_level = slot.heading_level %}
          {% set block_position = "block-" ~ slot.index ~ "-" ~ slot.block_type %}
          {% set ns.roadmap_sections = ns.roadmap_sections + 1 if slot.block_type == "roadmap_list_section" else ns.roadmap_sections %}

          {% with roadmap_sections=ns.roadmap_sections %}
            {% include_block slot.block %}
          {% endwith %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}


{% block pre_footer %}
{% endblock pre_footer %}
