{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/free_form_page2026.html" %}

{% block page_css %}{{ css_bundle('flare-smart-window') }}{% endblock %}

{% block body_class %}fl-smart-window-explainer-page{% endblock %}

{% block flare_header %}
{% endblock %}

{% block content %}
<div class="fl-page fl-freeform-page">
  <main class="fl-main has-gradient-bottom">
    <div class="fl-smart-window-explainer-hero">
      <include:flare-header hide_nav_cta disable_sticky no_menu />
      {% for slot in page.block_slots("upper_content") %}
        {% set block_level = slot.heading_level %}
        {% set block_position = "upper-block-" ~ slot.index ~ "-" ~ slot.block_type %}
        {% include_block slot.block %}
      {% endfor %}
    </div>

    {% if page.content %}
      <div class="fl-split-page-lower no-gap">
        {% for slot in page.block_slots("content") %}
          {% set block_level = slot.heading_level %}
          {% set block_position = "lower-block-" ~ slot.index ~ "-" ~ slot.block_type %}
          {% include_block slot.block %}
        {% endfor %}
      </div>
    {% endif %}
  </main>
</div>
{% endblock %}

{% block pre_footer %}
{% endblock pre_footer %}
