{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}


{% block flare_header %}
  <include:flare26-header theme="dark" hide_nav_cta />
{% endblock %}

{% block content %}
<div class="fl-page fl-freeform-2026-page">
    <main class="fl-main has-gradient-bottom">

      <div class="fl-split-page-upper has-gradient-bottom no-gap fl-smart-window-intro">
        <hgroup class="fl-heading-group">
          <img src="/media/img/firefox/flare/smart-window-logo.png" alt="Smart Window Icon" class="fl-smart-window-heading-logo">
          <h1 class="fl-heading">{{ page.heading_text|richtext|remove_p_tag }}</h1>
          <p class="fl-subheading">{{ page.subheading_text|richtext|remove_p_tag }}</p>
        </hgroup>

        <button id="smart-window-cta" class="fl-button">{{ page.waitlist_button_label }}</button>

        <form id="newsletter-form" class="fl-smart-window-form fl-newsletterform hidden" action="{{ settings.BASKET_SUBSCRIBE_URL }}" method="post" novalidate data-testid="newsletter-form">
          <div hidden>
            {# TODO: get the right value for the newsletter checkbox #}
            <input type="checkbox" name="newsletters" value="smart-window-waitlist" checked>
          </div>
          <input type="hidden" name="source_url" value="{{ request.build_absolute_uri() }}">
          {# TODO: should we hardcode to English? #}
          <input type="hidden" name="lang" id="id_lang" value="{{ LANG[:2] if LANG.startswith('en-') else LANG }}">
          <div class="fl-newsletterform-field">
            <label class="fl-newsletterform-label visually-hidden" for="newsletter-email">{{ ftl('newsletter-form-your-email-address') }}</label>
            <input id="newsletter-email" class="fl-newsletterform-input" type="email" name="email" placeholder="{{ ftl('newsletter-form-yournameexamplecom', fallback='newsletter-form-your-email-here') }}" autocomplete="email" data-testid="newsletter-email-input">
          </div>
          <div id="newsletter-details" class="fl-newsletterform-details fl-newsletterform-row-hidden">
            <div class="fl-newsletterform-consent">
              <label for="newsletter-privacy" class="fl-body fl-newsletterform-checkbox-label">
                <input type="checkbox" id="newsletter-privacy" name="privacy" required aria-required="true" data-testid="newsletter-privacy-checkbox">
                {% if LANG == 'de' %}
                  {% set legal_links = '<a href="https://www.mozilla.org/about/legal/terms/firefox/">Nutzungsbedingungen</a> und <a href="https://www.mozilla.org/privacy/websites/">Datenschutzrichtlinie</a> von Firefox.' %}
                {% elif LANG == 'fr' %}
                  {% set legal_links = '<a href="https://www.mozilla.org/about/legal/terms/firefox/">Conditions d’utilisation</a> de Firefox et <a href="https://www.mozilla.org/privacy/websites/">Politique de confidentialité</a>.' %}
                {% else %}
                  {% set legal_links = 'Firefox <a href="https://www.mozilla.org/about/legal/terms/firefox/">Terms of Use</a> &amp; <a href="https://www.mozilla.org/privacy/websites/">Privacy Policy</a>.' %}
                {% endif %}
                {# TODO: Privacy notice should be FTL or a page field? #}
                <span class="fl-newsletterform-checkbox-text">{{ legal_links|safe }} {{ ftl('newsletter-form-we-will-only-send-firefox-v2') }}</span>
              </label>
            </div>
          </div>
          <button id="newsletter-submit" class="fl-button" type="submit" disabled data-testid="newsletter-submit-button">{{ page.form_submit_label }}</button>
          <div class="fl-body fl-newsletterform-feedback fl-newsletterform-error mzp-c-form-errors hidden" id="newsletter-errors" data-testid="newsletter-error-message">
            <ul class="fl-newsletterform-error-list mzp-u-list-styled">
              <li class="error-email-invalid hidden">{{ ftl('newsletter-form-please-enter-a-valid') }}</li>
              <li class="error-try-again-later hidden">{{ ftl('newsletter-form-we-are-sorry-but-there') }}</li>
            </ul>
          </div>
        </form>

        <div id="newsletter-thanks" class="fl-smart-window-thankyou hidden" data-testid="newsletter-thanks-message">
          {{ page.thank_you_message|richtext }}
        </div>

        {% set classes = image_variant_classes(page.image_dark_mode, page.image_mobile, page.image_dark_mode_mobile) %}
        <div class="fl-smart-window-intro-featured-image">
          <div class="image-variants-display">
            {{ srcset_image(
                page.image,
                "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}",
                sizes="(min-width: 900px) 810px, 100vw",
                width=page.image.width,
                height=page.image.height,
                loading="lazy",
                class=classes.primary,
            ) }}
            {% if page.image_mobile %}
              {{ srcset_image(
                  page.image_mobile,
                  "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}",
                  sizes="(min-width: 900px) 810px, 100vw",
                  width=page.image_mobile.width,
                  height=page.image_mobile.height,
                  loading="lazy",
                  class=classes.mobile,
              ) }}
            {% endif %}
            {% if page.image_dark_mode_mobile %}
              {{ srcset_image(
                  page.image_dark_mode_mobile,
                  "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}",
                  sizes="(min-width: 900px) 810px, 100vw",
                  width=page.image_dark_mode_mobile.width,
                  height=page.image_dark_mode_mobile.height,
                  loading="lazy",
                  class=classes.dark_mode_mobile,
              ) }}
            {% endif %}
            {% if page.image_dark_mode %}
              {{ srcset_image(
                  page.image_dark_mode,
                  "width-{200,400,600,800,1000,1200,1400,1600,1800,2000}",
                  sizes="(min-width: 900px) 810px, 100vw",
                  width=page.image_dark_mode.width,
                  height=page.image_dark_mode.height,
                  loading="lazy",
                  class=classes.dark_mode,
              ) }}
            {% endif %}
          </div>
        </div>

      </div>

      <div class="fl-split-page-lower no-gap">
        {% for block in page.content %}
          {% set block_index = loop.index %}
          {% set block_type = block.block_type %}
          {% set block_position = "block-" ~ block_index ~ "-" ~ block_type %}
          {% set block_level = 2 %}
          {% include_block block %}
        {% endfor %}
      </div>
    </main>
</div>
{% endblock %}


{% block pre_footer %}
{% endblock pre_footer %}

{% block js %}
  {{ super() }}
  {{ js_bundle('smart_window_newsletter') }}
{% endblock js %}
