{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block body_class %}fl-home-body{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js_bundle('firefox_download_thanks') }}
{% endblock %}

{% block content %}
  <div class="fl-main">

    <div class="fl-notification-wrapper">
      {# TODO: show-auto-download-notification #}
      {# TODO: inline notification styles #}
      <div class="fl-notification fl-notification-green show-auto-download-notification">
        {# fallback_url is replaced by the platform download link via JS, but if
            something fails the user should still get a link to a working download path. #}

        <div class="fl-notification-content">
          <span class="fl-notification-message">
          {% set fallback_href = firefox_url('desktop', 'all') %}
          {{ ftl('firefox-desktop-download-your-firefox-new-should-begin', id='direct-download-link', fallback_url=fallback_href)}}
          </span>
        </div>
      </div>
    </div>

    {% set ns = namespace(headings=0) %}
    {% for block in page.content %}
      {% set block_index = loop.index %}
      {% set block_type = block.block_type %}
      {% set block_position = "block-" ~ block_index + "-" + block_type %}

      {% if block.value.heading and block.value.heading.heading_text %}
        {% set block_level = 1 if ns.headings == 0 else 2 %}
        {% set ns.headings = ns.headings + 1 %}
      {% endif %}

      {% include_block block %}
    {% endfor %}
  </div>
{% endblock content %}

{% block pre_footer %}
  {% if page.pre_footer %}
    {% for block in page.pre_footer %}
      {% include_block block %}
    {% endfor %}
  {% endif %}
{% endblock pre_footer %}
