{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/base-flare26.html" %}

{% block page_css %}{{ css_bundle('flare26-thanks') }}{% endblock %}

{% block body_class %}fl-thanks-body{% endblock %}

{% block js %}
  {{ js_bundle('firefox_download_thanks') }}
{% endblock %}


{% block flare_header %}
  {% set hide_nav_cta = true %}
  <include:flare26-header />
{% endblock %}


{% block content %}
  <main class="fl-main">

    <div class="fl-show-auto-download-notification {% if is_preview %}conditional-display is-preview{% endif %}">
      {% if is_preview %}
        <span class="preview-indicator">Condition: windows or mac</span>
      {% endif %}
      <include:notification color="purple" icon="information-fill" closable>
        {# fallback_url is replaced by the platform download link via JS, but if
            something fails the user should still get a link to a working download path. #}
        {% set fallback_href = firefox_url('desktop', 'all') %}
        {{ ftl('firefox-desktop-download-your-firefox-new-should-begin', id='direct-download-link', fallback_url=fallback_href)}}
      </include:notification>
    </div>

    {% set ns = namespace(headings=0) %}
    {% set block_level = 1 %}
    {% for block in page.content %}
      {% set block_index = loop.index %}
      {% set block_type = block.block_type %}
      {% set block_position = "block-" ~ block_index ~ "-" ~ block_type %}

      {% if (block.value.heading and block.value.heading.heading_text) or block.value.headline %}
        {% set block_level = 1 if ns.headings == 0 else 2 %}
        {% set ns.headings = ns.headings + 1 %}
      {% endif %}

      {% include_block block %}
    {% endfor %}
  </main>
{% endblock content %}

{% block pre_footer %}
{% endblock pre_footer %}
