{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/free_form_page2026.html" %}


{% block flare_header %}
  {% set theme = "dark" if page.upper_content else None %}
  {% set hide_nav_cta = not page.show_nav_cta %}
  <include:flare26-header theme="{{ theme }}" hide_nav_cta="{{ hide_nav_cta }}" />
{% endblock %}

{% block content %}
<div class="fl-page-user-privacy fl-page-user-privacy-cms">
  {% if page.upper_content %}
    <main class="fl-main has-gradient-bottom">
      {% set ns = namespace(headings=0) %}

      <div class="fl-split-page-upper has-gradient-bottom no-gap">
        {% for block in page.upper_content %}
          {% set block_index = loop.index %}
          {% set block_type = block.block_type %}
          {% set block_position = "upper-block-" ~ block_index ~ "-" ~ block_type %}

          {% if block.value.heading and block.value.heading.heading_text %}
            {% set block_level = 1 if ns.headings == 0 else 2 %}
            {% set ns.headings = ns.headings + 1 %}
          {% endif %}

          <div class="fl-section">
            <div class="max-width-wide-banner">
              {% include_block block %}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="fl-split-page-lower no-gap">
        {% for block in page.content %}
          {% set block_index = loop.index %}
          {% set block_type = block.block_type %}
          {% set block_position = "lower-block-" ~ block_index ~ "-" ~ block_type %}

          {% if block.value.heading and block.value.heading.heading_text %}
            {% set block_level = 1 if ns.headings == 0 else 2 %}
            {% set ns.headings = ns.headings + 1 %}
          {% endif %}

          <div class="fl-section">
            <div class="max-width-wide-banner">
              {% include_block block %}
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
  {% else %}
    <main class="fl-main has-gradient-bottom">
      {% set ns = namespace(headings=0) %}
      {% for block in page.content %}
        {% set block_index = loop.index %}
        {% set block_type = block.block_type %}
        {% set block_position = "block-" ~ block_index ~ "-" ~ block_type %}

        {% if block.value.heading and block.value.heading.heading_text %}
          {% set block_level = 1 if ns.headings == 0 else 2 %}
          {% set ns.headings = ns.headings + 1 %}
        {% endif %}

        <div class="fl-section">
          <div class="max-width-wide-banner">
            {% include_block block %}
          </div>
        </div>
      {% endfor %}
    </main>
  {% endif %}
</div>
{% endblock %}
