{#
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "cms/free_form_page.html" %}


{% block flare_footer %}
  {% if switch("flare26-enabled") %}
    {% set bottom_cta = get_bottom_cta_snippet() %}
    <include:flare26-footer>
      {% if bottom_cta %}
      <content:cta>
        <include:bottom-cta-snippet value="{{ bottom_cta }}" />
      </content:cta>
      {% endif %}
    </include:flare26-footer>
  {% else %}
    {% include 'cms/includes/wnp-footer.html' %}
  {% endif %}
{% endblock %}
