{#
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% for variant in variants %}
  <h3 style="padding: 1rem 1rem 0">{{ variant.title }}</h3>
  <div style="padding: 1rem">
    <include:two-column-cards>
      {% for card in variant.cards %}
        <include:two-column-card
          tag="{{ card.tag }}"
          stick_image_to_right="{{ card.stick_image_to_right }}"
        >
          {% if card.items_list is defined %}
            <include:heading
              level="h2"
              heading_text="{{ card.heading_text }}"
              subheading_text="{{ card.subheading_text }}"
            />
            <include:icon-list>
              {% for item in card.items_list %}
                <li>
                  <span class="fl-icon-wrap">
                    <include:icon icon_name="{{ item.icon }}" hidden="true" />
                  </span>
                  {{ item.text }}
                </li>
              {% endfor %}
            </include:icon-list>
          {% elif card.numbered_list is defined %}
            <div class="fl-pricing-heading">
              <include:heading
                level="h2"
                heading_size="fl-heading-size-1"
                heading_text="{{ card.heading_text }}"
                subheading_text="{{ card.subheading_text }}"
              />
            </div>
            <include:numbered-list>
              {% for item in card.numbered_list %}
                <li class="fl-numbered-list-item">
                  <div class="fl-numbered-list-item-heading">{{ item.heading }}</div>
                  <div class="fl-numbered-list-item-text">{{ item.text }}</div>
                </li>
              {% endfor %}
            </include:numbered-list>
          {% elif card.timeline is defined %}
            <div class="fl-pricing-heading">
              <include:heading
                level="h2"
                heading_size="fl-heading-size-1"
                heading_text="{{ card.heading_text }}"
                subheading_text="{{ card.subheading_text }}"
              />
            </div>
            <include:timeline>
              {% for item in card.timeline %}
                <li class="fl-timeline-item">
                  <p class="fl-superheading">{{ item.superheading }}</p>
                  <p class="fl-timeline-item-heading">{{ item.heading }}</p>
                  <p class="fl-subheading">{{ item.subheading }}</p>
                </li>
              {% endfor %}
            </include:timeline>
          {% endif %}
          {% if card.image is defined %}
            <img src="{{ card.image.url }}" alt="{{ card.image.alt }}" />
          {% endif %}
        </include:two-column-card>
      {% endfor %}
    </include:two-column-cards>
  </div>
{% endfor %}
